<!-- <div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
  </div> -->

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Return Review > <span>Al Rayyan </span>
                </h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Ver</th>
                        <th>Report</th>
                        <th>Report Period Start Date</th>
                        <th>Report Period End Date</th>
                        <th>Received Date</th>
                        <th>Review Status Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ver</td>
                        <td>Report</td>
                        <td>Report Period Start Date</td>
                        <td>Report Period End Date</td>
                        <td>Received Date</td>
                        <td>Review Status Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>