<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
  <div class="inputs-field-set">
    <div class="section">
      <div class="form-section-title">
        <h2 class="edit-firm-header">
          <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
          Return Review > <span>{{ firmDetails?.FirmName }} </span>
        </h2>
      </div>
      <!-- Filter Dropdown -->
      <div style="margin-bottom: 1rem;">
        <label for="reportFilter">Filter Reports: </label>
        <select id="reportFilter" (change)="filterReports($event)">
          <option selected="selected" value="1">All</option>
          <option value="2">Non - AML Reports</option>
          <option value="3">AML Reports</option>
        </select>
      </div>
      <div class="error-messages" *ngIf="errorMessages['ReturnreViewList']">
        <p>{{ errorMessages['ReturnreViewList'] }}</p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Ver</th>
            <th>Report</th>
            <th>Report Period Start Date</th>
            <th>Report Period End Date</th>
            <th>Received Date</th>
            <th>Review Status</th>
            <th>Review Status Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ReturnreView of paginatedFirms" (click)="openReturnreViewPopup(ReturnreView,firmDetails)">
            <td (click)="getReturnReviewRevision(ReturnreView)" class="clickable-cell text-center">
              {{ReturnreView.RptReviewRevNum}}
            </td>
            <td >{{ReturnreView.ReportName}}</td>
            <td class="text-center">{{ReturnreView.PeriodFrom}}</td>
            <td class="text-center">{{ReturnreView.PeriodTo}}</td>
            <td class="text-center">{{ReturnreView.ReceivedDate}}</td>
            <td class="text-center">{{ReturnreView.ReviewStatus}}</td>
            <td class="text-center">{{ReturnreView.ReviewStatusDate}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="10">
              <div class="pagination"
                style="display: flex; align-items: center; justify-content: center; gap: 15px; padding: 10px 0;">
                <button (click)="previousPage()" [disabled]="currentPage === 1"
                  style="background-color: #f1f1f1; border: 1px solid #ccc; padding: 5px 10px; cursor: pointer; border-radius: 4px; color: #333;">
                  <span>&lt;</span>
                </button>
                <span style="font-weight: 500; color: #333;">Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                  style="background-color: #f1f1f1; border: 1px solid #ccc; padding: 5px 10px; cursor: pointer; border-radius: 4px; color: #333;">
                  <span>&gt;</span>
                </button>
                <span style="color: #555; font-size: 14px;">Showing {{ startRow }} to {{ endRow }} of {{ totalRows }}
                  rows</span>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- show Return Review Revision Popup-->

<div *ngIf="showReturnReviewRevision" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Report Review Revisions:</h3>
    </div>
    <div class="revisions-container">
      <span *ngFor="let ReviewRevision of ReturnReviewRevisionList" 
            (click)="getReturnReviewRevision(ReviewRevision)" 
            class="revision-item">
        {{ ReviewRevision.RptReviewRevNum }}
      </span>
    </div>
    <div class="btn">
      <button class="close-button" (click)="closeReturnReviewRevisionModal()">Close</button>
    </div>
    
  </div>
</div>