<app-loader *ngIf="isLoading"></app-loader>
<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <!-- Validation Errors Messages-->
            <div class="error-messages">
                <p *ngIf="errorMessages['SupCategoryType']">
                  {{ errorMessages['SupCategoryType'] }}
                </p>
                <p *ngIf="errorMessages['SupCatEffectiveDateFrom']">
                    {{ errorMessages['SupCatEffectiveDateFrom'] }}
                </p>
                <p *ngIf="errorMessages['FRBTEffectiveDate']">
                    {{ errorMessages['FRBTEffectiveDate'] }}
                </p>
                <p *ngIf="errorMessages['OPEffectiveDateFrom']">
                    {{ errorMessages['OPEffectiveDateFrom'] }}
                </p>
                <p *ngIf="errorMessages['NumOfLocalStaff']">
                    {{ errorMessages['NumOfLocalStaff'] }}
                </p>
                <p *ngIf="errorMessages['NumOfTotalStaff']">
                    {{ errorMessages['NumOfTotalStaff'] }}
                </p>
                <p *ngIf="errorMessages['NumOfLocalStaffGreaterThanNumOfLocalStaff']">
                    {{ errorMessages['NumOfLocalStaffGreaterThanNumOfLocalStaff'] }}
                </p>
              </div>
            <div class="supervision-container-title">
                <div class="form-section-title">
                    <h2 class="section-header">
                        <!-- Supervision > <span>{{ firmDetails?.FirmName }}</span> -->
                        Supervision Category > <span>{{firmDetails?.FirmName}}</span>
                    </h2>
                    <div class="subbutton-open-history-container">
                        <button class="subbutton-open-history" (click)="getSupervisionCategory()">
                            <i class="bi bi-clock-history"></i><span> Open History</span>
                        </button>
                    </div>
                </div>
                <div style="display: flex; gap: 10px">
                    <!-- loading flag for rendering buttons, hideSaveBtn..etc flag for supervisor access and other roles, getControlVisiblity function for role access endpoint -->
                    <div class="btn" *ngIf="getControlVisibility('imgBtnEdit') && !hideEditBtn">
                        <button (click)="editSupervision()" [disabled]="!getControlEnablement('imgBtnEdit')"
                            class="edit-btn">
                            <i class="bi bi-pen"></i>Edit
                        </button>
                    </div>

                    <div class="btn" *ngIf="getControlVisibility('imgBtnSave') && !hideSaveBtn">
                        <button (click)="saveSupervision()" [disabled]="!getControlEnablement('imgBtnSave')" class="save-btn">
                            Save
                        </button>
                    </div>

                    <div class="btn" *ngIf="getControlVisibility('imgBtnCancel') && !hideCancelBtn">
                        <button (click)="cancelSupervision()" [disabled]="!getControlEnablement('imgBtnCancel')" class="cancel-btn">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="inputs-row" *ngIf="SupervisionCategory">
            <div *ngIf="!(firmDetails?.FirmTypeID === 2)" class="input-field">
                <label for="authorisationCategory">Authorisation Category</label>
                <input disabled name="authorisationCategory" id="authorisationCategory" type="text"
                    [(ngModel)]="SupervisionCategory[0].AuthorisationCategoryTypeDesc" />
            </div>
            <div class="input-field">
                <label for="supervisionCategory">Supervision Category<span *ngIf="isEditModeSupervisor" style="color:red;">*</span></label>

                <input *ngIf="!isEditModeSupervisor; else supervisionCategory" disabled name="supervisionCategory"
                    id="supervisionCategory" type="text"
                    [(ngModel)]="SupervisionCategory[0].FirmRptClassificationTypeDesc"/>
                <ng-template #supervisionCategory>
                    <select [disabled]="!pnlSupCategoryData" [(ngModel)]="SupervisionCategory[0].FirmRptClassificationTypeID" [ngClass]="{'error-border': errorMessages['SupCategoryType']}">
                        <option [ngValue]="null">Select</option>
                        <option
                            *ngFor="let option of (firmDetails.FirmTypeID === 1 || firmDetails.FirmTypeID === 3 ? allFirmRptClassificationTypes : allFirmRptClassificationTypesForDNFBPs)"
                            [value]="option.FirmRptClassificationTypeID">{{option.FirmRptClassificationTypeDesc}}
                        </option>
                    </select>
                </ng-template>

            </div>
            <div class="input-field">
                <label for="effectiveFromDate">Date Effective From<span *ngIf="isEditModeSupervisor" style="color:red;">*</span></label>
                <input [disabled]="!isEditModeSupervisor || !pnlSupCategoryData" name="effectiveFromDate" id="effectiveFromDate" type="text" #dateInputs
                    [(ngModel)]="SupervisionCategory[0].EffectiveFromDate" [ngClass]="{'error-border': errorMessages['SupCatEffectiveDateFrom']}"/>
            </div>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Client Assets
                </h2>
            </div>
        </div>

        <div class="inputs-row">
            <div class="input-field">
                <label for="holdsclientmoney">Holds Client Money</label>
                <input *ngIf="!isEditModeSupervisor; else holdsclientmoney" disabled name="holdsclientmoney" id="holdsclientmoney" type="text" value="{{ clientClassification[0]?.HoldsClientMoney === true ? 'Yes' : (clientClassification[0]?.HoldsClientMoney === false ? 'No' : '') }}" />
                <ng-template #holdsclientmoney>
                    <select [disabled]="!pnlClientClassificationData" [(ngModel)]="clientClassification[0].HoldsClientMoney">
                        <option [ngValue]="null">Select</option>
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </ng-template>
            </div>
        </div>
    </div>


    <div *ngIf="!(firmDetails?.FirmTypeID === 2)" class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Firm Report Basis
                </h2>
            </div>
        </div>

        <div class="inputs-row">
            <div class="input-field">
                <label for="firmreportbasistype">Firm Report Basis Type</label>
                <input *ngIf="!isEditModeSupervisor; else firmsBasisType" disabled name="firmreportbasistype" id="firmreportbasistype" type="text" value="{{RPTBasis.FirmRptBasisTypeDesc}}"/>
                <ng-template #firmsBasisType>
                    <select [disabled]="!pnlFirmRPTBasisData" [(ngModel)]="RPTBasis.FirmRptBasisTypeID">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let option of allFirmRptBasisTypes" [value]="option.FirmRptBasisTypeID">{{option.FirmRptBasisTypeDesc}}</option>
                    </select>
                </ng-template>
            </div>
            <div class="input-field">
                <label for="effectivedate">Effective Date <span *ngIf="isEditModeSupervisor" style="color:red;">*</span></label>
                <input [disabled]="!isEditModeSupervisor || !pnlFirmRPTBasisData" name="effectivedate" id="effectivedate" type="text" #dateInputs
                    [(ngModel)]="RPTBasisEffectiveDate" [ngClass]="{'error-border': errorMessages['FRBTEffectiveDate']}"/>
            </div>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Operational Data
                </h2>
                <div>
                    <button class="subbutton-open-history" (click)="getOperationalDataHistory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="inputs-row">
            <div class="input-field">
                <label for="Noofstaffinqatar"> No. of Staff in Qatar</label>
                <input [disabled]="!isEditModeSupervisor || !pnlOperationalData" name="Noofstaffinqatar" id=" Noofstaffinqatar" type="text"
                    [(ngModel)]="OperationalData[0].NumOfLocalStaff" [ngClass]="{'error-border': errorMessages['NumOfLocalStaff']}"/>
            </div>
            <div class="input-field">
                <label for="stafftotal">Staff Total</label>
                <input [disabled]="!isEditModeSupervisor || !pnlOperationalData" name="stafftotal" id="stafftotal" type="text"
                    [(ngModel)]="OperationalData[0].NumOfTotalStaff" [ngClass]="{'error-border': errorMessages['NumOfTotalStaff']}"/>
            </div>
            <div class="input-field">
                <label for="operationalDateEffectiveFrom">Date Effective From<span *ngIf="isEditModeSupervisor" style="color:red;">*</span></label>
                <input [disabled]="!isEditModeSupervisor || !pnlOperationalData" name="operationalDateEffectiveFrom" id="operationalDateEffectiveFrom" type="text" #dateInputs
                    [(ngModel)]="OperationalData[0].EffectiveFromDate" [ngClass]="{'error-border': errorMessages['OPEffectiveDateFrom']}"/>
            </div>
            <div class="input-field fullwidth">
                <label for="notes"> Notes </label>
                <textarea name="notes" [disabled]="!isEditModeSupervisor || !pnlOperationalData" id="notes" [(ngModel)]="OperationalData[0].Notes"></textarea>
            </div>
        </div>
    </div>

    <div *ngIf="firmDetails?.FirmTypeID !== 2 && hasCreditRatings(CreditRatingsFirm)" class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Credit Ratings - Firm
                </h2>
                <div>
                    <button class="subbutton-open-history" (click)="getCreditRatingsHistory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
            <table class="supervision-tables">
                <thead>
                    <tr>
                        <th>Rating Name</th>
                        <th>Rating Assigned</th>
                        <th>Rating Effective From</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let agency of CreditRatingsFirm | keyvalue">
                        <tr>
                            <td colspan="3" class="agency-name">Rating Agency: {{ agency.key }}</td>
                        </tr>
                        <tr *ngFor="let rating of agency.value" class="rating-row">
                            <td>{{ rating.CreditRatingDisplayName }}</td>
                            <td>{{ rating.Ratings }}</td>
                            <td>{{ rating.RatingsAsOfDate }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>


    <div *ngIf="firmDetails?.FirmTypeID !== 2 && hasCountryCreditRatings(CountryCreditRatingsFirm)" class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Credit Ratings - Sovereign ( Home Country - Qatar )
                </h2>
                <div>
                    <button class="subbutton-open-history" (click)="getCreditRatingsSovereignDataHistory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
            <table class="supervision-tables">
                <thead>
                    <tr>
                        <th>Rating Name</th>
                        <th>Rating Assigned</th>
                        <th>Rating Effective From</th>
                        <th>Last Modified By</th>
                        <th>Last Modified Date</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let agency of CountryCreditRatingsFirm | keyvalue">
                    <tr>
                        <td colspan="3" class="agency-name">Rating Agency: {{ agency.key }}</td>
                    </tr>
                    <tr *ngFor="let rating of agency.value" class="rating-row">
                        <td>{{ rating.CreditRatingDisplayName }}</td>
                        <td>{{ rating.Ratings }}</td>
                        <td>{{ rating.RatingsAsOfDate }}</td>
                        <td>{{ rating.LastModifiedBy }}</td>
                        <td>{{ rating.LastModifiedDate }}</td>
                    </tr>
                </ng-container>
            </table>
        </div>

    </div>
</div>


<!-- Supervision Category Popup -->
<div *ngIf="callSupervisionCategory" class="overlay show"></div>
<div *ngIf="callSupervisionCategory" class="popup-wrapper popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCategoryPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Supervision Category</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th *ngIf="firmDetails.FirmTypeID !== 2">Authorisation Category</th>
                    <th>Supervision Category</th>
                    <th>Date Effective From</th>
                    <th>Date Effective To</th>
                    <th>Last Modified By</th>
                    <th>Last Modified Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of SupervisionCategory">
                    <td *ngIf="firmDetails.FirmTypeID !== 2">{{category.AuthorisationCategoryTypeDesc}}</td>
                    <td>{{category.FirmRptClassificationTypeDesc}}</td>
                    <td class="text-center">{{category.EffectiveFromDate}}</td>
                    <td class="text-center">{{category.EffectiveToDate}}</td>
                    <td>{{category.LastModifiedBy}}</td>
                    <td class="text-center">{{category.LastModifiedDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeCategoryPopup()">Close</button>
    </div>
</div>


<!-- Operational Data -->
<div *ngIf="callOperationalData" class="overlay show"></div>
<div *ngIf="callOperationalData" class="OperationalData popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeOperationalDataPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Operational Data</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="text-center">No. of Staff in Qatar</th>
                    <th class="text-center">Staff Total</th>
                    <th class="text-center">Notes</th>
                    <th class="text-center">Date Effective From</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operational of OperationalData">
                    <td class="text-center">{{operational.NumOfLocalStaff}}</td>
                    <td class="text-center">{{operational.NumOfTotalStaff}}</td>
                    <td>{{operational.Notes}}</td>
                    <td class="text-center">{{operational.EffectiveFromDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeOperationalDataPopup()">Close</button>
    </div>
</div>


<!-- Credit Ratings - Firm -->
<div *ngIf="callCreditRatings" class="overlay show"></div>
<div *ngIf="callCreditRatings" class="CreditRatings popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCreditRatingsPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Credit Ratings - Firm</h3>
        </div>
        <table class="supervision-tables">
            <thead>
                <tr>
                    <th>Rating Name</th>
                    <th>Rating Assigned</th>
                    <th>Rating Effective From</th>
                    <th>Last Modified By</th>
                    <th>Last Modified Date</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let agency of HistoryCreditRatingGrouped | keyvalue">
                    <tr>
                        <td colspan="5" class="agency-name">Rating Agency: {{ agency.key }}</td>
                    </tr>
                    <tr *ngFor="let rating of agency.value" class="rating-row">
                        <td>{{ rating.CreditRatingDisplayName }}</td>
                        <td>{{ rating.Ratings }}</td>
                        <td class="text-center">{{ rating.RatingsAsOfDate }}</td>
                        <td>{{ rating.LastModifiedBy }}</td>
                        <td>{{ rating.LastModifiedDate }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeCreditRatingsPopup()">Close</button>
    </div>
</div>

<!-- Credit Ratings - Sovereign ( Home Country - Qatar ) -->
<div *ngIf="callCreditRatingsSovereign " class="overlay show"></div>
<div *ngIf="callCreditRatingsSovereign" class="CreditRatingsSovereign popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCreditRatingsSovereignPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Credit Ratings - Sovereign ( Home Country - Qatar )</h3>
        </div>
        <table class="supervision-tables">
            <thead>
                <tr>
                    <th>Rating Name</th>
                    <th>Rating Assigned</th>
                    <th>Rating Effective From</th>
                    <th>Last Modified By</th>
                    <th>Last Modified Date</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let agency of HistoryCreditRatingCountryGrouped | keyvalue">
                    <tr>
                        <td colspan="5" class="agency-name">Rating Agency: {{ agency.key }}</td>
                    </tr>
                    <tr *ngFor="let rating of agency.value" class="rating-row">
                        <td>{{ rating.CreditRatingDisplayName }}</td>
                        <td>{{ rating.Ratings }}</td>
                        <td class="text-center">{{ rating.RatingsAsOfDate }}</td>
                        <td>{{ rating.LastModifiedBy }}</td>
                        <td>{{ rating.LastModifiedDate }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeCreditRatingsSovereignPopup()">Close</button>
    </div>
</div>