.agency-name {
    font-weight: bold;
}

.supervision-container-title {
    display: flex;
    justify-content: space-between;
}

.supervision-tables {
    margin-top: 10px;
}

.form-section-title {
    margin: 0!important;
}