.agency-name {
    font-weight: bold;
}

.supervision-container-title {
    display: flex;
    justify-content: space-between;
}

.form-section-title {
    padding: 0;
    justify-content: flex-start;
}

.supervision-tables {
    margin-top: 10px;
}