<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    <!-- Supervision > <span>{{ firmDetails?.FirmName }}</span> -->
                    Supervision Category > <span>{{firmDetails?.FirmName}}</span>
                </h2>
                <div class="subbutton-open-history-container">
                    <button class="subbutton-open-history" (click)="getSupervisionCategory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="inputs-row" *ngIf="SupervisionCategory">
            <div class="input-field">
                <label for="authorisationCategory">Authorisation Category</label>
                <input disabled name="authorisationCategory" id="authorisationCategory" type="text" [(ngModel)]="SupervisionCategory[0].AuthorisationCategoryTypeDesc" />
            </div>
            <div class="input-field">
                <label for="supervisionCategory">Supervision Category</label>
                <input disabled name="supervisionCategory" id="supervisionCategory" type="text"
                [(ngModel)]="SupervisionCategory[0].FirmRptClassificationTypeDesc" />
            </div>
            <div class="input-field">
                <label for="effectiveFromDate">Date Effective From</label>
                <input disabled name="effectiveFromDate" id="effectiveFromDate" type="text"
                [(ngModel)]="SupervisionCategory[0].EffectiveFromDate" />
            </div>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Client Assets
                </h2>
            </div>
        </div>

        <div class="inputs-row">
            <div class="input-field">
                <label for="holdsclientmoney">Holds Client Money</label>
                <input disabled name="holdsclientmoney" id="holdsclientmoney" type="text" value="holdsclientmoney" />
            </div>
        </div>
    </div>


    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Firm Report Basis
                </h2>
            </div>
        </div>

        <div class="inputs-row">
            <div class="input-field">
                <label for="firmreportbasistype">Firm Report Basis Type</label>
                <input disabled name="firmreportbasistype" id="firmreportbasistype" type="text" value="Solo" />
            </div>
            <div class="input-field">
                <label for="effectivedate">Effective Date</label>
                <input disabled name="effectivedate" id="effectivedate" type="text" value="01/Apr/2014" />
            </div>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Operational Data
                </h2>
                <div>
                    <button class="subbutton-open-history" (click)="getOperationalDataHistory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="inputs-row" *ngIf="OperationalData">
            <div class="input-field">
                <label for="Noofstaffinqatar"> No. of Staff in Qatar</label>
                <input disabled name="Noofstaffinqatar" id=" Noofstaffinqatar" type="text"
                    [(ngModel)]="OperationalData[0].NumOfLocalStaff" />
            </div>
            <div class="input-field">
                <label for="stafftotal">Staff Total</label>
                <input disabled name="stafftotal" id="stafftotal" type="text"
                    [(ngModel)]="OperationalData[0].NumOfTotalStaff" />
            </div>
            <div class="input-field">
                <label for="operationalDateEffectiveFrom">Date Effective From</label>
                <input disabled name="operationalDateEffectiveFrom" id="operationalDateEffectiveFrom" type="text"
                    [(ngModel)]="OperationalData[0].EffectiveFromDate" />
            </div>
            <div class="input-field fullwidth">
                <label for="notes"> Notes </label>
                <textarea name="notes" disabled id="notes" [(ngModel)]="OperationalData[0].Notes"></textarea>
            </div>
        </div>
    </div>


    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Firm Report Basis
                </h2>
            </div>
        </div>

        <div class="inputs-row" *ngIf="RPTBasis">
            <div class="input-field">
                <label for="firmreportbasistype">Firm Report Basis Type</label>
                <input disabled name="firmreportbasistype" id="firmreportbasistype" type="text" [(ngModel)]="RPTBasis.FirmRptBasisTypeDesc"  />
            </div>
            <div class="input-field">
                <label for="effectivedate">Effective Date</label>
                <input disabled name="effectivedate" id="effectivedate" type="text" [(ngModel)]="RPTBasis.Column1" />
            </div>
        </div>
    </div>


    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Credit Ratings - Firm
                </h2>
                <div>
                    <button class="subbutton-open-history" (click)="getCreditRatingsHistory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
            <table class="supervision-tables">
                <thead>
                    <tr>
                        <th>Rating Name</th>
                        <th>Rating Assigned</th>
                        <th>Rating Effective From</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let agency of CreditRatingsFirm | keyvalue">             
                        <tr>
                          <td colspan="3" class="agency-name">Rating Agency: {{ agency.key }}</td>
                        </tr>
                        <tr *ngFor="let rating of agency.value" class="rating-row">
                          <td>{{ rating.CreditRatingDisplayName }}</td>
                          <td>{{ rating.Ratings }}</td>
                          <td>{{ rating.RatingsAsOfDate }}</td>
                        </tr>
                      </ng-container>
                </tbody>
            </table>
        </div>

    </div>


    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="section-header">
                    Credit Ratings - Sovereign ( Home Country - Qatar )
                </h2>
                <div>
                    <button class="subbutton-open-history" (click)="getCreditRatingsSovereignDataHistory()">
                        <i class="bi bi-clock-history"></i><span> Open History</span>
                    </button>
                </div>
            </div>
            <table class="supervision-tables">
                <thead>
                    <tr>
                        <th>Rating Name</th>
                        <th>Rating Assigned</th>
                        <th>Rating Effective From</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let agency of CountryCreditRatingsFirm | keyvalue">             
                    <tr>
                      <td colspan="3" class="agency-name">Rating Agency: {{ agency.key }}</td>
                    </tr>
                    <tr *ngFor="let rating of agency.value" class="rating-row">
                      <td>{{ rating.CreditRatingDisplayName }}</td>
                      <td>{{ rating.Ratings }}</td>
                      <td>{{ rating.RatingsAsOfDate }}</td>
                    </tr>
                  </ng-container>
            </table>
        </div>

    </div>
</div>


<!-- Supervision Category Popup -->
<div *ngIf="callSupervisionCategory" class="overlay show"></div>
<div *ngIf="callSupervisionCategory" class="popup-wrapper popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCategoryPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Supervision Category</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Authorisation Category</th>
                    <th>Supervision Category</th>
                    <th>Date Effective From</th>
                    <th>Date Effective To</th>
                    <th>Last Modified By</th>
                    <th>Last Modified Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of SupervisionCategory">
                    <td>{{category.AuthorisationCategoryTypeDesc}}</td>
                    <td>{{category.FirmRptClassificationTypeDesc}}</td>
                    <td>{{category.EffectiveFromDate}}</td>
                    <td>{{category.EffectiveToDate}}</td>
                    <td>{{category.LastModifiedBy}}</td>
                    <td>{{category.LastModifiedDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeCategoryPopup()">Close</button>
    </div>
</div>


<!-- Operational Data -->
<div *ngIf="callOperationalData" class="overlay show"></div>
<div *ngIf="callOperationalData" class="OperationalData popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeOperationalDataPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Operational Data</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>No. of Staff in Qatar</th>
                    <th>Staff Total</th>
                    <th>Notes</th>
                    <th>Date Effective From</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operational of OperationalData">
                    <td>{{operational.NumOfLocalStaff}}</td>
                    <td>{{operational.NumOfTotalStaff}}</td>
                    <td>{{operational.EffectiveFromDate}}</td>
                    <td>{{operational.Notes}}</td>
                  </tr>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeOperationalDataPopup()">Close</button>
    </div>
</div>


<!-- Credit Ratings - Firm -->
<div *ngIf="callCreditRatings" class="overlay show"></div>
<div *ngIf="callCreditRatings" class="CreditRatings popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCreditRatingsPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Credit Ratings - Firm</h3>
        </div>
        <table class="supervision-tables">
            <thead>
                <tr>
                    <th>Rating Name</th>
                    <th>Rating Assigned</th>
                    <th>Rating Effective From</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let agency of HistoryCreditRatingGrouped | keyvalue">             
                    <tr>
                      <td colspan="3" class="agency-name">Rating Agency: {{ agency.key }}</td>
                    </tr>
                    <tr *ngFor="let rating of agency.value" class="rating-row">
                      <td>{{ rating.CreditRatingDisplayName }}</td>
                      <td>{{ rating.Ratings }}</td>
                      <td>{{ rating.RatingsAsOfDate }}</td>
                    </tr>
                  </ng-container>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeCreditRatingsPopup()">Close</button>
    </div>
</div>

<!-- Credit Ratings - Sovereign ( Home Country - Qatar ) -->
<div *ngIf="callCreditRatingsSovereign " class="overlay show"></div>
<div *ngIf="callCreditRatingsSovereign" class="CreditRatingsSovereign popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCreditRatingsSovereignPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Credit Ratings - Sovereign ( Home Country - Qatar )</h3>
        </div>
        <table class="supervision-tables">
            <thead>
                <tr>
                    <th>Rating Name</th>
                    <th>Rating Assigned</th>
                    <th>Rating Effective From</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let agency of HistoryCreditRatingCountryGrouped | keyvalue">             
                    <tr>
                      <td colspan="3" class="agency-name">Rating Agency: {{ agency.key }}</td>
                    </tr>
                    <tr *ngFor="let rating of agency.value" class="rating-row">
                      <td>{{ rating.CreditRatingDisplayName }}</td>
                      <td>{{ rating.Ratings }}</td>
                      <td>{{ rating.RatingsAsOfDate }}</td>
                    </tr>
                  </ng-container>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeCreditRatingsSovereignPopup()">Close</button>
    </div>
</div>