<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
    <div class="popupcontainer Rptpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
        <!-- Title -->
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Return Review For {{ firmDetails?.FirmName }} ({{firmDetails.QFCNum}})
                </h3>
            </div>
            <!-- Save and Cancel Buttons -->
            <button class="close-button  close-icon" (click)="onClose()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>
        <div class="reporting-schedule-form">
            <div class="inputs-row" >
                <div class="input-field">
                    <label for="revisionNumber">Revision Number</label>
                    <input type="text" id="revisionNumber" name="revisionNumber"
                    [(ngModel)]="firmRevDetails.firmRptReviewRevNum"  [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="QFCNumber">QFC Number</label>
                    <input type="text" id="QFCNumber" name="QFCNumber"
                    [(ngModel)]="firmDetails.QFCNum"   [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="prudentialCategory">Prudential Category</label>
                    <input type="text" id="prudentialCategory" name="prudentialCategory"
                    [(ngModel)]="firmDetails.PrudentialCategoryTypeDesc"  [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="legalStatus">Legal Status</label>
                    <input type="text" id="legalStatus" name="legalStatus"
                    [(ngModel)]="firmDetails.LegalStatusTypeDesc"   [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="reportingBasis">Reporting Basis</label>
                    <input type="text" id="reportingBasis" name="reportingBasis"
                    [(ngModel)]="ReportingBasis.FirmRptBasisTypeDesc"  [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="leadRegulator">Lead Regulator</label>
                    <input type="text" id="leadRegulator" name="leadRegulator" [(ngModel)]="RegulatorData" [disabled]="!isEditable" />
                </div>
            </div>
            <div class="rpt-list margin-top-10" *ngIf="firmRevDetails.firmRptReviewItems">
                <div class="popup-header">
                    <h3>Report Reviewed</h3>
                </div>

                <ng-container >
                    <div class="inputs-row report-entry" *ngFor="let item of firmRevDetails.firmRptReviewItems; let i = index">
                        <div class="input-field">
                          <label for="reportTypeEntry-{{ i }}">Report to be Reviewed</label>
                          <input
                            type="text"
                            id="reportTypeEntry-{{ i }}"
                            name="reportTypeEntry"
                            [disabled]="!isEditable"
                            [(ngModel)]="item.reportReceivedDesc"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="submissionType-{{ i }}">Report Due Date</label>
                          <input
                            type="text"
                            id="submissionType-{{ i }}"
                            name="submissionType"
                            [disabled]="!isEditable"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodStartDate-{{ i }}">Reporting Period Start Date</label>
                          <input
                            type="text"
                            id="reportingPeriodStartDate-{{ i }}"
                            name="reportingPeriodStartDate"
                            [disabled]="!isReviseMode"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodEndDate-{{ i }}">Reporting Period End Date</label>
                          <input
                            type="text"
                            id="reportingPeriodEndDate-{{ i }}"
                            name="reportingPeriodEndDate"
                            [disabled]="!isReviseMode"
                          />
                        </div>
                         
                        <div class="input-field">
                          <label for="reportName-{{ i }}">Link To Report</label>
                          <!-- <a
                            id="websiteLink-{{ i }}"
                            *ngIf="!isEditable"
                            [href]="fullLinkToXbrlReport"
                            target="_blank"
                            rel="noopener noreferrer" >
                            {{ item.report }}
                          </a> -->
                          <a (click)="openLinkToReport(item)">{{ item.report }}</a>
                        </div>
                        
                        <div class="input-field">
                          <label for="dueDate-{{ i }}">Report Received Date</label>
                          <input
                            type="text"
                            id="dueDate-{{ i }}"
                            name="dueDate"
                            [disabled]="!isEditable"
                            [(ngModel)]="item.receivedDate"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="materiallyComplete-{{ i }}">Materially Complete</label>
                          <ng-container>
                            <div style="display: flex; align-items: center">
                              <input
                                type="radio"
                                id="materiallyCompleteYes-{{ i }}"
                                [disabled]="!isReviseMode"
                                name="materiallyComplete-{{ i }}"
                                [value]="true"
                                [(ngModel)]="item.materiallyComplete"
                                style="margin-right: 10px; cursor: pointer"
                              />
                              <label for="materiallyCompleteYes-{{ i }}" style="margin-left: 5px; color: #413b3c">Yes</label>
                      
                              <input
                                type="radio"
                                id="materiallyCompleteNo-{{ i }}"
                                [disabled]="!isReviseMode"
                                name="materiallyComplete-{{ i }}"
                                [value]="false"
                                [(ngModel)]="item.materiallyComplete"
                                style="margin-left: 20px; margin-right: 10px; cursor: pointer;"
                              />
                              <label for="materiallyCompleteNo-{{ i }}" style="margin-left: 5px; color: #413b3c">No</label>
                            </div>
                          </ng-container>
                        </div>

                        <div class="add-address-btn-container">
                          <button class="addAddressBtn" (click)="addNewCommentsOnReviseMode()" *ngIf="isReviseMode">
                            Add Comment
                          </button>
                        </div>
                        
                        <div *ngFor="let reviewItem of newComments; let itemIndex = index">
                          <div *ngFor="let finding of reviewItem.firmRptReviewFindings; let commentIndex = index" class="input-field fullwidth">
                            <div *ngIf="isReviseMode" class="del-address-container">
                              <button class="RmvTrashBtn bi-trash" (click)="removeComment(itemIndex, commentIndex)"> </button>
                            </div>
                            <label for="notes-{{ commentIndex }}">Comments/Findings :</label>
                            
                            <!-- CKEditor in revise mode -->
                            <div style="min-width: 100%;" *ngIf="isReviseMode; else notes">
                              <ckeditor [(ngModel)]="finding.firmRptReviewFindings" [editor]="Editor" [config]="config" style="height: 200px; min-width: 100%;"></ckeditor>
                              

                            </div>
                            
                            <!-- Read-only mode -->
                            <ng-template #notes>
                              <p class="comments" [innerHTML]="finding.firmRptReviewFindings"></p>
                            </ng-template>
                          </div>
                        </div>
                        
                        <div class="add-address-btn-container" *ngIf="isReviseMode">
                          <button class="addAddressBtn" (click)="saveComments()">
                            Save Comments
                          </button>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="rpt-list margin-top-10" *ngIf="ActionItems.length != 0">
              <div class="popup-header">
                  <h3> Items Requiring Follow-Up/Action</h3>
              </div>
              <table class="fund-status-table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Action To Be Taken</th>
                    <th>Due Date</th>
                    <th>Closed Date</th>
                    <th>Resolution</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ActionItem of ActionItems">
                    <td>{{ ActionItem.actionItemDesc }}</td>
                     <td></td> 
                    <td>{{ ActionItem.createdDate }}</td>
                    <td>{{ ActionItem.completionDate }}</td>
                    <td>{{ ActionItem.resolution }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
              <app-review
                [firmId]="firmId"
                [firmDetails]="firmDetails"
                [isEditable]="isEditable"
                [pageName]="Page.ReturnsReview"
                [Review]="UserObjectWfTasks" 
                [addtlReviewRequired]="firmRevDetails.addtlReviewRequired"
                [addtlReviewRequiredDecisionMadeByName]="firmRevDetails.addtlReviewRequiredDecisionMadeByName"
                [addtlReviewRequiredDecisionMadeOn]="firmRevDetails.addtlReviewRequiredDecisionMadeOn"
                [isReviseMode]="isReviseMode"
                [UserObjectWfTasks]="UserObjectWfTasks"
                >                         
              </app-review>
              <div class="btn justify-content-end">
                <button *ngIf="!isEditable">
                  <i class="bi bi-pen"></i> Edit
                </button>
                <button (click)="CreateNewVerisionConfirmation()" *ngIf="!isReviseMode && firmRevDetails.maxRevisionNum == review.RptReviewRevNum">
                  <i class="bi bi-pencil-square"></i> Revise
                </button>
                
                 <app-workflow
                 [firmId]="firmId"
                 [firmDetails]="firmDetails"
                 [pageName]="Page.ReturnsReview"
                 [review]="UserObjectWfTasks"
                 [isReviseMode]="isReviseMode"
                 >
                 </app-workflow>
                <button *ngIf="!isEditable">
                  <i class="bi bi-trash"></i> Delete
                </button>
                <button *ngIf="isEditable">
                  Save
                </button>
                <button class="cancel-btn" *ngIf="isEditable">
                  Cancel
                </button>
              </div>
        </div>
    </div> 
</div>
