<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
    <div class="popupcontainer Rptpopupcontainer NoAnimationPopup" style="display:block" (click)="$event.stopPropagation()">
        <!-- Title -->
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Return Review For {{ firmDetails?.FirmName }} ({{firmDetails.QFCNum}})
                </h3>
            </div>
            <!-- Save and Cancel Buttons -->
            <button class="close-button  close-icon" (click)="onClose()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>
        <div class="reporting-schedule-form">
            <div class="inputs-row" >
                <div class="input-field">
                    <label for="revisionNumber">Revision Number</label>
                    <input type="text" id="revisionNumber" name="revisionNumber"
                    [(ngModel)]="firmRevDetails.firmRptReviewRevNum"  disabled />
                </div>
                <div class="input-field">
                    <label for="QFCNumber">QFC Number</label>
                    <input type="text" id="QFCNumber" name="QFCNumber"
                    [(ngModel)]="firmDetails.QFCNum" disabled />
                </div>
                <div class="input-field">
                    <label for="prudentialCategory">Prudential Category</label>
                    <input type="text" id="prudentialCategory" name="prudentialCategory"
                    [(ngModel)]="firmDetails.PrudentialCategoryTypeDesc" disabled />
                </div>
                <div class="input-field">
                    <label for="legalStatus">Legal Status</label>
                    <input type="text" id="legalStatus" name="legalStatus"
                    [(ngModel)]="firmDetails.LegalStatusTypeDesc" disabled />
                </div>
                <div class="input-field">
                    <label for="reportingBasis">Reporting Basis</label>
                    <input type="text" id="reportingBasis" name="reportingBasis"
                    [(ngModel)]="ReportingBasis.FirmRptBasisTypeDesc" disabled />
                </div>
                <div class="input-field">
                    <label for="leadRegulator">Lead Regulator</label>
                    <input type="text" id="leadRegulator" name="leadRegulator" [(ngModel)]="RegulatorData" disabled />
                </div>
            </div>
            <div class="rpt-list margin-top-10" *ngIf="firmRevDetails.firmRptReviewItems">
                <div class="popup-header">
                    <h3>Report Reviewed</h3>
                </div>

                <ng-container >
                    <div class="inputs-row report-entry" *ngFor="let item of firmRevDetails.firmRptReviewItems; let i = index">
                        <div class="input-field">
                          <label for="reportTypeEntry-{{ i }}">Report to be Reviewed</label>
                          <input
                            type="text"
                            id="reportTypeEntry-{{ i }}"
                            name="reportTypeEntry"
                            [(ngModel)]="item.reportReceivedDesc"
                            disabled
                          />
                          <div *ngIf="DocSubTypesList && DocSubTypesList.length > 0" class="checkbox-container">
                            <label *ngFor="let subType of DocSubTypesList" class="checkbox-item">
                              <input [disabled]="!isEditable && !isReviseMode"
                                type="checkbox"
                                [value]="subType.DocSubTypeID"
                                [(ngModel)]="subType.checked"
                              />
                              {{ subType.DocSubTypeDesc }}
                            </label>
                          </div>
                          
                        </div>
                      
                        <div class="input-field">
                          <label for="submissionType-{{ i }}">Report Due Date</label>
                          <input
                            type="text"
                            id="submissionType-{{ i }}"
                            name="submissionType"
                            disabled
                            [(ngModel)]="item.rptDueDate"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodStartDate-{{ i }}">Reporting Period Start Date</label>
                          <input
                            type="text"
                            id="reportingPeriodStartDate-{{ i }}"
                            name="reportingPeriodStartDate"
                            [(ngModel)]="reportingPeriodStartDate"
                            [disabled]="!isReviseMode && !isEditable"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodEndDate-{{ i }}">Reporting Period End Date</label>
                          <input
                            type="text"
                            id="reportingPeriodEndDate-{{ i }}"
                            name="reportingPeriodEndDate"
                            [disabled]="!isReviseMode && !isEditable"
                            [(ngModel)]="reportingPeriodEndDate"
                          />
                        </div>
                         
                        <div class="input-field">
                          <label for="reportName-{{ i }}">Link To Report</label>
                          <!-- <a
                            id="websiteLink-{{ i }}"
                            *ngIf="!isEditable"
                            [href]="fullLinkToXbrlReport"
                            target="_blank"
                            rel="noopener noreferrer" >
                            {{ item.report }}
                          </a> -->
                          <a (click)="openLinkToReport(item)">{{ item.report }}</a>
                        </div>
                        
                        <div class="input-field">
                          <label for="dueDate-{{ i }}">Report Received Date</label>
                          <input
                            type="text"
                            id="dueDate-{{ i }}"
                            name="dueDate"
                            [(ngModel)]="item.receivedDate"
                            disabled
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="materiallyComplete-{{ i }}">Materially Complete</label>
                          <ng-container>
                            <div style="display: flex; align-items: center">
                              <input
                                type="radio"
                                id="materiallyCompleteYes-{{ i }}"
                                [disabled]="!isEditable && !isReviseMode"
                                
                                name="materiallyComplete-{{ i }}"
                                [value]="true"
                                [(ngModel)]="item.materiallyComplete"
                                style="margin-right: 10px; cursor: pointer"
                              />
                              <label for="materiallyCompleteYes-{{ i }}" style="margin-left: 5px; color: #413b3c">Yes</label>
                      
                              <input
                                type="radio"
                                id="materiallyCompleteNo-{{ i }}"
                                [disabled]="!isEditable && !isReviseMode"
                                name="materiallyComplete-{{ i }}"
                                [value]="false"
                                [(ngModel)]="item.materiallyComplete"
                                style="margin-left: 20px; margin-right: 10px; cursor: pointer;"
                              />
                              <label for="materiallyCompleteNo-{{ i }}" style="margin-left: 5px; color: #413b3c">No</label>
                            </div>
                          </ng-container>
                        </div>
                        <div class="input-field">
                          <label for="ResubmissionRequired">Resubmission Required</label>
                          <ng-container>
                            <div style="display: flex; align-items: center">
                              <input
                                type="radio"
                                id="ResubmissionRequired"
                                name="ResubmissionRequired"
                                [value]="true"
                                [(ngModel)]="item.resubmissionRequired"
                                style="margin-right: 10px; cursor: pointer"
                                [disabled]="!isEditable && !isReviseMode"
                              />
                              <label for="ResubmissionRequiredYes" style="margin-left: 5px; color: #413b3c">Yes</label>
                      
                              <input
                                type="radio"
                                id="ResubmissionRequired"
                                name="ResubmissionRequired"
                                [value]="false"
                                [(ngModel)]="item.resubmissionRequired"
                                style="margin-left: 20px; margin-right: 10px; cursor: pointer;"
                                [disabled]="!isEditable && !isReviseMode"
                              />
                              <label for="ResubmissionRequiredNo" style="margin-left: 5px; color: #413b3c">No</label>
                            </div>
                          </ng-container>
                        </div>
                        <div class="input-field">
                          <label for="dueDate">Material Completeness Decision Made By</label>
                          <input
                          [(ngModel)]="item.resubmissionRequestedByName"
                            type="text"
                            id="dueDate"
                            name="dueDate"
                            disabled
                          />
                        </div>
                        <div class="input-field">
                          <label for="dueDate">Resubmission Required Decision Made By</label>
                          <input
                          [(ngModel)]="item.resubmissionRequestedByName"
                            type="text"
                            id="dueDate"
                            name="dueDate"
                            disabled
                          />
                        </div>
                        <div class="input-field">
                          <label for="dueDate">Material Completeness Decision Made On</label>
                          <input
                          [(ngModel)]="item.materiallyCompleteDate"
                          #dateInputs placeholder
                            type="text"
                            id="dueDate"
                            name="dueDate"
                            disabled
                          />
                        </div>
                        <div class="input-field">
                          <label for="resubmissionRequestedDate">Resubmission Required Decision Made On</label>
                          <input
                          [(ngModel)]="item.resubmissionRequestedDate"
                          #dateInputs placeholder
                            type="text"
                            id="resubmissionRequestedDate"
                            name="resubmissionRequestedDate"
                            disabled
                          />
                        </div>
                        <div *ngIf="item.resubmissionRequired == true" class="input-field">
                          <label for="resubmissionDueDate">Resubmission Due Date</label>
                          <input
                          [(ngModel)]="item.resubmissionDueDate"
                          #dateInputs placeholder
                            type="text"
                            id="resubmissionDueDate"
                            name="resubmissionDueDate"
                            [disabled]="!isEditable && !isReviseMode"
                          />
                        </div>
                        <div *ngIf="item.resubmissionRequired == true" class="input-field" >
                          <div class="createActionItem-container">
                            <input 
                            type="checkbox" 
                            id="createActionItem"
                            [(ngModel)]="createActionFromComment" 
                            style="cursor: pointer;" 
                            (click)="FlagcreateActionFromComment()"
                            [disabled]="!isEditable && !isReviseMode"
                          />
                          <label 
                            for="createActionItem" 
                            style="cursor: pointer;">
                            Create action item from comment
                          </label>
                          </div>
                          
                        </div>
                        <div *ngIf="item.resubmissionRequired == true" class="input-field fullwidth">
                          <label for="commetToBepublished">Enter comments to be published on website:</label>
                          <div *ngIf="isEditable || isReviseMode; else notes" style="min-width: 100%;">
                            <ckeditor  [(ngModel)]="item.wPublishedComments" [editor]="Editor" [config]="config" style="height: 200px; min-width: 100%;"></ckeditor>
                           
                          </div>
                          <ng-template #notes>
                            <p class="comments" [innerHTML]="item.wPublishedComments"></p>
                          </ng-template>
                        </div>
                        <div class="popup-header">
                          <h3></h3>
                        </div>
                        <div class="add-address-btn-container">
                          <button class="addAddressBtn" (click)="addNewCommentsOnReviseMode()" *ngIf="isReviseMode">
                            Add Comment
                          </button>
                        </div>
                        
                        <div *ngFor="let reviewItem of newComments; let itemIndex = index" style="min-width: 100%;" class="input-field fullwidth">
                          <div *ngFor="let finding of reviewItem.firmRptReviewFindings; let commentIndex = index" class="commit-container">
                            <div *ngIf="isReviseMode" class="del-address-container">
                              <button class="RmvTrashBtn bi-trash" (click)="removeComment(itemIndex, commentIndex)"> </button>
                            </div>
                            <label for="notes-{{ commentIndex }}">Comments/Findings :</label>
                            
                            <!-- CKEditor in revise mode -->
                            <div style="min-width: 100%;" *ngIf="isReviseMode || isEditable; else notes">
                              <ckeditor [(ngModel)]="finding.firmRptReviewFindings" [editor]="Editor" [config]="config" style="height: 200px; min-width: 100%;"></ckeditor>

                            </div>
                            
                            <!-- Read-only mode -->
                            <ng-template #notes>
                              <p class="comments" [innerHTML]="finding.firmRptReviewFindings"></p>
                            </ng-template>
                          </div>
                        </div>
                        
                        <div class="add-address-btn-container" *ngIf="isReviseMode">
                          <button class="addAddressBtn" (click)="saveComments()">
                            Save Comments
                          </button>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="rpt-list margin-top-10" >
              <div class="popup-header">
                  <h3> Items Requiring Follow-Up/Action</h3>
              </div>
              <table *ngIf="ActionItems.length != 0" class="fund-status-table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Action To Be Taken</th>
                    <th>Due Date</th>
                    <th>Closed Date</th>
                    <th>Resolution</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ActionItem of ActionItems">
                    <td>{{ ActionItem.actionItemDesc }}</td>
                     <td></td> 
                    <td>{{ ActionItem.createdDate }}</td>
                    <td>{{ ActionItem.completionDate }}</td>
                    <td>{{ ActionItem.resolution }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="add-address-btn-container">
                <button class="addAddressBtn" *ngIf="!isEditable || !isReviseMode" (click)="addFollowUpItem()" >
                  Add Action
                </button>
              </div>
              <div class="inputs-row report-entry" *ngFor="let followUp of followUpItems; let i = index">
                <div  class="del-address-container">
                  <button class="RmvTrashBtn bi-trash" *ngIf="!isEditable || !isReviseMode" (click)="removeFollowUpItem(i)"> </button>
                </div>
                <div class="input-field">
                  <label for="item-{{ i }}">Item</label>
                  <input
                    type="text"
                    id="item-{{ i }}"
                    name="item"
                    [(ngModel)]="followUp.item"
                  />
                </div>
            
                <div class="input-field-notes">
                  <label for="actionsTaken-{{ i }}">Actions To Be Taken</label>
                  <ckeditor
                    [(ngModel)]="followUp.actionsTaken"
                    [editor]="Editor"
                    [config]="config"
                    style="height: 200px; min-width: 100%;"
                  ></ckeditor>
                </div>
            
                <div class="input-field">
                  <label for="dueDate-{{ i }}">Due Date</label>
                  <input
                    type="text"
                    id="dueDate-{{ i }}"
                    name="dueDate"
                    [(ngModel)]="followUp.dueDate"
                  />
                </div>
            
                <div class="input-field">
                  <label for="closedDate-{{ i }}">Closed Date</label>
                  <input
                    type="text"
                    id="closedDate-{{ i }}"
                    name="closedDate"
                    [(ngModel)]="followUp.closedDate"
                  />
                </div>
            
                <div class="input-field-notes">
                  <label for="resolution-{{ i }}">Resolution</label>
                  <ckeditor
                    [(ngModel)]="followUp.resolution"
                    [editor]="Editor"
                    [config]="config"
                    style="height: 200px; min-width: 100%;"
                  ></ckeditor>
                </div>
              </div>
            </div>
            
              <!-- <app-review
                [firmId]="firmId"
                [firmDetails]="firmDetails"
                [isEditable]="isEditable"
                [pageName]="Page.ReturnsReview"
                [Review]="UserObjectWfTasks" 
                [addtlReviewRequired]="firmRevDetails.addtlReviewRequired"
                [addtlReviewRequiredDecisionMadeByName]="firmRevDetails.addtlReviewRequiredDecisionMadeByName"
                [addtlReviewRequiredDecisionMadeOn]="firmRevDetails.addtlReviewRequiredDecisionMadeOn"
                [isReviseMode]="isReviseMode"
                [UserObjectWfTasks]="UserObjectWfTasks"
              >  -->            

              <div class="btn justify-content-end">
                <button (click)="EditMode()" *ngIf="!isEditable">
                  <i class="bi bi-pen"></i> Edit
                </button>
                <button (click)="CreateNewVerisionConfirmation()" *ngIf="!isReviseMode && firmRevDetails.maxRevisionNum == review.RptReviewRevNum">
                  <i class="bi bi-pencil-square"></i> Revise
                </button>
                
                 <app-workflow
                 [firmId]="firmId"
                 [firmDetails]="firmDetails"
                 [pageName]="Page.ReturnsReview"
                 [review]="UserObjectWfTasks"
                 [isReviseMode]="isReviseMode"
                 >
                 </app-workflow>
                <button *ngIf="!isEditable">
                  <i class="bi bi-trash"></i> Delete
                </button>
                <button *ngIf="isEditable">
                  Save
                </button>
                <button class="cancel-btn" *ngIf="isEditable">
                  Cancel
                </button>
              </div>
        </div>
    </div> 
</div>
