<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
    <div class="popupcontainer Rptpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
        <!-- Title -->
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Return Review For {{ firmDetails?.FirmName }} ({{firmDetails.QFCNum}})
                </h3>
            </div>
            <!-- Save and Cancel Buttons -->
            <button class="close-button  close-icon" (click)="onClose()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>
        <div class="reporting-schedule-form">
            <div class="inputs-row" >
                <div class="input-field">
                    <label for="revisionNumber">Revision Number</label>
                    <input type="text" id="revisionNumber" name="revisionNumber"
                    [(ngModel)]="firmRevDetails.firmRptReviewRevNum"  [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="QFCNumber">QFC Number</label>
                    <input type="text" id="QFCNumber" name="QFCNumber"
                    [(ngModel)]="firmDetails.QFCNum"   [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="prudentialCategory">Prudential Category</label>
                    <input type="text" id="prudentialCategory" name="prudentialCategory"
                    [(ngModel)]="firmDetails.PrudentialCategoryTypeDesc"  [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="legalStatus">Legal Status</label>
                    <input type="text" id="legalStatus" name="legalStatus"
                    [(ngModel)]="firmDetails.LegalStatusTypeDesc"   [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="reportingBasis">Reporting Basis</label>
                    <input type="text" id="reportingBasis" name="reportingBasis"
                    [(ngModel)]="ReportingBasis.FirmRptBasisTypeDesc"  [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="leadRegulator">Lead Regulator</label>
                    <input type="text" id="leadRegulator" name="leadRegulator" [(ngModel)]="RegulatorData"                         [disabled]="!isEditable" />
                </div>
            </div>
            <div class="rpt-list margin-top-10">
                <div class="popup-header">
                    <h3>Report Reviewed</h3>
                </div>

                <ng-container >
                    <div class="inputs-row report-entry" *ngFor="let item of firmRevDetails.firmRptReviewItems; let i = index">
                        <div class="input-field">
                          <label for="reportTypeEntry-{{ i }}">Report to be Reviewed</label>
                          <input
                            type="text"
                            id="reportTypeEntry-{{ i }}"
                            name="reportTypeEntry"
                            [disabled]="!isEditable"
                            [(ngModel)]="item.reportReceivedDesc"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="submissionType-{{ i }}">Report Due Date</label>
                          <input
                            type="text"
                            id="submissionType-{{ i }}"
                            name="submissionType"
                            [disabled]="!isEditable"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodStartDate-{{ i }}">Reporting Period Start Date</label>
                          <input
                            type="text"
                            id="reportingPeriodStartDate-{{ i }}"
                            name="reportingPeriodStartDate"
                            [disabled]="!isEditable"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodEndDate-{{ i }}">Reporting Period End Date</label>
                          <input
                            type="text"
                            id="reportingPeriodEndDate-{{ i }}"
                            name="reportingPeriodEndDate"
                            [disabled]="!isEditable"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportName-{{ i }}">Link To Report</label>
                          <a
                            id="websiteLink-{{ i }}"
                            *ngIf="!isEditable"
                            [href]="item.DocFileLocation"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            {{ item.report }}
                          </a>
                        </div>
                      
                        <div class="input-field">
                          <label for="dueDate-{{ i }}">Report Received Date</label>
                          <input
                            type="text"
                            id="dueDate-{{ i }}"
                            name="dueDate"
                            [disabled]="!isEditable"
                            [(ngModel)]="item.receivedDate"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="materiallyComplete-{{ i }}">Materially Complete</label>
                          <ng-container>
                            <div style="display: flex; align-items: center">
                              <input
                                type="radio"
                                id="materiallyCompleteYes-{{ i }}"
                                [disabled]="!isEditable"
                                name="materiallyComplete-{{ i }}"
                                [value]="true"
                                [(ngModel)]="item.materiallyComplete"
                                style="margin-right: 10px; cursor: pointer"
                              />
                              <label for="materiallyCompleteYes-{{ i }}" style="margin-left: 5px; color: #413b3c">Yes</label>
                      
                              <input
                                type="radio"
                                id="materiallyCompleteNo-{{ i }}"
                                [disabled]="!isEditable"
                                name="materiallyComplete-{{ i }}"
                                [value]="false"
                                [(ngModel)]="item.materiallyComplete"
                                style="margin-left: 20px; margin-right: 10px; cursor: pointer;"
                              />
                              <label for="materiallyCompleteNo-{{ i }}" style="margin-left: 5px; color: #413b3c">No</label>
                            </div>
                          </ng-container>
                        </div>
                      
                        <div class="input-field fullwidth">
                          <label for="notes-{{ i }}">Comments/Findings :</label>
                          <ckeditor *ngIf="isEditable; else notes" [(ngModel)]="item.firmRptReviewFindings[i].firmRptReviewFindings" [editor]="Editor" style="height: 200px;" [config]="config"></ckeditor>
                          <ng-template #notes>
                            <p class="comments" [innerHTML]="item.firmRptReviewFindings[i].firmRptReviewFindings">
                            </p>
                          </ng-template>
                        </div>
                      </div>
                </ng-container>
            </div>
            <div class="rpt-list margin-top-10">
                <div class="popup-header">
                    <h3>Review</h3>
                </div>
                <div class="inputs-row report-entry" >
                    <div class="input-field">
                        <label for="required">Materially Complete</label>
                        <ng-container>
                            <div style="display: flex; align-items: center">
                                <input type="radio" [(ngModel)]="firmRevDetails.addtlReviewRequired" id="isRequiredYes" 
                                [disabled]="!isEditable"  name="IsRequired" [value]="true" style="margin-right: 10px; cursor: pointer" />
                                <label for="isRequiredYes" style="margin-left: 5px; color: #413b3c">Yes</label>
    
                                <input type="radio" [(ngModel)]="firmRevDetails.addtlReviewRequired" id="isRequiredNo" 
                                [disabled]="!isEditable"  name="IsRequired" [value]="false" style="
                                    margin-left: 20px;
                                    margin-right: 10px;
                                    cursor: pointer;
                                  " />
                                <label for="isRequiredNo"  style="margin-left: 5px; color: #413b3c">No</label>
                                <input type="radio" [(ngModel)]="firmRevDetails.addtlReviewRequired" id="isRequiredNo" 
                                [disabled]="!isEditable"  name="IsRequired" [value]="false" style="
                                    margin-left: 20px;
                                    margin-right: 10px;
                                    cursor: pointer;
                                  " />
                                <label for="isRequiredNo" style="margin-left: 5px; color: #413b3c">Not Yet
                                </label>
                            </div>
                        </ng-container>
                        <ng-template #FirmRptReqdBitValue>
                            <span style="margin-left: 10px; color: #413b3c">
                                
                            </span>
                        </ng-template>
                    </div>
                    <div class="input-field">
                        <label for="submissionStatus">Additional Review Required Decision Made By</label>
                        <input type="text" id="submissionStatus" [(ngModel)]="firmRevDetails.addtlReviewRequiredDecisionMadeByName"  name="submissionStatus"
                             [disabled]="!isEditable" />
                    </div>
                    <div class="input-field">
                        <label for="submissionStatus">Additional Review Required Decision Made On</label>
                        <input type="text" id="submissionStatus" name="submissionStatus"
                             [disabled]="!isEditable" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
