<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
    <div class="popupcontainer Journalpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
        <!-- Title -->
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Journal Entry For {{ firmDetails?.FirmName }}
                </h3>
            </div>
            <button class="close-button  close-icon" (click)="onClose()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>


        <div class="journal-form">
            <div class="error-messages">
                <p *ngIf="errorMessages['EntryType']">
                    {{ errorMessages['EntryType'] }}
                </p>
                <p *ngIf="errorMessages['EntryDate']">
                    {{ errorMessages['EntryDate'] }}
                </p>
                <p *ngIf="errorMessages['EntryTitle']">
                    {{ errorMessages['EntryTitle'] }}
                </p>
                <p *ngIf="errorMessages['CheckboxSelection']">
                    {{ errorMessages['CheckboxSelection'] }}
                </p>
                <p *ngIf="errorMessages['AI']">
                    {{ errorMessages['AI'] }}
                </p>
                <p *ngIf="errorMessages['EA']">
                    {{ errorMessages['EA'] }}
                </p>
                <p *ngIf="errorMessages['RI']">
                    {{ errorMessages['RI'] }}
                </p>
                <p *ngIf="errorMessages['Others']">
                    {{ errorMessages['Others'] }}
                </p>
            </div>
            <div class="inputs-row">
                <div class="input-field">
                    <label for="entryType">Entry Type <span *ngIf="isEditModeJournal || isCreate"
                            style="color: red;">*</span></label>
                    <select *ngIf="isEditModeJournal || isCreate; else entryTypedropdown"
                        [(ngModel)]="journalDetails[0].JournalEntryTypeID" name="entryType" id="entryType" [ngClass]="{
                            'error-border': errorMessages['EntryType']}">
                        <option [value]="0">Select</option>
                        <option *ngFor="let option of alljournalEntryTypes" [value]="option.JournalEntryTypeID">
                            {{option.JournalEntryTypeDesc}}</option>
                    </select>
                    <ng-template #entryTypedropdown>
                        <input disabled [(ngModel)]="journalDetails[0].JournalEntryTypeDesc" type="text">
                    </ng-template>
                </div>

                <div class="input-field">
                    <label for="entryDate">Entry Date <span *ngIf="isEditModeJournal || isCreate"
                            style="color: red;">*</span></label>
                    <input [disabled]="!isEditModeJournal && !isCreate" [(ngModel)]="journalDetails[0].EntryDate"
                        type="text" id="entryDate" name="entryDate" #dateInputs [ngClass]="{
                            'error-border': errorMessages['EntryDate']}" />
                </div>

                <div class="input-field">
                    <label for="enteredBy">Entered By</label>
                    <input disabled type="text" [(ngModel)]="journalDetails[0].EntryByUser" id="enteredBy"
                        name="enteredBy" />
                </div>

                <div class="input-field">
                    <label for="lastmodifiedBy">Last Modified By</label>
                    <input disabled type="text" [(ngModel)]="journalDetails[0].LastModifiedBy" id="lastmodifiedBy"
                        name="lastmodifiedBy" />
                </div>

                <div class="input-field">
                    <label for="lastmodifiedBy">Title <span *ngIf="isEditModeJournal || isCreate"
                            style="color: red;">*</span></label>
                    <input [disabled]="!isEditModeJournal && !isCreate" [(ngModel)]="journalDetails[0].EntryTitle"
                        type="text" id="lastmodifiedBy" name="lastmodifiedBy" [ngClass]="{
                            'error-border': errorMessages['EntryTitle']}" />
                </div>

                <div class="subject-container">
                    <label class="subject-label" for="subject">
                        Subject
                        <span *ngIf="isEditModeJournal || isCreate" style="color: red;">*</span>
                    </label>


                    <table class="subject-table fixed-width-table">
                        <tr *ngFor="let subject of ((isEditModeJournal || isCreate ) ? journalSubjectTypes : subjectData)"
                            [hidden]="!isEditModeJournal && !subject.isSelected && !isCreate">
                            <!-- Checkbox column -->
                            <td class="checkbox-column">
                                <input type="checkbox" [disabled]="!isEditModeJournal && !isCreate"
                                    [checked]="subject.isSelected" (change)="toggleSelection(subject, $event)" />
                            </td>

                            <!-- Description column -->
                            <td class="desc-column">{{ subject.JournalSubjectTypeDesc }}</td>

                            <!-- Action column -->
                            <td class="action-column">
                                <ng-container *ngIf="subject.isSelected">
                                    <ng-container *ngIf="isEditModeJournal || isCreate">
                                        <!-- Dropdown options -->
                                        <ng-container *ngIf="getDropdownOptions(subject).length > 0; else otherInput">
                                            <select class="subject-dropdown" [(ngModel)]="subject.selectedValue"
                                                [ngClass]="{'error-border': hasDropdownError(subject.ObjectID)}">
                                                <option [value]="0">Select</option>
                                                <option *ngFor="let option of getDropdownOptions(subject)"
                                                    [value]="option.value">
                                                    {{ option.label }}
                                                </option>
                                            </select>
                                        </ng-container>

                                        <!-- Input field for "Others" -->
                                        <ng-template #otherInput>
                                            <input class="others-text" *ngIf="subject.JournalSubjectTypeID === 4"
                                                type="text" [(ngModel)]="subject.JournalSubjectOtherDesc"
                                                [ngClass]="{'error-border': hasOtherInputError(subject)}" />
                                        </ng-template>
                                    </ng-container>

                                    <!-- Static text for checked items in view mode -->
                                    <ng-container *ngIf="!isEditModeJournal">
                                        {{ subject.ObjectInstanceDesc || subject.JournalSubjectOtherDesc || '' }}
                                    </ng-container>
                                </ng-container>
                            </td>
                        </tr>
                    </table>





                </div>


                <div class="input-field notes">
                    <label for="notes">Notes</label>
                    <div>
                        <ckeditor *ngIf="isEditModeJournal || isCreate; else notes"
                            [(ngModel)]="journalDetails[0].EntryNotes" [editor]="Editor" [config]="config"></ckeditor>
                    </div>
                    <ng-template #notes>
                        <p [innerHTML]="sanitizeHtml(journalDetails[0].EntryNotes)">
                        </p>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="journalDetails[0].IsDeleted" class="inputs-row">
                <div class="input-field">
                    <label for="deletedBy">Deleted By</label>
                    <input disabled type="text" [(ngModel)]="journalDetails[0].DeletedBy" id="deletedBy"
                        name="deletedBy" />
                </div>

                <div class="input-field">
                    <label for="deletedDate">Deleted Date</label>
                    <input disabled type="text" [(ngModel)]="journalDetails[0].DeletedDate" id="deletedDate"
                        name="deletedDate" />
                </div>

                <div class="input-field">
                    <label for="reasonForDeletion">Reason for deletion</label>
                    <input disabled type="text" [(ngModel)]="journalDetails[0].ReasonForDeletion" id="reasonForDeletion"
                        name="reasonForDeletion" />
                </div>
            </div>

            <!-- Attachment Section -->

            <div class="attachment">
                <div class="popup-header">
                    <h3>Attachment (if any)</h3>
                </div>
                <ng-container *ngIf="fetchedDocumentTypes">
                    <app-attachment 
                      [documentObj]="documentObj" 
                      [tableDoc]="journalDoc" 
                      [isEdit]="isEditModeJournal" 
                      [ismultiple]="true" 
                      [documentTypes]="fetchedDocumentTypes" 
                      [loadDocuments]="loadDocuments.bind(this)"
                      (documentUploaded)="onDocumentUploaded($event)" 
                      [selectedFiles]="selectedFiles"
                      (selectedFilesChange)="handleSelectedFilesChange($event)">
                    </app-attachment>
                  </ng-container>
            </div>

            <!-- Action Buttons -->
            <div class="btn justify-content-end">
                <button *ngIf="!hideExportBtn">
                    <i class="bi bi-file-earmark-text"></i> Export to word
                </button>

                <button (click)="editJournal()" *ngIf="getControlVisibility('imgBtnEdit') && !hideEditBtn"
                    [disabled]="!getControlEnablement('imgBtnEdit')">
                    <i class="bi bi-pen"></i> Edit
                </button>

                <button (click)="saveJournal()" *ngIf="!hideSaveBtn">
                    Save
                </button>

                <button class="cancel-btn" *ngIf="!hideCancelBtn" (click)="cancelJournal()">
                    Cancel
                </button>

                <button (click)="getJournalDeletePopup()"
                    *ngIf="getControlVisibility('imgBtnDelete') || !hideDeleteBtn">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="callDeleteJournal" class="overlay show"></div>
<div *ngIf="callDeleteJournal" class="JournalDeletion popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeDeleteJournalPopup()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Reason for Deletion</h3>
        </div>
        <div class="input-field delete-textarea">
            <textarea [(ngModel)]="reasonOfDeletion" name="deleteReason" id="deleteReason">
            </textarea>
        </div>
        <div class="btns-container">
            <button class="butt ok-butt" (click)="deleteJournal()">Ok</button>
            <button class="butt cancel-butt" (click)="closeDeleteJournalPopup()">Cancel</button>
        </div>
    </div>
</div>