.popupcontainer .input-field {
    width: 31%;
}

.popupcontainer .fullwidth {
    width: 100%;
}

.popupcontainer .inputs-row {
    gap: 3.5%;
    justify-content: flex-start;
    padding: 0px;
}

.popupcontainer.Journalpopupcontainer {
    max-height: 97vh;
    width: 96vw;
}

.btn button {
    margin-bottom: 5px;
}

.notes {
    width: 100% !important;
    margin-top: 10px;

    > div {
        width: 100% !important;
    }
    .notes-text {
        padding: 10px;
    }
}


.subject-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}


.subject-table {
    border-radius: 15px;
}

.delete-textarea {
    width: 100% !important;
}

.btns-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ok-butt {
    background-color: #a51e36;
}

.cancel-butt {
    background-color: #6e7881;
}

.butt {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: .25em;
    color: #fff;
    font-size: 1em;
    margin: .3125em;
    padding: .625em 1.1em;
    transition: box-shadow .1s;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
    font-weight: 500;
}

.subject-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.subject-table td {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox-column {
    width: 3%;
    text-align: center;
    vertical-align: middle;
}

.desc-column {
    width: 30%;
}

.action-column {
    width: 67%;
}

.subject-dropdown {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 0.9rem;
    outline: none;
    transition: border 0.3s ease;
    width: 50%;
    padding: 0.5rem 1%;
    box-sizing: border-box;
}

.others-text {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 0.9rem;
    outline: none;
    transition: border 0.3s ease;
    width: 50%;
    padding: 0.5rem 10px;
    box-sizing: border-box;
}