.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exportBtn {
    padding-top: 0.5rem;
}

.tab-container{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}
.btns button {
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
    ;
}

.btns button i {
    margin: 0 2px;
}

.task-page {
    width: 98%;
    margin: auto;
}