.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    padding: 10px;
}

.nav {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}

.nav li {
    flex: 1;
}

.nav li a {
    display: block;
    text-wrap: nowrap;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-right: 1px solid #ddd;
    font-size: 0.9rem;
}

.nav li a:hover {
    background-color: #ddd;
}

.active {
    background-color: #A51E36;
    color: white!important;
}

.active:hover {
    background: #A51E36!important;
}

.nav li:last-child a {
    border-right: none;
}

.btns button{
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;;
  }
  .btns button i{
    margin: 0 2px;
  }