.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// .exportBtn {
//     padding-top: 0.5rem;
// }

// .btns button {
//     background: #A51E36;
//     padding: 0.5rem 1rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border: none;
//     border-radius: 10px;
//     color: white;
//     min-width: 6rem;
//     min-height: 40px;
//     ;
// }

// .btns button i {
//     margin: 0 2px;
// }
.exportBtn {
    padding-top: 0.5rem;
}

.btns button {
    background: #A51E36;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 3rem; /* Adjusted to fit the icon */
    min-height: 40px;
    position: relative;
    width: auto; /* Button width adjusts automatically */
}

.btns button i {
    font-size: 1.5rem; /* Increase icon size */
    margin: 0 2px;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

.btns button .export-text {
    display: none;
    transition: opacity 0.3s ease;
}

.btns button:hover {
    padding: 0.5rem 1rem; /* Button size on hover to fit text */
}

.btns button:hover i {
    display: none;
}

.btns button:hover .export-text {
    display: inline;
}


.task-page {
    width: 98%;
    margin: auto;
}

// Tab Style 
.menu-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}


.nav {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    
    li {
        margin: 0 10px;

        a {
            display: inline-block;
            padding: 12px 20px;
            font-size: 16px;
            color: #555;
            text-decoration: none;
            background-color: #f1f5f9;
            border-radius: 30px;
            font-weight: 500;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

            /* Adding space between icon and text */
            i {
                margin-right: 8px;
            }

            &:hover {
                background-color: #e2e8f0;
                color: #333;
            }

            &.active {
                background-color: #A51E36;
                color: #fff;
                font-weight: 600;
                box-shadow: 0 4px 10px rgba(90, 103, 216, 0.2);
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;

        li {
            margin: 5px 0;
        }
    }
}

