<div class="task-page">
  <div class="breadcrumb-row">
    <div class="brid-crump">
      <div class="text">
        <span> Home > </span>All Tasks
      </div>
    </div>
    <div class="btns exportBtn">
      <button>
        <i class="bi bi-file-earmark-text"></i>
        Export to Excel
      </button>
    </div>
  </div>
<div class="container">
    <div class="menu-container tab-container">
      <ul class="nav">
        <li><a routerLink='/home/tasks-page/AssignedTasks' routerLinkActive="active">Assigned Task(s)</a></li>
        <li><a routerLink='/home/tasks-page/ShadowSupervisor' routerLinkActive="active">As Shadow Supervisor</a></li>
        <li><a routerLink='/home/tasks-page/TasksIAssigned' routerLinkActive="active">Tasks I've Assigned</a></li>
        <li><a routerLink='' routerLinkActive="active">empty for now</a></li>
        <li><a routerLink='/home/tasks-page/CreateReminder' routerLinkActive="active">Create Reminder</a></li>
      </ul>
    </div>
  </div>
<app-task-list [isMainView] = "true"></app-task-list>
</div>
