<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
  <div class="inputs-field-set">
    <div class="section">
      <div class="contacts-header">
        <h2 class="edit-firm-header">
          Contacts > <span>{{ firmDetails?.FirmName }}</span>
        </h2>
        <div class="btn">
          <button (click)="createContact()"
          >
            <i class="bi bi-plus"></i>
            Create
          </button>
        </div>
      </div>
      <span class="enhanced-checkbox">
        <input id="InactiveContacts" type="checkbox" (change)="onInactiveContactsToggle($event)" />
        <label for="InactiveContacts">Display Inactive Contacts</label>
      </span>
      <table class="contacts-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact Type</th>
            <th>Contact Form</th>
            <th>Position/Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of filteredContacts" (click)="openContactPopup(contact)">
            <td>{{ contact.FullName }}</td>
            <td>{{ contact.ContactTypeDesc }}</td>
            <td>{{ contact?.ContactMethodTypeDesc }}</td>
            <td>{{ contact.JobTitle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Create Contact Popup -->
  <div *ngIf="showCreateContactSection" class="contollerPopupOverlay">
    <div class="contollerPopupContent" (click)="$event.stopPropagation()">
      <div class="popup-title-btn-row">
        <div class="popup-header">
          <h3>Contact For {{ firmDetails?.FirmName }}</h3>
        </div>
        <button (click)="closeCreateContactPopup()" class="close-button">
          <i class="bi bi-x-circle close-icon"></i>
        </button>
        <div class="btn"></div>
      </div>

      <div class="error-messages">
        <p *ngIf="errorMessages['contactType']">
          {{ errorMessages['contactType'] }}
        </p>
        <p *ngIf="errorMessages['isPeP']">
          {{ errorMessages['isPeP'] }}
        </p>
        <p *ngIf="errorMessages['firstName']">
          {{ errorMessages['firstName'] }}
        </p>
        <p *ngIf="errorMessages['busEmail']">
          {{ errorMessages['busEmail'] }}
        </p>
      </div>
      <div class="inputs-row">
        <!-- <div class="input-field">
          <label for="contactFrom">
            Contact From <span style="color: red">*</span>
          </label>
          <select name="contactFrom" id="contactFrom" [(ngModel)]="selectedContactFrom"
            (ngModelChange)="onContactFromChange($event)">
            <option value="select" selected>Select</option>
            <option *ngFor="let ContactFrom of AllContactFrom" [value]="ContactFrom.EntityTypeID">
              {{ ContactFrom.EntityTypeName }}
            </option>
          </select>
        </div> -->
        <div class="input-field">
          <label for="contactFrom">Contact From <span style="color: red">*</span></label>
          <select name="contactFrom" id="contactFrom" [(ngModel)]="selectedContactFrom"
            (ngModelChange)="onContactFromChange($event)">
            <option value="select">Select</option>
            <option *ngFor="let ContactFrom of AllContactFrom" [value]="ContactFrom.EntityTypeID">
              {{ ContactFrom.EntityTypeName }}
            </option>
          </select>
        </div>
        <div class="input-field" style="width: 100%" *ngIf="isFirmSelected()">
          <label for="aIsContactTypeID">
            Is contact information being provided for an approved individual or an individual who has applied for
            approval of controlled functions?
          </label>
          <div class="radio-wrapper">
            <input type="radio" id="true" name="aIsContactTypeID" [(ngModel)]="createContactObj.aIsContactTypeID"
              [value]="true" /> Yes

            <input type="radio" id="false" name="aIsContactTypeID" [(ngModel)]="createContactObj.aIsContactTypeID"
              [value]="false" /> No
          </div>
        </div>


        <!-- Available Contacts Section -->
        <div class="input-field" *ngIf="isFirmSelected()">
          <label for="contactType">Available Contacts</label>
          <select name="contactType" id="contactType" [(ngModel)]="Column2" (ngModelChange)="onContactChange($event)"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === false ">
            <option value="select" selected>Select</option>
            <option *ngFor="let AvilabilContact of allAvailableContact" [ngValue]="AvilabilContact.Column1">
              {{ AvilabilContact.Column2 }}
            </option>
          </select>
        </div>

        <!-- Contact Type Section -->
        <div class="input-field">
          <label for="contactType">Contact Type<span style="color: red">&nbsp;*</span></label>
          <select name="contactType" id="contactType"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true &&  !selectedAvilableContact"
            [(ngModel)]="createContactObj.contactType">
            <option value="select" selected>Select</option>
            <option *ngFor="let contactType of contactTypeOption" [ngValue]="contactType.ContactTypeID">
              {{ contactType.ContactTypeDesc }}
            </option>
          </select>
        </div>

        <!-- PEP Section -->
        <div class="input-field">
          <label for="isPEP">Is Politically Exposed Person (PEP)?<span style="color: red">&nbsp;*</span></label>
          <div class="radio-wrapper">
            <input name="isPEP" id="yes" type="radio" [value]="true"
              [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true &&  !selectedAvilableContact"
              [(ngModel)]="createContactObj.isPeP" />
            Yes
            <input name="isPEP" id="no" type="radio" [value]="false"
              [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
              [(ngModel)]="createContactObj.isPeP" />
            No
          </div>
        </div>

        <!-- Position/Job Title Section -->
        <div class="input-field">
          <label for="position/JobTitle">Position/Job Title</label>
          <input name="position/JobTitle" id="position/JobTitle" type="text"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true &&  !selectedAvilableContact"
            [(ngModel)]="createContactObj.jobTitle" />
        </div>

        <!-- Title Section -->
        <div class="input-field">
          <label for="Title">Title</label>
          <select name="Title" id="Title"
            [disabled]="createContactObj.aIsContactTypeID === null && !selectedAvilableContact"
            [(ngModel)]="createContactObj.title">
            <option *ngFor="let title of Titles" [value]="title.TitleDesc">
              {{ title.TitleDesc }}
            </option>
          </select>
        </div>

        <!-- First Name Section -->
        <div class="input-field">
          <label for="firstName">First Name<span style="color: red">&nbsp;*</span></label>
          <input name="firstName" id="firstName" type="text" [disabled]="createContactObj.aIsContactTypeID === null"
            [(ngModel)]="createContactObj.firstName" (blur)="onNameBlur()" />
        </div>

        <!-- Second Name Section -->
        <div class="input-field">
          <label for="SecondName">Second Name</label>
          <input name="SecondName" id="SecondName" type="text" [disabled]="createContactObj.aIsContactTypeID === null"
            [(ngModel)]="createContactObj.secondName" (blur)="onNameBlur()" />
        </div>

        <!-- Family Name Section -->
        <div class="input-field">
          <label for="FamilyName">Family Name</label>
          <input name="FamilyName" id="FamilyName" type="text" [disabled]="createContactObj.aIsContactTypeID === null"
            [(ngModel)]="createContactObj.familyName" />
        </div>

        <!-- Mobile Phone Section -->
        <div class="input-field">
          <label for="MobilePhone">Mobile Phone</label>
          <input name="MobilePhone" id="MobilePhone" type="text"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true && !selectedAvilableContact"
            [(ngModel)]="createContactObj.mobileNum" (blur)="checkMobileNumberExists(createContactObj.mobileNum)" />
        </div>

        <!-- Fax Section -->
        <div class="input-field">
          <label for="Fax">Fax</label>
          <input name="Fax" id="Fax" type="text"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true && !selectedAvilableContact"
            [(ngModel)]="createContactObj.fax" />
        </div>

        <!-- Business Phone Section -->
        <div class="input-field">
          <label for="BusinessPhone">Business Phone</label>
          <input name="BusinessPhone" id="BusinessPhone" type="text"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true && !selectedAvilableContact"
            [(ngModel)]="createContactObj.busPhone" />
        </div>

        <!-- Business Email Section -->
        <div class="input-field">
          <label for="BusinessEmail">Business Email</label>
          <input name="BusinessEmail" id="BusinessEmail" type="text"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true && !selectedAvilableContact"
            [(ngModel)]="createContactObj.busEmail" />
        </div>

        <!-- Other Email Section -->
        <div class="input-field">
          <label for="OtherEmail">Other Email</label>
          <input name="OtherEmail" id="OtherEmail" type="text"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true && !selectedAvilableContact"
            [(ngModel)]="createContactObj.otherEmail" />
        </div>

        <!-- Method of Contact Section -->
        <div class="input-field">
          <label for="MethodofContact">Preferred Method of Contact</label>
          <select name="MethodofContact" id="MethodofContact"
            [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true && !selectedAvilableContact"
            [(ngModel)]="createContactObj.ContactMethodTypeID">
            <option *ngFor="let MethodofContact of MethodofContactOption" [value]="MethodofContact.ContactMethodTypeID">
              {{ MethodofContact.ContactMethodTypeDesc }}
            </option>
          </select>
        </div>
      </div>

      <div class="addresses create-inputs-field-set" *ngIf="firmDetails.FirmTypeID === 2">
        <div class="popup-header">
          <h3>DNFBP Functions</h3>
        </div>
        <div class="functions-table">
          <div class="functions-row">
            <div style="width: 20%;" class="input-field">
              <label>Function(s)</label>
            </div>
            <div style="width: 20%;" class="input-field">
              <label>Effective Date</label>
            </div>
            <div style="width: 20%;" class="input-field">
              <label>End Date</label>
            </div>
            <div style="width: 20%;" class="input-field">
              <label>Review Status</label>
            </div>
          </div>
          <!-- DNFBP Functions Section -->
          <div class="functions-row" *ngFor="let ContactFunctionType of ContactFunctionTypeList">
            <!-- Checkbox for selecting contact function -->
            <div style="width: 20%;" class="input-field">
              <label>
                <input type="checkbox" [(ngModel)]="ContactFunctionType.isSelected"
                  (change)="onFunctionCheckboxChangeCreate(ContactFunctionType)" />
                {{ ContactFunctionType.contactFunctionTypeDesc }}
              </label>
            </div>

            <!-- Effective Date Input -->
            <div style="width: 20%;" class="input-field">
              <input type="text" #dateInputs placeholder placeholder="Effective Date"
                [(ngModel)]="ContactFunctionType.effectiveDate" [disabled]="!ContactFunctionType.isSelected" />
            </div>
            <!-- End Date Input -->
            <div style="width: 20%;" class="input-field">
              <input type="text" #dateInputs placeholder placeholder="End Date"
                [(ngModel)]="ContactFunctionType.endDate" [disabled]="!ContactFunctionType.isSelected" />
            </div>

            <!-- Review Status Input -->
            <div style="width: 20%;" class="input-field">
              <input type="text" [(ngModel)]="ContactFunctionType.reviewStatus" disabled placeholder="Review Status" />
            </div>
          </div>
          <!-- Additional Section for DNFBP MLRO -->
          <div class="functions-row" *ngIf="showMLROSection">
            <div class="input-field">
              <label for="ResidentStatus">Is the individual a Resident or Non-Resident of Qatar?</label>
              <select 
                name="ResidentStatus" 
                id="ResidentStatus" 
                [(ngModel)]="createResidentStateObj.attributeValue"
                (change)="onResidentStatusChange($event)">
                <option value="Resident">Resident</option>
                <option value="Non-Resident">Non-Resident</option>
              </select>
            </div>
          </div>
          <!-- <div class="functions-row">
            <div style="width: 20%;" class="input-field">
              <label><input type="checkbox" [(ngModel)]="ContactFunctionsObject.functionTypeDesc" /> DNFBP MLRO</label>
            </div>
            <div style="width: 20%;" class="input-field">
              <input type="input" #dateInputs placeholder [(ngModel)]="ContactFunctionsObject.effectiveDate"
                placeholder="Effective Date" />
            </div>
            <div style="width: 20%;" class="input-field">
              <input type="input" #dateInputs placeholder [(ngModel)]="ContactFunctionsObject.endDate"
                placeholder="End Date" />
            </div>
            <div style="width: 20%;" class="input-field">
              <select>
                <option value="">Select Status</option>
                <option></option>
              </select>
            </div>
          </div> -->
          <!-- <div class="functions-row">
            <div style="width: 20%;" class="input-field">
              <label><input type="checkbox" [(ngModel)]="ContactFunctionsObject.functionTypeDesc" /> DNFBP Deputy
                MLRO</label>
            </div>
            <div style="width: 20%;" class="input-field">
              <input type="input" #dateInputs placeholder [(ngModel)]="ContactFunctionsObject.effectiveDate"
                placeholder="Effective Date" />
            </div>
            <div style="width: 20%;" class="input-field">
              <input type="input" #dateInputs placeholder [(ngModel)]="ContactFunctionsObject.endDate"
                placeholder="End Date" />
            </div>
            <div style="width: 20%;" class="input-field">
              <select>
                <option value="">Select Status</option>
                <option></option>
              </select>
            </div>
          </div> -->
        </div>
      </div>
      <div class="addresses create-inputs-field-set">
        <div class="popup-header">
          <h3>Addresses</h3>
          <button [disabled]="!canAddNewAddressOnCreate" *ngIf="!isAllAddressesAddedOnCreate"
            (click)="addNewAddressOnCreateMode()" style="
                    background-color: green;
                    color: white;
                    border: none;
                    padding: 5px;
                    cursor: pointer;
                    border-radius: 5px;
                    float: right;
                  ">
            <i style="size: 7px" class="bi bi-plus-lg"></i>
          </button>
        </div>
        <ng-container *ngFor="let address of addedAddresses; let i = index">
          <div class="inputs-row">
            <div class="del-address-container">
              <button *ngIf="addedAddresses.length > 1" (click)="removeAddressOnCreateMode(i)"
                class="RmvAddressBtn bi-trash"></button>
            </div>
            <div class="input-field">
              <label for="addressType">
                Address Type
              </label>
              <select [(ngModel)]="address.AddressTypeID" [ngClass]="{
                        'error-border': address === invalidAddress}"
                [disabled]="address.isAddressTypeSelected || disableAddressFieldOnCreate"
                (change)="onAddressTypeChangeOnCreateMode($event,i)">
                <option value="0">Select</option>
                <option *ngFor="let option of allAddressTypes" [value]="option.AddressTypeID">
                  {{option.AddressTypeDesc}}</option>
              </select>
            </div>
            <div class="input-field" *ngIf="this.addedAddresses.length > 1">
              <label for="sameAsType">
                Same As Type
              </label>
              <select [(ngModel)]="address.SameAsTypeID" name="sameAsType" id="sameAsType"
                (ngModelChange)="onSameAsTypeChangeOnCreateMode($event,i)">
                <option value="0">Select</option>
                <option *ngFor="let type of getAvailableSameAsTypeOptionsOnCreateMode(i)" [value]="type.AddressTypeID">
                  {{type.AddressTypeDesc}}</option>
              </select>
            </div>
            <div class="input-field">
              <label for="addressLine1"> Address Line 1 </label>
              <input type="text" name="addressLine1" id="addressLine1" [(ngModel)]="address.AddressLine1"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="addressLine2"> Address Line 2 </label>
              <input name="addressLine2" id="addressLine2" type="text" [(ngModel)]="address.AddressLine2"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="addressLine3"> Address Line 3 </label>
              <input name="addressLine3" id="addressLine3" type="text" [(ngModel)]="address.AddressLine3"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="addressLine4"> Address Line 4 </label>
              <input name="addressLine4" id="addressLine4" type="text" [(ngModel)]="address.AddressLine4"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="city"> City </label>
              <input name="city" id="city" type="text" [(ngModel)]="address.City"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="state"> state/province </label>
              <input name="state" id="state" type="text" [(ngModel)]="address.Province"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="country"> Country </label>
              <select [(ngModel)]="address.CountryID" [disabled]="address.isFieldsDisabled">
                <option value="0">Select</option>
                <option *ngFor="let option of allCountries" [value]="option.CountryID">
                  {{ option?.CountryName }}
                </option>
              </select>
            </div>
            <div class="input-field">
              <label for="zip"> Zip/Postal Code </label>
              <input name="zip" id="zip" type="text" [(ngModel)]="address.PostalCode"
                [disabled]="address.isFieldsDisabled" />
            </div>
          </div>
          <hr *ngIf="i < addedAddresses.length - 1">
        </ng-container>
      </div>

      <div class="create--inputs-field-set">
        <div class="popup-header">
          <h3>Additional Informations</h3>
        </div>
        <!-- <div style="display: flex; flex-wrap: wrap; gap: 15px;">
          <label>
            <input type="checkbox" name="VIP" [value]="1" (change)="updateAdditionalInfo($event, 'VIP')" /> VIP
          </label>
          <label>
            <input type="checkbox" name="AnnualReport" [value]="3" (change)="updateAdditionalInfo($event, 'Annual Report')" /> Annual Report
          </label>
          <label>
            <input type="checkbox" name="ChristmasNewYear" [value]="4" (change)="updateAdditionalInfo($event, 'Christmas/New Year')" /> Christmas/New Year
          </label>
          <label>
            <input type="checkbox" name="EidCards" [value]="5" (change)="updateAdditionalInfo($event, 'Eid Cards')" /> Eid Cards
          </label>
          <label>
            <input type="checkbox" name="Publications" [value]="6" (change)="updateAdditionalInfo($event, 'Publications')" /> Publications
          </label>
        </div> -->
        <div style="display: flex; flex-wrap: wrap; gap: 15px;">
          <label>
            <input type="checkbox" name="VIP" [value]="1" (change)="updateAdditionalInfoCreate($event, 'VIP')" /> VIP
          </label>
          <label>
            <input type="checkbox" name="AnnualReport" [value]="3"
              (change)="updateAdditionalInfoCreate($event, 'Annual Report')" /> Annual Report
          </label>
          <label>
            <input type="checkbox" name="ChristmasNewYear" [value]="4"
              (change)="updateAdditionalInfoCreate($event, 'Christmas/New Year')" /> Christmas/New Year
          </label>
          <label>
            <input type="checkbox" name="EidCards" [value]="5"
              (change)="updateAdditionalInfoCreate($event, 'Eid Cards')" /> Eid Cards
          </label>
          <label>
            <input type="checkbox" name="Publications" [value]="6"
              (change)="updateAdditionalInfoCreate($event, 'Publications')" /> Publications
          </label>
        </div>
      </div>
      <div class="btn justify-content-end">
        <button class="save-btn" (click)="createContactPopup()">
          Save
        </button>
      </div>
    </div>
  </div>

  <!-- view Details & Edit Contact Popup -->
  <div *ngIf="isPopupVisible" class="contollerPopupOverlay">
    <div class="contollerPopupContent" (click)="$event.stopPropagation()">
      <!-- Title -->
      <div class="popup-title-btn-row">
        <div class="popup-header">
          <h3>Contact For {{ firmDetails?.FirmName }}</h3>
        </div>
        <button (click)="closeContactPopup()" class="close-button">
          <i class="bi bi-x-circle close-icon"></i>
        </button>
        <div class="btn"></div>
      </div>
      <div class="error-messages">
        <p *ngIf="errorMessages['contactTypeDesc']">
          {{ errorMessages['contactTypeDesc'] }}
        </p>
        <p *ngIf="errorMessages['isPEP']">
          {{ errorMessages['isPEP'] }}
        </p>
        <p *ngIf="errorMessages['firstName']">
          {{ errorMessages['firstName'] }}
        </p>
      </div>
      <div class="inputs-row">
        <div class="input-field">
          <label for="contactFrom">Contact Form</label>
          <input [value]="selectedContact.entityName" name="contactFrom" readonly />
        </div>
        <!-- <div class="input-field">
                <label for="contactFrom">
                  Contact From<span style="color: red">*</span>
                </label>
                <select name="contactFrom" id="contactFrom" [(ngModel)]="selectedContact.entityName" >
                  <option *ngFor="let ContactFrom of AllContactFrom" [ngValue]="ContactFrom.EntityTypeID">
                    {{ ContactFrom.EntityTypeName }}
                  </option>
                </select>
              </div> -->
        <!-- <div class="input-field" style="width: 100%" *ngIf="isFirmSelected()">
          <label for="aIsContactTypeID">
            Is contact information being provided for an approved individual or an individual who has applied for
            approval of controlled functions?
          </label>
          <div class="radio-wrapper">
            <input type="radio" id="true" name="aIsContactTypeID" [(ngModel)]="selectedContact.aIsContactTypeID"
              [value]="true" /> Yes

            <input type="radio" id="false" name="aIsContactTypeID" [(ngModel)]="selectedContact.aIsContactTypeID"
              [value]="false" /> No
          </div>
        </div> -->
        <!-- <div class="input-field" *ngIf="isFirmSelected()">
          <label for="contactType">
            Available Contacts
          </label>
          <select name="contactType" id="contactType" [(ngModel)]="selectedContact.entityTypeID"
            (ngModelChange)="onContactChange($event)"
            [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === false || !isEditContact">
            <option value="select" selected>Select</option>
            <option *ngFor="let AvilabilContact of AllAvilabilContact" [ngValue]="AvilabilContact.Column1">
              {{ AvilabilContact.Column2 }}
            </option>
          </select>
        </div> -->
        <div class="input-field">
          <label for="contactType">
            Contact Type<span style="color: red">*</span>
          </label>
          <select name="contactType" id="contactType" [(ngModel)]="selectedContact.contactTypeID"
            [disabled]="!isEditContact">
            <option value="select" selected>Select</option>
            <option *ngFor="let contactType of contactTypeOption" [ngValue]="contactType.ContactTypeID">
              {{ contactType.ContactTypeDesc }}
            </option>
          </select>
        </div>
        <div class="input-field">
          <label for="isPEP">
            Is Politically Exposed Person (PEP)?
            <span style="color: red">*</span>
          </label>
          <div class="radio-wrapper">
            <input name="isPEP" id="yes" type="radio" [value]="true" [(ngModel)]="selectedContact.isPEP"
              [disabled]="!isEditContact" />
            Yes
            <input name="isPEP" id="no" type="radio" [value]="false" [(ngModel)]="selectedContact.isPEP"
              [disabled]="!isEditContact" />
            No
          </div>
        </div>
        <div class="input-field">
          <label for="position/JobTitle"> Position/Job Title</label>
          <input name="position/JobTitle" id="position/JobTitle" type="text" [(ngModel)]="selectedContact.jobTitle"
            [disabled]="!isEditContact" />
        </div>
        <div class="input-field">
          <label for="Title"> Title </label>
          <select name="Title" id="Title" [(ngModel)]="selectedContact.title" [disabled]="!isEditContact">
            <option *ngFor="let title of Titles" [value]="title.TitleDesc">
              {{ title.TitleDesc }}
            </option>
          </select>
        </div>
        <div class="input-field">
          <label for="firstName"> First Name</label>
          <input name="firstName" id="firstName" type="text" [(ngModel)]="selectedContact.firstName"
            [disabled]="!isEditContact" />
        </div>
        <div class="input-field">
          <label for="SecondName"> Second Name</label>
          <input name="SecondName" id="SecondName" type="text" [(ngModel)]="selectedContact.secondName"
            [disabled]="!isEditContact" />
        </div>
        <div class="input-field">
          <label for="FamilyName"> Family Name</label>
          <input name="FamilyName" id="FamilyName" type="text" [(ngModel)]="selectedContact.familyName"
            [disabled]="!isEditContact" />
        </div>
        <div class="input-field">
          <label for="MobilePhone">Mobile Phone</label>
          <input name="MobilePhone" id="MobilePhone" type="text" [(ngModel)]="selectedContact.mobileNum"
            [disabled]="!isEditContact" />
        </div>

        <div class="input-field">
          <label for="Fax">Fax</label>
          <input name="Fax" id="Fax" type="text" [(ngModel)]="selectedContact.fax" [disabled]="!isEditContact" />
        </div>

        <div class="input-field">
          <label for="BusinessPhone">Business Phone</label>
          <input name="BusinessPhone" id="BusinessPhone" type="text" [(ngModel)]="selectedContact.busPhone"
            [disabled]="!isEditContact" />
        </div>

        <div class="input-field">
          <label for="BusinessEmail">Business Email</label>
          <input name="BusinessEmail" id="BusinessEmail" type="text" [(ngModel)]="selectedContact.busEmail"
            [disabled]="!isEditContact" />
        </div>
        <div class="input-field">
          <label for="OtherEmail">Other Email</label>
          <input name="OtherEmail" id="OtherEmail" type="text" [(ngModel)]="selectedContact.otherEmail"
            [disabled]="!isEditContact" />
        </div>
        <div class="input-field">
          <label for="MethodofContact"> Preferred Method of Contact </label>
          <select name="MethodofContact" id="MethodofContact" [(ngModel)]="selectedContact.contactMethodTypeID"
            [disabled]="!isEditContact">
            <option *ngFor="let MethodofContact of MethodofContactOption" [value]="MethodofContact.ContactMethodTypeID">
              {{ MethodofContact.ContactMethodTypeDesc }}
            </option>
          </select>
        </div>
      </div>
      <div class="addresses create-inputs-field-set" *ngIf="firmDetails.FirmTypeID === 2">

        <div class="popup-header flex-space-between">
          <h3>DNFBP Functions</h3>
          <span class="enhanced-checkbox">
            <input id="InactiveContacts" type="checkbox" [(ngModel)]="isHistoryCheckboxChecked"
              (change)="toggleFunctionsHistory($event)" />
            <label for="InactiveContacts">Display Functions History</label>
          </span>
        </div>

        <div *ngIf="!isEditContact" class="functions-table">
          <div class="functions-row header">
            <div style="width: 20%;" class="input-field"><strong>Function</strong></div>
            <div style="width: 20%;" class="input-field"><strong>Effective Date</strong></div>
            <div style="width: 20%;" class="input-field"><strong>End Date</strong></div>
            <div style="width: 20%;" class="input-field"><strong>Review Status</strong></div>
          </div>
          <div *ngFor="let func of selectedContact.lstContactFunctions" class="functions-row">
            <div style="width: 20%;" class="input-field">{{ func.functionTypeDesc }}</div>
            <div style="width: 20%;" class="input-field">{{ func.effectiveDate || 'N/A' }}</div>
            <div style="width: 20%;" class="input-field">{{ func.endDate || 'N/A' }}</div>
            <div style="width: 20%;" class="input-field">{{ func.reviewStatus || 'Pending' }}</div>
          </div>
        </div>
        <!-- Additional Section for DNFBP MLRO Residency Status -->
        <div class="functions-row">
          <!-- Edit Mode: Residency Status Dropdown -->
          <ng-container *ngIf="isEditContact; else readOnlyView">
            <div class="input-field" *ngIf="showMLROSection">
              <label for="residencyStatus">Is the individual a Resident or Non-Resident of Qatar?</label>
              <select
                id="residencyStatus"
                [(ngModel)]="EditResidentStateObj.attributeValue"
                (change)="onResidentStatusEditChange($event)"
              >
                <option value="">Select</option>
                <option value="Resident">Resident</option>
                <option value="Non-Resident">Non-Resident</option>
              </select>
            </div>
          </ng-container>
          <!-- View Mode: Display Residency Status -->
          <ng-template #readOnlyView>
            <div class="input-field" *ngIf="ResidencyStatusCheck.AttributeValue">
              <label>Is the individual a Resident or Non-Resident of Qatar?</label>
              <span>{{ ResidencyStatusCheck.AttributeValue }}</span>
            </div>
          </ng-template>
        </div>
        <div *ngIf="isHistoryPopupVisible" class="function-history">
          <div class="popup-header">
            <h3>Functions History</h3>
          </div>
          <div class="functions-table">
            <div class="functions-row header">
              <div style="width: 20%;" class="input-field"><strong>Function</strong></div>
              <div style="width: 20%;" class="input-field"><strong>Effective Date</strong></div>
              <div style="width: 20%;" class="input-field"><strong>End Date</strong></div>
              <div style="width: 20%;" class="input-field"><strong>Review Status</strong></div>
            </div>
          </div>


          <!-- Loop through FunctionsHistoryList and display the data -->
          <div *ngFor="let func of FunctionsHistoryList" class="functions-row">
            <div style="width: 20%;" class="input-field">{{ func.FunctionTypeDesc }}</div>
            <div style="width: 20%;" class="input-field">{{ func.EffectiveDate || 'N/A' }}</div>
            <div style="width: 20%;" class="input-field">{{ func.EndDate || 'N/A' }}</div>
            <div style="width: 20%;" class="input-field">{{ func.ReviewStatus || 'Pending' }}</div>
          </div>
        </div>

        <!-- Edit Mode: Allow editing of functions -->
        <div class="functions-table" *ngIf="isEditContact">
          <div class="functions-row header">
            <div style="width: 20%;" class="input-field"><strong>Function</strong></div>
            <div style="width: 20%;" class="input-field"><strong>Effective Date</strong></div>
            <div style="width: 20%;" class="input-field"><strong>End Date</strong></div>
            <div style="width: 20%;" class="input-field"><strong>Review Status</strong></div>
          </div>
          <div *ngFor="let ContactFunctionType of ContactFunctionTypeList; let i = index" class="functions-row">
            <!-- Checkbox to select function -->
            <div style="width: 20%;" class="input-field">
              <label>
                <input type="checkbox" [(ngModel)]="ContactFunctionType.isSelected"
                  (change)="onFunctionCheckboxChangeEdit(ContactFunctionType)" />
                {{ ContactFunctionType.contactFunctionTypeDesc }}
              </label>
            </div>
            <!-- Effective Date Input -->
            <div style="width: 20%;" class="input-field">
              <input type="text" #dateInputs placeholder placeholder="Effective Date"
                [(ngModel)]="ContactFunctionType.effectiveDate" [disabled]="!ContactFunctionType.isSelected"
                (blur)="updateFunctionDates(i, 'effectiveDate', ContactFunctionType.effectiveDate)" />
            </div>
            <!-- End Date Input -->
            <div style="width: 20%;" class="input-field">
              <input type="text" #dateInputs placeholder placeholder="End Date"
                [(ngModel)]="ContactFunctionType.endDate" [disabled]="!ContactFunctionType.isSelected"
                (blur)="updateFunctionDates(i, 'endDate', ContactFunctionType.endDate)" />
            </div>
            <!-- Review Status Display -->
            <div style="width: 20%;" class="input-field">
              <input type="text" [(ngModel)]="ContactFunctionType.reviewStatus" disabled placeholder="Review Status" />
            </div>
          </div>
        </div>

      </div>
      <!-- Addresses Section -->
      <div *ngIf="existingContactAddresses.length > 0 || isEditContact" class="addresses">
        <div class="popup-header">
          <h3>Addresses</h3>
        </div>
        <!--Error messages for addresses-->
        <div class="error-messages">
          <p *ngIf="errorMessages['AddressTypeID']">
            {{ errorMessages['AddressTypeID'] }}
          </p>
        </div>
        <div class="add-address-btn-container">
          <button class="addAddressBtn" (click)="addNewAddressOnEditMode()"
            *ngIf="isEditContact && canAddNewAddressOnEdit">
            Add Address
          </button>
        </div>
        <!--Address Details-->
        <div class="inputs-row">
          <ng-container *ngFor="let address of filteredContactAddresses; let i = index">
            <ng-container *ngIf="address.Valid === true">
              <div class="input-field" *ngIf="!isEditContact">
                <label for="addressType" class="history-row">
                  Address Type
                  <button *ngIf="address.PreviousRecords != 0" class="subbutton-open-history"
                    (click)="getAddressTypeHistory(address.AddressTypeID,address.EntityTypeID,address.EntityID,selectedContact.contactAssnID)">
                    <i class="bi bi-clock-history"></i><span> Open History</span>
                  </button>
                </label>
                <input disabled name="addressType" id="addressType" type="text"
                  value="{{ address?.AddressTypeDesc }}" />
              </div>
              <div *ngIf="isEditContact" class="del-address-container">
                <button (click)="removeAddressOnEditMode(i)" class="RmvAddressBtn bi-trash"></button>
              </div>
              <!-- address type on edit mode -->
              <div class="input-field" *ngIf="isEditContact">
                <label for="addressType" class="history-row">
                  Address Type
                  <button *ngIf="address.PreviousRecords !== 0 && address.AddressID" class="subbutton-open-history">
                    <i class="bi bi-clock-history"></i> <span>Open History</span>
                  </button>

                </label>
                <select [disabled]="!!address.AddressID" [(ngModel)]="address.AddressTypeID"
                  (change)="onAddressTypeChangeOnEditMode($event, address)" [ngClass]="{
                        'error-border': address === invalidAddress}">
                  <option value="0">Select</option>
                  <option *ngFor="let option of allAddressTypes" [value]="option.AddressTypeID">
                    {{ option.AddressTypeDesc }}
                  </option>
                </select>
              </div>

              <div class="input-field" *ngIf="
        isEditContact &&
        (!address.AddressID || address.AddressID === '')
      ">
                <label for="sameAsType"> Same As Type </label>
                <select [(ngModel)]="address.SameAsTypeID" (ngModelChange)="onSameAsTypeChangeOnEditMode($event,i)"
                  name="sameAsType" id="sameAsType">
                  <option value="0">Select</option>
                  <option *ngFor="let type of getFilteredAddressTypes()" [value]="type.AddressTypeID">
                    {{ type.AddressTypeDesc }}
                  </option>
                </select>
              </div>

              <div class="input-field">
                <label for="addressLine1"> Address Line 1 </label>
                <input type="text" [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="addressLine1" id="addressLine1" [(ngModel)]="address.AddressLine1" />
              </div>
              <div class="input-field">
                <label for="addressLine2"> Address Line 2 </label>
                <input [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="addressLine2" id="addressLine2" type="text" [(ngModel)]="address.AddressLine2" />
              </div>
              <div class="input-field">
                <label for="addressLine3"> Address Line 3 </label>
                <input [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="addressLine3" id="addressLine3" type="text" [(ngModel)]="address.AddressLine3" />
              </div>
              <div class="input-field">
                <label for="addressLine4"> Address Line 4 </label>
                <input [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="addressLine4" id="addressLine4" type="text" [(ngModel)]="address.AddressLine4" />
              </div>
              <div class="input-field">
                <label for="city"> City </label>
                <input [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="city" id="city" type="text" [(ngModel)]="address.City" />
              </div>
              <div class="input-field">
                <label for="state"> state/province </label>
                <input [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="state" id="state" type="text" [(ngModel)]="address.Province" />
              </div>
              <div class="input-field" *ngIf="!isEditContact">
                <label for="country"> Country </label>
                <input disabled type="text" name="country" id="country" [(ngModel)]="address.CountryName" />
              </div>
              <!-- countries on edit mode-->
              <div class="input-field" *ngIf="isEditContact">
                <label for="country"> Country </label>
                <select [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " [(ngModel)]="address.CountryID">
                  <option *ngFor="let option of allCountries" [value]="option.CountryID">
                    {{ option?.CountryName }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <label for="zip"> Zip/Postal Code </label>
                <input [disabled]="
          !isEditContact ||
          (disableAddressFieldsOnEdit && !address.AddressID)
        " name="zip" id="zip" type="text" [(ngModel)]="address.PostalCode" />
              </div>
              <hr *ngIf="i < contactFirmAddresses.length - 1" />
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="create--inputs-field-set">
        <div class="popup-header">
          <h3>Additional Informations</h3>
        </div>
        <!-- <div style="display: flex; flex-wrap: wrap; gap: 15px;" *ngIf="isEditContact">
          <label>
            <input type="checkbox" name="VIP" [value]="1" (change)="updateAdditionalInfo($event, 'VIP')" /> VIP
          </label>
          <label>
            <input type="checkbox" name="AnnualReport" [value]="3" (change)="updateAdditionalInfo($event, 'Annual Report')" /> Annual Report
          </label>
          <label>
            <input type="checkbox" name="ChristmasNewYear" [value]="4" (change)="updateAdditionalInfo($event, 'Christmas/New Year')" /> Christmas/New Year
          </label>
          <label>
            <input type="checkbox" name="EidCards" [value]="5" (change)="updateAdditionalInfo($event, 'Eid Cards')" /> Eid Cards
          </label>
          <label>
            <input type="checkbox" name="Publications" [value]="6" (change)="updateAdditionalInfo($event, 'Publications')" /> Publications
          </label>
        </div> -->
        <!-- <div style="display: flex; flex-wrap: wrap; gap: 15px;">
          <label>
            <input [disabled]="!isEditContact"
                   type="checkbox"
                   [value]="1"
                   [(ngModel)]="selectedInfoTypes['1']"
                   (change)="updateAdditionalInfo($event, 'VIP')"
            /> VIP
          </label>
          <label>
            <input [disabled]="!isEditContact"
                   type="checkbox"
                   [value]="3"
                   [(ngModel)]="selectedInfoTypes['3']"
                   (change)="updateAdditionalInfo($event, 'Annual Report')"
            /> Annual Report
          </label>
          <label>
            <input [disabled]="!isEditContact"
                   type="checkbox"
                   [value]="4"
                   [(ngModel)]="selectedInfoTypes['4']"
                   (change)="updateAdditionalInfo($event, 'Christmas/New Year')"
            /> Christmas/New Year
          </label>
          <label>
            <input [disabled]="!isEditContact"
                   type="checkbox"
                   [value]="5"
                   [(ngModel)]="selectedInfoTypes['5']"
                   (change)="updateAdditionalInfo($event, 'Eid Cards')"
            /> Eid Cards
          </label>
          <label>
            <input [disabled]="!isEditContact"
                   type="checkbox"
                   [value]="6"
                   [(ngModel)]="selectedInfoTypes['6']"
                   (change)="updateAdditionalInfo($event, 'Publications')"
            /> Publications
          </label>
        </div> -->
        <div style="display: flex; flex-wrap: wrap; gap: 15px;">
          <label>
            <input [disabled]="!isEditContact" type="checkbox" [value]="1" [(ngModel)]="selectedInfoTypes['1']"
              (change)="updateAdditionalInfoEdit($event, 'VIP')" /> VIP
          </label>
          <label>
            <input [disabled]="!isEditContact" type="checkbox" [value]="3" [(ngModel)]="selectedInfoTypes['3']"
              (change)="updateAdditionalInfoEdit($event, 'Annual Report')" /> Annual Report
          </label>
          <label>
            <input [disabled]="!isEditContact" type="checkbox" [value]="4" [(ngModel)]="selectedInfoTypes['4']"
              (change)="updateAdditionalInfoEdit($event, 'Christmas/New Year')" /> Christmas/New Year
          </label>
          <label>
            <input [disabled]="!isEditContact" type="checkbox" [value]="5" [(ngModel)]="selectedInfoTypes['5']"
              (change)="updateAdditionalInfoEdit($event, 'Eid Cards')" /> Eid Cards
          </label>
          <label>
            <input [disabled]="!isEditContact" type="checkbox" [value]="6" [(ngModel)]="selectedInfoTypes['6']"
              (change)="updateAdditionalInfoEdit($event, 'Publications')" /> Publications
          </label>
        </div>
      </div>
      <div class="btn justify-content-end">
        <button class="save-btn" (click)="saveEditContactPopup()"
        *ngIf="getControlVisibility('imgBtnSave') && !hideSaveBtn"
        [disabled]="!getControlEnablement('imgBtnSave')">
          Save
        </button>
        <button (click)="editContact()"
        *ngIf="getControlVisibility('imgBtnEdit') && !hideEditBtn"
        [disabled]="!getControlEnablement('imgBtnEdit')">
          <i class="bi bi-pen"></i> Edit
        </button>

        <button class="cancel-btn" (click)="cancelContact()"
        *ngIf="getControlVisibility('imgBtnCancel') && !hideCancelBtn"
        [disabled]="!getControlEnablement('imgBtnCancel')">Cancel</button>

        <button (click)="confirmDeleteContact()"
        *ngIf="getControlVisibility('imgBtnDelete') && !hideDeleteBtn"
        [disabled]="!getControlEnablement('imgBtnDelete')">
          <i class="bi bi-trash"></i> Delete
        </button>
      </div>

    </div>
  </div>
</div>

<!--Address Type History-->
<div *ngIf="callAddressType" class="overlay show"></div>
<div *ngIf="callAddressType" class="addressHistoryPopup popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeAddressTypeHistory()"></i>
  <div class="popup-info-place">
    <div class="popup-header">
      <h3>Address History</h3>
    </div>
    <br />
    <div class="address-type-info">
      <span style="text-decoration: underline">{{
        contactFirmAddressesTypeHistory[0]?.AddressTypeDesc
        }}</span>
      &nbsp; (<span style="color: red">history includes the deleted record for this address type.</span>)
    </div>
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th class="text-center">Created Date</th>
          <th class="text-center">Modified Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let addressHistory of contactFirmAddressesTypeHistory">
          <td>{{ addressHistory?.ShortAddress }}</td>
          <td class="text-center">{{ addressHistory?.CreatedDate }}</td>
          <td class="text-center">
            {{ addressHistory?.LastModifiedDate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="popup-operations-place">
    <button class="subbutton" (click)="closeAddressTypeHistory()">Close</button>
  </div>
</div>
<!-- Modal Popup for Showing Search Results -->
<div *ngIf="showContactModal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Contact Search Results</h3>
      <button class="close-button" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <table class="contact-table">
        <thead>
          <tr>
            <th>Select</th>
            <th>Full Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Country</th>
            <th>Passport Number</th>
            <th>Date of Birth</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of ContactDetailsByPassingParam">
            <td>
              <button style="color: #a41e36; text-decoration: none;"
                (click)="ShowselectContact(contact)">Select</button>
            </td>
            <td>{{ contact.FullName }}</td>
            <td>{{ contact.MobileNum || 'N/A' }}</td>
            <td>{{ contact.BusEmail || 'N/A' }}</td>
            <td>{{ contact.CountryName || 'N/A' }}</td>
            <td>{{ contact.PassportNum || 'N/A' }}</td>
            <td>{{ contact.DateOfBirth || 'N/A' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div *ngIf="isHistoryPopupVisible" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header custom-modal-header">
      <h3>Functions History</h3>
      <button class="close-button custom-close-button" (click)="closeHistoryPopup()">✕</button>
    </div>
    <div class="functions-table">
      <div class="functions-row header">
        <div style="width: 20%;" class="input-field"><strong>Function</strong></div>
        <div style="width: 20%;" class="input-field"><strong>Effective Date</strong></div>
        <div style="width: 20%;" class="input-field"><strong>End Date</strong></div>
        <div style="width: 20%;" class="input-field"><strong>Review Status</strong></div>
      </div>
      <div *ngFor="let func of FunctionsHistoryList" class="functions-row">
        <div style="width: 20%;" class="input-field">{{ func.FunctionTypeDesc }}</div>
        <div style="width: 20%;" class="input-field">{{ func.EffectiveDate || 'N/A' }}</div>
        <div style="width: 20%;" class="input-field">{{ func.EndDate || 'N/A' }}</div>
        <div style="width: 20%;" class="input-field">{{ func.ReviewStatus || 'Pending' }}</div>
      </div>
    </div>
  </div>
</div> -->