<div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
</div>

<div class="form-section">
  <div class="inputs-field-set">
    <div class="section">
      <div class="contacts-header">
        <h2 class="edit-firm-header">
          Contacts > <span>{{ firmDetails?.FirmName }}</span>
        </h2>
        <div class="btn">
          <button (click)="createContact()">
            <i class="bi bi-pen"></i>
            Create
          </button>
        </div>
      </div>
      <span class="enhanced-checkbox">
        <input id="InactiveContacts" type="checkbox" (change)="onInactiveContactsToggle($event)" />
        <label for="InactiveContacts">Display Inactive Contacts</label>
      </span>
      <table class="contacts-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact Type</th>
            <th>Contact Form</th>
            <th>Position/Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of filteredContacts" (click)="onRowClick(contact)">
            <td>{{ contact.FullName }}</td>
            <td>{{ contact.ContactTypeDesc }}</td>
            <td>{{ contact?.ContactMethodTypeDesc }}</td>
            <td>{{ contact.JobTitle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
        <!-- Create Contact Popup -->
        <div *ngIf="showCreateContactSection" class="contollerPopupOverlay">
          <div class="contollerPopupContent" (click)="$event.stopPropagation()">
            <div class="popup-title-btn-row">
              <div class="popup-header">
                <h3>Contact For {{ firmDetails?.FirmName }}</h3>
              </div>
              <button (click)="closeCreateContactPopup()" class="close-button">
                <i class="bi bi-x-circle close-icon"></i>
              </button>
              <div class="btn"></div>
            </div>
    
            <div class="error-messages">
              <p *ngIf="errorMessages['contactType']">
                {{ errorMessages['contactType'] }}
              </p>
              <p *ngIf="errorMessages['isPeP']">
                {{ errorMessages['isPeP'] }}
              </p>
              <p *ngIf="errorMessages['firstName']">
                {{ errorMessages['firstName'] }}
              </p>
            </div>
            <div class="inputs-row">
              <div class="input-field">
                <label for="contactFrom">
                  Contact From <span style="color: red">*</span>
                </label>
                <select name="contactFrom" id="contactFrom" [(ngModel)]="selectedContactFrom"
                  (ngModelChange)="onContactFromChange($event)">
                  <option value="select" selected>Select</option>
                  <option *ngFor="let ContactFrom of AllContactFrom" [value]="ContactFrom.EntityTypeID">
                    {{ ContactFrom.EntityTypeName }}
                  </option>
                </select>
              </div>
              <div class="input-field" style="width: 100%" *ngIf="isFirmSelected()">
                <label for="aIsContactTypeID">
                  Is contact information being provided for an approved individual or an individual who has applied for
                  approval of controlled functions?
                </label>              
                <div class="radio-wrapper">
                    <input type="radio" id="true" name="aIsContactTypeID" [(ngModel)]="createContactObj.aIsContactTypeID" [value]="true" /> Yes

                    <input type="radio" id="false" name="aIsContactTypeID" [(ngModel)]="createContactObj.aIsContactTypeID" [value]="false" /> No
                </div>
              </div>
    
    
              <!-- Available Contacts Section -->
              <div class="input-field" *ngIf="isFirmSelected()">
                <label for="contactType">Available Contacts</label>
                <select name="contactType" id="contactType" [(ngModel)]="Column2" (ngModelChange)="onContactChange($event)"
                  [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === false ">
                  <option value="select" selected>Select</option>
                  <option *ngFor="let AvilabilContact of AllAvilabilContact" [ngValue]="AvilabilContact.Column1">
                    {{ AvilabilContact.Column2 }}
                  </option>
                </select>
              </div>
    
              <!-- Contact Type Section -->
              <div class="input-field">
                <label for="contactType">Contact Type<span style="color: red">*</span></label>
                <select name="contactType" id="contactType" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.contactType">
                  <option value="select" selected>Select</option>
                  <option *ngFor="let contactType of contactTypeOption" [ngValue]="contactType.ContactTypeID">
                    {{ contactType.ContactTypeDesc }}
                  </option>
                </select>
              </div>
    
              <!-- PEP Section -->
              <div class="input-field">
                <label for="isPEP">Is Politically Exposed Person (PEP)?<span style="color: red">*</span></label>
                <div class="radio-wrapper">
                  <input name="isPEP" id="yes" type="radio" [value]="true" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                    [(ngModel)]="createContactObj.isPeP" />
                  Yes
                  <input name="isPEP" id="no" type="radio" [value]="false" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                    [(ngModel)]="createContactObj.isPeP" />
                  No
                </div>
              </div>
    
              <!-- Position/Job Title Section -->
              <div class="input-field">
                <label for="position/JobTitle">Position/Job Title</label>
                <input name="position/JobTitle" id="position/JobTitle" type="text"
                  [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true" [(ngModel)]="createContactObj.jobTitle" />
              </div>
    
              <!-- Title Section -->
              <div class="input-field">
                <label for="Title">Title</label>
                <select name="Title" id="Title" [disabled]="createContactObj.aIsContactTypeID === null" [(ngModel)]="createContactObj.title">
                  <option *ngFor="let title of Titles" [value]="title.TitleDesc" >
                    {{ title.TitleDesc }}
                  </option>
                </select>
              </div>
    
              <!-- First Name Section -->
              <div class="input-field">
                <label for="firstName">First Name</label>
                <input name="firstName" id="firstName" type="text" [disabled]="createContactObj.aIsContactTypeID === null"
                  [(ngModel)]="createContactObj.firstName" />
              </div>
    
              <!-- Second Name Section -->
              <div class="input-field">
                <label for="SecondName">Second Name</label>
                <input name="SecondName" id="SecondName" type="text" [disabled]="createContactObj.aIsContactTypeID === null"
                  [(ngModel)]="createContactObj.secondName" />
              </div>
    
              <!-- Family Name Section -->
              <div class="input-field">
                <label for="FamilyName">Family Name</label>
                <input name="FamilyName" id="FamilyName" type="text" [disabled]="createContactObj.aIsContactTypeID === null"
                  [(ngModel)]="createContactObj.familyName" />
              </div>
    
              <!-- Mobile Phone Section -->
              <div class="input-field">
                <label for="MobilePhone">Mobile Phone</label>
                <input name="MobilePhone" id="MobilePhone" type="text" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.mobileNum" />
              </div>
    
              <!-- Fax Section -->
              <div class="input-field">
                <label for="Fax">Fax</label>
                <input name="Fax" id="Fax" type="text" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.fax" />
              </div>
    
              <!-- Business Phone Section -->
              <div class="input-field">
                <label for="BusinessPhone">Business Phone</label>
                <input name="BusinessPhone" id="BusinessPhone" type="text" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.busPhone" />
              </div>
    
              <!-- Business Email Section -->
              <div class="input-field">
                <label for="BusinessEmail">Business Email</label>
                <input name="BusinessEmail" id="BusinessEmail" type="text" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.busEmail" />
              </div>
    
              <!-- Other Email Section -->
              <div class="input-field">
                <label for="OtherEmail">Other Email</label>
                <input name="OtherEmail" id="OtherEmail" type="text" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.otherEmail" />
              </div>
    
              <!-- Method of Contact Section -->
              <div class="input-field">
                <label for="MethodofContact">Preferred Method of Contact</label>
                <select name="MethodofContact" id="MethodofContact" [disabled]="createContactObj.aIsContactTypeID === null || createContactObj.aIsContactTypeID === true"
                  [(ngModel)]="createContactObj.ContactMethodTypeID">
                  <option *ngFor="let MethodofContact of MethodofContactOption"
                    [value]="MethodofContact.ContactMethodTypeID">
                    {{ MethodofContact.ContactMethodTypeDesc }}
                  </option>
                </select>
              </div>
            </div>
    
    
            <div class="addresses create--inputs-field-set">
              <div class="popup-header">
                <h3>Addresses</h3>
                <button (click)="addAddressForm()" [disabled]="addressForms.length >= 3" style="
                        background-color: green;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        border-radius: 5px;
                        float: right;
                      ">
                  <i style="size: 7px" class="bi bi-plus-lg"></i>
                </button>
              </div>
              <div *ngFor="let address of addressForms; let i = index">
                <hr />
                <button (click)="removeAddressForm(i)" style="
                        float: right;
                        background-color: red;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        border-radius: 5px;
                      ">
                  <i style="size: 5px" class="bi bi-x-lg"></i>
                </button>
    
                <div class="inputs-row">
                  <!-- Address Type -->
                  <div class="input-field">
                    <label for="addressType"> Address Type </label>
                    <select [(ngModel)]="address.AddressTypeID" (change)="onAddressTypeChange($event, address)" [ngClass]="{
                            'error-border':
                              !address.AddressTypeID && errorMessages['AddressTypeID'],
                            
                          }" [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0">
                      <!-- Disable if Same As Type is selected -->
                      <option value="0">Select</option>
                      <option *ngFor="let option of allAddressTypes" [value]="option.AddressTypeID">
                        {{ option.AddressTypeDesc }}
                      </option>
                    </select>
                  </div>
    
                  <!-- Same As Type (only for forms after the first one) -->
                  <div *ngIf="i > 0" class="input-field">
                    <label for="sameAsType">Same As Type</label>
                    <select [(ngModel)]="address.sameAsTypeID" (change)="onSameAsTypeChangeg($event, address)" [ngClass]="{
                            'error-border':
                              !address.sameAsTypeID && errorMessages['sameAsTypeID'],
                            
                          }" id="sameAsType" name="sameAsType">
                      <option value="0">Select</option>
                      <!-- Dynamically populate the options from previous forms' AddressTypeID -->
                      <option *ngFor="let form of addressForms.slice(0, i)" [value]="form.AddressTypeID">
                        {{ getAddressTypeDesc(form.AddressTypeID) }}
                      </option>
                    </select>
                  </div>
    
                  <!-- Other fields will be disabled if Same As Type has a value -->
                  <div class="input-field">
                    <label for="address1"> Address - Line 1 </label>
                    <input [(ngModel)]="address.addressLine1" name="address1" id="address1" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="address2"> Address - Line 2 </label>
                    <input [(ngModel)]="address.addressLine2" name="address2" id="address2" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="address3"> Address - Line 3 </label>
                    <input [(ngModel)]="address.addressLine3" name="address3" id="address3" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="address4"> Address - Line 4 </label>
                    <input [(ngModel)]="address.addressLine4" name="address4" id="address4" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="city"> City </label>
                    <input [(ngModel)]="address.city" name="city" id="city" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="state"> State/Province </label>
                    <input [(ngModel)]="address.stateProvince" name="state" id="state" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="country"> Country </label>
                    <select required [(ngModel)]="address.CountryID" (change)="getAllRegulater(+address.CountryID, firmId)"
                      name="Country" id="Country" [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0">
                      <option *ngFor="let place of allCountries" [value]="place.CountryID">
                        {{ place.CountryName }}
                      </option>
                    </select>
                  </div>
    
                  <div class="input-field">
                    <label for="zipCode"> Zip/Postal Code </label>
                    <input [(ngModel)]="address.zipPostalCode" name="zipCode" id="zipCode" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
                </div>
              </div>
            </div>
    
            <div class="create--inputs-field-set">
              <div class="popup-header">
                <h3>Additional Informations</h3>
              </div>
              <div style=" display: flex; flex-wrap: wrap;gap: 15px;">
                <label><input type="checkbox" name="VIP" /> VIP</label>
                <label><input type="checkbox" name="AnnualReport" /> Annual Report</label>
                <label><input type="checkbox" name="ChristmasNewYear" /> Christmas/New Year</label>
                <label><input type="checkbox" name="EdCards" /> Ed Cards</label>
                <label><input type="checkbox" name="Publications" /> Publications</label>
              </div>
            </div>
            <div class="btn justify-content-end">
              <button class="save-btn" (click)="createContactPopup()">
                Save
              </button>
            </div>
          </div>
        </div>
    
        <!-- view Details & Edit Contact Popup -->
        <div *ngIf="isPopupVisible" class="contollerPopupOverlay">
          <div class="contollerPopupContent" (click)="$event.stopPropagation()">
            <!-- Title -->
            <div class="popup-title-btn-row">
              <div class="popup-header">
                <h3>Contact For {{ firmDetails?.FirmName }}</h3>
              </div>
              <button (click)="closeContactPopup()" class="close-button">
                <i class="bi bi-x-circle close-icon"></i>
              </button>
              <div class="btn"></div>
            </div>
            <div class="error-messages">
              <p *ngIf="errorMessages['contactTypeDesc']">
                {{ errorMessages['contactTypeDesc'] }}
              </p>
              <p *ngIf="errorMessages['isPEP']">
                {{ errorMessages['isPEP'] }}
              </p>
              <p *ngIf="errorMessages['firstName']">
                {{ errorMessages['firstName'] }}
              </p>
            </div>
            <div class="inputs-row">
              <div class="input-field">
                <label for="contactFrom">Contact Form</label>
                <ng-container *ngIf="isEditable; else typeOfControlDisplay">
                  <select required [(ngModel)]="selectedContact.entityName" (ngModelChange)="onContactFromChange($event)"
                    name="contactFrom" id="contactFrom">
                    <option *ngFor="let ContactFrom of AllContactFrom" [value]="ContactFrom.EntityTypeID">
                      {{ ContactFrom.EntityTypeName }}
                    </option>
                  </select>
                </ng-container>
                <ng-template #typeOfControlDisplay>
                  <input [value]="selectedContact.entityName" name="contactFrom" readonly />
                </ng-template>
              </div>
              <!-- <div class="input-field">
                <label for="contactFrom">
                  Contact From<span style="color: red">*</span>
                </label>
                <select name="contactFrom" id="contactFrom" [(ngModel)]="selectedContact.entityName" >
                  <option *ngFor="let ContactFrom of AllContactFrom" [ngValue]="ContactFrom.EntityTypeID">
                    {{ ContactFrom.EntityTypeName }}
                  </option>
                </select>
              </div> -->
              <div class="input-field" style="width: 100%" *ngIf="isFirmSelected()">
                <label for="aIsContactTypeID">
                  Is contact information being provided for an approved individual or an individual who has applied for
                  approval of controlled functions?
                </label>              
                <div class="radio-wrapper">
                    <input type="radio" id="true" name="aIsContactTypeID" [(ngModel)]="selectedContact.aIsContactTypeID" [value]="true" /> Yes

                    <input type="radio" id="false" name="aIsContactTypeID" [(ngModel)]="selectedContact.aIsContactTypeID" [value]="false" /> No
                </div>
              </div>
              <div class="input-field" *ngIf="isFirmSelected()">
                <label for="contactType">
                  Available Contacts
                </label>
                <select name="contactType" id="contactType" [(ngModel)]="selectedContact.entityTypeID"
                  (ngModelChange)="onContactChange($event)"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === false || !IsEditContactVisible">
                  <option value="select" selected>Select</option>
                  <option *ngFor="let AvilabilContact of AllAvilabilContact" [ngValue]="AvilabilContact.Column1">
                    {{ AvilabilContact.Column2 }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <label for="contactType">
                  Contact Type<span style="color: red">*</span>
                </label>
                <select name="contactType" id="contactType" [(ngModel)]="selectedContact.contactTypeID"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible">
                  <option value="select" selected>Select</option>
                  <option *ngFor="let contactType of contactTypeOption" [ngValue]="contactType.ContactTypeID">
                    {{ contactType.ContactTypeDesc }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <label for="isPEP">
                  Is Politically Exposed Person (PEP)?
                  <span style="color: red">*</span>
                </label>
                <div class="radio-wrapper">
                  <input name="isPEP" id="yes" type="radio" [value]="true" [(ngModel)]="selectedContact.isPEP"
                    [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
                  Yes
                  <input name="isPEP" id="no" type="radio" [value]="false" [(ngModel)]="selectedContact.isPEP"
                    [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
                  No
                </div>
              </div>
              <div class="input-field">
                <label for="position/JobTitle"> Position/Job Title</label>
                <input name="position/JobTitle" id="position/JobTitle" type="text" [(ngModel)]="selectedContact.jobTitle"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
              </div>
              <div class="input-field">
                <label for="Title"> Title </label>
                <select name="Title" id="Title" [(ngModel)]="selectedContact.title"
                  [disabled]="selectedContact.aIsContactTypeID === null || !IsEditContactVisible">
                  <option *ngFor="let title of Titles" [value]="title.TitleDesc">
                    {{ title.TitleDesc }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <label for="firstName"> First Name</label>
                <input name="firstName" id="firstName" type="text" [(ngModel)]="selectedContact.firstName"
                  [disabled]="selectedContact.aIsContactTypeID === null || !IsEditContactVisible" />
              </div>
              <div class="input-field">
                <label for="SecondName"> Second Name</label>
                <input name="SecondName" id="SecondName" type="text" [(ngModel)]="selectedContact.secondName"
                  [disabled]="selectedContact.aIsContactTypeID === null || !IsEditContactVisible" />
              </div>
              <div class="input-field">
                <label for="FamilyName"> Family Name</label>
                <input name="FamilyName" id="FamilyName" type="text" [(ngModel)]="selectedContact.familyName"
                  [disabled]="selectedContact.aIsContactTypeID === null || !IsEditContactVisible" />
              </div>
              <div class="input-field">
                <label for="MobilePhone">Mobile Phone</label>
                <input name="MobilePhone" id="MobilePhone" type="text" [(ngModel)]="selectedContact.mobileNum"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
              </div>
    
              <div class="input-field">
                <label for="Fax">Fax</label>
                <input name="Fax" id="Fax" type="text" [(ngModel)]="selectedContact.fax"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
              </div>
    
              <div class="input-field">
                <label for="BusinessPhone">Business Phone</label>
                <input name="BusinessPhone" id="BusinessPhone" type="text" [(ngModel)]="selectedContact.busPhone"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
              </div>
    
              <div class="input-field">
                <label for="BusinessEmail">Business Email</label>
                <input name="BusinessEmail" id="BusinessEmail" type="text" [(ngModel)]="selectedContact.busEmail"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
              </div>
              <div class="input-field">
                <label for="OtherEmail">Other Email</label>
                <input name="OtherEmail" id="OtherEmail" type="text" [(ngModel)]="selectedContact.otherEmail"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible" />
              </div>
              <div class="input-field">
                <label for="MethodofContact"> Preferred Method of Contact </label>
                <select name="MethodofContact" id="MethodofContact" [(ngModel)]="selectedContact.contactMethodTypeID"
                  [disabled]="selectedContact.aIsContactTypeID === null || selectedContact.aIsContactTypeID === true || !IsEditContactVisible">
                  <option *ngFor="let MethodofContact of MethodofContactOption"
                    [value]="MethodofContact.ContactMethodTypeID">
                    {{ MethodofContact.ContactMethodTypeDesc }}
                  </option>
                </select>
              </div>
            </div>
    
            <div class="addresses create--inputs-field-set">
              <div class="popup-header">
                <h3>Addresses</h3>
                <button (click)="addAddressForm()" [disabled]="addressForms.length >= 3" style="
                        background-color: green;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        border-radius: 5px;
                        float: right;
                      ">
                  <i style="size: 7px" class="bi bi-plus-lg"></i>
                </button>
              </div>
              <div *ngFor="let address of addressForms; let i = index">
                <hr />
                <button (click)="removeAddressForm(i)" style="
                        float: right;
                        background-color: red;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        border-radius: 5px;
                      ">
                  <i style="size: 5px" class="bi bi-x-lg"></i>
                </button>
    
                <div class="inputs-row">
                  <!-- Address Type -->
                  <div class="input-field">
                    <label for="addressType"> Address Type </label>
                    <select [(ngModel)]="address.AddressTypeID" (change)="onAddressTypeChange($event, address)" [ngClass]="{
                            'error-border':
                              !address.AddressTypeID && errorMessages['AddressTypeID'],
                            
                          }" [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0">
                      <!-- Disable if Same As Type is selected -->
                      <option value="0">Select</option>
                      <option *ngFor="let option of allAddressTypes" [value]="option.AddressTypeID">
                        {{ option.AddressTypeDesc }}
                      </option>
                    </select>
                  </div>
    
                  <!-- Same As Type (only for forms after the first one) -->
                  <div *ngIf="i > 0" class="input-field">
                    <label for="sameAsType">Same As Type</label>
                    <select [(ngModel)]="address.sameAsTypeID" (change)="onSameAsTypeChangeg($event, address)" [ngClass]="{
                            'error-border':
                              !address.sameAsTypeID && errorMessages['sameAsTypeID'],
                            
                          }" id="sameAsType" name="sameAsType">
                      <option value="0">Select</option>
                      <!-- Dynamically populate the options from previous forms' AddressTypeID -->
                      <option *ngFor="let form of addressForms.slice(0, i)" [value]="form.AddressTypeID">
                        {{ getAddressTypeDesc(form.AddressTypeID) }}
                      </option>
                    </select>
                  </div>
    
                  <!-- Other fields will be disabled if Same As Type has a value -->
                  <div class="input-field">
                    <label for="address1"> Address - Line 1 </label>
                    <input [(ngModel)]="address.addressLine1" name="address1" id="address1" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="address2"> Address - Line 2 </label>
                    <input [(ngModel)]="address.addressLine2" name="address2" id="address2" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="address3"> Address - Line 3 </label>
                    <input [(ngModel)]="address.addressLine3" name="address3" id="address3" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="address4"> Address - Line 4 </label>
                    <input [(ngModel)]="address.addressLine4" name="address4" id="address4" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="city"> City </label>
                    <input [(ngModel)]="address.city" name="city" id="city" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="state"> State/Province </label>
                    <input [(ngModel)]="address.stateProvince" name="state" id="state" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
    
                  <div class="input-field">
                    <label for="country"> Country </label>
                    <select required [(ngModel)]="address.CountryID" (change)="getAllRegulater(+address.CountryID, firmId)"
                      name="Country" id="Country" [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0">
                      <option *ngFor="let place of allCountries" [value]="place.CountryID">
                        {{ place.CountryName }}
                      </option>
                    </select>
                  </div>
    
                  <div class="input-field">
                    <label for="zipCode"> Zip/Postal Code </label>
                    <input [(ngModel)]="address.zipPostalCode" name="zipCode" id="zipCode" type="text"
                      [disabled]="address.sameAsTypeID && address.sameAsTypeID != 0" />
                  </div>
                </div>
              </div>
            </div>
            <div class="create--inputs-field-set">
              <div class="popup-header">
                <h3>Additional Informations</h3>
              </div>
              <div style=" display: flex; flex-wrap: wrap;gap: 15px;">
                <label><input type="checkbox" name="VIP" /> VIP</label>
                <label><input type="checkbox" name="AnnualReport" /> Annual Report</label>
                <label><input type="checkbox" name="ChristmasNewYear" /> Christmas/New Year</label>
                <label><input type="checkbox" name="EdCards" /> Ed Cards</label>
                <label><input type="checkbox" name="Publications" /> Publications</label>
              </div>
            </div>
            <div class="btn justify-content-end">
              <button *ngIf="IsEditContactVisible" class="save-btn" (click)="saveEditContactPopup()">
                Save
              </button>
              <button *ngIf="!IsEditContactVisible" (click)="IsEditableContact()">
                <i class="bi bi-pen"></i> Edit
              </button>
              <button (click)="confirmDeleteContact()">
                <i class="bi bi-trash"></i> Delete
              </button>
            </div>
    
          </div>
        </div>
</div>