<section class="createReminder">
    <div class="inputs-field-set">
        <div class="edit-firm-actions">
            <h2 class="edit-firm-header">
                Create Personal Reminder
            </h2>
            <div class="edit-btn">
                <button class="save-btn">Save</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </div>
        <div class="inputs-row">
            <div class="input-field">
                <label for="summary">Summary</label>
                <input name="summary" type="text" />
            </div>
            <div class="input-field">
                <label for="firmName">Firm Name</label>
                <select name="firmName">
                    <!-- <option *ngFor="let option of firmName"
                  [value]="option?.AuthorisationCategoryTypeID">
                  {{ option?.AuthorisationCategoryTypeDesc }}
                </option> -->
                </select>
            </div>
        </div>
        <div class="inputs-row">
            <div class="input-field fullwidth">
                <label for="notes">Notes</label>
                <textarea name="notes"></textarea>
            </div>
        </div>
        <div class="inputs-row">
            <div class="input-field">
                <label for="duedate">Due Date</label>
                <input name="duedate" id="dueDate" type="date">
            </div>
            <div class="input-field">
                <label for="Status">Status</label>
                <select name="Status">
                    <!-- <option *ngFor="let option of firmName"
                  [value]="option?.AuthorisationCategoryTypeID">
                  {{ option?.AuthorisationCategoryTypeDesc }}
                </option> -->
                </select>
            </div>
        </div>
    </div>
</section>