.createReminder {
    margin-bottom: 30px;

    .actions-btn {
        justify-content: flex-end;
        display: flex;
        padding: 0.5rem 1rem;
    }
}

/* errors */
.error-border {
    border-color: red !important;
    outline: 0;
}

.error-messages {
    margin-left: 15px;
    margin-top: 10px;
}