<section class="create-controller-section">
    <div class="inputs-field-set">
        <div class="create-controller-actions">
            <h2 class="create-controller-header">
                Controller For "Firm Name"
            </h2>
            <div class="btns">
                <button class="save-btn">Save</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </div>
        <div class="create-controller-inputs">
            <div class="input-field controller-type-container">
                <label for="controllerType">
                    Controller Type <span style="color: red;">*</span>
                </label>
                <select disabled name="controllerType" id="controllerType">
                    <option value="select" selected>Select</option>
                    <option value="parentEntity">Parent Entity</option>
                    <option value="corporateController">Corporate Controller</option>
                    <option value="uboCorporate">UBO - Corporate</option>
                    <option value="uboIndividual">UBO - Individual</option>
                    <option value="headOfficeBranch">Head Office of a Branch</option>
                    <option value="individualController">Individual Controller</option>
                </select>
            </div>
            <ng-container>
                <div class="input-field">
                    <label for="entityName">
                        Full Name of Entity <span style="color: red;">*</span>
                    </label>
                    <input name="entityName" id="entityName" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="individualTitle">
                        Title
                    </label>
                    <select name="individualTitle" id="individualTitle">
                        <option value="select">Select</option>
                        <option value="">Sheikh</option>
                    </select>
                </div>
                <!---->
                <div class="input-field">
                    <label for="firstName">
                        First Name <span style="color: red;">*</span>
                    </label>
                    <input name="firstName" id="firstName" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="secondName">
                        Second Name <span style="color: red;">*</span>
                    </label>
                    <input name="secondName" id="secondName" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="familyName">
                        Family Name <span style="color: red;">*</span>
                    </label>
                    <input name="familyName" id="familyName" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="placeOfBirth">
                        Place of birth
                    </label>
                    <input name="placeOfBirth" id="placeOfBirth" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="dateOfBirth">
                        Date of birth <span style="color: red;">*</span>
                    </label>
                    <input name="dateOfBirth" id="dateOfBirth" type="date">
                </div>
                <!---->
                <div class="input-field">
                    <label for="passportNum">
                        Passport Number
                    </label>
                    <input name="passportNum" id="passportNum" type="date">
                </div>
                <!---->
                <div class="input-field">
                    <label for="jurisdictionIssue">
                        Jurisdiction of Issue
                    </label>
                    <select name="jurisdictionIssue" id="jurisdictionIssue">
                        <option value="select">Select</option>
                    </select>
                </div>
                <!---->
                <div class="input-field" style="width: 100%;">
                    <label for="isPEP">
                        Is Politically Exposed Person (PEP)? <span style="color: red;">*</span>
                    </label>
                    <div class="radio-wrapper">
                        <input name="isPEP" id="yes" type="radio"> Yes
                        <input name="isPEP" id="no" type="radio" [value]="true"> No
                    </div>
                </div>
                <!---->
                <div class="input-field">
                    <label for="legalStatus">
                        Legal Status
                    </label>
                    <select name="legalStatus" id="legalStatus">
                        <option value="">Select</option>
                        <option value="">Company</option>
                        <option value="">Partnership</option>
                        <option value="">Trust</option>
                    </select>
                </div>
                <!---->
                <div class="input-field">
                    <label for="registeredNumber">
                        Registered Number
                    </label>
                    <input name="registeredNumber" id="registeredNumber" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="establishmentPlace">
                        Place of Establishment <span style="color: red;">*</span>
                    </label>
                    <select name="establishmentPlace" id="establishmentPlace">
                        <option value="">Select</option>
                    </select>
                </div>
                <!---->
                <div class="input-field">
                    <label for="controlType">
                        Type of Control <span style="color: red;">*</span>
                    </label>
                    <select name="controlType" id="controlType">
                        <option value="">Select</option>
                        <option value="percentage">Percentage</option>
                        <option value="exerciseControl">Exercise Control</option>
                    </select>
                </div>
                <!---->
                <div class="input-field">
                    <label for="holdingsPercentage">
                        % of Holding
                    </label>
                    <input name="holdingsPercentage" id="holdingsPercentage" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="effectiveDate">
                        Effective Date
                    </label>
                    <input name="effectiveDate" id="effectiveDate" type="date">
                </div>
                <!---->
                <div class="input-field">
                    <label for="cessationDate">
                        Cessation Date
                    </label>
                    <input name="cessationDate" id="cessationDate" type="date">
                </div>
                <!---->
                <div class="input-field">
                    <label for="isRegulated">
                        Is the company regulated :
                    </label>
                    <div class="radio-wrapper">
                        <input name="isRegulated" id="yes" type="radio" [(ngModel)]="isCompanyRegulated" [value]="true">
                        Yes
                        <input name="isRegulated" id="no" type="radio" [(ngModel)]="isCompanyRegulated" [value]="false">
                        No
                    </div>
                </div>
                <!---->
                <div class="input-field">
                    <label for="isParent">
                        Is it also Parent / Corporate Controller? :
                    </label>
                    <div class="radio-wrapper">
                        <input name="isParent" id="yes" type="radio"> Yes
                        <input name="isParent" id="no" type="radio"> No
                    </div>
                </div>
                <!---->
                <div class="input-field">
                    <label for="isCompanyTraded">
                        Is the company publicly traded :
                    </label>
                    <div class="radio-wrapper">
                        <input name="isCompanyTraded" id="yes" type="radio" [(ngModel)]="isCompanyTraded"
                            [value]="true"> Yes
                        <input name="isCompanyTraded" id="no" type="radio" [(ngModel)]="isCompanyTraded"
                            [value]="false"> No
                    </div>
                </div>
                <!---->
                <div class="input-field" *ngIf="isCompanyTraded === false">
                    <label for="more10UBOs">
                        Are there any UBOs that own more than 10% of this entity? :
                    </label>
                    <div class="radio-wrapper">
                        <input name="more10UBOs" id="yes" type="radio" [(ngModel)]="more10UBOs" [value]="true"> Yes
                        <input name="more10UBOs" id="no" type="radio" [(ngModel)]="more10UBOs" [value]="false"> No
                    </div>
                </div>
                <!---->
                <div class="input-field" *ngIf="more10UBOs === true">
                    <label for="controllers">
                        Controllers
                    </label>
                    <input name="controllers" id="controllers" type="text">
                </div>
                <!---->
                <div class="input-field additional-details">
                    <label for="additionalDetails">
                        Additional Details
                    </label>
                    <textarea name="additionalDetails" id="additionalDetails"></textarea>
                </div>
                <!---->
            </ng-container>
        </div>
    </div>
    <div class="inputs-field-set">
        <div class="create-controller-actions">
            <h2 class="create-controller-header">
                Addresses
            </h2>
        </div>
        <div class="create-controller-inputs">
            <div class="input-field">
                <label for="addressType">
                    Address Type
                </label>
                <select disabled name="addressType" id="addressType">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="input-field">
                <label for="address1">
                    Address - Line 1
                </label>
                <input name="address1" id="address1" type="text" value="">
            </div>
            <div class="input-field">
                <label for="address2">
                    Address - Line 2
                </label>
                <input name="address2" id="address2" type="text" value="">
            </div>
            <div class="input-field">
                <label for="address3">
                    Address - Line 3
                </label>
                <input name="address3" id="address3" type="text" value="">
            </div>
            <div class="input-field">
                <label for="address4">
                    Address - Line 4
                </label>
                <input name="address4" id="address4" type="text" value="">
            </div>
            <div class="input-field">
                <label for="city">
                    City
                </label>
                <input name="city" id="city" type="text" value="">
            </div>
            <div class="input-field">
                <label for="state">
                    State/Province
                </label>
                <input name="state" id="state" type="text" value="">
            </div>
            <div class="input-field">
                <label for="country">
                    Country
                </label>
                <select name="country" id="country">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="input-field">
                <label for="zipCode">
                    Zip/Postal Code
                </label>
                <input name="zipCode" id="zipCode" type="text" value="">
            </div>
        </div>
    </div>

    <div class="inputs-field-set" *ngIf="isCompanyRegulated === true">
        <div class="create-controller-actions">
            <h2 class="create-controller-header">
                Home State Regulators
            </h2>
        </div>
        <div class="create-controller-inputs">
            <div class="button-wrapper">
                <button class="add-regulator-btn">+</button>
            </div>
            <div class="input-field home-state-regulators-container">
                <div class="regulator-select-container">
                    <label for="regulators">
                        Regulator <span style="color: red;">*</span>
                    </label>
                    <select disabled name="regulators" id="regulators">
                        <option value="select">Select</option>
                    </select>
                </div>
                <div class="del-regulator-btn">
                    <button>x</button>
                </div>
            </div>
            <div class="input-field regulator-contact-container">
                <label for="regulatorContact">
                    Regulator Contact
                </label>
                <input disabled type="text">
            </div>
        </div>
    </div>
</section>