@import '../shared/popup.scss';

.section-header {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 10px;

    span {
        color: #a51e36;
        font-size: 1em;
        font-weight: 500;
        line-height: 24px;
        word-wrap: break-word;
    }
}

.btn button {
    background: #a51e36;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6.5rem;
    min-height: 40px;
}

.subbutton-open-history {
    padding: 0.1rem;
    color: white;
    background: #a51e36;
    border: none;
    border-radius: 5px;
    position: relative;
    width: 40px;
    transition: width 0.3s ease, height 0.3s ease;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 13px;

    span {
        visibility: hidden;
        opacity: 0;
        white-space: nowrap;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &:hover {
        width: 130px;

        /* Expand the width on hover */
        span {
            visibility: visible;
            opacity: 1;
            padding-left: 6px;
        }
    }

    .subbutton {
        padding: 0.1rem 1rem;
        color: white;
        background: #a51e36;
        border: none;
        border-radius: 5px;
    }
}

.inputs-field-set {
    min-height: auto;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.enhanced-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.popup-header {
    width: 100%;
}

.popup-header h3 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #a51e36;
    width: 100%;
}

.input-field a {
    overflow-wrap: anywhere;
}

.button-style {
    background-color: #a51e36;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, padding 0.3s ease, min-width 0.3s ease;
    min-width: 2.5rem;
    position: relative;
}

.button-style .button-text {
    display: none;
    transition: opacity 0.3s ease;
}

.button-style:hover .button-text {
    display: inline;
    margin-left: 5px;
}

.button-style:hover i {
    transform: scale(1);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-container {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    width: 60%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    max-height: 90vh;
    overflow-y: auto;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.close-icon {
    font-size: 26px;
    cursor: pointer;
    color: #a51e36;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2 {
    color: #a51e36;
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
}

.buttons-section {
    display: inline-flex;
    gap: 4px;
}



.dropdown-column {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 40px;
}

.popup-content .input-field {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

.search-firms-inputs {
    flex-wrap: wrap;
    gap: 1rem;
}

.select-wrapper select,
.input-field input {
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 0.9rem;
    outline: none;
    transition: border 0.3s ease;
    width: 100%;
}

.input-search-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 20px 0px;
}

.search,
.reset {
    background-color: #a51e36;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset {
    background-color: #898989;
}

.error-messages p {
    margin-bottom: 10px;
    color: red;
}

.error-border {
    border-color: red !important;
    outline: 0;
}

.space-between {
    justify-content: space-between;
}

.no-data-message {
    text-align: center;
    font-weight: bold;
}

.revision-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.revision-list li {
    margin-bottom: 0.5rem;
}

.revision-list li a:hover {
    color: #bc3a52;
    cursor: pointer;
}