<div class="table">
    <div class="tableTitle">
        <h3>No of Reports Submission by years </h3>
    </div>
    <table class="reportsTable">
        <thead>
            <tr>
                <th>Report Name</th>
                <th *ngIf="hasSubmitted" class="numbers">Submitted</th>
                <th *ngIf="hasNotSubmitted" style="text-align: center;" class="numbers">Not Submitted</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reportSubmissions of ReportSubmissions.slice(0,listCount)">
                <td>{{reportSubmissions.ReportName}}</td>
                <td *ngIf="hasSubmitted" class="numbers">{{reportSubmissions.Submitted}}</td>
                <td *ngIf="hasNotSubmitted" class="numbers">{{reportSubmissions.NotSubmitted}}</td>
            </tr>
        </tbody>
    </table>
</div>