
.table{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1% 5px;
    background: white;
    height: 100%;
    border-radius: 15px;
    box-shadow: 8px 8px 43px rgba(8, 50, 79, 0.10);
    width: 100%;
}
.tableTitle{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #E1E7EC;
}
.tableTitle h3{
    color: #222529;
    font-size: 1em;
    font-weight: 500; 
    margin: 5px;
    font-weight: bold;
}
.reportsTable{
    width: 100%;
    text-align: left;
}
.reportsTable th {
    border-bottom: 1px solid #E1E7EC;
    color: #333; /* Darker color for better contrast */
    font-size: 0.9em;
    font-weight: 600; /* Increase weight for more prominence */
    padding-bottom: 8px; /* Add some padding for better spacing */
    text-align: left;
}

.reportsTable th, .reportsTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 12px;
    font-size: 0.9em;
}

.reportsTable tr{
    height: 3rem;
}
.numbers{
    color: #909090; 
    text-align: center;
}

@media (max-width: 768px) {
    .table {
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    
    .reportsTable th, .reportsTable td {
        font-size: 0.8em;
        padding: 6px 8px;
    }
    
    .tableTitle h3 {
        font-size: 0.9em;
    }
}

@media (max-width: 1270px) {
    .reportsTable th, .reportsTable td {
        font-size: 0.7em;
    }
}