<div class="table">
    <div class="tableTitle">
        <h3>No of Reports Submission by years </h3>
    </div>
    <table class="reportsTable">
        <thead>
            <tr>
                <th>Report Name</th>
                <th>Submitted</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reportSubmissions of ReportSubmissions.slice(0,listCount)">
                <td>{{reportSubmissions.ReportName}}</td>
                <td class="numbers">{{reportSubmissions.Submitted.value}}</td>
                <td class="numbers">{{reportSubmissions['Not Submitted']}}</td>
            </tr>
        </tbody>
    </table>
</div>