<div class="table">
    <div class="tableTitle">
        <h3>No of Reports Submission by years </h3>
    </div>
    <table class="reportsTable">
        <thead>
            <tr>
                <th>Report Name</th>
                <th>Submitted</th>
                <th>Pending</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XBRL Product Returns</td>
                <td class="numbers">5</td>
                <td class="numbers">2</td>
            </tr>
            <tr>
                <td>Lead Regulator Capital Resources Report</td>
                <td class="numbers">12</td>
                <td class="numbers">0</td>
            </tr>
            <tr>
                <td>Form Q27 AML/CFT RETURN</td>
                <td class="numbers">0</td>
                <td class="numbers">28</td>
            </tr>
            <tr>
                <td>Bank Return (Solo)</td>
                <td class="numbers">5</td>
                <td class="numbers">0</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
