.breachProvision {
    margin-top: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.comments {
    background-color: #e5e4e4;
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    color: rgb(84, 84, 84);
    font-size: 0.9rem;
    outline: none;
    transition: border 0.3s ease;
    width: 100%;
}

table.action-table td:nth-child(1),table.action-table td:nth-child(2) {
    white-space: nowrap;
}
.add-recipients-btn ,.removeRow button{
    background-color: #a51e36;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;

    &:hover {
        background-color: #920e2b;
    }
}

.add-header{
    display: inline-flex;
}