.notes {
    width: 100% !important;
    margin-top: 10px;

    > div {
        width: 100% !important;
    }
    .notes-text {
        padding: 10px;
    }
}



.custom-checkbox {
    margin: 0px;
    font-size: 0.9rem;
}

.checkbox-options {
    display: inline-flex;
    gap: 15px;
    flex-wrap: wrap;
}


.input-field {
    input,select,textarea{
        padding: 0.5rem 1%;
    }
    
}