<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section edit-scope-section">
  <!--scope tabs-->
  <div class="scope-container">
    <div class="menu-container tab-container">
      <ul class="nav">
        <li>
          <a (click)="switchScopeTab('Licensed')" [class.active]="activeSection === 'Licensed'"><i
              class="bi bi-award"></i>Licensed</a>
        </li>
        <li *ngIf="firmDetails?.AuthorisationStatusTypeID > 0">
          <a (click)="switchScopeTab('Authorized')" [class.active]="activeSection === 'Authorized'"><i
              class="bi bi-shield-check"></i>Authorized</a>
        </li>
      </ul>
    </div>
  </div>
  <!--Licensed Section-->
  <div *ngIf="tabIndex === 0" class="licensed-section">
    <div class="licensed-body" [ngClass]="{
        collapsed:
          isCollapsed['LicensedSection'] &&
          firmDetails?.AuthorisationStatusTypeID > 0
      }">
      <div class="inputs-field-set scopeFor">
        <!--Error messages for firm details-->
        <div class="error-messages">
          <p *ngIf="errorMessages['ScopeEffectiveDate']">
            {{ errorMessages['ScopeEffectiveDate'] }}
          </p>
          <p *ngIf="errorMessages['ScopeAppliedDate']">
            {{ errorMessages['ScopeAppliedDate'] }}
          </p>
          <p *ngIf="errorMessages['ScopeEffectiveDateLessThanApplicationDate']">
            {{ errorMessages['ScopeEffectiveDateLessThanApplicationDate'] }}
          </p>
          <p *ngIf="errorMessages['ScopeAppliedDateLessThanFirmLicApplDate']">
            {{ errorMessages['ScopeAppliedDateLessThanFirmLicApplDate'] }}
          </p>
          <p *ngIf="errorMessages['ActivityTypeIDCORRECTION']">
            {{ errorMessages['ActivityTypeIDCORRECTION'] }}
          </p>
        </div>
        <div class="form-section-title">
          <h2 class="edit-firm-header">
            Scope > <span>{{ firmDetails?.FirmName }}</span>
          </h2>
          <div *ngIf="currentLicRevisionNumber === lastLicRevisionNumber" style="display: flex; gap: 10px">
            <div class="btn" *ngIf="getControlVisibility('imgBtnEdit') && !hideEditBtn">
              <button [disabled]="!getControlEnablement('imgBtnEdit')" class="edit-btn" (click)="editLicenseScope()">
                <i class="bi bi-pen"></i>Edit
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnSave') && !hideSaveBtn">
              <button [disabled]="!getControlEnablement('imgBtnSave')" class="save-btn" (click)="saveLicenseScope()">
                Save
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnCancel') && !hideCancelBtn">
              <button [disabled]="!getControlEnablement('imgBtnCancel')" class="cancel-btn"
                (click)="cancelEditLicScope()">
                Cancel
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnCreate') && !hideCreateBtn">
              <button [disabled]="!getControlEnablement('imgBtnCreate')" (click)="createLicenseScope()">
                Create
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnRevise') && !hideReviseBtn
              ">
              <button [disabled]="!getControlEnablement('imgBtnRevise')">
                Revise
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnDelete') && !hideDeleteBtn">
              <button [disabled]="!getControlEnablement('imgBtnDelete')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="inputs-row">
          <div style="width: 100%" class="input-field">
            <label for="formReff"> Form Reference </label>
            <a *ngIf="isEditModeLicense || !(ActivityLicensed[0].ScopeRevNum)" (click)="getFormReferenceDocuments()"
              class="form-ref-btn">Select/De-select document</a>
            <a id="websiteLink" href="https://qfcra365.sharepoint.com/sites/FIRMSUAT/{{documentDetails.Column3}}"
              target="_blank" rel="noopener noreferrer">
              {{documentDetails?.formattedFileName || documentDetails?.FileName}}
            </a>
          </div>
          <div style="width: 100%" class="input-field">
            <label for="linkScope"> Link To Scope </label>
            <input *ngIf="isEditModeLicense || isCreateModeLicense" name="linkScope" id="linkScope" type="text"
              [(ngModel)]="linkToScope" />
            <a *ngIf="!isEditModeLicense" id="websiteLink" [href]="ActivityLicensed[0].ScopeCertificateLink"
              target="_blank" rel="noopener noreferrer">
              {{ ActivityLicensed[0]?.ScopeCertificateLink }}
            </a>
          </div>
          <div class="input-field">
            <label for="scopeRevNum"> Scope Revision Number </label>
            <input disabled name="scopeRevNum" id="scopeRevNum" type="text"
              [(ngModel)]="ActivityLicensed[0].ScopeRevNum" />
          </div>
          <div class="input-field">
            <!--label is changed based on scoperevnum-->
            <label for="q13AppDate" *ngIf="
                ActivityLicensed[0]?.ScopeRevNum > 1 &&
                ActivityLicensed[0]?.ScopeRevNum
              ">
              Q13 Application Date for revisions
            </label>
            <!--label is changed based on scoperevnum-->
            <label *ngIf="
                !ActivityLicensed[0]?.ScopeRevNum ||
                ActivityLicensed[0]?.ScopeRevNum <= 1
              ">Application Date</label>
            <input [disabled]="disableApplicationDate" name="appDate" id="appDate" #dateInputs placeholder type="text"
              [(ngModel)]="scopeAppliedDate" [ngClass]="{'error-border': errorMessages['ScopeAppliedDate']}" />
          </div>
          <div class="input-field">
            <label for="licenseDate"> Licensed Date </label>
            <input disabled name="licenseDate" id="licenseDate" type="text"
              [value]="isCreateModeLicense ? firmDetails?.LicensedDate : ''" />
          </div>
          <div class="input-field" *ngIf="
              (ActivityLicensed[0].ScopeRevNum !== null ||
                ActivityLicensed[0].ScopeRevNum !== '') &&
              ActivityLicensed[0].ScopeRevNum > 1
            ">
            <label for="effectiveDate"> Effective Date </label>
            <input [disabled]="!isEditModeLicense" disabled name="effectiveDate" id="effectiveDate" type="text"
              #dateInputs placeholder [(ngModel)]="ActivityLicensed[0].ScopeEffectiveDate" [ngClass]="{
                'error-border':
                  errorMessages['ScopeEffectiveDate'] ||
                  errorMessages['ScopeEffectiveDateLessThanApplicationDate']
              }" />
          </div>
          <div class="input-field">
            <label for="createdBy"> Created By </label>
            <input disabled name="createdBy" id="createdBy" type="text"
              value="{{ ActivityLicensed[0]?.ScopeCreatedByName }}" />
          </div>
          <div class="input-field">
            <label for="modBy"> Modified By </label>
            <input disabled name="modBy" id="modBy" type="text" value="{{ ActivityLicensed[0]?.ModifiedBy }}" />
          </div>
          <div class="input-field">
            <label for="modDate"> Modification Date </label>
            <input disabled name="modDate" id="modDate" type="text"
              value="{{ ActivityLicensed[0]?.LastModifiedDate }}" />
          </div>
          <div class="input-field">
            <label for="createdDate"> Creation Date </label>
            <input disabled name="createdDate" id="createdDate" type="text"
              value="{{ ActivityLicensed[0]?.ScopeCreatedDate }}" />
          </div>
          <div *ngIf="isEditModeLicense && !hideReviseBtn" class="vary-scope">
            <button (click)="varyLicenseScope()">Vary Scope</button>
          </div>
        </div>
        <div *ngIf="!isEditModeLicense && ActivityLicensed[0].ScopeRevNum >= 1" class="view-prev-version-container">
          <a class="view-prev-version" (click)="getLicScopePreviousVersions(firmId, 2)">View Previous Version</a>
        </div>
      </div>
      <!---->
      <div class="inputs-field-set">
        <div class="form-section-title">
          <h2 class="edit-firm-header">Permitted Activities</h2>
        </div>

        <div class="scope-permitted-activity-header">
          <p>Activity</p>
        </div>

        <!-- View Mode License -->
        <div class="permitted-activity-body" *ngFor="let activityLic of ActivityLicensed">
          <ng-container *ngIf="!isEditModeLicense && !isCreateModeLicense && activityLic.FirmScopeTypeID === 1">
            <p *ngIf="!isEditModeLicense">
              {{ activityLic?.ActivityTypeDesc }}
            </p>

            <strong>Activity Details: </strong>
            <div class="input-field fullwidth">
              <textarea disabled>{{
                removeHtmlTags(activityLic?.FirmActivityDetails)
              }}</textarea>
              <!-- <div [innerHTML]="activityLic?.FirmActivityDetails"></div> -->
            </div>

            <strong>Specific Conditions and Restrictions: </strong>
            <div class="input-field fullwidth">
              <textarea disabled>{{
                removeHtmlTags(activityLic?.Column1)
              }}</textarea>
            </div>
          </ng-container>
        </div>
        <!-- Edit Mode License -->
        <div class="add-activity-container">
          <button *ngIf="isEditModeLicense || isCreateModeLicense" class="add-permitted-activity"
            (click)="addNewPermittedActivity()">
            Add Permitted Activity
          </button>
        </div>

        <div class="permitted-activity-body" *ngFor="let activityLic of permittedActivitiesList; let i = index">
          <ng-container *ngIf="isEditModeLicense || isCreateModeLicense">
            <table>
              <tr>
                <th style="width: 70%">Activity</th>
                <th style="width: 30%">Action</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <div class="input-field">
                    <select name="activities" id="activities" [(ngModel)]="activityLic.ActivityTypeID" [ngClass]="{
                      'error-border': (activityLic.ActivityTypeID == 0 && errorMessages['ActivityTypeID'])}">
                      <option value="0">Select</option>
                      <option *ngFor="let licensedActivity of licensedActivities"
                        [value]="licensedActivity.ActivityTypeID">
                        {{ licensedActivity.ActivityTypeDesc }}
                      </option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-field">
                    <select [disabled]="
                        !(
                          this.ActivityLicensed[0].ScopeRevNum > 1 &&
                          !isNullOrEmpty(this.ActivityLicensed[0].ScopeRevNum)
                        )
                      " name="action" id="action" [(ngModel)]="activityLic.FirmScopeTypeID">
                      <option *ngFor="let firmScopeType of allFirmScopeTypes" [value]="firmScopeType.FirmScopeTypeID">
                        {{ firmScopeType.FirmScopeTypeDesc }}
                      </option>
                    </select>
                  </div>
                </td>
                <td>
                  <button class="rmvActivityLicBtn bi bi-trash" (click)="removePermittedActivity(i)"></button>
                </td>
              </tr>
              <tr class="error-messages">
                <p *ngIf="
                    activityLic.ActivityTypeID == 0 &&
                    errorMessages['ActivityTypeID']
                  ">
                  {{ errorMessages['ActivityTypeID'] }}
                </p>
              </tr>
            </table>
            <!-- Additional fields for activity details -->
            <strong>Activity Details:</strong>
            <div class="input-field fullwidth">
              <textarea [(ngModel)]="activityLic.FirmActivityDetails"></textarea>
            </div>

            <strong>Specific Conditions and Restrictions:</strong>
            <div class="input-field fullwidth">
              <textarea [(ngModel)]="activityLic.Column1"></textarea>
            </div>
          </ng-container>
        </div>
        <div class="error-messages">
          <p *ngIf="
             errorMessages['DuplicateActivity']
           ">
            {{ activityDescription + " " + errorMessages['DuplicateActivity'] }}
          </p>
        </div>


        <div class="permitted-activity-container2">
          <div class="scope-permitted-activity-header">
            <p>General License Conditions or restrictions</p>
          </div>

          <div class="permitted-activity-body">
            <div class="input-field fullwidth">
              <textarea [disabled]="!isEditModeLicense && !isCreateModeLicense"
                [(ngModel)]="ActivityLicensed[0].GeneralConditions">{{ ActivityLicensed?.GeneralConditions }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Authorised Section-->
  <div class="authorized-section" *ngIf="firmDetails?.AuthorisationStatusTypeID > 0 && tabIndex === 1">
    <div class="authorized-body" [ngClass]="{ collapsed: isCollapsed['authorizeSection'] }">
      <div class="inputs-field-set scopeFor">
        <div class="error-messages">
          <p *ngIf="errorMessages['correctPermittedActivities']">
            {{ errorMessages['correctPermittedActivities'] }}
          </p>
          <p *ngIf="errorMessages['ScopeAppliedDateAuth']">
            {{ errorMessages['ScopeAppliedDateAuth'] }}
          </p>
          <p *ngIf="errorMessages['ScopeEffectiveDateAuth']">
            {{ errorMessages['ScopeEffectiveDateAuth'] }}
          </p>
          <p *ngIf="errorMessages['EffectiveDateLaterApplicationDate']">
            {{ errorMessages['EffectiveDateLaterApplicationDate'] }}
          </p>
          <p *ngIf="errorMessages['AddActivity']">
            {{ errorMessages['AddActivity'] }}
          </p>
          <p *ngIf="errorMessages['PrudentialEffectiveDate']">
            {{ errorMessages['PrudentialEffectiveDate'] }}
          </p>
          <p *ngIf="errorMessages['SectorEffectiveDate']">
            {{ errorMessages['SectorEffectiveDate'] }}
          </p>
          <p *ngIf="errorMessages['SectorReturnType']">
            Please select valid "Prudential Return Type".
          </p>
          <p *ngIf="errorMessages[('islamicType')]">
            {{errorMessages[('islamicType')]}}
          </p>
          <p *ngIf="errorMessages[('authorisationCategoryTypeID')]">
            {{errorMessages[('authorisationCategoryTypeID')]}}
          </p>
        </div>
        <div class="form-section-title">
          <h2 class="edit-firm-header">
            Scope ><span>{{ firmDetails?.FirmName }}</span>
          </h2>
          <div *ngIf="currentAuthRevisionNumber === lastAuthRevisionNumber" style="display: flex; gap: 10px">
            <div class="btn" *ngIf="getControlVisibility('imgBtnEdit') && !hideEditBtn">
              <button [disabled]="!getControlEnablement('imgBtnEdit')" class="edit-btn" (click)="editAuthScope()">
                <i class="bi bi-pen"></i>Edit
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnSave') && !hideSaveBtn">
              <button [disabled]="!getControlEnablement('imgBtnSave')" class="save-btn" (click)="saveAuthScope()">
                Save
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnCancel') && !hideCancelBtn">
              <button [disabled]="!getControlEnablement('imgBtnCancel')" class="cancel-btn"
                (click)="cancelEditAuthScope()">
                Cancel
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnCreate') && !hideCreateBtn">
              <button [disabled]="!getControlEnablement('imgBtnCreate')" (click)="createAuthorisedScope()">
                Create
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnRevise') && !hideReviseBtn">
              <button [disabled]="!getControlEnablement('imgBtnRevise')">
                Revise
              </button>
            </div>

            <div class="btn" *ngIf="getControlVisibility('imgBtnDelete') && !hideDeleteBtn">
              <button [disabled]="!getControlEnablement('imgBtnDelete')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="inputs-row">
          <div class="input-field">
            <label for="formReff"> Form Reference </label>
            <a *ngIf="isEditModeAuth || !(ActivityAuth[0].ScopeRevNum)" (click)="getFormReferenceDocuments()"
              class="form-ref-btn">Select/De-select document</a>
            <a id="websiteLink" href="https://qfcra365.sharepoint.com/sites/FIRMSUAT/{{documentDetails.Column3}}"
              target="_blank" rel="noopener noreferrer">
              {{documentDetails?.formattedFileName || documentDetails?.FileName}}
            </a>
          </div>
          <div style="width: 100%" class="input-field">
            <label for=""> Link To Scope </label>
            <a *ngIf="!isEditModeAuth" id="websiteLink" [href]="ActivityAuth[0]?.ScopeCertificateLink" target="_blank"
              rel="noopener noreferrer">
              {{ ActivityAuth[0]?.ScopeCertificateLink }}
            </a>
          </div>
          <div class="input-field">
            <label for=""> Scope Revision Number </label>
            <input disabled name="" id="" type="text" value="{{ ActivityAuth[0]?.ScopeRevNum }}" />
          </div>
          <div class="input-field">
            <!--label is changed based on scoperevnum-->
            <label for="q13AppDate" *ngIf="
                ActivityAuth[0]?.ScopeRevNum > 1 &&
                ActivityAuth[0]?.ScopeRevNum
              ">
              Q13 Application Date for revisions
            </label>
            <!--label is changed based on scoperevnum-->
            <label *ngIf="
                !ActivityAuth[0]?.ScopeRevNum ||
                ActivityAuth[0]?.ScopeRevNum <= 1
              ">Application Date</label>
            <input [disabled]="disableApplicationDate" [(ngModel)]="scopeAppliedDate" [ngClass]="{
                'error-border': errorMessages['ScopeAppliedDateAuth']
              }" name="q13AppDate" id="AppDate" type="text" #dateInputs placeholder />
          </div>
          <div class="input-field">
            <label for="incorporationDate"> Incorporation Date </label>
            <input disabled name="incorporationDate" id="incorporationDate" type="text"
              [value]="isCreateModeAuth ? firmDetails?.DateOfIncorporation : '' "/>
          </div>
          <div class="input-field">
            <label for="authorisedDate"> Authorised Date </label>
            <input disabled name="authorisedDate" id="authorisedDate" type="text"
              value="{{ ActivityAuth[0]?.ScopeLicensedOrAuthorisedDate }}" />
          </div>
          <div class="input-field" *ngIf="
              (ActivityAuth[0].ScopeRevNum !== null ||
                ActivityAuth[0].ScopeRevNum !== '') &&
              ActivityAuth[0].ScopeRevNum > 1
            ">
            <label for="effectiveDate"> Effective Date </label>
            <input [(ngModel)]="ActivityAuth[0].ScopeEffectiveDate" [disabled]="!isEditModeAuth" name="effectiveDate"
              id="effectiveDate" type="text" #dateInputs placeholder />
          </div>
          <div class="input-field">
            <label for=""> Created By </label>
            <input disabled name="" id="" type="text" value="{{ ActivityAuth[0]?.CreatedByName }}" />
          </div>
          <div class="input-field">
            <label for=""> Last Modified By </label>
            <input disabled name="" id="" type="text" value="{{ ActivityAuth[0]?.ModifiedByName }}" />
          </div>
          <div class="input-field">
            <label for=""> Last Modified Date </label>
            <input disabled name="" id="" type="text" value="{{ ActivityAuth[0]?.LastModifiedDate }}" />
          </div>
          <div class="input-field">
            <label for=""> Creation Date </label>
            <input disabled name="" id="" type="text" value="{{ ActivityAuth[0]?.CreatedDate }}" />
          </div>
          <div *ngIf="isEditModeAuth && !hideReviseBtn" class="vary-scope">
            <button (click)="varyAuthScope()">Vary Scope</button>
          </div>
        </div>
        <div *ngIf="!isEditModeAuth && ActivityAuth[0].ScopeRevNum >= 1" class="view-prev-version-container">
          <a class="view-prev-version" (click)="getAuthScopePreviousVersions(firmId, 3)">View Previous Version</a>
        </div>
      </div>

      <!--Scope of Authorization-->
      <div *ngIf="ActivityAuth[0].ScopeRevNum" class="inputs-field-set"
        [ngClass]="{ collapsed: isCollapsed['scopeOfAuthorization'] }">
        <div class="section">
          <div *ngIf="errorMessages['uploadDocument']" class="error-messages" style="width:100%">
            <p *ngIf="errorMessages['uploadDocument']">
              {{ errorMessages['uploadDocument'] }}
            </p>
          </div>
          <div class="form-section-title collapse-container">
            <h2 class="edit-firm-header">Scope of Authorisation</h2>
            <button class="collapse-button" (click)="toggleCollapse('scopeOfAuthorization')">
              {{ isCollapsed['scopeOfAuthorization'] ? '▲' : '▼' }}
            </button>
          </div>

          <app-attachment [documentObj]="documentObj" [tableDoc]="scopeOfAuthTableDoc" [pageName]="Page.Scope"
            [param1]="ActivityAuth[0].FirmScopeID" [param2]="ActivityAuth[0].ScopeRevNum" [isEdit]="isEditModeAuth"
            [DocSubTypeID]="fetchedScopeDocSubTypeID" [loadDocuments]="loadDocuments.bind(this)"
            (documentUploaded)="onDocumentUploaded($event)" [selectedFile]="selectedFile"
            (selectedFileChange)="selectedFile = $event" [newfileNum]="newfileNum">
          </app-attachment>
        </div>
      </div>

      <!--Regulated Activities-->
      <div class="inputs-field-set" [ngClass]="{ collapsed: isCollapsed['regulatedActivitiesSection'] }">
        <div class="section">
          <div class="form-section-title collapse-container">
            <h2 class="edit-firm-header">Regulated Activities</h2>
            <button class="collapse-button" (click)="toggleCollapse('regulatedActivitiesSection')">
              {{ isCollapsed['regulatedActivitiesSection'] ? '▲' : '▼' }}
            </button>
          </div>
          <div [hidden]="isCollapsed['regulatedActivitiesSection']" class="add-btn-container" *ngIf="isEditModeAuth || isCreateModeAuth">
            <button class="add-permitted-btn" (click)="addNewRegulatedActivity()">
              Add Regulated Activity
            </button>
          </div>
          
          <div class="regulated-activities-container">
            <!--on view mode-->
            <div *ngFor="let activity of regulatedActivitiesList; let i = index">
              <div class="regulated-activities-header regulated-activity-view" *ngIf="!isEditModeAuth && !isCreateModeAuth">
                <p>
                  Category :
                  <strong>{{ activity?.CategoryDescription }}</strong>
                </p>
                <p>
                  Activity :
                  <strong>{{ activity?.ActivityTypeDescription }}</strong>
                </p>
              </div>
              <div *ngIf="!isEditModeAuth && !isCreateModeAuth" class="products-header">
                <p>Product(s)</p>
              </div>
              <!---->
              <!--on edit mode-->
              <div class="regulated-activities-header" *ngIf="isEditModeAuth || isCreateModeAuth">
                <div class="select-container">
                  <div class="category-select">
                    <label for="category" style="display: flex; gap: 5px">
                      Category <span style="color: red">*</span>:
                    </label>
                    <select [(ngModel)]="activity.CategoryID" (ngModelChange)="onCategoryChange(activity)"
                      name="category" id="category">
                      <option *ngFor="let category of activityCategories" [value]="category.ActivityCategoryID">
                        {{ category.ActivityCategoryDesc }}
                      </option>
                    </select>
                  </div>

                  <div class="activity-select">
                    <label for="activity" style="display: flex; gap: 5px">
                      Activity <span style="color: red">*</span>:
                    </label>
                    <select [(ngModel)]="activity.ActivityTypeID" (ngModelChange)="onActivityChange(activity)"
                      [ngClass]="{
                        'error-border':
                          errorMessages['ActivityTypeID'] &&
                          activity.ActivityTypeID === 0
                      }" name="activity" id="activity">
                      <option value="0">Select</option>
                      <option *ngFor="let act of activity.activities" [value]="act.ActivityTypeID">
                        {{ act.ActivityTypeDesc }}
                      </option>
                    </select>
                  </div>
                </div>

                <div *ngIf="activity.selectedSubActivity">
                  <label>Sub Activity:</label>
                  <span>{{ activity.selectedSubActivity.ActivityTypeDesc }}</span>
                </div>

                <button class="removeRegulatedActivity bi bi-trash" style="margin-left: auto"
                  (click)="removeRegulatedActivity(i)"></button>
              </div>

              <!---->

              <!--on view mode-->
              <!-- Display categorized products -->
              <div *ngIf="
                  activity?.categorizedProducts?.length > 0 && (!isEditModeAuth && !isCreateModeAuth)
                ">
                <div *ngFor="let category of activity.categorizedProducts">
                  <!-- Display Main Category -->
                  <h4>
                    {{ category.mainCategory }}
                  </h4>

                  <!-- Display Sub Products -->

                  <ul style="margin-left: 40px">
                    <li *ngFor="let subProduct of category.subProducts">
                      {{ subProduct.productTypeDescription }}
                    </li>
                  </ul>
                </div>
              </div>

              <!-- On Edit Mode Table -->
              <table class="regulated-activity-table" *ngIf="isEditModeAuth || isCreateModeAuth">
                <thead>
                  <tr>
                    <th style="width: 60%">Product(s)</th>
                    <th style="width: 60%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through the categorized products -->
                  <tr *ngFor="let product of activity.categorizedProducts">
                    <td colspan="2">
                      <label>
                        <input type="checkbox" [(ngModel)]="product.isChecked" (change)="
                            toggleAllSubCategories(product, product.isChecked)
                          " />
                        {{ product.mainCategory }}
                      </label>

                      <!-- Nested table for sub-products -->
                      <table class="nested-table">
                        <tbody>
                          <tr *ngFor="let subProduct of product.subProducts">
                            <!-- Sub-product description below "Product(s)" header -->
                            <td style="width: 60%">
                              <label>
                                <input type="checkbox" [(ngModel)]="subProduct.isChecked"
                                  (change)="updateMainCategoryState(product)" />
                                {{ subProduct.ProductCategoryTypeDesc }}
                              </label>
                            </td>
                            <!-- Dropdown placed under "Action" header -->
                            <td style="width: 40%">
                              <select [disabled]="
                                  !(
                                    this.ActivityAuth[0].ScopeRevNum > 1 &&
                                    !isNullOrEmpty(
                                      this.ActivityAuth[0].ScopeRevNum
                                    )
                                  )
                                " class="action-column" name="action" [(ngModel)]="subProduct.firmScopeTypeID">
                                <option *ngFor="
                                    let firmScopeType of allFirmScopeTypes
                                  " [value]="firmScopeType.FirmScopeTypeID">
                                  {{ firmScopeType.FirmScopeTypeDesc }}
                                </option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="isEditModeAuth || isCreateModeAuth" class="error-messages">
                <p *ngIf="activity?.errorMessages?.['ActivityTypeID']">
                  {{ activity.errorMessages['ActivityTypeID'] }}
                </p>
                <p *ngIf="activity?.errorMessages?.['Products']">
                  {{ activity.errorMessages['Products'] }}
                </p>
                <p *ngIf="activity?.errorMessages?.['DuplicateActivity']">
                  {{ activity.errorMessages['DuplicateActivity'] }}
                </p>
              </div>

              <!-- on view mode -->
              <!--specific conditions and restrictions-->
              <div *ngIf="!isEditModeAuth && !isCreateModeAuth" class="specific-conditions-and-restrictions">
                <div class="specific-conditions-and-restrictions-header">
                  <p>Specific Conditions and Restrictions</p>
                </div>

                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{
                  activity?.FirmActivityConditions
                  }}
                </p>
              </div>

              <!-- on edit mode -->
              <div *ngIf="isEditModeAuth || isCreateModeAuth" class="specific-conditions-and-restrictions">
                <div class="specific-conditions-and-restrictions-header">
                  <p>Specific Conditions and Restrictions</p>
                </div>
                <div class="input-field fullwidth">
                  <textarea [(ngModel)]="activity.firmActivityConditions" (focus)="setSelectedActivity(i)">
                  {{ activity?.FirmActivityConditions }}
                </textarea>
                </div>
              </div>
            </div>
            <!--Conditions and Restrictions-->
            <div class="conditions-and-restrictions-section">
              <div class="conditions-and-restrictions-header">
                <p>Conditions and Restrictions</p>
              </div>

              <p *ngIf="
                  ActivityAuth[0]?.ObjectFirmScopeCondition?.length > 0 ||
                  isEditModeAuth || isCreateModeAuth
                ">
                <strong>Retail Restriction: </strong> &nbsp;
                <span *ngIf="!isEditModeAuth && !isCreateModeAuth">Yes</span>
                <input *ngIf="isEditModeAuth || isCreateModeAuth" [(ngModel)]="isScopeConditionChecked" type="checkbox" />
              </p>

              <p>
                <strong>General Authorisation Conditions or Restrictions</strong>
              </p>
              <div class="input-field fullwidth">
                <textarea [disabled]="!isEditModeAuth && !isCreateModeAuth"
                  [(ngModel)]="generalCondition">{{ ActivityAuth[0]?.GeneralCondition }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Islamic Finance-->
      <div class="inputs-field-set" *ngIf="
          isEditModeAuth || isCreateModeAuth ||
          (!isEditModeAuth &&
            islamicFinance?.IFinTypeId > 0 &&
            !isIslamicFinanceDeleted)
        " [ngClass]="{ collapsed: isCollapsed['islamicFinanceSection'] }">
        <div class="form-section-title collapse-container">
          <h2 class="edit-firm-header">Islamic Finance</h2>
          <button class="collapse-button" (click)="toggleCollapse('islamicFinanceSection')">
            {{ isCollapsed['islamicFinanceSection'] ? '▲' : '▼' }}
          </button>
        </div>
        <!--view mode-->
        <div class="inputs-row">
          <div class="input-field" *ngIf="(!isEditModeAuth && !isCreateModeAuth)">
            <label for="isIslamicFinanceExist"> Islamic Finance </label>
            <input disabled name="isIslamicFinanceExist" id="isIslamicFinanceExist" type="text"
              [value]="islamicFinance?.IFinTypeId !== null ? 'Yes' : 'No'" />
          </div>
          <!--(edit mode) -->
          <div class="input-field" *ngIf="isEditModeAuth || isCreateModeAuth">
            <div style="display: flex; gap: 15px">
              <label for="isIslamicFinanceExist"> Islamic Finance </label>
              <input style="width: 15px" type="checkbox" name="isIslamicFinanceExist" id="isIslamicFinanceExist"
                [(ngModel)]="isIslamicFinanceChecked" />
            </div>
          </div>
          <div class="input-field">
            <label for="islamicFinanceType"> Type </label>
            <select [disabled]="!isIslamicFinanceChecked || (!isEditModeAuth && !isCreateModeAuth)" name="islamicFinanceType"
              id="islamicFinanceType" [(ngModel)]="iFinTypeId"
              [ngClass]="{'error-border': errorMessages['islamicType']}">
              <option value="0">Select</option>
              <option value="1">Islamic Institution</option>
              <option value="2">Islamic Window</option>
            </select>
          </div>

          <div class="input-field endorsement">
            <label for="endorsement"> Endorsement </label>
            <textarea [disabled]="!isIslamicFinanceChecked || (!isEditModeAuth && !isCreateModeAuth)" name="islamicEndorsement"
              id="endorsement" [(ngModel)]="endorsement"></textarea>
          </div>
          <div class="input-field">
            <label for="lastModifiedBy"> Last Modified By </label>
            <input disabled name="lastModifiedBy" id="lastModifiedBy" type="text"
              [(ngModel)]="islamicFinance.IFinLastModifiedByName" />
          </div>
          <div class="input-field">
            <label for="lastModificationDate"> Last Modified Date </label>
            <input disabled name="lastModificationDate" id="lastModificationDate" type="text"
              [(ngModel)]="islamicFinance.LastModifiedDate" />
          </div>
        </div>
      </div>

      <!--Prudential Category-->
      <div class="inputs-field-set" [ngClass]="{ collapsed: isCollapsed['prudentialCategorySection'] }">
        <div class="form-section-title collapse-container">
          <h2 class="edit-firm-header">Prudential Category</h2>
          <button class="collapse-button" (click)="toggleCollapse('prudentialCategorySection')">
            {{ isCollapsed['prudentialCategorySection'] ? '▲' : '▼' }}
          </button>
        </div>
        <div class="inputs-row">
          <div class="input-field">
            <label for="prudentialCategory"> Prudential Category </label>
            <select [disabled]="!isEditModeAuth && !isCreateModeAuth" name="prudentialCategory" id="prudentialCategory"
              [(ngModel)]="prudCategoryTypeID"
              (ngModelChange)="onPrudentialCategoryChange($event)"
              [ngClass]="{'error-border': errorMessages['SectorReturnType']}">
              <option value="0">Select</option>
              <option *ngFor="let option of allPrudentialCategoryTypes" [value]="option.PrudentialCategoryTypeID">
                {{ option?.PrudentialCategoryTypeDesc }}
              </option>
            </select>
          </div>
          <div class="input-field">
            <label for="authorisationCategory">
              Authorisation Category
            </label>
            <select [disabled]="!isEditModeAuth && !isCreateModeAuth" name="prudentialCategory" id="prudentialCategory"
              [(ngModel)]="authorisationCategoryTypeID" [ngClass]="{'error-border': errorMessages['authorisationCategoryTypeID']}">
              <option value="0">Select</option>
              <option *ngFor="let option of allAuthorisationCategoryTypes"
                [value]="option?.AuthorisationCategoryTypeID">
                {{ option?.AuthorisationCategoryTypeDesc }}
              </option>
            </select>
          </div>
          <div class="input-field">
            <label for="effectiveDate">
              Effective Date
              <span *ngIf="isEditModeAuth || isCreateModeAuth" style="color: red">*</span></label>
            <input [disabled]="!isEditModeAuth && !isCreateModeAuth" [(ngModel)]="getPrudCategoryEffectiveDate" [ngClass]="{
                'error-border': errorMessages['PrudentialEffectiveDate']
              }" name="effectiveDate" id="effectiveDate" type="text" #dateInputs placeholder />
          </div>
          <div class="input-field">
            <label for="lastModifiedBy"> Last Modified By </label>
            <input disabled name="lastModifiedBy" id="lastModifiedBy" type="text" value="{{
                ActivityAuth[0]?.PrudentialCategoryLastModifiedByName
              }}" />
          </div>
          <div class="input-field">
            <label for="lastModificationDate"> Last Modification Date </label>
            <input disabled name="lastModificationDate" id="lastModificationDate" type="text"
              value="{{ ActivityAuth[0]?.LastModifiedDate }}" />
          </div>

          <table class="prudentialTable" [hidden]="(isEditModeAuth && isCreateModeAuth) || !(ActivityAuth[0].ScopeRevNum)">
            <thead>
              <tr>
                <th>Prudential Category</th>
                <th>Authorisation Category</th>
                <th>Effective Date</th>
                <th>Expiration Date</th>
                <th>Last Modified By</th>
                <th>Last Modified Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prudDetail of prudentialCategoryDetails">
                <td>{{ prudDetail.PrudentialCategoryTypeDesc }}</td>
                <td>{{ prudDetail.AuthorisationCategoryTypeDesc }}</td>
                <td>{{ prudDetail.EffectiveDate }}</td>
                <td>{{ prudDetail.ExpirationDate }}</td>
                <td>{{ prudDetail.LastModifiedBy }}</td>
                <td>
                  {{ prudDetail.LastModifiedDate }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--Prudential Return Type / Sector-->
      <div class="inputs-field-set" [ngClass]="{ collapsed: isCollapsed['prudentialReturnTypeSection'] }">
        <div class="form-section-title collapse-container">
          <h2 class="edit-firm-header">Prudential Return Type</h2>
          <button class="collapse-button" (click)="toggleCollapse('prudentialReturnTypeSection')">
            {{ isCollapsed['prudentialReturnTypeSection'] ? '▲' : '▼' }}
          </button>
        </div>
        <div class="inputs-row">
          <div class="input-field">
            <label for="prudentialReturnType">
              Prudential Return Type
              <span *ngIf="isEditModeAuth || isCreateModeAuth" style="color: red">*</span></label>
            <select (ngModelChange)="onSectorTypeChange($event)" [disabled]="!isEditModeAuth && !isCreateModeAuth"
              [(ngModel)]="sectorTypeID" name="prudentialReturnType" id="prudentialReturnType"
              [ngClass]="{'error-border': errorMessages['SectorReturnType']}">
              <option value="0">Select</option>
              <option *ngFor="let PrudReturnTypes of prudReturnTypesDropdown" [value]="PrudReturnTypes.SectorTypeID">
                {{ PrudReturnTypes?.SectorTypeDesc }}
              </option>
            </select>
          </div>
          <div class="input-field">
            <label for="effectiveDate">
              Effective Date
              <span *ngIf="isEditModeAuth || isCreateModeAuth" style="color: red">*</span></label>
            <input [disabled]="!isEditModeAuth && !isCreateModeAuth" [(ngModel)]="getSectorEffectiveDate" [ngClass]="{
                'error-border': errorMessages['SectorEffectiveDate']
              }" name="effectiveDate" id="effectiveDate" type="text" #dateInputs placeholder />
          </div>
          <div class="input-field">
            <label for="lastModifiedBy"> Last Modified By </label>
            <input disabled name="lastModifiedBy" id="lastModifiedBy" type="text"
              value="{{ ActivityAuth[0]?.SectorLastModifiedByName }}" />
          </div>
          <div class="input-field">
            <label for="lastModificationDate"> Last Modification Date </label>
            <input disabled name="lastModificationDate" id="lastModificationDate" type="text"
              value="{{ ActivityAuth[0]?.SectorLastModifiedDate }}" />
          </div>

          <table class="prudentialTable" [hidden]="(isEditModeAuth && isCreateModeAuth) || !(ActivityAuth[0].ScopeRevNum)">
            <thead>
              <tr>
                <th>Prudential Return Type</th>
                <th>Effective Date</th>
                <th>Expiration Date</th>
                <th>Last Modified By</th>
                <th>Last Modified Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sectorDetail of sectorDetails">
                <td>{{ sectorDetail.SectorTypeDesc }}</td>
                <td>{{ sectorDetail.EffectiveDate }}</td>
                <td>{{ sectorDetail.ExpirationDate }}</td>
                <td>{{ sectorDetail.LastModifiedBy }}</td>
                <td>{{ sectorDetail.LastModifiedDate }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Scope Previous Versions for License popup-->
<div *ngIf="callLicScopePrev" class="overlay show"></div>
<div *ngIf="callLicScopePrev" class="ScopeLicPreviousVersionsPopup popupcontainer">
  <i class="bi bi-x-circle close-icon close-icon-prev-revisions" (click)="closeLicScopePreviousVersions()"></i>

  <div class="popup-header">
    <h3>Revisions for License Scope</h3>
  </div>

  <div style="width: 80%" class="popup-info-place">
    <ul class="revision-list">
      <li *ngFor="let rev of LicPrevRevNumbers">
        <button class="change-rev" (click)="fetchPreviousScopeVersions(firmId, 2, rev.ScopeRevNum)">
          {{ rev.ScopeRevNum }}
        </button>
      </li>
    </ul>
  </div>
</div>

<!--Scope Previous Versions for Authorize popup-->
<div *ngIf="callAuthScopePrev" class="overlay show"></div>
<div *ngIf="callAuthScopePrev" class="ScopeAuthPreviousVersionsPopup popupcontainer">
  <i class="bi bi-x-circle close-icon close-icon-prev-revisions" (click)="closeAuthScopePreviousVersions()"></i>

  <div class="popup-header">
    <h3>Revisions for Authorize Scope</h3>
  </div>

  <div style="width: 80%" class="popup-info-place">
    <ul class="revision-list">
      <li *ngFor="let rev of AuthPrevRevNumbers">
        <button class="change-rev" (click)="fetchPreviousScopeVersions(firmId, 3, rev.ScopeRevNum)">
          {{ rev.ScopeRevNum }}
        </button>
      </li>
    </ul>
  </div>
</div>

<!-- Sub Activities Popup -->
<div *ngIf="callSubActivity" class="overlay show"></div>
<div *ngIf="callSubActivity" class="SubActivitiesPopUp popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeSubActivity()"></i>
  <div>
    <div class="popup-header">
      <h3>Please Select Sub Activity</h3>
    </div>
    <div class="popup-body">
      <ul>
        <!-- Parent Activity -->
        <li *ngFor="let activity of subActivities">
          <!-- Check if activity is a parent (no ParentActivityTypeID) -->
          <ng-container *ngIf="!activity.ParentActivityTypeID">
            <div (click)="toggleExpand(activity.ActivityTypeID)">
              <i
                [ngClass]="parentActivity === activity.ActivityTypeID ? 'bi bi-chevron-down' : 'bi bi-chevron-right'"></i>
              <strong>{{ activity.ActivityTypeDesc }}</strong>
            </div>

            <!-- Sub Activities -->
            <ul *ngIf="parentActivity === activity.ActivityTypeID">
              <li *ngFor="let sub of subActivities">
                <ng-container *ngIf="sub.ParentActivityTypeID === activity.ActivityTypeID">
                  <input type="radio" name="subactivity" [value]="sub.ActivityTypeID"
                    [(ngModel)]="selectedSubActivityID" (change)="selectSubActivity(sub)">
                  <label>{{ sub.ActivityTypeDesc }}</label>
                </ng-container>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </div>

  </div>
  <div class="popup-buttons-container">
    <button class="subbutton" (click)="confirmSelection(activity)">Ok</button>
    <button class="subbutton" (click)="closeSubActivity()">Cancel</button>
  </div>
</div>



<!--Reference Form Popup-->
<div *ngIf="callRefForm" class="overlay show"></div>
<div *ngIf="callRefForm" class="ReferenceFormPopUp popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeFormReference()"></i>
  <div>
    <div class="popup-header">
      <h3>Select Document</h3>
    </div>
    <div class="popup-body">
      <ul>
        <li *ngFor="let doc of formReferenceDocs">
          <input type="radio" name="documentSelection" [value]="doc.DocID" [(ngModel)]="selectedDocId">
          {{doc.DocTypeDesc}} :
          <a href="https://qfcra365.sharepoint.com/sites/FIRMSUAT/{{doc.FileLoc}}" target="_blank">{{doc.FILENAME}}</a>
        </li>
      </ul>
      <p *ngIf="formReferenceDocs.length === 0">There are no documents to select from. Please upload the relevant
        document and return for selection.</p>
    </div>
  </div>
  <div class="popup-buttons-container">
    <button class="subbutton" (click)="deSelectDocument()">De-Select</button>
    <button class="subbutton" (click)="replaceDocument()">Ok</button>
    <button class="subbutton" (click)="closeFormReference()">Cancel</button>
  </div>
</div>