<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
  <div class="popupcontainer Rptpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
    <!-- <div class="error-messages">
        <p *ngIf="errorMessages['OtherEntityName']">
          {{ errorMessages['OtherEntityName'] }}
        </p>
      </div> -->
    <!-- Title -->
    <div class="popup-title-btn-row">
      <div class="popup-header">
        <h3>
          Notice Details For {{ firmDetails?.FirmName }}
        </h3>
      </div>
      <button class="close-button  close-icon" (click)="onClose()">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field">
            <label for="typeOfNotice">Type of Notice</label>
            <input type="text" id="typeOfNotice" name="typeOfNotice" [(ngModel)]="noticeDetails.TypeOfNotice"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeName">Notice Name</label>
            <input type="text" id="noticeName" name="noticeName" [(ngModel)]="noticeDetails.NoticeName"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="internalRefNumber">Internal Reference Number</label>
            <input type="text" id="internalRefNumber" name="internalRefNumber"
              [(ngModel)]="noticeDetails.InternalReferenceNumber" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="correspondenceRefNumber">Correspondence Reference Number</label>
            <input type="text" id="correspondenceRefNumber" name="correspondenceRefNumber"
              [(ngModel)]="noticeDetails.CMSReferenceNumber" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeIssuer">Notice Issued By</label>
            <input type="text" id="noticeIssuer" name="noticeIssuer" [(ngModel)]="noticeDetails.NoticeIssuedBy"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeIssuedDate">Notice Issued Date</label>
            <input type="text" id="noticeIssuedDate" name="noticeIssuedDate"
              [(ngModel)]="noticeDetails.NoticeIssuedDate" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="issuersRefNumber">Issuer's Reference Number</label>
            <input type="text" id="issuersRefNumber" name="issuersRefNumber"
              [(ngModel)]="noticeDetails.IssuersReferenceNumber" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" [(ngModel)]="noticeDetails.Subject"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="references">Reference(s) (if any)</label>
            <input type="text" id="references" name="references" [(ngModel)]="noticeDetails.References"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="linkToNotice">Link to Notice (if any)</label>
            <a id="linkToNotice" name="linkToNotice"
              [href]="noticeDetails.LinkToNotice">{{noticeDetails.LinkToNotice}}</a>
          </div>
          <div class="input-field">
            <label for="noticeFinalizedBy">Notice Finalized By</label>
            <input type="text" id="noticeFinalizedBy" name="noticeFinalizedBy"
              [(ngModel)]="noticeDetails.NoticeFinalizedBy" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeFinalizedDate">Notice Finalized Date</label>
            <input type="text" id="noticeFinalizedDate" name="noticeFinalizedDate"
              [(ngModel)]="noticeDetails.NoticeFinalizedDate" [disabled]="!isEditable" />
          </div>
          <div class="input-field" *ngIf="noticeDetails.PublishOnWebsite">
            <label for="publishedBy">Published on Website By</label>
            <input type="text" id="publishedBy" name="publishedBy" [(ngModel)]="noticeDetails.PublishedOnWebsiteBy"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field" *ngIf="noticeDetails.PublishOnWebsite">
            <label for="datePublished">Date Published on Website</label>
            <input type="text" id="datePublished" name="datePublished"
              [(ngModel)]="noticeDetails.DatePublishedonWebsite" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="additionalAttachments">Additional Attachment(s) (if any)</label>
            <ul class="additionalAttachments-list">
              <li *ngFor="let doc of attachmentNotice">
                <a [href]="doc.fileLoc" target="_blank">{{doc.FileName}}</a>
              </li>
            </ul>
          </div>
          <div class="input-field">
            <label for="notificationSentDate">Notification Sent Date</label>
            <input type="text" id="notificationSentDate" name="notificationSentDate"
              [(ngModel)]="noticeDetails.NotificationSentDate" [disabled]="!isEditable" />
          </div>
          <div *ngIf="noticeDetails.ResponseDueDate" class="input-field">
            <label for="responseDueDate">Response Due Date</label>
            <input type="text" id="responseDueDate" name="responseDueDate" [(ngModel)]="noticeDetails.ResponseDueDate"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeDetails">Notice Details</label>
            <a [routerLink]="['/view-notice-details']" target="_blank">View Notice Details</a>
          </div>
          <div class="input-field">
            <label for="emailNotification">Link to Email Notification</label>
            <a class="email-notification-link" (click)="openEmailNotifPopup()">View Email Notification</a>
          </div>
        </div>

      </div>

    </div>

    <div class="popup-title-btn-row" *ngIf="questionnaireDetails && noticeDetails?.NoticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Questionnaire
        </h3>
      </div>
      <p><span style="color: red;">*</span> - Explanation required condition(s) met; <span style="color: red;">#</span>
        - Esclation condition(s) met </p>
      <hr>
    </div>
    <div class="reporting-schedule-form" *ngIf="questionnaireDetails && noticeDetails?.NoticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div *ngFor="let question of questionnaireDetails" class="input-field fullwidth">
            <div class="question-container">
              <label [for]="'question' + question.NoticeQuestionNumber">{{ 'Question ' + question.NoticeQuestionNumber +
                ': ' + question.NoticeQuestion }}</label>
              <div *ngIf="hasEscalationOrExplanationCriteria(question.NoticeQuestionnaireItemID)"
                class="info-icon-container">
                <i (click)="openConditionsPopup(question.NoticeQuestionnaireItemID)" class="bi bi-info"></i>
              </div>
            </div>
            <hr class="fullwidth">
            <ng-container *ngIf="question.ResponseTypeID && question.ResponseTypeID !== responseTypes.Explanation">
              <label>Response: </label>
              <!-- <p [name]="'question' + question.NoticeQuestionNumber" [id]="'question' + question.NoticeQuestionNumber"
                [(ngModel)]="question.Responses">
              </p> -->
              <p [id]="'explanation' + question.Responses" [innerHTML]="getSanitizedHtml(question.Responses)">
              </p>
            </ng-container>
            <hr class="fullwidth"
              *ngIf="shouldShowHr(question.Responses, question.ResponseTypeID, question.ExplanationRequired)">
            <ng-container
              *ngIf="question.ExplanationRequired === 1 || question.ExplanationRequired === 3 || question.ResponseTypeID == responseTypes.Explanation">
              <label>Explanation: </label>
              <!-- <p [name]="'question' + question.NoticeQuestionNumber" [id]="'question' + question.NoticeQuestionNumber"
                [(ngModel)]="question.Explanation">
              </p> -->
              <p [id]="'explanation' + question.Explanation" [innerHTML]="getSanitizedHtml(question.Explanation)">
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>


    <div class="popup-title-btn-row" *ngIf="noticeDetails?.NoticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Notes
        </h3>
      </div>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails?.NoticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field fullwidth">
            <textarea [(ngModel)]="noticeDetails.Notes" [disabled]="!isEditable" name="notes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="popup-title-btn-row" *ngIf="noticeDetails?.NoticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Additional Documentation Provided By Firm
        </h3>
      </div>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails?.NoticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field fullwidth">
            <span class="attachmentbyFirm-container">
              <label for="attachment">Attachment(s) (if any):</label>
              <ng-container *ngIf="attachmentbyFirm.length > 0; else noAttachment">
                <p *ngFor="let doc of attachmentbyFirm">
                  <a [href]="doc.fileLoc">{{ doc.FileName }}</a>
                </p>
              </ng-container>
              <ng-template #noAttachment>
                <span style="color: red;">No Attachment provided by firm.</span>
              </ng-template>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="popup-title-btn-row" *ngIf="noticeDetails?.NoticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Response Provider/Signatory Details
        </h3>
      </div>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails?.NoticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field">
            <label for="responseProvdedBy">Response Provided By</label>
            <input type="text" id="responseProvdedBy" name="responseProvdedBy"
              [(ngModel)]="noticeDetails.ResponseProvidedBy" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="responseProvdedDate">Response Provided Date</label>
            <input type="text" id="responseProvdedDate" name="responseProvdedDate"
              [(ngModel)]="noticeDetails.ResponseProvidedDate" [disabled]="!isEditable" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Questions Conditions-->
<div *ngIf="showCondtionsPopup" class="overlay show"></div>
<div *ngIf="showCondtionsPopup" class="conditionsPopup popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeCondtionsPopup()"></i>
  <div class="popup-info-place">
    <div class="popup-header">
      <h3>Conditions</h3>
    </div>
    <div class="conditions-body">
      <!-- Explanation Conditions -->
      <div class="c1-container" *ngIf="explanationConditions.length > 0">
        <div class="c1-title">
          <p>Conditions that determine when an explanation is required from the firm:</p>
        </div>
        <div>
          <p>An explanation is required when response provided by firm
            <span *ngFor="let condition of explanationConditions; let last = last">
              <strong> {{ condition.EvaluationOperatorTypeDesc }} "{{ condition.ListValue || 0 }}"</strong>
              <span *ngIf="!last"> or </span>
            </span>
          </p>
        </div>
      </div>


      <!-- Escalation Conditions -->
      <div class="c2-container" *ngIf="escalationConditions.length > 0">
        <div class="c2-title">
          <p>Conditions that determine when a copy of the firm's response needs to be escalated to the specified
            individuals:</p>
        </div>
        <div>
          <p>Escalation is required when response provided by firm
            <span *ngFor="let condition of escalationConditions">
              <strong> {{condition.EvaluationOperatorTypeDesc}} "{{ condition.ListValue || 0 }}" </strong>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-operations-place">
    <button class="subbutton" (click)="closeCondtionsPopup()">Close</button>
  </div>
</div>

<!-- Email Popup -->
<div *ngIf="showEmailPopup" class="overlay show"></div>
<div *ngIf="showEmailPopup" class="emailPopup popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeEmailNotifPopup()"></i>
  <div class="popup-info-place">
    <div class="popup-header">
      <h3>Email Notification</h3>
    </div>
    <div class="email-body" [innerHTML]="getSanitizedHtml(noticeDetails.EmailNotificationSent)">
    </div>
  </div>
  <div class="popup-operations-place">
    <button class="subbutton" (click)="closeEmailNotifPopup()">Close</button>
  </div>
</div>