<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
  <div class="popupcontainer Rptpopupcontainer NoAnimationPopup" style="display:block"
    (click)="$event.stopPropagation()">
    <!-- <div class="error-messages">
        <p *ngIf="errorMessages['OtherEntityName']">
          {{ errorMessages['OtherEntityName'] }}
        </p>
      </div> -->
    <!-- Title -->
    <div class="popup-title-btn-row">
      <div class="popup-header" *ngIf="firmId">
        <h3>
          Notice Details For {{ firmDetails?.FirmName }}
        </h3>
      </div>
      <div class="popup-header" *ngIf="!firmId">
        <h3>
          Notice Details
        </h3>
      </div>
      <button class="close-button  close-icon" (click)="onClose()">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
    <div class="reporting-schedule-form">
      <div class="notice-list" *ngIf="noticeDetails">
        <div class="inputs-row notice-details">
          <div class="input-field">
            <label for="typeOfNotice">Type of Notice</label>
            <input type="text" id="typeOfNotice" name="typeOfNotice" [(ngModel)]="noticeDetails.noticeTypeDesc"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeName">Notice Name</label>
            <input type="text" id="noticeName" name="noticeName" [(ngModel)]="noticeDetails.noticeName"
              [disabled]="!isEditable" *ngIf="noticeDetails.noticeName != null" />

            <input type="text" id="noticeName" name="noticeName" [(ngModel)]="noticeDetails.noticeTemplateName"
              [disabled]="!isEditable" *ngIf="noticeDetails.noticeTemplateName != null" />
          </div>
          <div class="input-field">
            <label for="internalRefNumber">Internal Reference Number</label>
            <input type="text" id="internalRefNumber" name="internalRefNumber"
              [(ngModel)]="noticeDetails.internalReferenceNumber" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="correspondenceRefNumber">Correspondence Reference Number</label>
            <input type="text" id="correspondenceRefNumber" name="correspondenceRefNumber"
              [(ngModel)]="noticeDetails.cmsReferenceNumber" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeIssuer">Notice Issued By</label>
            <input type="text" id="noticeIssuer" name="noticeIssuer" [(ngModel)]="noticeDetails.noticeIssuerShortName"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeIssuedDate">Notice Issued Date</label>
            <input type="text" id="noticeIssuedDate" name="noticeIssuedDate"
              [(ngModel)]="noticeDetails.noticeIssuedDate" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="issuersRefNumber">Issuer's Reference Number</label>
            <input type="text" id="issuersRefNumber" name="issuersRefNumber"
              [(ngModel)]="noticeDetails.issuersReferenceNumber" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" [(ngModel)]="noticeDetails.subject"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="references">Reference(s) (if any)</label>
            <input type="text" id="references" name="references" [(ngModel)]="noticeDetails.references"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="linkToNotice">Link to Notice (if any)</label>
            <a id="linkToNotice" name="linkToNotice"
              [href]="noticeDetails.linkToNotice">{{noticeDetails.linkToNotice}}</a>
          </div>
          <div class="input-field">
            <label for="additionalAttachments">Additional Attachment(s) (if any)</label>
            <ul class="additionalAttachments-list">
              <li *ngFor="let doc of attachmentNotice">
                <a [href]="doc.fileLoc" target="_blank">{{doc.FileName}}</a>
              </li>
            </ul>
          </div>
          <div class="input-field" *ngIf="isNoticesAndResponsePage">
            <label for="publishOnWebsite">Publish on Website?<span style="color: red">&nbsp;*</span></label>
            <div class="radio-wrapper">
              <input name="publishOnWebsite" id="yes" type="radio" [value]="true"
                [(ngModel)]="noticeDetails.publishOnWebsite" [disabled]="!isEditable" />
              Yes
              <input name="publishOnWebsite" id="no" type="radio" [value]="false" [disabled]="!isEditable"
                [(ngModel)]="noticeDetails.publishOnWebsite" />
              No
            </div>
          </div>
          <div class="input-field" *ngIf="isNoticesAndResponsePage">
            <label for="publishOnESS">Publish on ESS?<span style="color: red">&nbsp;*</span></label>
            <div class="radio-wrapper">
              <input name="publishOnESS" id="yes" type="radio" [value]="true" [(ngModel)]="noticeDetails.publishOnESS"
                [disabled]="!isEditable" />
              Yes
              <input name="publishOnESS" id="no" type="radio" [value]="false" [disabled]="!isEditable"
                [(ngModel)]="noticeDetails.publishOnESS" />
              No
            </div>
          </div>


          <div class="input-field" *ngIf="isNoticesAndResponsePage">
            <label for="designatedRecipients">Designated Recipient(s)</label>
            <input type="text" id="designatedRecipients" name="designatedRecipients"
              [(ngModel)]="noticeDetails.designatedRecipients" [disabled]="!isEditable" />
          </div>

          <div class="input-field" *ngIf="isNoticesAndResponsePage">
            <label for="firmType">Firm Types</label>
            <div class="checkbox-options">
              <label *ngFor="let type of allFirmTypes" class="custom-checkbox">
                <input type="checkbox" [checked]="isIdSelected(selectedFirmTypeIDs,type.FirmTypeID)" />
                <span class="checkmark"></span> {{ type.FirmTypeDesc }}
              </label>
            </div>
          </div>

          <div class="input-field fullwidth " *ngIf="isNoticesAndResponsePage">
            <label for="Firms">Firms</label>
            <ul class="Firms-list">
              <li *ngFor="let firm of getRelatedFirms(allfirms, relatedFirmsIDs)">
                {{ firm.FirmName }}
              </li>
            </ul>
          </div>

          <div class="input-field fullwidth controlledFunctions" *ngIf="isNoticesAndResponsePage">
            <label for="controlledFunctions">Controlled Functions</label>
            <div class="checkbox-options">
              <label *ngFor="let controlled of allControlled" class="custom-checkbox">
                <input type="checkbox"
                  [checked]="isIdSelected(selectedControlledFunctionIDs,controlled.FunctionTypeID)" />
                <span class="checkmark"></span> {{ controlled.FunctionTypeRptDesc }}
              </label>
            </div>
          </div>

          <div class="input-field fullwidth controlledFunctions" *ngIf="isNoticesAndResponsePage">
            <label for="controlledFunctions">DNFBP Functions</label>
            <div class="checkbox-options">
              <label *ngFor="let contact of ContactFunctionTypeList" class="custom-checkbox">
                <input type="checkbox"
                  [checked]="isIdSelected(selectedContactFunctionTypeIDs,contact.FunctionTypeID)" />
                <span class="checkmark"></span> {{ contact.FunctionTypeDesc }}
              </label>
            </div>
          </div>


          <div class="input-field fullwidth controlledFunctions" *ngIf="isNoticesAndResponsePage">
            <label for="contactType">Contact Type</label>
            <div class="checkbox-options">
              <label *ngFor="let type of allContactType" class="custom-checkbox">
                <input type="checkbox" [checked]="isIdSelected(selectContactTypeIDs,type.ContactTypeID) " />
                <span class="checkmark"></span> {{ type.ContactTypeDesc }}
              </label>
            </div>
          </div>


          <div class="input-field" *ngIf="isNoticesAndResponsePage">
            <label for="sendNoticeToSUPSupervisor">Email Notice to SUP Supervisor<span
                style="color: red">&nbsp;*</span></label>
            <div class="radio-wrapper">
              <input name="sendNoticeToSUPSupervisor" id="yes" type="radio" [value]="true"
                [(ngModel)]="noticeDetails.sendNoticeToSUPSupervisor" [disabled]="!isEditable" />
              Yes
              <input name="sendNoticeToSUPSupervisor" id="no" type="radio" [value]="false" [disabled]="!isEditable"
                [(ngModel)]="noticeDetails.sendNoticeToSUPSupervisor" />
              No
            </div>
          </div>

          <div class="input-field" *ngIf="isNoticesAndResponsePage">
            <label for="sendNoticeToAMLSupervisor">Email Notice to AML Supervisor<span
                style="color: red">&nbsp;*</span></label>
            <div class="radio-wrapper">
              <input name="sendNoticeToAMLSupervisor" id="yes" type="radio" [value]="true"
                [(ngModel)]="noticeDetails.sendNoticeToAMLSupervisor" [disabled]="!isEditable" />
              Yes
              <input name="sendNoticeToAMLSupervisor" id="no" type="radio" [value]="false" [disabled]="!isEditable"
                [(ngModel)]="noticeDetails.sendNoticeToAMLSupervisor" />
              No
            </div>
          </div>


          <div class="input-field">
            <label for="noticeFinalizedBy">Notice Finalized By</label>
            <input type="text" id="noticeFinalizedBy" name="noticeFinalizedBy"
              [(ngModel)]="noticeDetails.noticeFinalizedBy" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="noticeFinalizedDate">Notice Finalized Date</label>
            <input type="text" id="noticeFinalizedDate" name="noticeFinalizedDate"
              [(ngModel)]="noticeDetails.noticeFinalizedDate" [disabled]="!isEditable" />
          </div>
          <div class="input-field" *ngIf="noticeDetails.publishedOnWebsiteBy">
            <label for="publishedBy">Published on Website By</label>
            <input type="text" id="publishedBy" name="publishedBy" [(ngModel)]="noticeDetails.publishedOnWebsiteBy"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field" *ngIf="noticeDetails.publishOnWebsite">
            <label for="datePublished">Date Published on Website</label>
            <input type="text" id="datePublished" name="datePublished"
              [(ngModel)]="noticeDetails.datePublishedonWebsite" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="notificationSentDate">Notification Sent Date</label>
            <input type="text" id="notificationSentDate" name="notificationSentDate"
              [(ngModel)]="noticeDetails.notificationSentDate" [disabled]="!isEditable" />
          </div>
          <div *ngIf="noticeDetails.responseDueDate" class="input-field">
            <label for="responseDueDate">Response Due Date</label>
            <input type="text" id="responseDueDate" name="responseDueDate" [(ngModel)]="noticeDetails.responseDueDate"
              [disabled]="!isEditable" />
          </div>
          <div class="input-field" *ngIf="!isNoticesAndResponsePage">
            <label for="noticeDetails">Notice Details</label>
            <a [routerLink]="['/view-notice-details']" target="_blank">View Notice Details</a>
          </div>
          <div class="input-field">
            <label for="emailNotification">Link to Email Notification</label>
            <a class="email-notification-link" (click)="openEmailNotifPopup()">View Email Notification</a>
          </div>
        </div>

      </div>

    </div>

    <div class="popup-title-btn-row" *ngIf="isNoticesAndResponsePage">
      <div class="popup-header">
        <h3>
          Response Requirements
        </h3>
      </div>
      <div class="reporting-schedule-form" *ngIf="isNoticesAndResponsePage && noticeDetails">
        <div class="inputs-row notice-details">
          <div class="input-field fullwidth">
            <label for="workingDaysForResponse">The number of working days (from the Notification Sent Date) within
              which a response is due</label>
            <input type="text" id="workingDaysForResponse" name="workingDaysForResponse"
              [(ngModel)]="noticeDetails.objNoticeQuestionnaire.workingDaysForResponse" [disabled]="!isEditable" />
          </div>
          <div class="input-field fullwidth">
            <label for="subjectToLateFee">Administrative fees applicable if response not provided by firm within
              specified due date<span style="color: red">&nbsp;*</span></label>
            <div class="radio-wrapper">
              <input name="subjectToLateFee" id="yes" type="radio" [value]="true"
                [(ngModel)]="noticeDetails.objNoticeQuestionnaire.subjectToLateFee" [disabled]="!isEditable" />
              Yes
              <input name="subjectToLateFee" id="no" type="radio" [value]="false" [disabled]="!isEditable"
                [(ngModel)]="noticeDetails.objNoticeQuestionnaire.subjectToLateFee" />
              No
            </div>
          </div>
          <div class="input-field fullwidth">
            <label for="respondentType">Designated Signatories<span style="color: red">&nbsp;*</span></label>
            <div class="radio-wrapper">
              <div *ngFor="let respondent of allRespondentTypes" class="allRespondentTypes">
                <input type="radio" name="respondentType" [value]="respondent.RespondentTypeID"
                  [(ngModel)]="noticeDetails.objNoticeQuestionnaire.respondentTypeID" [disabled]="!isEditable" />
                <span>{{ respondent.RespondentTypeDesc }}</span>
              </div>
            </div>
          </div>

          <div class="input-field fullwidth controlledFunctions">
            <label for="controlledFunctions">Controlled Functions</label>
            <div class="checkbox-options">
              <label *ngFor="let controlled of allControlled" class="custom-checkbox">
                <input type="checkbox"
                  [checked]="isIdSelected(selectedResponseControlledFunctionIDs,controlled.FunctionTypeID)" />
                <span class="checkmark"></span> {{ controlled.FunctionTypeRptDesc }}
              </label>
            </div>
          </div>

          <div class="input-field fullwidth controlledFunctions">
            <label for="controlledFunctions">DNFBP Functions</label>
            <div class="checkbox-options">
              <label *ngFor="let contact of ContactFunctionTypeList" class="custom-checkbox">
                <input type="checkbox"
                  [checked]="isIdSelected(selectedResponseContactFunctionTypeIDs,contact.FunctionTypeID)" />
                <span class="checkmark"></span> {{ contact.FunctionTypeDesc }}
              </label>
            </div>
          </div>

          <div class="input-field fullwidth">
            <b>Send a copy of the firm's response to</b>
            <div class="input-field controlledFunctions">
              <label for="controlledFunctions">SUP Supervisor</label>
              <div class="radio-wrapper">
                <div *ngFor="let eval of allEvaluationRequirementTypes" class="allRespondentTypes">
                  <input type="radio" name="sendResponseToSUPSupervisor" [value]="eval.EvaluationRequirementTypeID"
                    [(ngModel)]="noticeDetails.objNoticeQuestionnaire.sendResponseToSUPSupervisor"
                    [disabled]="!isEditable" />
                  <span>{{ eval.EvaluationRequirementTypeDesc }}</span>
                </div>
              </div>
            </div>

            <div class="input-field controlledFunctions">
              <label for="controlledFunctions">AML Supervisor </label>
              <div class="radio-wrapper">
                <div *ngFor="let eval of allEvaluationRequirementTypes" class="allRespondentTypes">
                  <input type="radio" name="sendResponseToAMLSupervisor" [value]="eval.EvaluationRequirementTypeID"
                    [(ngModel)]="noticeDetails.objNoticeQuestionnaire.sendResponseToAMLSupervisor"
                    [disabled]="!isEditable" />
                  <span>{{ eval.EvaluationRequirementTypeDesc }}</span>
                </div>
              </div>
            </div>

            <div class="input-field controlledFunctions">
              <label for="controlledFunctions">SUP Director</label>
              <div class="radio-wrapper">
                <div *ngFor="let eval of allEvaluationRequirementTypes" class="allRespondentTypes">
                  <input type="radio" name="sendResponseToSUPDirector" [value]="eval.EvaluationRequirementTypeID"
                    [(ngModel)]="noticeDetails.objNoticeQuestionnaire.sendResponseToSUPDirector"
                    [disabled]="!isEditable" />
                  <span>{{ eval.EvaluationRequirementTypeDesc }}</span>
                </div>
              </div>
            </div>

            <div class="input-field controlledFunctions">
              <label for="controlledFunctions">AML Director</label>
              <div class="radio-wrapper">
                <div *ngFor="let eval of allEvaluationRequirementTypes" class="allRespondentTypes">
                  <input type="radio" name="sendResponseToAMLDirector" [value]="eval.EvaluationRequirementTypeID"
                    [(ngModel)]="noticeDetails.objNoticeQuestionnaire.sendResponseToAMLDirector"
                    [disabled]="!isEditable" />
                  <span>{{ eval.EvaluationRequirementTypeDesc }}</span>
                </div>
              </div>
            </div>

            <div class="input-field controlledFunctions">
              <label for="controlledFunctions">Managing Director</label>
              <div class="radio-wrapper">
                <div *ngFor="let eval of allEvaluationRequirementTypes" class="allRespondentTypes">
                  <input type="radio" name="sendResponseToMD" [value]="eval.EvaluationRequirementTypeID"
                    [(ngModel)]="noticeDetails.objNoticeQuestionnaire.sendResponseToMD" [disabled]="!isEditable" />
                  <span>{{ eval.EvaluationRequirementTypeDesc }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="popup-title-btn-row" *ngIf="questionnaireDetails && noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Questionnaire
        </h3>
      </div>
      <p><span style="color: red;">*</span> - Explanation required condition(s) met; <span style="color: red;">#</span>
        - Esclation condition(s) met </p>
      <hr>
    </div>
    <div class="reporting-schedule-form"
      *ngIf="questionnaireDetails && noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div *ngFor="let question of questionnaireDetails" class="input-field fullwidth">
            <div class="question-container">
              <label [for]="'question' + question.noticeQuestionNumber">{{ 'Question ' + question.noticeQuestionNumber +
                ': ' + question.noticeQuestion }}</label>
              <div *ngIf="hasEscalationOrExplanationCriteria(question.noticeQuestionnaireItemID)"
                class="info-icon-container">
                <i (click)="openConditionsPopup(question.noticeQuestionnaireItemID)" class="bi bi-info"></i>
              </div>
            </div>
            <hr class="fullwidth">
            <ng-container *ngIf="question.responseTypeID && question.responseTypeID !== responseTypes.Explanation">
              <label>Response: </label>
              <!-- <p [name]="'question' + question.NoticeQuestionNumber" [id]="'question' + question.NoticeQuestionNumber"
                [(ngModel)]="question.Responses">
              </p> -->
              <p [id]="'explanation' + question.responses" [innerHTML]="getSanitizedHtml(question.responses)">
              </p>
            </ng-container>
            <hr class="fullwidth"
              *ngIf="shouldShowHr(question.responses, question.responseTypeID, question.explanationRequired)">
            <ng-container
              *ngIf="question.explanationRequired === 1 || question.explanationRequired === 3 || question.responseTypeID == responseTypes.Explanation">
              <label>Explanation: </label>
              <!-- <p [name]="'question' + question.NoticeQuestionNumber" [id]="'question' + question.NoticeQuestionNumber"
                [(ngModel)]="question.Explanation">
              </p> -->
              <p [id]="'explanation' + question.explanation" [innerHTML]="getSanitizedHtml(question.explanation)">
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>


    <div class="popup-title-btn-row" *ngIf="noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Notes
        </h3>
      </div>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field fullwidth">
            <textarea [(ngModel)]="noticeDetails.notes" [disabled]="!isEditable" name="notes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="popup-title-btn-row" *ngIf="noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Additional Documentation Provided By Firm
        </h3>
      </div>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field fullwidth">
            <span class="attachmentbyFirm-container">
              <label for="attachment">Attachment(s) (if any):</label>
              <ng-container *ngIf="attachmentbyFirm.length > 0; else noAttachment">
                <p *ngFor="let doc of attachmentbyFirm">
                  <a [href]="doc.fileLoc">{{ doc.FileName }}</a>
                </p>
              </ng-container>
              <ng-template #noAttachment>
                <span style="color: red;">No Attachment provided by firm.</span>
              </ng-template>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="popup-title-btn-row" *ngIf="noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="popup-header">
        <h3>
          Response Provider/Signatory Details
        </h3>
      </div>
    </div>
    <div class="reporting-schedule-form" *ngIf="noticeDetails && noticeDetails?.noticeTypeID != 2">
      <div class="notice-list">
        <div class="inputs-row notice-details">
          <div class="input-field">
            <label for="responseProvdedBy">Response Provided By</label>
            <input type="text" id="responseProvdedBy" name="responseProvdedBy"
              [(ngModel)]="noticeDetails.responseProvidedBy" [disabled]="!isEditable" />
          </div>
          <div class="input-field">
            <label for="responseProvdedDate">Response Provided Date</label>
            <input type="text" id="responseProvdedDate" name="responseProvdedDate"
              [(ngModel)]="noticeDetails.responseProvidedDate" [disabled]="!isEditable" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Questions Conditions-->
<div *ngIf="showCondtionsPopup" class="overlay show"></div>
<div *ngIf="showCondtionsPopup" class="conditionsPopup popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeCondtionsPopup()"></i>
  <div class="popup-info-place">
    <div class="popup-header">
      <h3>Conditions</h3>
    </div>
    <div class="conditions-body">
      <!-- Explanation Conditions -->
      <div class="c1-container" *ngIf="explanationConditions.length > 0">
        <div class="c1-title">
          <p>Conditions that determine when an explanation is required from the firm:</p>
        </div>
        <div>
          <p>An explanation is required when response provided by firm
            <span *ngFor="let condition of explanationConditions; let last = last">
              <strong> {{ condition.evaluationOperatorTypeDesc }} "{{ condition.listValueDesc || 0 }}"</strong>
              <span *ngIf="!last"> or </span>
            </span>
          </p>
        </div>
      </div>


      <!-- Escalation Conditions -->
      <div class="c2-container" *ngIf="escalationConditions.length > 0">
        <div class="c2-title">
          <p>Conditions that determine when a copy of the firm's response needs to be escalated to the specified
            individuals:</p>
        </div>
        <div>
          <p>Escalation is required when response provided by firm
            <span *ngFor="let condition of escalationConditions">
              <strong> {{condition.evaluationOperatorTypeDesc}} "{{ condition.listValueDesc || 0 }}" </strong>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-operations-place">
    <button class="subbutton" (click)="closeCondtionsPopup()">Close</button>
  </div>
</div>

<!-- Email Popup -->
<div *ngIf="showEmailPopup" class="overlay show"></div>
<div *ngIf="showEmailPopup" class="emailPopup popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeEmailNotifPopup()"></i>
  <div class="popup-info-place">
    <div class="popup-header">
      <h3>Email Notification</h3>
    </div>
    <div class="email-body" *ngIf="!isNoticesAndResponsePage"
      [innerHTML]="getSanitizedHtml(noticeDetails.emailNotificationContent)">
    </div>
    <div class="email-body" *ngIf="isNoticesAndResponsePage" [innerHTML]="getSanitizedHtml(noticeDetails.noticeEmail)">
    </div>
  </div>
  <div class="popup-operations-place">
    <button class="subbutton" (click)="closeEmailNotifPopup()">Close</button>
  </div>
</div>