<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title space-between">
                <h2 class="edit-firm-header">
                    List Of Enforcement & Disciplinary Actions > <span>{{ firmDetails?.FirmName }}</span>
                </h2>
                <div class="btn">
                    <button>
                        <i class="bi bi-pen"></i>
                        Create
                    </button>
                </div>
            </div>
            <span class="enhanced-checkbox">
                <input id="deletedRecords" type="checkbox" (change)="onDeletedEnfToggle($event)">
                <label for="deletedRecords">Display Deleted Records</label>
            </span>

            <table>
                <thead>
                    <tr>
                        <th>Action On</th>
                        <th>Type of Action</th>
                        <th>Firm Name</th>
                        <th>Individual Name</th>
                        <th>Action Effective From</th>
                        <th>Action Effective Until</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enf of paginatedItems">
                        <td>{{ enf?.EnforcementActionOnTypeDesc }}</td>
                        <td>{{ enf?.EnforcementType }}</td>
                        <td>{{ enf?.FirmName }}</td>
                        <td>{{ enf?.AppIndividualName }}</td>
                        <td>{{ enf?.EnforcementActionFromDate }}</td>
                        <td>{{ enf?.EnforcementActionToDate }}</td>
                        <td>{{ enf?.Published }}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="enfActions.length > 0">
                    <tr>
                        <td [attr.colspan]="12">
                            <app-pagination [items]="enfActions" [pageSize]="pageSize"
                                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>