<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title space-between">
                <h2 class="edit-firm-header">
                    List Of Enforcement & Disciplinary Actions > <span>{{ firmDetails?.FirmName }}</span>
                </h2>
                <div class="btn">
                    <button *ngIf="getControlVisibility('imgBtnCreate') && !hideCreateBtn"
                        [disabled]="!getControlEnablement('imgBtnCreate')" (click)="openEnfActionPopup(null,firmDetails,true)">
                        <i class="bi bi-plus"></i>
                        Create
                    </button>
                </div>
            </div>
            <span class="enhanced-checkbox">
                <input id="deletedRecords" type="checkbox" (change)="onDeletedEnfToggle($event)">
                <label for="deletedRecords">Display Deleted Records</label>
            </span>

            <table class="enf-list">
                <thead>
                    <tr>
                        <th>Action On</th>
                        <th>Type of Action</th>
                        <th>Firm Name</th>
                        <th>Individual Name</th>
                        <th>Action Effective From</th>
                        <th>Action Effective Until</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody *ngIf="paginatedItems.length > 0; else noEnfActions">
                    <tr *ngFor="let enf of paginatedItems" (click)="openEnfActionPopup(enf,firmDetails,false)">
                        <td>
                            {{ enf?.EnforcementActionOnTypeDesc }}
                            <span *ngIf="enf.IsDeleted" style="color: red;">(Deleted)</span>
                        </td>
                        <td>{{ enf?.EnforcementType }}</td>
                        <td>{{ enf?.FirmName }}</td>
                        <td>{{ enf?.AppIndividualName }}</td>
                        <td>{{ enf?.EnforcementActionFromDate }}</td>
                        <td>{{ enf?.EnforcementActionToDate }}</td>
                        <td>{{ enf?.Published ? 'Yes' : 'No'}}</td>
                    </tr>
                </tbody>
                <ng-template #noEnfActions>
                    <tbody>
                      <tr>
                        <td colspan="7" class="norecords" style="color: red">No Records Found</td>
                      </tr>
                    </tbody>
                  </ng-template>
                <tfoot *ngIf="enfActions?.length > 0">
                    <tr>
                        <td [attr.colspan]="12">
                            <app-pagination [items]="enfActions" [pageSize]="pageSize"
                                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<app-enf-actions-view-details (reloadEnf)="loadEnfActions()" *ngIf="showPopup" [enf]="selectedEnf" [firmId]="firmId" [isCreateEnf]="isCreateEnf"
        [firmDetails]="firmDetails" (closeEnfPopup)="closePopup()">
</app-enf-actions-view-details>