.edit-form-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem;
    gap: 2rem;
}

.authorized-section {
    width: 100%;
}

.authorized-header {
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    background-color: #A51E36;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.authorized-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputs-field-set {
    width: 100%;
    background: #F1EBEC;
    border-radius: 15px;
    min-height: 200px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs-field-set .section table tr th,
.inputs-field-set .section table tr td {
    text-align: center;
}

.scopeFor {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.edit-firm-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

.edit-firm-header {
    color: #A51E36;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word
}

.edit-btn {
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.edit-btn button {
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
}

.cancel-btn {
    background: transparent !important;
    color: #A51E36 !important;
    border: 1px solid #A51E36 !important;
}

.edit-firms-inputs {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.input-field input,
.input-field select,
.input-field a {
    width: 100%;
    padding: 0.5rem 2%;
    border-radius: 7.20px;
    border: 0.72px #B1B1B1 solid;
}

.input-field input {
    width: 96%;
}

.input-field a {
    width: 96%;
}

.section h2 {
    color: #A51E36;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word
}

.section p {
    margin: 0 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

td {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

/* collapse section */
.collapse-button {
    background: #A51E36;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: 10px;
}

.inputs-field-set.collapsed {
    min-height: 50px;
}

.inputs-field-set.collapsed .edit-firms-inputs,
.inputs-field-set.collapsed .regulated-activities-container,
.authorized-body.collapsed {
    display: none;
}

.collapse-container {
    justify-content: flex-start;
}

.section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

/* scope of authorization */
.delete-file {
    background-color: transparent;
    border: 0;
    outline: none;
    color: blue;
}

/* regulated-activities */
.regulated-activities-header {
    display: flex;
    justify-content: space-evenly;
    background-color: #F2B6C0;
    padding: 5px 0px;
}

.regulated-activities-header p {
    margin: 0;
}

.conditions-and-restrictions-header {
    background-color: #F2B6C0;
    padding: 5px 0px;
    text-align: center;
}

.conditions-and-restrictions-header p {
    margin: 0;
}

.specific-conditions-and-restrictions-header {
    background-color: #F2B6C0;
    padding: 5px 0px;
    text-align: center;
}

.specific-conditions-and-restrictions-header p {
    margin: 0;
}

.category-select,
.activity-select {
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-select select,
.activity-select select {
    padding: 6px 5px;
    border-radius: 7.2px;
    border: 0.72px #B1B1B1 solid;
    width: 400px;
}

.regulated-activities-body table tr td {
    text-align: left !important;
    cursor: default !important;
    padding: 4px !important;

}

.conditions-textarea {
    width: 100%;
}

// .action-column {
//     width: 30%;
//     padding: 6px 5px;
//     border-radius: 7.2px;
//     border: 0.72px #B1B1B1 solid;
// }

// .nested-table {
//     box-shadow: none;
//     border-radius: 0;
//     margin-top: 0;
//     table-layout: fixed;
// }

// .nested-table {
//     margin-left: 20px;
//     overflow: hidden;
// }

/**/
.endorsement {
    width: 100%;
}

  
