<!--Edit Authorized Scope Section-->
<section id='Scope' class="edit-firm-section">
    <form class="edit-form-section">
        <div class="authorized-section">
            <div class="authorized-header">
                Authorized
            </div>
            <div class="authorized-body">
                <div class="inputs-field-set scopeFor">
                    <div class="edit-firm-actions">
                        <h2 class="edit-firm-header">
                            <small>Scope for</small> {{firmDetails?.FirmName}}
                        </h2>
                        <div class="edit-btn">
                            <button type="submit" class="save-btn">
                                Save
                            </button>
                            <button class="cancel-btn">
                                Cancel
                            </button>
                        </div>
                    </div>
                    <div class="edit-firms-inputs">
                        <div class="input-field">
                            <label for="formReff">
                                Form Reference
                            </label>
                            <input disabled name="formReff" id="formReff" type="text" value="">
                        </div>
                        <div class="input-field">
                            <label for="scopeLink">
                                Link To Scope
                            </label>
                            <input disabled name="scopeLink" id="scopeLink" type="text"
                                value="{{ActivityAuth?.ScopeCertificateLink}}">
                        </div>
                        <div class="input-field">
                            <label for="scopeRevNum">
                                Scope Revision Number
                            </label>
                            <input disabled name="scopeRevNum" id="scopeRevNum" type="text"
                                value="{{ActivityAuth?.ScopeRevNum}}">
                        </div>
                        <div class="input-field">
                            <label for="q13AppDate">
                                Q13 Application Date for revisions
                            </label>
                            <input name="q13AppDate" id="q13AppDate" type="date"
                                value="{{ActivityAuth?.ScopeAppliedDate}}">
                        </div>
                        <div class="input-field">
                            <label for="incorporationDate">
                                Incorporation Date
                            </label>
                            <input disabled name="incorporationDate" id="incorporationDate" type="text"
                                value="{{ActivityAuth?.ScopeLicensedDate}}">
                        </div>
                        <div class="input-field">
                            <label for="authorisedDate">
                                Authorised Date
                            </label>
                            <input name="authorisedDate" id="authorisedDate" type="date"
                                value="{{ActivityAuth?.ScopeLicensedDate}}">
                        </div>
                        <div class="input-field">
                            <label for="effectiveDate">
                                Effective Date
                            </label>
                            <input disabled name="effectiveDate" id="effectiveDate" type="text"
                                value="{{ActivityAuth?.ScopeEffectiveDate}}">
                        </div>
                        <div class="input-field">
                            <label for="">
                                Created By
                            </label>
                            <input disabled name="" id="" type="text" value="{{ActivityAuth?.ScopeCreatedByName}}">
                        </div>
                        <div class="input-field">
                            <label for="">
                                Creation Date
                            </label>
                            <input disabled name="" id="" type="text" value="{{ActivityAuth?.ScopeCreatedDate}}">
                        </div>
                        <div class="input-field">
                            <label for="">
                                Last Modified By
                            </label>
                            <input disabled name="" id="" type="text" value="{{ActivityAuth?.ModifiedBy}}">
                        </div>
                        <div class="input-field">
                            <label for="">
                                Last Modified Date
                            </label>
                            <input disabled name="" id="" type="text" value="{{ActivityAuth?.LastModifiedDate}}">
                        </div>
                    </div>
                </div>

                <!--Scope of Authorization-->
                <div class="inputs-field-set" [ngClass]="{'collapsed': isCollapsed['scopeOfAuthorization']}">
                    <div class="section">
                        <div class="edit-firm-actions collapse-container">
                            <h2 class="edit-firm-header">
                                Scope of Authorization
                            </h2>
                            <button class="collapse-button" (click)="toggleCollapse('scopeOfAuthorization')">
                                {{ isCollapsed['scopeOfAuthorization'] ? '▲' : '▼'}}
                            </button>
                        </div>
                        <div class="edit-firms-inputs">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Document Type</th>
                                        <th>File Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button class="delete-file">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Regulated Activities-->
                <div class="inputs-field-set" [ngClass]="{'collapsed': isCollapsed['regulatedActivitiesSection']}">
                    <div class="section">
                        <div class="edit-firm-actions collapse-container">
                            <h2>Regulated Activities</h2>
                            <button class="collapse-button" (click)="toggleCollapse('regulatedActivitiesSection')">
                                {{ isCollapsed['regulatedActivitiesSection'] ? '▲' : '▼'}}
                            </button>
                        </div>
                        <div class="regulated-activities-container">
                            <div class="regulated-activities-body">
                                <div class="regulated-activities-header">
                                    <div class="category-select">
                                        <label for="" style="display: flex;gap: 5px;">Category <span
                                                style="color: red;">*</span> :</label>
                                        <select name="category" id="category">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                    <div class="activity-select">
                                        <label for="" style="display: flex; gap: 5px;">Activity <span
                                                style="color: red;">*</span> :</label>
                                        <select name="activity" id="activity">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- <table>
                                    <thead>
                                      <tr>
                                        <th>Product(s)</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let category of categories">
                                        <td colspan="2">
                                          <input type="checkbox"> <label>{{ category.name }}</label>
                                        </td>
                                      </tr>
                                      <tr *ngFor="let product of category.products">
                                        <td style="width: 70%; padding-left: 20px;"> 
                                          <input type="checkbox"> <label>{{ product.name }}</label>
                                        </td>
                                        <td style="width: 30%;">
                                          <select class="action-column" name="action">
                                            <option value="">Add</option>
       
                                          </select>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table> -->

                                <!--specific conditions and restrictions-->
                                <div class="specific-conditions-and-restrictions">
                                    <div class="specific-conditions-and-restrictions-header">
                                        <p>Specific Conditions and Restrictions</p>
                                    </div>

                                    <div class="input-field conditions-textarea">
                                        <textarea>

                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <!--Conditions and Restrictions-->
                            <div class="conditions-and-restrictions-section">
                                <div class="conditions-and-restrictions-header">
                                    <p>Conditions and Restrictions</p>
                                </div>
                                <label for=""><strong>Retail Restriction : </strong></label>&nbsp;&nbsp;<input
                                    type="checkbox">
                                <p><strong>General Authorisation Conditions or Restrictions</strong></p>
                                <div class="input-field conditions-textarea">
                                    <textarea>
                                        {{ActivityAuth?.GeneralConditions}}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Islamic Finance-->
                <div class="inputs-field-set" [ngClass]="{'collapsed': isCollapsed['islamicFinanceSection']}">
                    <div class="edit-firm-actions collapse-container">
                        <h2 class="edit-firm-header">
                            Islamic Finance
                        </h2>
                        <button class="collapse-button" (click)="toggleCollapse('islamicFinanceSection')">
                            {{ isCollapsed['islamicFinanceSection'] ? '▲' : '▼'}}
                        </button>
                    </div>
                    <div class="edit-firms-inputs">
                        <div class="input-field">
                            <div style="display: flex ; gap: 15px;">
                                <label for="isIslamicFinanceExist">
                                    Islamic Finance
                                </label>
                                <input style="width: 15px;" type="checkbox" name="isIslamicFinanceExist" id="isIslamicFinanceExist" [checked]="islamicFinance?.IFinTypeId">
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="islamicFinanceType">
                                Type
                            </label>
                            <select name="" id="">
                                <option value="">{{islamicFinance?.IFinTypeDesc}}</option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="input-field endorsement">
                            <label for="effectiveDate">
                                Endorsement
                            </label>
                            <textarea name="islamicEndorsement"
                                id="islamicEndorsement">{{islamicFinance?.Endorsement}}</textarea>
                        </div>
                        <div class="input-field">
                            <label for="lastModifiedBy">
                                Last Modified By
                            </label>
                            <input disabled name="lastModifiedBy" id="lastModifiedBy" type="text"
                                value="{{islamicFinance?.IFinLastModifiedByName}}">
                        </div>
                        <div class="input-field">
                            <label for="lastModificationDate">
                                Last Modified Date
                            </label>
                            <input disabled name="lastModificationDate" id="lastModificationDate" type="text"
                                value="{{islamicFinance?.LastModifiedDate}}">
                        </div>
                    </div>
                </div>

                <!--Prudential Category-->
                <div class="inputs-field-set" [ngClass]="{'collapsed': isCollapsed['prudentialCategorySection']}">
                    <div class="edit-firm-actions collapse-container">
                        <h2 class="edit-firm-header">
                            Prudential Category
                        </h2>
                        <button class="collapse-button" (click)="toggleCollapse('prudentialCategorySection')">
                            {{ isCollapsed['prudentialCategorySection'] ? '▲' : '▼'}}
                        </button>
                    </div>
                    <div class="edit-firms-inputs">
                        <div class="input-field">
                            <label for="prudentialCategory">
                                Prudential Category
                            </label>
                            <select name="prudentialCategory" id="prudentialCategory">
                                <option value="">{{ActivityAuth?.PrudentialCategoryTypeDesc}}</option>
                                <!--More options will be integrated here-->
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="authorisationCategory">
                                Authorisation Category
                            </label>
                            <select name="prudentialCategory" id="prudentialCategory">
                                <option value="">{{ActivityAuth?.AuthorisationCategoryTypeDesc}}</option>
                                <!--More options will be integrated here-->
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="effectiveDate">
                                Effective Date <span style="color: red;">*</span>
                            </label>
                            <input name="effectiveDate" id="effectiveDate" type="date"
                                value="{{ActivityAuth?.PrudentialCategoryEffectiveDate}}">
                        </div>
                        <div class="input-field">
                            <label for="lastModifiedBy">
                                Last Modified By
                            </label>
                            <input disabled name="lastModifiedBy" id="lastModifiedBy" type="text"
                                value="{{ActivityAuth?.PrudentialModifiedByName}}">
                        </div>
                        <div class="input-field">
                            <label for="lastModificationDate">
                                Last Modification Date
                            </label>
                            <input disabled name="lastModificationDate" id="lastModificationDate" type="text"
                                value="{{ActivityAuth?.PrudentialCategoryLastModifiedDate}}">
                        </div>
                        
                    </div>
                </div>

                <!--Prudential Return Type-->
                <div class="inputs-field-set" [ngClass]="{'collapsed': isCollapsed['prudentialReturnTypeSection']}">
                    <div class="edit-firm-actions collapse-container">
                        <h2 class="edit-firm-header">
                            Prudential Return Type
                        </h2>
                        <button class="collapse-button" (click)="toggleCollapse('prudentialReturnTypeSection')">
                            {{ isCollapsed['prudentialReturnTypeSection'] ? '▲' : '▼'}}
                        </button>
                    </div>
                    <div class="edit-firms-inputs">
                        <div class="input-field">
                            <label for="prudentialReturnType">
                                Prudential Return Type <span style="color: red;">*</span>
                            </label>
                            <select name="prudentialReturnType" id="prudentialReturnType">
                                <option value="">{{ActivityAuth?.SectorTypeDesc}}</option>
                                <!--More options will be integrated here-->
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="effectiveDate">
                                Effective Date <span style="color: red;">*</span>
                            </label>
                            <input name="effectiveDate" id="effectiveDate" type="date"
                                value="{{ActivityAuth?.SectorEffectiveDate}}">
                        </div>
                        <div class="input-field">
                            <label for="lastModifiedBy">
                                Last Modified By
                            </label>
                            <input disabled name="lastModifiedBy" id="lastModifiedBy" type="text"
                                value="{{ActivityAuth?.SectorModifiedByName}}">
                        </div>
                        <div class="input-field">
                            <label for="lastModificationDate">
                                Last Modification Date
                            </label>
                            <input disabled name="lastModificationDate" id="lastModificationDate" type="text"
                                value="{{ActivityAuth?.SectorLastModifiedDate}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>