

<div class="inputs-field-set">
    <div class="edit-firm-actions">
        <h2 class="edit-firm-header">
            Notice Details 
        </h2>
        <div class="edit-btn">
            <button class="save-btn">Save</button>
            <button class="cancel-btn">Cancel</button>
        </div>
    </div>
    <div class="edit-firms-inputs">

        <div class="input-field">
            <label for="typeOfNotice">
                Type of Notice
            </label>
            <select name="typeOfNotice" id="typeOfNotice">
                <option>Select</option>
                <option>Requeted For Response</option>
                <option>General Communication</option>
            </select>
        </div>

        <div class="input-field">
            <label for="noticeName">
                Notice Name
            </label>
            <select name="noticeName" id="noticeName">
                <option>Select</option>
                <option>UNSC updates to the list of sanctioned individuals and/or entities</option>
                <option>NCTC (Qatar) updates to the list of sanctioned individuals and/or entities</option>
                <option>Custom Questionnaire</option>
            </select>
        </div>


       <div class="input-field">
            <label for="internalReferenceNumber">
                Internal Reference Number :
            </label>
            <input name="internalReferenceNumber" id="internalReferenceNumber" type="text">
       </div>

       <div class="input-field">
        <label for="correspondenceReferenceNumber">
            Correspondence Reference Number :
        </label>
        <input name="correspondenceReferenceNumber" id="correspondenceReferenceNumber" type="text">
    </div>
      
    <div class="input-field">
        <label for="noticeIssuedBy">
            Notice Issued By : 
        </label>
        <select name="typeOfNotice" id="typeOfNotice">
            <option>Select</option>
            <option>United Nations Security Council</option>
            <option>National Counter Terrorism Committe (Qatar)</option>
            <option>National Anti Money Laundering Committe (Qatar)</option>
            <option>Qatar Financial Center Regulatory Authority</option>
            <option>Financial Action Task Force</option>
            <option>Qatar Financial Information Unit</option>
            <option>Other</option>

        </select>
    </div>

    <div class="input-field">
        <label for="issuersReferenceNumber">
            Issuer's Reference Number :
        </label>
        <input name="issuersReferenceNumber" id="issuersReferenceNumber" type="text">
   </div>

   <div class="input-field">
    <label for="noticeIssuedDate">
        Notice Issued Date :
    </label>
    <input name="noticeIssuedDate" id="noticeIssuedDate" type="date">
</div>
    
    
    <div class="input-field">
            <label for="reference">
                Reference(s) (if any) :
            </label>
            <input name="reference" id="reference" type="text">
    </div>


        <div class="input-field">
            <label for="linkToNotice">
                Link To Notice (if any) :
            </label>
            <input name="linkToNotice" id="linkToNotice" type="text">
        </div>

        <div class="input-field">
            <label for="publishOnWebsite">
                Publish On Website?
            </label>
            <div class="radio-wrapper">
                <input name="dateOfPublishOnWebsite" id="dateOfPublishOnWebsite" type="radio" value="yes"> Yes
                <input name="dateOfPublishOnWebsite" id="dateOfPublishOnWebsite" type="radio" value="no"> No
            </div>
        </div>

        <div class="input-field">
            <label for="publishOnEss">
                Publish On ESS? 
            </label>
            <div class="radio-wrapper">
                <input name="dateOfPublishOnESS" id="dateOfPublishOnESS" type="radio" value="yes"> Yes
                <input name="dateOfPublishOnESS" id="dateOfPublishOnESS" type="radio" value="no"> No
            </div>
        </div>

        <div class="input-field">
            <label for="designatedRecipient">
                Designated Recipient :
            </label>
            <input name="designatedRecipient" id="designatedRecipient" type="text">
        </div>

        <div class="input-checkboxes">
            <div class="input-checkboxes-title">Firm Types :</div>
            <div class="checkbox-grid">
                <label><input type="checkbox" value="Authorized"> Authorized</label>
                <label><input type="checkbox" value="DNFBP"> DNFBP</label>
            </div>
        </div>

        <div class="input-field">
            <label for="firms">
                Firms :
            </label>
            <input name="firms" id="firms" type="text">
        </div>

        <div class="input-checkboxes">
            <div class="input-checkboxes-title">Controlled functions :</div>
            <div class="checkbox-grid">
                <label><input type="checkbox" value="nonExecutiveGovernance"> Non-Executive Governance Function</label>
                <label><input type="checkbox" value="executiveGovernance"> Executive Governance Function</label>
                <label><input type="checkbox" value="seniorExecutive"> Senior Executive Function</label>
                <label><input type="checkbox" value="seniorManagment"> Senior Management Function</label>
                <label><input type="checkbox" value="finance"> Finance Function</label>
                <label><input type="checkbox" value="riskManagment"> Risk Management Function</label>
                <label><input type="checkbox" value="complianceOversight"> Compliance Oversight Function</label>
                <label><input type="checkbox" value="mlro"> MLRO Function</label>
                <label><input type="checkbox" value="internalAudit"> Internal Audit Function</label>
                <label><input type="checkbox" value="actuarial"> Actuarial Function</label>
            </div>
        </div>

        <div class="input-checkboxes">
            <div class="input-checkboxes-title">DNFBP Functions :</div>
            <div class="checkbox-grid">
                <label><input type="checkbox" value="DNFBPSEF">DNFBP SEF</label>
                <label><input type="checkbox" value="DNFBPmlro">DNFBP MLRO</label>
                <label><input type="checkbox" value="DNFBPdmlro"> DNFBP Deputy MLRO</label>
            </div>
        </div>

        <div class="input-checkboxes">
            <div class="input-checkboxes-title">Contact Types :</div>
            <div class="checkbox-grid">
                <label><input type="checkbox" value="principalContact">Principal Contact</label>
                <label><input type="checkbox" value="secondaryContact">Secondary Contact</label>
                <label><input type="checkbox" value="deputyMLRO">Deputy MLRO</label>
                <label><input type="checkbox" value="customerFacingIndividual"> Customer Facing Individual</label>
            </div>
        </div>


        <div class="input-field">
            <label for="emailNoticeToSup">
               Email Notice to SUP Supervisor :
            </label>
            <div class="radio-wrapper">
                <input name="emailNoticeToSup" id="emailNoticeToSup" type="radio" value="yes"> Yes
                <input name="emailNoticeToSup" id="emailNoticeToSup" type="radio" value="no"> No
            </div>
        </div>

        <div class="input-field">
            <label for="emailNoticeToAml">
               Email Notice to AML Supervisor :
            </label>
            <div class="radio-wrapper">
                <input name="emailNoticeToAml" id="emailNoticeToAml" type="radio" value="yes"> Yes
                <input name="emailNoticeToAml" id="emailNoticeToAml" type="radio" value="no"> No
            </div>
        </div>

        <div class="input-field">
            <label for="noticeFinalizesDate">
                Notice Finalized Date :
            </label>
            <input name="noticeFinalizesDate" id="noticeFinalizesDate" type="date">
        </div>

        <div class="input-field">
            <label for="datePublishedOnWebsite">
                Date Published on Website (if requested):
            </label>
            <input name="datePublishedOnWebsite" id="datePublishedOnWebsite" type="date">
        </div>

        <div class="input-field">
            <label for="notificationSentDate">
                Notification Sent Date :
            </label>
            <input name="notificationSentDate" id="notificationSentDate" type="date">
        </div>

        <div class="input-field">
            <label for="responseDueDate">
                Response Due Date (if requested) :
            </label>
            <input name="responseDueDate" id="responseDueDate" type="date">
        </div>

</div>