.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    padding: 10px;
}

.history {
    color: red;
    margin-right: 20px;
}

.nav {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}

.nav li {
    flex: 1;
}

.nav li a {
    display: block;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-right: 1px solid #ddd;
}

.nav li a:hover {
    background-color: #ddd;
}

.active {
    background-color: #A51E36;
    color: white!important;
}

.active:hover {
    background: #A51E36!important;
}

.nav li:last-child a {
    border-right: none;
}

.btn{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
}
.btn button{
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;;
}
.btn button i{
    margin: 0 2px;
}