<!-- Search Form -->

<!-- <div class="brid-crump">
    <div class="btn-group">
      <div class="btns">
        <button (click)="toggleSearch()">
          <i class="bi bi-search"></i>
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- Search Section 
  <section *ngIf="showSearchSection" class="search-firm-section">
    <div class="inputs-field-set">
      <div class="search-firm-actions">
        <h3 class="search-firm-header">Firms <span>Search</span></h3>
      </div>

      <div class="search-firms-inputs">
        <!-- Firm Name (Dropdown) 
        <div class="input-field">
          <label for="firmName">Firm Name</label>
          <div class="select-wrapper">
            <select name="firmName" id="firmName" [(ngModel)]="firmName">
              <option value="all">All</option>
              <option *ngFor="let firm of firms" [value]="firm.FirmName">
                {{ firm.FirmName }}
              </option>
            </select>
          </div>
        </div>

        <!-- QFC Number 
        <div class="input-field">
          <label for="qfcNumber">QFC Number</label>
          <input name="qfcNumber" id="qfcNumber" type="text" [(ngModel)]="qfcNumber" />
        </div>

        <!-- Firm Type (Checkboxes) 
        <div class="input-field" style="width: 100%">
          <div class="checkbox-wrapper">
            <label for="firmType">Firm Type:</label>
            <input type="checkbox" [(ngModel)]="firmType" (change)="toggleCategoryOptions('firmType')" />
            All&nbsp;&nbsp;
          </div>
          <div *ngIf="toggleOptions.firmType" class="checkbox-options">
            <label><input type="checkbox" [(ngModel)]="checkboxes.authorized" />
              Authorized</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.dnfbp" />
              DNFBP</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.licensed" />
              Licensed</label>
          </div>
        </div>

        <!-- Firm Status (Checkboxes) 
        <div class="input-field" style="width: 100%">
          <div class="checkbox-wrapper">
            <label for="firmStatus">Firm Status:</label>
            <input type="checkbox" [(ngModel)]="firmStatus" (change)="toggleCategoryOptions('firmStatus')" />
            All&nbsp;&nbsp;
          </div>
          <div *ngIf="toggleOptions.firmStatus" class="checkbox-options">
            <label><input type="checkbox" [(ngModel)]="checkboxes.applicant" />
              Applicant</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.applicationWithdrawn" />
              Application Withdrawn</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.applicationRejected" />
              Application Rejected</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.active" />
              Active</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.inactive" />
              Inactive</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.withdrawn" />
              Withdrawn</label>
          </div>
        </div>

        <!-- License Status (Dropdown) 
        <div class="input-field">
          <label for="licenseStatus">License Status</label>
          <div class="select-wrapper">
            <select name="licenseStatus" id="licenseStatus" [(ngModel)]="licenseStatus">
              <option value="all">All</option>
              <option *ngFor="let status of licenseStatuses" [value]="status">
                {{ status }}
              </option>
            </select>
          </div>
        </div>

        <!-- Authorisation Status (Dropdown) -
        <div class="input-field">
          <label for="authorisationStatus">Authorisation Status</label>
          <div class="select-wrapper">
            <select name="authorisationStatus" id="authorisationStatus" [(ngModel)]="authorisationStatuses">
              <option value="all">All</option>
              <option *ngFor="let status of authorisationStatuses" [value]="status">
                {{ status }}
              </option>
            </select>
          </div>
        </div>

        <!-- Prudential Category (Checkboxes) 
        <div class="input-field" style="width: 100%">
          <div class="checkbox-wrapper">
            <label for="prudentialCategory">Prudential Category</label>
            <input type="checkbox" [(ngModel)]="prudentialCategory"
              (change)="toggleCategoryOptions('prudentialCategory')" />
            All&nbsp;&nbsp;
          </div>
          <div *ngIf="toggleOptions.prudentialCategory" class="checkbox-options">
            <label><input type="checkbox" [(ngModel)]="checkboxes.piib1" /> PIIB
              1</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.piib2" /> PIIB
              2</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.piib3" /> PIIB
              3</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.piib4" /> PIIB
              4</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.piib5" /> PIIB
              5</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.directInsurer" />
              Direct Insurer</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.reinsurer" />
              Reinsurer</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.insuranceIntermediary" />
              Insurance Intermediary</label>
          </div>
        </div>

        <!-- Sectors (Checkboxes) 
        <div class="input-field" style="width: 100%">
          <div class="checkbox-wrapper">
            <label for="sectors">Sectors</label>
            <input type="checkbox" [(ngModel)]="sectors" (change)="toggleCategoryOptions('sectors')" />
            All&nbsp;&nbsp;
          </div>
          <div *ngIf="toggleOptions.sectors" class="checkbox-options">
            <label><input type="checkbox" [(ngModel)]="checkboxes.investmentManager" />
              Investment Manager</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.insurer" />
              Insurer</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.insuranceIntermediary" />
              Insurance Intermediary</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.bank" /> Bank</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.advisor" />
              Advisor</label>
            <label><input type="checkbox" [(ngModel)]="checkboxes.repOffice" /> Rep
              Office</label>
          </div>
        </div>
      </div>

      <!-- Buttons 
      <div class="input-search-buttons">
        <button type="button" (click)="resetFilters()" class="reset">
          Reset
        </button>
        <button type="button" (click)="searchFirms()" class="search">
          Search
        </button>
      </div>
    </div>
  </section>

  <!-- Alphabet Filter 
  <div class="alphabet-filter">
    <span *ngFor="let letter of alphabet" (click)="filterFirmsByLetter(letter)">{{
      letter
      }}</span>
  </div> -->

<!-- Firm List Component -->
<!-- Trigger Button for Search Popup -->
<!-- Trigger Button for Search Popup -->
<!-- Trigger Button for Search Popup -->
<!-- Search Button -->
<!-- Search Button -->

<div class="search-button-container">
  <div class="brid-crump">
    <div class="text">
      <span> Home > </span>All Firms
    </div>
  </div>
  <div class="buttons-section">
    <button (click)="togglePopup()" class="filter-button">
      <i class="bi bi-filter"></i> Filter
    </button>
    <div class="sort-dropdown">
      <button class="button-style" (click)="toggleSortDropdown()">
        <i class="bi bi-funnel-fill"></i> Sort <i class="bi bi-caret-down-fill"></i>
      </button>
      <div class="dropdown-menu" *ngIf="isSortDropdownOpen">
        <ul>
          <li (click)="onSortOptionSelected('AtoZ')">A → Z</li>
          <li (click)="onSortOptionSelected('ZtoA')">Z → A</li>
          <li (click)="onSortOptionSelected('newFirms')">Newest</li>
          <li (click)="onSortOptionSelected('oldFirms')">Oldest</li>
        </ul>
      </div>
    </div>
    <button type="button" (click)="resetFilters()" class="button-style"><i class="bi bi-arrow-counterclockwise"></i>Reset Filter</button>
    <button (click)="navigateToNewfirm()" class="addnew-button button-style">
      <i class="bi bi-plus"></i> Add New Firm
    </button>
  </div>
</div>

<!-- Search Popup -->
<div class="popup-overlay" *ngIf="showPopup" (click)="togglePopup()">
  <div class="popup-container" (click)="$event.stopPropagation()">
    <div class="popup-header">
      <h3>Firms Search</h3>
      <button class="close-button" (click)="togglePopup()"><i class="bi bi-x-circle close-icon"></i></button>
    </div>

    <div class="popup-content">
      <div class="search-firms-inputs" style="display: flex; justify-content: space-between;">

        <div class="dropdown-column">
          <!-- Firm Name (Dropdown) -->
          <div class="input-field">
            <label for="firmName">Firm Name</label>
            <div class="select-wrapper">
              <select name="firmName" id="firmName" [(ngModel)]="firmName">
                <option value="all">All</option>
                <option *ngFor="let firm of firms" [value]="firm.FirmName">
                  {{ firm.FirmName }}
                </option>
              </select>
            </div>
          </div>

          <!-- Firm Type (Checkboxes) -->
          <div class="input-field">
            <label for="firmType">Firm Type</label>
            <div class="checkbox-wrapper">
              <input type="checkbox" [(ngModel)]="firmType" (change)="toggleCategoryOptions('firmType')" /> All
            </div>
            <div *ngIf="toggleOptions.firmType" class="checkbox-options">
              <label><input type="checkbox" [(ngModel)]="checkboxes.authorized" value="1" /> Authorized</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.dnfbp" value="2" /> DNFBP</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.licensed" value="3" /> Licensed</label>
            </div>
          </div>

          <!-- QFC Number -->
          <div class="input-field">
            <label for="qfcNumber">QFC Number</label>
            <input name="qfcNumber" id="qfcNumber" type="text" [(ngModel)]="qfcNumber" />
          </div>

          <!-- Firm Status (Checkboxes) -->
          <div class="input-field">
            <label for="firmStatus">Firm Status</label>
            <div class="checkbox-wrapper">
              <input type="checkbox" [(ngModel)]="firmStatus" (change)="toggleCategoryOptions('firmStatus')" /> All
            </div>
            <div *ngIf="toggleOptions.firmStatus" class="checkbox-options">
              <label><input type="checkbox" [(ngModel)]="checkboxes.applicant" value="1" /> Applicant</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.applicationWithdrawn" value="2" /> Application
                Withdrawn</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.applicationRejected" value="3" /> Application
                Rejected</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.active" value="4" /> Active</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.inactive" value="5" /> Inactive</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.withdrawn" value="6" /> Withdrawn</label>
            </div>
          </div>

          <!-- License Status (Dropdown) -->
          <div class="input-field">
            <label for="licenseStatus">License Status</label>
            <div class="select-wrapper">
              <select name="licenseStatus" id="licenseStatus" [(ngModel)]="licenseStatus">
                <option value="all">All</option>
                <option *ngFor="let licstatus of licenseStatuses" [value]="licstatus">
                  {{ licstatus }}
                </option>
              </select>
            </div>
          </div>

          <!-- Prudential Category (Checkboxes) -->
          <div class="input-field">
            <label for="prudentialCategory">Prudential Category</label>
            <div class="checkbox-wrapper">
              <input type="checkbox" [(ngModel)]="prudentialCategory"
                (change)="toggleCategoryOptions('prudentialCategory')" /> All
            </div>
            <div *ngIf="toggleOptions.prudentialCategory" class="checkbox-options">
              <label><input type="checkbox" [(ngModel)]="checkboxes.piib1" value="1" /> PIIB 1</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.piib2" value="2" /> PIIB 2</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.piib3" value="3" /> PIIB 3</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.piib4" value="4" /> PIIB 4</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.piib5" value="5" /> PIIB 5</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.directInsurer" value="6" /> Direct Insurer</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.reinsurer" value="7" /> Reinsurer</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.insuranceIntermediary" value="8" /> Insurance
                Intermediary</label>
            </div>
          </div>

          <!-- Authorisation Status (Dropdown) -->
          <div class="input-field">
            <label for="authorisationStatus">Authorisation Status</label>
            <div class="select-wrapper">
              <!-- Bind to a single selected value (authorisationStatus), not the entire array -->
              <select name="authorisationStatus" id="authorisationStatus" [(ngModel)]="authorisationStatus">
                <option value="all">All</option>
                <option *ngFor="let authstatus of authorisationStatuses" [value]="authstatus">
                  {{ authstatus }}
                </option>
              </select>
            </div>
          </div>


          <!-- Sectors (Checkboxes) -->
          <div class="input-field">
            <label for="sectors">Sectors</label>
            <div class="checkbox-wrapper">
              <input type="checkbox" [(ngModel)]="sectors" (change)="toggleCategoryOptions('sectors')" /> All
            </div>
            <div *ngIf="toggleOptions.sectors" class="checkbox-options">
              <label><input type="checkbox" [(ngModel)]="checkboxes.investmentManager" value="1" /> Investment
                Manager</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.insurer" value="2" /> Insurer</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.insuranceIntermediary" value="3" /> Insurance
                Intermediary</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.bank" value="4" /> Bank</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.advisor" value="5" /> Advisor</label>
              <label><input type="checkbox" [(ngModel)]="checkboxes.repOffice" value="6" /> Rep Office</label>
            </div>
          </div>

        </div>

      </div>

      <!-- Alphabet Filter -->
      <div class="alphabet-filter">
        <span *ngFor="let letter of alphabet" (click)="getstartChar(letter)">
          {{ letter }}
        </span>
      </div>

      <!-- Buttons for Reset and Search -->
      <div class="input-search-buttons">
        <button type="button" (click)="resetFilters()" class="reset">Reset</button>
        <button type="button" (click)="searchFirms()" class="search">Search</button>
      </div>
    </div>
  </div>
</div>


<app-firm-list [isMainView]="true" [firms]="filteredFirms"></app-firm-list>