.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  width: 70%; /* Set the width to 70% */
  height: 65%; /* Set the height to 65% */
  background: white;
  padding: 2rem;
  border-radius: 10px;
  z-index: 10000;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.modal-header h4 {
  margin: 0;
}

.modal-header .close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.alphabet-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
  width: 60%;
}

.alphabet-filter span {
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.alphabet-filter span:hover {
  color: #d9534f;
}

.search-firm-section {
  margin: 1rem 0px 2rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
.inputs-field-set {
  width: 80%;
  background: #f1ebec;
  border-radius: 15px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-firm-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
}
.search-firm-header {
  color: #a51e36;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}
.search-firm-header span {
  color: black;
  font-size: 1em;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.search-firms-inputs {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: flex-start;
  width: 49%;
  padding: 0.5rem 0;
}
.input-field input {
  width: 96%;
  padding: 0.5rem 2%;
  border-radius: 7.2px;
  border: 0.72px #b1b1b1 solid;
}

.search-title {
  color: #a51e36;
  font-size: 1em;
  font-weight: 500;
  margin: 10px;
}
.brid-crump {
  display: flex;
  width: 97%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
}
.btn-group {
  display: flex;
  gap: 0 1%;
}

.btns button {
  background: #a51e36;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  color: white;
  min-width: 6rem;
  min-height: 40px;
}
.btns button i {
  margin: 0 2px;
}
select {
  width: 100%;
  padding: 0.5rem 2%;
  border-radius: 7.2px;
  border: 0.72px #b1b1b1 solid;
}
.checkbox-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
  }
}
.select-wrapper {
  //     display: flex;
  //   justify-content: center;
  //   align-items: center;
  width: 100%;
  label {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #a51e36;
  width: fit-content !important;
}
.search,.reset{
      background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
}
.input-search-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.search-firm-header {
  color: #a51e36;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}

.search-firms-inputs {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: flex-start;
  width: 49%;
  padding: 0.5rem 0;
}

.input-field input {
  width: 96%;
  padding: 0.5rem 2%;
  border-radius: 7.2px;
  border: 0.72px #b1b1b1 solid;
}

.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search,
.reset {
  background: #a51e36;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  color: white;
  min-width: 6rem;
  min-height: 40px;
}

.input-search-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
  margin-bottom: 20px;
}