<app-loader *ngIf="isLoading"></app-loader>
<!-- view & Edit popup  -->
<div class="overlay">
  <div class="popupcontainer Rptpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
    <div class="error-messages">
      <p *ngIf="errorMessages['FundType']">
          {{ errorMessages['FundType'] }}
      </p>
      <p *ngIf="errorMessages['FundName']">
        {{ errorMessages['FundName'] }}
      </p>
      <p *ngIf="errorMessages['FundStatus']">
        {{ errorMessages['FundStatus'] }}
      </p>
      <p *ngIf="errorMessages['StatusDate']">
        {{ errorMessages['StatusDate'] }}
      </p>
  </div>
    <!-- Title -->
    <div class="popup-title-btn-row">
      <div class="popup-header">
        <h3>
          Registered Fund 
        </h3>
      </div>
      <!-- Save and Cancel Buttons -->
      <button class="close-button  close-icon" (click)="onClose()">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
    <div class="reporting-schedule-form">
      <div class="inputs-row" *ngFor="let RegFundDetials of RegisteredFundDetials">
        <div class="input-field">
          <label for="fundNumber-{{RegFundDetials.RegisteredFundID}}">Fund Number</label>
          <input type="text" id="fundNumber-{{RegFundDetials.RegisteredFundID}}"
            name="fundNumber-{{RegFundDetials.RegisteredFundID}}" [(ngModel)]="RegFundDetials.RegisteredFundNumber"
            disabled />
        </div>
        <div class="input-field">
          <label for="FundType-{{RegFundDetials.RegisteredFundID}}">Type of Fund</label>
          
            <ng-container *ngIf="isEditable; else TypeOfFund">
              <select name="fundType" id="fundType" 
              [(ngModel)]="RegFundDetials.RegisteredFundTypeDesc"
              (change)="onFundTypeChange($event, RegFundDetials)"
              >
                <option *ngFor="let option of TypeOfFunddropdown" [value]="option.RegisteredFundTypeDesc">
                  {{ option.RegisteredFundTypeDesc }}
                </option>
              </select>
            </ng-container>
            <ng-template #TypeOfFund>
              <input type="text" id="FundType-{{RegFundDetials.RegisteredFundID}}"
              name="FundType-{{RegFundDetials.RegisteredFundID}}" [(ngModel)]="RegFundDetials.RegisteredFundTypeDesc"
              [disabled]="!isEditable" />
            </ng-template>
            
        </div>
        <div class="input-field">
          <label for="operator-{{RegFundDetials.RegisteredFundID}}">Operator</label>
          <input type="text" id="operator-{{RegFundDetials.RegisteredFundID}}"
            name="operator-{{RegFundDetials.RegisteredFundID}}" [(ngModel)]="RegFundDetials.FirmName"
            [disabled]="!isEditable" />
        </div>
        <div class="input-field">
          <label for="fundName-{{RegFundDetials.RegisteredFundID}}">Fund Name</label>
          <input type="text" id="fundName-{{RegFundDetials.RegisteredFundID}}"
            name="fundName-{{RegFundDetials.RegisteredFundID}}" [(ngModel)]="RegFundDetials.FundName"
            [disabled]="!isEditable" />
        </div>
      </div>
      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Sub-Fund Details</h3>
          <div class="add-sub-funds-btn-container">
            <button class="addSubFunsdBtn" [disabled]="!isEditable" (click)="addSubFund()">Add Sub-Fund</button>
          </div>
        </div>
        <ng-container>
          <div class="inputs-row report-entry"  *ngFor="let SubFund of SubFundData; let i = index">
            <div class="del-address-container">
              <button (click)="removeSubFund(i)" [disabled]="!isEditable" class="RmvTrashBtn bi-trash"></button>
            </div>
            <div class="input-field">
              <label for="subFundName-{{i}}">Sub Fund Name</label>
              <input type="text" [disabled]="!isEditable" id="subFundName-{{i}}" name="subFundName-{{i}}" 
                [(ngModel)]="SubFund.SubFundName" />
            </div>
      
            <div class="input-field">
              <label for="TypeOfSubFund-{{i}}">Sub Fund Type</label>
              <input type="text" [disabled]="!isEditable" id="TypeOfSubFund-{{i}}" name="TypeOfSubFund-{{i}}" 
                [(ngModel)]="SubFund.TypeOfSubFund" />
            </div>
      
            <div class="input-field">
              <label for="SubFundDateFrom-{{i}}">Date From</label>
              <input type="text" #dateInputs placeholder [disabled]="!isEditable" name="SubFundDateFrom-{{i}}" 
                [(ngModel)]="SubFund.SubFundDateFrom" />
            </div>
      
            <div class="input-field">
              <label for="SubFundDateTo-{{i}}">Date To</label>
              <input type="text" #dateInputs placeholder [disabled]="!isEditable" id="SubFundDateTo-{{i}}" name="SubFundDateTo-{{i}}" 
                [(ngModel)]="SubFund.SubFundDateTo" />
            </div>
          </div>
        </ng-container>
      </div>
      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Fund Status Details</h3>
        </div>
        <table class="fund-status-table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Status Date</th>
              <th>Last Modified By</th>
              <th>Last Modified Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let statusDetail of RegisteredFundStatusDetials">
              <td>{{ statusDetail.STATUS }}</td>
              <td>{{ statusDetail.StatusDate }}</td>
              <td>{{ statusDetail.LastModifiedByName }}</td>
              <td>{{ statusDetail.LastModifiedDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3></h3>
        </div>
        <ng-container>
            <div class="inputs-row report-entry" *ngFor="let RegFundDetials of RegisteredFundDetials">
              <div class="input-field">
                <label for="PreviousName-{{RegFundDetials.RegisteredFundID}}">Previous Name(s)</label>
                <input type="text" id="PreviousName-{{RegFundDetials.RegisteredFundID}}"
                  name="PreviousName-{{RegFundDetials.RegisteredFundID}}" [disabled]="!isEditable"
                  [(ngModel)]="RegFundDetials.PreviousNames" />
              </div>

              <div class="input-field">
                <label for="OtherRelatedEntities-{{RegFundDetials.RegisteredFundID}}">Other Related Entities</label>
                <input type="text" id="OtherRelatedEntities-{{RegFundDetials.RegisteredFundID}}"
                  name="OtherRelatedEntities-{{RegFundDetials.RegisteredFundID}}" [disabled]="!isEditable"
                  [(ngModel)]="RegFundDetials.OtherRelatedEntityName" />
              </div>

              <div class="input-field">
                <label for="Status-{{RegFundDetials.RegisteredFundID}}">Status</label>
              
                  <ng-container *ngIf="isEditable; else ViewStatus">
                    <select name="Status" id="Status" 
                    [(ngModel)]="RegFundDetials.RegisteredFundStatusTypeDesc"
                    (change)="onSatusTypeChange($event, RegFundDetials)"
                    >
                      <option *ngFor="let option of RFFundStatusdropdown" [value]="option.RegisteredFundStatusTypeDesc">
                        {{ option.RegisteredFundStatusTypeDesc }}
                      </option>
                    </select>
                  </ng-container>
                  <ng-template #ViewStatus>
                    <input type="text" id="Status-{{RegFundDetials.RegisteredFundID}}"
                    name="Status-{{RegFundDetials.RegisteredFundID}}" [disabled]="!isEditable"
                    [(ngModel)]="RegFundDetials.RegisteredFundStatusTypeDesc" />
                  </ng-template>
                 
              </div>
               
              <div class="input-field">
                <label for="statusDate-{{RegFundDetials.RegisteredFundID}}">Status Date</label>
                <input type="text" #dateInputs placeholder id="statusDate-{{RegFundDetials.RegisteredFundID}}"
                  name="statusDate-{{RegFundDetials.RegisteredFundID}}" [disabled]="!isEditable"
                  [(ngModel)]="RegFundDetials.RegisteredFundStatusDate" />
              </div>
        
             
            </div>
            <div class="rpt-list margin-top-10">
              <div class="popup-header">
                <h3></h3>
              </div>
              <div class="inputs-row report-entry" *ngFor="let RegFundDetials of RegisteredFundDetials">
                <div class="input-field">
                  <label for="PreviousName-{{RegFundDetials.RegisteredFundID}}">Entered By</label>
                  <input type="text" id="PreviousName-{{RegFundDetials.RegisteredFundID}}"
                    name="PreviousName-{{RegFundDetials.RegisteredFundID}}" disabled
                    [(ngModel)]="RegFundDetials.CreatedByName" />
                </div>
                <div class="input-field">
                  <label for="PreviousName-{{RegFundDetials.RegisteredFundID}}">Entered On</label>
                  <input type="text" id="PreviousName-{{RegFundDetials.RegisteredFundID}}"
                    name="PreviousName-{{RegFundDetials.RegisteredFundID}}" disabled
                    [(ngModel)]="RegFundDetials.CreatedDate" />
                </div>
                <div *ngIf="!isEditable" class="input-field">
                  <label for="PreviousName-{{RegFundDetials.RegisteredFundID}}">Last Modified By</label>
                  <input type="text" id="PreviousName-{{RegFundDetials.RegisteredFundID}}"
                    name="PreviousName-{{RegFundDetials.RegisteredFundID}}" disabled
                    [(ngModel)]="RegFundDetials.LastModifiedByName" />
                </div>
                <div *ngIf="!isEditable" class="input-field">
                  <label for="PreviousName-{{RegFundDetials.RegisteredFundID}}">Last Modified Date</label>
                  <input type="text" id="PreviousName-{{RegFundDetials.RegisteredFundID}}"
                    name="PreviousName-{{RegFundDetials.RegisteredFundID}}" disabled
                    [(ngModel)]="RegFundDetials.LastModifiedDate" />
                </div>
                <div class="input-field notes">
                  <label for="notes">Notes</label>
                  <div>
                      <ckeditor *ngIf="isEditable; else notes" [(ngModel)]="RegFundDetials.RegisteredFundNotes"
                          [editor]="Editor" style="height: 200px;" [config]="config"></ckeditor>
                  </div>
                  <ng-template #notes>
                      <p [innerHTML]="sanitizeHtml(RegFundDetials.RegisteredFundNotes)">
                      </p>
                  </ng-template>
                </div>
              </div>
            </div>
            
          </ng-container>
      </div>

     <!-- Attachment Section  -->

     <div *ngIf="(regFundsDoc?.length !== 0) || isEditable" class="attachment">
      <div class="popup-header">
        <h3>Attachment (if any)</h3>
      </div>
      <ng-container *ngIf="fetchedDocumentTypes">
        <app-attachment [documentObj]="documentObj" [tableDoc]="regFundsDoc" [pageName]="Page.RegisteredFunds"
          [param1]="reg.RegisteredFundID" [param2]="1" [isEdit]="isEditable" [ismultiple]="false"
          [documentTypes]="fetchedDocumentTypes" [loadDocuments]="loadDocuments.bind(this)"
          (documentUploaded)="onDocumentUploaded($event)" [selectedFile]="selectedFile"
          (selectedFileChange)="selectedFile = $event" [FileLoc]="FileLoc" [fileLocation]="fileLocation">
        </app-attachment>
      </ng-container>
    </div>

    <div class="btn justify-content-end">
      <button (click)="editRegFunds()" *ngIf="!isEditable">
        <i class="bi bi-pen"></i> Edit
      </button>
      <button (click)="confirmDeleteRegisteredFund()" *ngIf="!isEditable">
        <i class="bi bi-trash"></i> Delete
      </button>
      <button (click)="SaveUpdateRegFunds()" *ngIf="isEditable">
        Save
      </button>
      <button class="cancel-btn" (click)="cancelReg()" *ngIf="isEditable">
        Cancel
      </button>
    </div>
  </div>
</div>
</div>