<app-loader *ngIf="isLoading"></app-loader>
<div class="overlay">
    <div class="popupcontainer Rptpopupcontainer NoAnimationPopup" style="display:block" (click)="$event.stopPropagation()">
        <!-- Title -->
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Return Review For {{ firmDetails?.FirmName }} ({{firmDetails.QFCNum}})
                </h3>
            </div>
            <!-- Save and Cancel Buttons -->
            <button class="close-button  close-icon" (click)="onClose()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>
        <div class="error-messages">
          <p *ngIf="errorMessages['documentDetails']">
            {{ errorMessages['documentDetails'] }}
          </p>
          <p *ngIf="errorMessages['RptReviewed']">
            {{ errorMessages['RptReviewed'] }}
          </p>
          <p *ngIf="errorMessages['rptPeriodFrom']">
            {{ errorMessages['rptPeriodFrom'] }}
          </p>
          <p *ngIf="errorMessages['rptPeriodTo']">
            {{ errorMessages['rptPeriodTo'] }}
          </p>
        </div>
        <div class="reporting-schedule-form">
            <div class="inputs-row" >
                <div class="input-field">
                    <label for="QFCNumber">QFC Number</label>
                    <input type="text" disabled [(ngModel)]="firmDetails.QFCNum" id="QFCNumber" name="QFCNumber"
                     />
                </div>
                <div class="input-field">
                    <label for="prudentialCategory">Prudential Category</label>
                    <input disabled type="text" id="prudentialCategory" name="prudentialCategory"
                    [(ngModel)]="firmDetails.PrudentialCategoryTypeDesc"   />
                </div>
                <div class="input-field">
                    <label for="legalStatus">Legal Status</label>
                    <input disabled type="text" id="legalStatus" name="legalStatus"
                    [(ngModel)]="firmDetails.LegalStatusTypeDesc"   />
                </div>
                <div class="input-field">
                    <label for="reportingBasis">Reporting Basis</label>
                    <input disabled type="text" [(ngModel)]="ReportingBasis.FirmRptBasisTypeDesc" id="reportingBasis" name="reportingBasis" />
                </div>
                <div class="input-field">
                    <label for="leadRegulator">Lead Regulator</label>
                    <input disabled type="text" id="leadRegulator" name="leadRegulator" [(ngModel)]="RegulatorData" />
                </div>
            </div>
            <div class="rpt-list margin-top-10" >
                <div class="popup-header">
                    <h3>Report Reviewed</h3>
                </div>

                <ng-container >
                    <div class="inputs-row report-entry" >
                      <div class="input-field">
                        <label for="reportRev">Report to be Reviewed</label>
                        <select
                          (change)="SelectedReportReviewed($event)"
                          name="reportRev"
                          id="reportRev"
                          [(ngModel)]="ReportReviewed"
                        >
                          <!-- Default Option -->
                          <option [value]="0" selected>Select</option>
                          
                          <!-- Dynamic Options -->
                          <option
                            *ngFor="let option of ReportsReceivedList"
                            [value]="option.RptSchID_RptRecivedID"
                          >
                            {{ option.Reports }}
                          </option>
                          
                          <!-- "Other" Option -->
                          <option [value]="'Other'">Other ad-hoc report; not part of standard reporting schedule</option>
                        </select>
                      
                        <!-- Secondary Dropdown (conditionally shown) -->
                        <select *ngIf="showOtherDropdown" name="otherReportRev"id="otherReportRev" [(ngModel)]="selectedOtherDocTypeID" (change)="onDropdownChange($event)">
                          <option [value]="'0'">Select</option>
                          <option *ngFor="let option of OtherReportTypeList" [value]="option.DocTypeID"> 
                           {{option.DocTypeDesc}}
                          </option>
                        </select>
                        <div *ngIf="DocSubTypesList && DocSubTypesList.length > 0 && ReportReviewed == 'Other'" class="checkbox-container">
                          <label *ngFor="let subType of DocSubTypesList" class="checkbox-item">
                            <input
                              type="checkbox"
                              [value]="subType.DocSubTypeID"
                              [(ngModel)]="subType.checked"
                            />
                            {{ subType.DocSubTypeDesc }}
                          </label>
                        </div>
                      </div>

                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'"  class="input-field">
                          <label for="rptDueDate">Report Due Date</label>
                          <input
                          [(ngModel)]="RptReviewDates.RptDueDate"
                          #dateInputs placeholder
                            type="text"
                            id="rptDueDate"
                            name="rptDueDate"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodStartDate">Reporting Period Start Date</label>
                          <input
                          #dateInputs placeholder
                          [(ngModel)]="RptReviewDates.reportingPeriodStartDate"
                            type="text"
                            id="reportingPeriodStartDate"
                            name="reportingPeriodStartDate"
                          />
                        </div>
                      
                        <div class="input-field">
                          <label for="reportingPeriodEndDate">Reporting Period End Date</label>
                          <input
                          #dateInputs placeholder
                          [(ngModel)]="RptReviewDates.reportingPeriodEndDate"
                            type="text"
                            id="reportingPeriodEndDate"
                            name="reportingPeriodEndDate"
                          />
                        </div>
                         
                        <div  class="input-field">
                          <label for="reportName">Link To Report</label>
                          <a (click)="openReferencePopup(firmRptReviewItem)">Select/De-select document</a>
                          <span *ngIf="currentReturnReview.documentDetails?.FileName">{{currentReturnReview.DocTypeDesc}} : 
                            <a id="websiteLink"
                            [href]="sharePointUrl + currentReturnReview.documentDetails?.DocFileLocation" target="_blank" rel="noopener noreferrer">
                            {{currentReturnReview.documentDetails?.FileName}}
                            </a>
                          </span>
                        </div>
                        
                        <div class="input-field">
                          <label for="dueDate">Report Received Date</label>
                          <input
                          [(ngModel)]="firmRptReviewItem.receivedDate"
                          #dateInputs placeholder
                            type="text"
                            id="dueDate"
                            name="dueDate"
                          />
                        </div>
                        
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="materiallyComplete">Materially Complete</label>
                          <ng-container>
                            <div style="display: flex; align-items: center">
                              <input
                                type="radio"
                                id="materiallyCompleteYes"
                                name="materiallyComplete"
                                [value]="true"
                                [(ngModel)]="firmRptReviewItem.materiallyComplete"
                                style="margin-right: 10px; cursor: pointer"
                              />
                              <label for="materiallyCompleteYes" style="margin-left: 5px; color: #413b3c">Yes</label>
                      
                              <input
                                type="radio"
                                id="materiallyCompleteNo"
                                name="materiallyComplete"
                                [value]="false"
                                [(ngModel)]="firmRptReviewItem.materiallyComplete"
                                style="margin-left: 20px; margin-right: 10px; cursor: pointer;"
                              />
                              <label for="materiallyCompleteNo" style="margin-left: 5px; color: #413b3c">No</label>
                            </div>
                          </ng-container>
                        </div>
                        <div class="input-field">
                          <label for="dueDate">Submission Status</label>
                          <input
                            type="text"
                            id="dueDate"
                            name="dueDate"
                          />
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="ResubmissionRequired">Resubmission Required</label>
                          <ng-container>
                            <div style="display: flex; align-items: center">
                              <input
                                type="radio"
                                id="ResubmissionRequired"
                                name="ResubmissionRequired"
                                [value]="true"
                                [(ngModel)]="firmRptReviewItem.resubmissionRequired"
                                style="margin-right: 10px; cursor: pointer"
                              />
                              <label for="ResubmissionRequiredYes" style="margin-left: 5px; color: #413b3c">Yes</label>
                      
                              <input
                                type="radio"
                                id="ResubmissionRequired"
                                name="ResubmissionRequired"
                                [value]="false"
                                [(ngModel)]="firmRptReviewItem.resubmissionRequired"
                                style="margin-left: 20px; margin-right: 10px; cursor: pointer;"
                              />
                              <label for="ResubmissionRequiredNo" style="margin-left: 5px; color: #413b3c">No</label>
                            </div>
                          </ng-container>
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="dueDate">Material Completeness Decision Made By</label>
                          <input
                          [(ngModel)]="firmRptReviewItem.materiallyCompleteCheckedBy"
                            type="text"
                            id="dueDate"
                            name="dueDate"
                          />
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="dueDate">Resubmission Required Decision Made By</label>
                          <input
                          [(ngModel)]="firmRptReviewItem.resubmissionRequestedBy"
                            type="text"
                            id="dueDate"
                            name="dueDate"
                          />
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="dueDate">Material Completeness Decision Made On</label>
                          <input
                          [(ngModel)]="RptReviewDates.materiallyCompleteDate"
                          #dateInputs placeholder
                            type="text"
                            id="dueDate"
                            name="dueDate"
                          />
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="resubmissionRequestedDate">Resubmission Required Decision Made On</label>
                          <input
                          [(ngModel)]="RptReviewDates.resubmissionRequestedDate"
                          #dateInputs placeholder
                            type="text"
                            id="resubmissionRequestedDate"
                            name="resubmissionRequestedDate"
                          />
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field">
                          <label for="resubmissionDueDate">Resubmission Due Date</label>
                          <input
                          [(ngModel)]="RptReviewDates.resubmissionDueDate"
                          #dateInputs placeholder
                            type="text"
                            id="resubmissionDueDate"
                            name="resubmissionDueDate"
                          />
                        </div>
                        <div *ngIf="ReportReviewed !== '0' && ReportReviewed !== 'Other'" class="input-field" >
                          <input 
                          type="checkbox" 
                          id="createActionItem"
                          [(ngModel)]="createActionFromComment" 
                          style="cursor: pointer;" 
                          (click)="FlagcreateActionFromComment()"
                        />
                        <label 
                          for="createActionItem" 
                          style="cursor: pointer;">
                          Create action item from comment
                        </label>
                        </div>
                        <div *ngIf="firmRptReviewItem.resubmissionRequired" class="input-field fullwidth">
                          <label for="commetToBepublished">Enter comments to be published on website:</label>
                          <div style="min-width: 100%;" >
                            <ckeditor [(ngModel)]="CommentsToPublishObject.wPublishedComments" [editor]="Editor" [config]="config" style="height: 200px; min-width: 100%;"></ckeditor>
                          </div>
                        </div>
                        <div class="popup-header">
                          <h3></h3>
                      </div>
                        <div class="input-field-notes">
                            <div class="add-address-btn-container">
                              <button class="addAddressBtn" (click)="addNewComments()" >
                                Add Comment
                              </button>
                            </div>
                            
                            <div *ngFor="let reviewItem of newComments; let itemIndex = index">
                              <div *ngFor="let finding of reviewItem.firmRptReviewFindings; let commentIndex = index" class="input-field fullwidth">
                                <div  class="del-address-container">
                                  <button class="RmvTrashBtn bi-trash" (click)="removeComment(itemIndex, commentIndex)"> </button>
                                </div>
                                <label for="notes-{{ commentIndex }}">Comments/Findings :</label>                              
                                <!-- CKEditor in revise mode -->
                                <div style="min-width: 100%;" >
                                  <ckeditor [(ngModel)]="finding.firmRptReviewFindings" [editor]="Editor" [config]="config" style="height: 200px; min-width: 100%;"></ckeditor>
                                </div>        
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="rpt-list margin-top-10" >
              <div class="popup-header">
                  <h3>Items Requiring Follow-Up/Action</h3>
              </div>
              <div class="add-address-btn-container">
                <button class="addAddressBtn" (click)="addFollowUpItem()" >
                  Add Action
                </button>
              </div>
              <div class="inputs-row report-entry" *ngFor="let followUp of followUpItems; let i = index">
                <div  class="del-address-container">
                  <button class="RmvTrashBtn bi-trash" (click)="removeFollowUpItem(i)"> </button>
                </div>
                <div class="input-field">
                  <label for="item-{{ i }}">Item</label>
                  <input
                    type="text"
                    id="item-{{ i }}"
                    name="item"
                    [(ngModel)]="followUp.item"
                  />
                </div>
            
                <div class="input-field-notes">
                  <label for="actionsTaken-{{ i }}">Actions To Be Taken</label>
                  <ckeditor
                    [(ngModel)]="followUp.actionsTaken"
                    [editor]="Editor"
                    [config]="config"
                    style="height: 200px; min-width: 100%;"
                  ></ckeditor>
                </div>
            
                <div class="input-field">
                  <label for="dueDate-{{ i }}">Due Date</label>
                  <input
                    type="text"
                    id="dueDate-{{ i }}"
                    name="dueDate"
                    [(ngModel)]="followUp.dueDate"
                  />
                </div>
            
                <div class="input-field">
                  <label for="closedDate-{{ i }}">Closed Date</label>
                  <input
                    type="text"
                    id="closedDate-{{ i }}"
                    name="closedDate"
                    [(ngModel)]="followUp.closedDate"
                  />
                </div>
            
                <div class="input-field-notes">
                  <label for="resolution-{{ i }}">Resolution</label>
                  <ckeditor
                    [(ngModel)]="followUp.resolution"
                    [editor]="Editor"
                    [config]="config"
                    style="height: 200px; min-width: 100%;"
                  ></ckeditor>
                </div>
              </div>
           </div>
           <div class="rpt-list margin-top-10" >
            <div class="popup-header">
              <h3>Review</h3>
            </div>
              
            <div class="add-address-btn-container">
              <button class="addAddressBtn" (click)="addNewReview()" >
                Additional Review Required ? 
              </button>
            </div>
              <div *ngFor="let review of reviews; let i = index" class="inputs-row report-entry">
                <div  class="del-address-container">
                  <button class="RmvTrashBtn bi-trash" (click)="removeReview(i)"> </button>
                </div>
                <div class="input-field">
                  <label for="task-{{ i }}">Task</label>
                  <input type="text" id="task-{{ i }}" value="Review" disabled name="task" />
                </div>
            
                <div class="input-field notes">
                  <label for="reason-{{ i }}">Reason for Escalation/Review:</label>
                  <ckeditor [(ngModel)]="review.reason" [editor]="Editor" [config]="config" style="height: 200px; min-width: 100%;"></ckeditor>
                </div>
            
                <div class="input-field">
                  <label for="roleassignedTo-{{ i }}">Role Assigned To</label>
                  <select
                    [(ngModel)]="review.roleAssignedTo"
                    name="roleassignedTo-{{ i }}"
                    id="roleassignedTo-{{ i }}"
                    (change)="onRoleChange($event, i)"
                  >
                    <option [value]="0">Select</option>
                    <option *ngFor="let option of taskRolesList" [value]="option.AppRoleID">
                      {{ option.AppRoleDesc }}
                    </option>
                  </select>
                </div>
            
                <div class="input-field">
                  <label for="userAssignedTo-{{ i }}">User Assigned To</label>
                  <select [(ngModel)]="review.userAssignedTo" name="userAssignedTo-{{ i }}" id="userAssignedTo-{{ i }}">
                    <option [value]="0">Select</option>
                    <option *ngFor="let option of UsersInRoleList" [value]="option.UserId">
                      {{ option.UserName }}
                    </option>
                  </select>
                </div>
            
                <div class="input-field">
                  <label for="email-{{ i }}">Email (CC)</label>
                  <input type="text" [(ngModel)]="review.email" name="email-{{ i }}" />
                </div>
            
                <div class="input-field">
                  <label for="dueDate-{{ i }}">Due Date</label>
                  <input type="text" [(ngModel)]="review.dueDate" id="dueDate-{{ i }}" name="dueDate" />
                </div>
                <div *ngIf="i != reviews.length" class="popup-header">
                  <h3></h3>
                </div>
            </div>
            
          </div>
          <div class="btn justify-content-end">
            <button (click)="saveUpdateFirmReportReview()">
              Save
            </button>
            <button class="cancel-btn">
              Cancel
            </button>
          </div>

          </div> 
</div>
<!--Reference Form Popup-->


<app-reference-form *ngIf="showReferencePopup" [firmId]="firmId" [Page]="Page.ReturnsReview"
    (close)="closeReferencePopup()" [docTypes]="currentDocTypeID" [documentDetails]="currentDocumentDetails"
    (documentSelected)="onDocumentSelected($event)" (documentDeselected)="onDocumentDeselected()"></app-reference-form>

