<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
  <div class="inputs-field-set">
    <div class="section">
      <div class="controller-header">
        <h2 class="edit-firm-header">
          Controllers > <span>{{ firmDetails?.FirmName }}</span>
        </h2>
        <div class="btn">
          <button (click)="createController()">
            <i class="bi bi-pen"></i>
            Create
          </button>
        </div>
      </div>
      <table class="controller-tables">
        <thead>
          <tr>
            <th>Name</th>
            <th>Controller Type</th>
            <th>Registered Number</th>
            <th>Control Type</th>
            <th>% of Holding</th>
            <th>Effective Date</th>
            <th>Cessation Date</th>
            <th>Last Modified By</th>
            <th>Last Modified Date</th>
          </tr>
        </thead>
        <tbody *ngIf="FIRMControllers?.length > 0; else noFirmControllerRecords">
          <tr *ngFor="let controller of FIRMControllers" (click)="openControllerPopup(controller)">
            <td>{{ controller.OtherEntityName }}</td>
            <td>{{ controller.EntityTypeDesc }}</td>
            <td>{{ controller.RegisteredNum }}</td>
            <td>{{ controller.ControllerControlTypeDesc }}</td>
            <td>{{ controller.PctOfShares }}</td>
            <td>{{ controller.AssnDateFrom }}</td>
            <td>{{ controller.AssnDateTo }}</td>
            <td>{{ controller.LastModifiedByOfOtherEntities }}</td>
            <td>{{ controller.LastModifiedDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noFirmControllerRecords>
    <tbody>
      <tr>
        <td colspan="9" class="norecords" style="color: red">No Records Found</td>
      </tr>
    </tbody>
  </ng-template>

  <div class="inputs-field-set">
    <div class="section">
      <h2 class="edit-firm-header">
        Ultimate Beneficial Owners > <span>{{ firmDetails?.FirmName }}</span>
      </h2>
      <table class="controller-tables">
        <thead>
          <tr>
            <th>Name</th>
            <th>Controller Type</th>
            <th>Registered Number</th>
            <th>Control Type</th>
            <th>% of Holding</th>
            <th>Effective Date</th>
            <th>Cessation Date</th>
            <th>Last Modified By</th>
            <th>Last Modified Date</th>
          </tr>
        </thead>
        <tbody *ngIf="FIRMControllersIndividual?.length > 0; else noIndividualControllerRecords">
          <tr *ngFor="let controller of FIRMControllersIndividual" (click)="openControllerPopup(controller)">
            <td>{{ controller.OtherEntityName }}</td>
            <td>{{ controller.EntityTypeDesc }}</td>
            <td>{{ controller.RegisteredNum }}</td>
            <td>{{ controller.ControllerControlTypeDesc }}</td>
            <td>{{ controller.PctOfShares }}</td>
            <td>{{ controller.AssnDateFrom }}</td>
            <td>{{ controller.AssnDateTo }}</td>
            <td>{{ controller.LastModifiedByOfOtherEntities }}</td>
            <td>{{ controller.LastModifiedDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noIndividualControllerRecords>
    <tbody>
      <tr>
        <td colspan="9" class="norecords" style="color: red">No Records Found</td>
      </tr>
    </tbody>
  </ng-template>
  <!-- Edit Controller -->
  <div *ngIf="isPopupOpen" class="contollerPopupOverlay">
    <div class="contollerPopupContent" (click)="$event.stopPropagation()">
      <div class="error-messages">
        <p *ngIf="errorMessages['OtherEntityName']">
          {{ errorMessages['OtherEntityName'] }}
        </p>
        <p *ngIf="errorMessages['PlaceOfEstablishment']">
          {{ errorMessages['PlaceOfEstablishment'] }}
        </p>
        <p *ngIf="errorMessages['ControllerControlTypeDesc']">
          {{ errorMessages['ControllerControlTypeDesc'] }}
        </p>
        <p *ngIf="errorMessages['PctOfShares']">
          {{ errorMessages['PctOfShares'] }}
        </p>
        <!--Individual-->
        <p *ngIf="errorMessages['firstName']">
          {{ errorMessages['firstName'] }}
        </p>
        <p *ngIf="errorMessages['familyName']">
          {{ errorMessages['familyName'] }}
        </p>
        <p *ngIf="errorMessages['AssnDateFrom']">
          {{ errorMessages['AssnDateFrom'] }}
        </p>
        <p *ngIf="errorMessages['AssnDateTo']">
          {{ errorMessages['AssnDateTo'] }}
        </p>
        <p *ngIf="errorMessages['dateOfBirth']">
          {{ errorMessages['dateOfBirth'] }}
        </p>
        <p *ngIf="errorMessages['isPEP']">
          {{ errorMessages['isPEP'] }}
        </p>
      </div>
      <!-- Title -->
      <div class="popup-title-btn-row">
        <div class="popup-header">
          <h3>
            {{selectedController?.EntityTypeDesc}} Details For {{ firmDetails?.FirmName }}
          </h3>
        </div>
        <!-- Save and Cancel Buttons -->

        <button class="close-button" (click)="closeControllerPopup()">
          <i class="bi bi-x-circle close-icon"></i>
        </button>
      </div>

      <div class="inputs-row">
        <div class="input-field">
          <label>Controller Type</label>
          <input value="{{selectedController.EntityTypeDesc}}" name="ControllerType" disabled />
        </div>

        <div class="input-field" *ngIf="
              selectedController.EntityTypeID === ControllerType.ParentEntity ||
              selectedController.EntityTypeID === ControllerType.CorporateController ||
              selectedController.EntityTypeID === ControllerType.UBO_Corporate||
              selectedController.EntityTypeID === ControllerType.Head_Office">
          <label>Full Name of Entity</label>
          <input [(ngModel)]="selectedController.OtherEntityName" name="fullName" [disabled]="!isEditable" required />
        </div>
        <div class="input-field" *ngIf="
              selectedController.EntityTypeID === ControllerType.UBO_Individual ||
              selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="title"> Title </label>
          <ng-container *ngIf="isEditable; else titleDisplay">
            <select [(ngModel)]="selectedIndividualController.Title"
              name="title" id="title">
              <option *ngFor="let title of Titles" [value]="title.TitleDesc">
                {{ title.TitleDesc }}
              </option>
            </select>
          </ng-container>
          <ng-template #titleDisplay>
            <input value="{{selectedIndividualController.Title}}" name="title" id="title" disabled />
          </ng-template>
        </div>
        <div class="input-field" *ngIf="
              selectedController.EntityTypeID === ControllerType.UBO_Individual ||
              selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="firstName">
            First Name <span style="color: red">*</span>
          </label>
          <input [(ngModel)]="selectedIndividualController.FirstName" name="firstName" id="firstName" type="text"
            [disabled]="!isEditable" />
        </div>
        <!---->
        <div class="input-field" *ngIf="
              selectedController.EntityTypeID === ControllerType.UBO_Individual ||
              selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="secondName">
            Second Name <span style="color: red">*</span>
          </label>
          <input [(ngModel)]="selectedIndividualController.SecondName" name="secondName" id="secondName" type="text"
            [disabled]="!isEditable" />
        </div>
        <!---->
        <div class="input-field" *ngIf="
              selectedController.EntityTypeID === ControllerType.UBO_Individual ||
              selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="familyName">
            Family Name <span style="color: red">*</span>
          </label>
          <input [(ngModel)]="selectedIndividualController.FamilyName" name="familyName" id="familyName" type="text"
            [disabled]="!isEditable" />
        </div>

        <div class="input-field" *ngIf="
              selectedController.EntityTypeID === ControllerType.UBO_Individual ||
              selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="placeOfBirth">
            Place Of Birth
          </label>
          <input [disabled]="!isEditable" [(ngModel)]="selectedIndividualController.PlaceOfBirth" name="placeOfBirth"
            id="placeOfBirth" type="text" />
        </div>

        <!---->
        <div class="input-field" *ngIf="
        selectedController.EntityTypeID === ControllerType.UBO_Individual ||
        selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="dateOfBirth">
            Date of birth <span style="color: red">*</span>
          </label>
          <input [(ngModel)]="selectedIndividualController.DateOfBirth" #dateInputs placeholder name="dateOfBirth"
            id="dateOfBirth" type="input" [disabled]="!isEditable" />
        </div>
        <!---->
        <div class="input-field" *ngIf="
        selectedController.EntityTypeID === ControllerType.UBO_Individual ||
        selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="passportNum"> Passport Number </label>
          <input [(ngModel)]="selectedIndividualController.PassportNum" name="passportNum" id="passportNum" type="text"
            [disabled]="!isEditable" />
        </div>
        <div class="input-field" *ngIf="
        selectedController.EntityTypeID === ControllerType.UBO_Individual ||
        selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="jurisdictionIssue"> Jurisdiction of Issue </label>
          <select *ngIf="isEditable; else jurisdictionOfIssue" [disabled]="!isEditable" name="jurisdictionIssue"
            id="jurisdictionIssue" [(ngModel)]="selectedIndividualController.JurisdictionID">
            <option value="0">Select</option>
            <option *ngFor="let place of allCountries" [value]="place.CountryID">
              {{ place.CountryName }}
            </option>
          </select>
          <ng-template #jurisdictionOfIssue>
            <input disabled type="text" value="{{selectedIndividualController.JurisdictionIssueCountry}}">
          </ng-template>
        </div>

        <!---->
        <div class="input-field" style="width: 100%" *ngIf="
        selectedController.EntityTypeID === ControllerType.UBO_Individual ||
        selectedController.EntityTypeID === ControllerType.IndividualController">
          <label for="isPEP">
            Is Politically Exposed Person (PEP)?
            <span style="color: red">*</span>
          </label>
          <ng-container *ngIf="isEditable else isPePOnView">
            <div class="radio-wrapper">
              <input name="isPEP" id="yes" type="radio" [value]="true"
                [(ngModel)]="selectedIndividualController.IsPep" />
              Yes
              <input name="isPEP" id="no" type="radio" [value]="false"
                [(ngModel)]="selectedIndividualController.IsPep" />
              No
            </div>
          </ng-container>
          <ng-template #isPePOnView>
            <p>{{selectedIndividualController.IsPep ? 'Yes' : 'No'}}</p>
          </ng-template>
        </div>
        <!---->
        <div *ngIf="
        selectedController.EntityTypeID === ControllerType.ParentEntity ||
        selectedController.EntityTypeID === ControllerType.CorporateController ||
        selectedController.EntityTypeID === ControllerType.UBO_Corporate||
        selectedController.EntityTypeID === ControllerType.Head_Office" class="input-field">
          <label>Legal Status</label>
          <ng-container *ngIf="isEditable; else legalStatusDisplay">
            <select [(ngModel)]="selectedController.LegalStatusTypeID" name="legalStatus">
              <option value="0">Select</option>
              <option *ngFor="let status of legalStatusOptionsEdit" [value]="status.LegalStatusTypeID">
                {{ status.LegalStatusTypeDesc }}
              </option>
            </select>
          </ng-container>
          <ng-template #legalStatusDisplay>
            <input [value]="getLegalStatusDescription()" name="legalStatus" disabled />
          </ng-template>
        </div>
        <div *ngIf="
        selectedController.EntityTypeID === ControllerType.ParentEntity ||
        selectedController.EntityTypeID === ControllerType.CorporateController ||
        selectedController.EntityTypeID === ControllerType.UBO_Corporate||
        selectedController.EntityTypeID === ControllerType.Head_Office" class="input-field">
          <label>Registered Number</label>
          <input [(ngModel)]="selectedController.RegisteredNum" name="registeredNum" [disabled]="!isEditable" />
        </div>
        <div *ngIf="
        selectedController.EntityTypeID === ControllerType.ParentEntity ||
        selectedController.EntityTypeID === ControllerType.CorporateController ||
        selectedController.EntityTypeID === ControllerType.UBO_Corporate||
        selectedController.EntityTypeID === ControllerType.Head_Office" class="input-field">
          <label>Place of Establishment</label>
          <ng-container *ngIf="isEditable; else placeOfEstablishmentDisplay">
            <select [(ngModel)]="selectedController.CountryOfIncorporation"
              (change)="onCountryChange(selectedController.CountryOfIncorporation,existingRegulatorList, true)"
              name="placeOfEstablishment">
              <option value="0">Select</option>
              <option *ngFor="let place of allCountries" [value]="place.CountryID">
                {{ place.CountryName }}
              </option>
            </select>
          </ng-container>
          <ng-template #placeOfEstablishmentDisplay>
            <input type="text" [value]="getPlaceOfEstablishmentName()" name="placeOfEstablishment" disabled />
          </ng-template>
        </div>

        <div class="input-field">
          <label for="typeOfControl">Type of Control</label>
          <ng-container *ngIf="isEditable; else typeOfControlDisplay">
            <select required [(ngModel)]="selectedController.ControllerControlTypeID"
              (ngModelChange)="updateControlTypeDesc($event)" name="typeOfControl" id="typeOfControl">
              <option value="0">Select</option>
              <option *ngFor="let ControlType of controlTypeOptionsCreate"
                [value]="ControlType.ControllerControlTypeID">
                {{ ControlType.ControllerControlTypeDesc }}
              </option>
            </select>
          </ng-container>
          <ng-template #typeOfControlDisplay>
            <input [value]="selectedController.ControllerControlTypeDesc" name="placeOfEstablishment" disabled />
          </ng-template>
        </div>
        <!-- Display the % of Holding field only if the control type is "Percentage" -->
        <ng-container *ngIf="selectedController.ControllerControlTypeID == 1">
          <div class="input-field">
            <label>% of Holding</label>
            <input [(ngModel)]="selectedController.PctOfShares" name="percentOfHolding" type="text"
              [disabled]="!isEditable" />
          </div>
        </ng-container>
        <div class="input-field">
          <label>Effective Date</label>
          <ng-container *ngIf="isEditable; else effectiveDateInput">
            <input type="text" #dateInputs placeholder [(ngModel)]="selectedController.AssnDateFrom"
              name="effectiveDate" />
          </ng-container>
          <ng-template #effectiveDateInput>
            <input [(ngModel)]="selectedController.AssnDateFrom" name="effectiveDate" [disabled]="!isEditable" />
          </ng-template>
        </div>
        <div class="input-field">
          <label>Cessation Date</label>
          <ng-container *ngIf="isEditable; else cessationDateInput">
            <input type="text" #dateInputs placeholder [(ngModel)]="selectedController.AssnDateTo"
              name="cessationDate" />
          </ng-container>
          <ng-template #cessationDateInput>
            <input [(ngModel)]="selectedController.AssnDateTo" name="cessationDate" [disabled]="!isEditable" />
          </ng-template>
        </div>
        <div class="input-field" *ngIf="
        selectedController.EntityTypeID === ControllerType.ParentEntity ||
        selectedController.EntityTypeID === ControllerType.CorporateController ||
        selectedController.EntityTypeID === ControllerType.UBO_Corporate||
        selectedController.EntityTypeID === ControllerType.Head_Office">
          <label>Is The Company Regulated</label>
          <ng-container *ngIf="isEditable; else regulatedValue">
            <div style="display: flex; align-items: center">
              <input type="radio" id="regulatedYes" [(ngModel)]="selectedController.IsCompanyRegulated"
                name="isCompanyRegulated" [value]="true" style="margin-right: 10px; cursor: pointer" />
              <label for="regulatedYes" style="margin-left: 5px; color: #413b3c">Yes</label>

              <input type="radio" id="regulatedNo" [(ngModel)]="selectedController.IsCompanyRegulated"
                name="isCompanyRegulated" [value]="false" style="
                    margin-left: 20px;
                    margin-right: 10px;
                    cursor: pointer;
                  " />
              <label for="regulatedNo" style="margin-left: 5px; color: #413b3c">No</label>
            </div>
          </ng-container>
          <ng-template #regulatedValue>
            <span style="margin-left: 10px; color: #413b3c">
              {{ selectedController.IsCompanyRegulated ? 'Yes' : 'No' }}
            </span>
          </ng-template>
        </div>


        <div class="input-field" *ngIf="selectedController.EntityTypeDesc === 'UBO – Corporate'">
          <label for="isCompanyTraded">Is the company publicly traded?</label>
          <ng-container *ngIf="isEditable; else tradedValue">
            <div style="display: flex; align-items: center">
              <input type="radio" id="tradedYes" [(ngModel)]="selectedController.IsPublicallyTraded"
                name="isCompanyTraded" [value]="true" style="margin-right: 10px; cursor: pointer" />
              <label for="tradedYes" style="margin-left: 5px; color: #413b3c">Yes</label>

              <input type="radio" id="tradedNo" [(ngModel)]="selectedController.IsPublicallyTraded"
                name="isCompanyTraded" [value]="false" style="
                    margin-left: 20px;
                    margin-right: 10px;
                    cursor: pointer;
                  " />
              <label for="tradedNo" style="margin-left: 5px; color: #413b3c">No</label>
            </div>
          </ng-container>
          <ng-template #tradedValue>
            <span style="margin-left: 10px; color: #413b3c">
              {{ selectedController.IsPublicallyTraded ? 'Yes' : 'No' }}
            </span>
          </ng-template>
        </div>
        <div class="input-field" *ngIf="
              selectedController.IsPublicallyTraded === false &&
              selectedController.EntityTypeID === ControllerType.UBO_Corporate
            ">
          <label for="more10UBOs">Are there any UBOs that own more than 10% of this
            entity?</label>
          <ng-container *ngIf="isEditable; else moreUBOsValue">
            <div style="display: flex; align-items: center">
              <input type="radio" id="UBOYes" [(ngModel)]="selectedController.More10UBOs" name="more10UBOs"
                [value]="true" style="margin-right: 10px; cursor: pointer" />
              <label for="UBOYes" style="margin-left: 5px; color: #413b3c">Yes</label>

              <input type="radio" id="UBONo" [(ngModel)]="selectedController.More10UBOs" name="more10UBOs"
                [value]="false" style="
                    margin-left: 20px;
                    margin-right: 10px;
                    cursor: pointer;
                  " />
              <label for="UBONo" style="margin-left: 5px; color: #413b3c">No</label>
            </div>
          </ng-container>
          <ng-template #moreUBOsValue>
            <span style="margin-left: 10px; color: #413b3c">
              {{ selectedController.More10UBOs ? 'Yes' : 'No' }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="inputs-row">
        <div class="input-field additional-details fullwidth">
          <label for="additionalDetails"> Additional Details </label>
          <textarea [(ngModel)]="selectedController.AdditionalDetails" name="additionalDetails" id="additionalDetails"
            [disabled]="!isEditable"></textarea>
        </div>
      </div>
      <!-- Addresses Section -->
      <div *ngIf="filteredControllerAddresses.length > 0 || isEditable" class="addresses">
        <div class="popup-header">
          <h3>Addresses</h3>
        </div>
        <!--Error messages for addresses-->
        <div class="error-messages">
          <p *ngIf="errorMessages['AddressTypeID']">
            {{ errorMessages['AddressTypeID'] }}
          </p>
          <p *ngIf="errorMessages['DuplicatedAddressTypeID']">
            {{ errorMessages['DuplicatedAddressTypeID'] }}
          </p>
        </div>
        <div class="add-address-btn-container">
          <button class="addAddressBtn" (click)="addNewAddressOnEditMode()"
            *ngIf="isEditable && canAddNewAddressOnEdit">
            Add Address
          </button>
        </div>
        <!--Address Details-->
        <div class="inputs-row">
          <ng-container *ngFor="let address of filteredControllerAddresses; let i = index">
            <ng-container *ngIf="address.Valid === true">
              <div class="input-field" *ngIf="!isEditable">
                <label for="addressType" class="history-row">
                  Address Type
                  <button *ngIf="address.PreviousRecords != 0" class="subbutton-open-history"
                    (click)="getAddressTypeHistory(address.AddressTypeID,address.EntityTypeID,address.EntityID,
                      (selectedController.EntityTypeID === 11 || selectedController.EntityTypeID === 9) ? selectedController.RelatedEntityID : null)">
                    <i class="bi bi-clock-history"></i><span> Open History</span>
                  </button>
                </label>
                <input disabled name="addressType" id="addressType" type="text"
                  value="{{ address?.AddressTypeDesc }}" />
              </div>
              <div *ngIf="isEditable" class="del-address-container">
                <button (click)="removeAddressOnEditMode(i)" class="RmvAddressBtn bi-trash"></button>
              </div>
              <!-- address type on edit mode -->
              <div class="input-field" *ngIf="isEditable">
                <label for="addressType" class="history-row">
                  Address Type
                  <button *ngIf="address.PreviousRecords !== 0 && address.AddressID" class="subbutton-open-history"
                    (click)="getAddressTypeHistory(address.AddressTypeID,address.EntityTypeID,address.EntityID,
                      (selectedController.EntityTypeID === 11 || selectedController.EntityTypeID === 9) ? selectedController.RelatedEntityID : null)">
                    <i class="bi bi-clock-history"></i> <span>Open History</span>
                  </button>

                </label>
                <select [disabled]="!!address.AddressID" [(ngModel)]="address.AddressTypeID"
                  (change)="onAddressTypeChangeOnEditMode($event, address)" [ngClass]="{
                        'error-border': address === invalidAddress}">
                  <option value="0">Select</option>
                  <option *ngFor="let option of currentAddressTypes" [value]="option.AddressTypeID">
                    {{ option.AddressTypeDesc }}
                  </option>
                </select>
              </div>

              <div class="input-field" *ngIf="
        isEditable &&
        (!address.AddressID || address.AddressID === '')
      ">
                <label for="sameAsType"> Same As Type </label>
                <select [(ngModel)]="address.SameAsTypeID" (ngModelChange)="onSameAsTypeChangeOnEditMode($event,i)"
                  name="sameAsType" id="sameAsType">
                  <option value="0">Select</option>
                  <option *ngFor="let type of getFilteredAddressTypes()" [value]="type.AddressTypeID">
                    {{ type.AddressTypeDesc }}
                  </option>
                </select>
              </div>

              <div class="input-field">
                <label for="addressLine1"> Address Line 1 </label>
                <input type="text" [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="addressLine1" id="addressLine1" [(ngModel)]="address.AddressLine1" />
              </div>
              <div class="input-field">
                <label for="addressLine2"> Address Line 2 </label>
                <input [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="addressLine2" id="addressLine2" type="text" [(ngModel)]="address.AddressLine2" />
              </div>
              <div class="input-field">
                <label for="addressLine3"> Address Line 3 </label>
                <input [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="addressLine3" id="addressLine3" type="text" [(ngModel)]="address.AddressLine3" />
              </div>
              <div class="input-field">
                <label for="addressLine4"> Address Line 4 </label>
                <input [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="addressLine4" id="addressLine4" type="text" [(ngModel)]="address.AddressLine4" />
              </div>
              <div class="input-field">
                <label for="city"> City </label>
                <input [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="city" id="city" type="text" [(ngModel)]="address.City" />
              </div>
              <div class="input-field">
                <label for="state"> state/province </label>
                <input [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="state" id="state" type="text" [(ngModel)]="address.Province" />
              </div>
              <div class="input-field" *ngIf="!isEditable">
                <label for="country"> Country </label>
                <input disabled type="text" name="country" id="country" [(ngModel)]="address.CountryName" />
              </div>
              <!-- countries on edit mode-->
              <div class="input-field" *ngIf="isEditable">
                <label for="country"> Country </label>
                <select [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " [(ngModel)]="address.CountryID">
                  <option *ngFor="let option of allCountries" [value]="option.CountryID">
                    {{ option?.CountryName }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <label for="zip"> Zip/Postal Code </label>
                <input [disabled]="
          !isEditable ||
          (address.isFieldsDisabled && !address.AddressID)
        " name="zip" id="zip" type="text" [(ngModel)]="address.PostalCode" />
              </div>
              <hr *ngIf="i < controllerAddresses.length - 1" />
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="selectedController.IsCompanyRegulated
       && (selectedController.EntityTypeID === ControllerType.ParentEntity ||
        selectedController.EntityTypeID === ControllerType.CorporateController ||
        selectedController.EntityTypeID === ControllerType.UBO_Corporate ||
        selectedController.EntityTypeID === ControllerType.Head_Office)">
        <div class="popup-header">
          <h3>Home State Regulators</h3>
        </div>

        <div>
          <button *ngIf="isEditable" (click)="addRegulator(existingRegulatorList)" style="
            background-color: green;
            color: white;
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            float: right;
            margin: 5px 0px;
          ">
            <i style="size: 7px" class="bi bi-plus-lg"></i>
          </button>
        </div>


        <div *ngFor="let regulator of existingRegulatorList; let i = index">
          <hr>
          <div *ngIf="isEditable" style="width: 100%">
            <button (click)="removeRegulator(existingRegulatorList,i,true)" style="
                float: right;
                background-color: red;
                color: white;
                border: none;
                padding: 5px;
                cursor: pointer;
                border-radius: 5px;
              ">
              <i style="size: 5px" class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="inputs-row">
            <div class="input-field">
              <label for="regulators">Regulator <span style="color: red">*</span></label>
              <ng-container *ngIf="isEditable; else regulatorinput">
                <select [(ngModel)]="regulator.RegulatorID" name="regulators" id="regulators">
                  <option value="0">Select</option>
                  <option *ngFor="let option of AllRegulater" [value]="option.RegulatorID">
                    {{ option.RegulatorName }}
                  </option>
                </select>
              </ng-container>
              <ng-template #regulatorinput>
                <input type="text" name="regulators" id="regulators" value="{{regulator.RegulatorName}}" disabled />
              </ng-template>
            </div>
            <div class="input-field">
              <label>Regulator Contact</label>
              <input [(ngModel)]="selectedController.RegulatorContact" name="regulatorContact" disabled />
            </div>
          </div>
        </div>

      </ng-container>

      <div class="btn justify-content-end">
        <button *ngIf="!isEditable" (click)="editController()">
          <i class="bi bi-pen"></i> Edit
        </button>
        <button *ngIf="isEditable" (click)="saveControllerPopupChanges()">
          <i></i> Save
        </button>
        <button (click)="confarmDeleteControllerDetials()">
          <i class="bi bi-trash"></i> Delete
        </button>
      </div>

    </div>
  </div>
  <!-- Create Controller -->
  <div *ngIf="showCreateControllerSection" class="contollerPopupOverlay">
    <div class="contollerPopupContent" (click)="$event.stopPropagation()">
      <div class="popup-title-btn-row">
        <div class="popup-header">
          <h3>Controller For {{ firmDetails?.FirmName }}</h3>
        </div>
        <button (click)="closeCreateControllerPopup()" class="close-button">
          <i class="bi bi-x-circle close-icon"></i>
        </button>
        <div class="btn"></div>
      </div>

      <div class="error-messages">
        <p *ngIf="errorMessages['EntityTypeName']">
          {{ errorMessages['EntityTypeName'] }}
        </p>
        <p *ngIf="errorMessages['OtherEntityName']">
          {{ errorMessages['OtherEntityName'] }}
        </p>
        <p *ngIf="errorMessages['PlaceOfEstablishment']">
          {{ errorMessages['PlaceOfEstablishment'] }}
        </p>
        <p *ngIf="errorMessages['ControllerControlTypeDesc']">
          {{ errorMessages['ControllerControlTypeDesc'] }}
        </p>
        <p *ngIf="errorMessages['PctOfShares']">
          {{ errorMessages['PctOfShares'] }}
        </p>
        <!--Individual-->
        <p *ngIf="errorMessages['firstName']">
          {{ errorMessages['firstName'] }}
        </p>
        <p *ngIf="errorMessages['familyName']">
          {{ errorMessages['familyName'] }}
        </p>
        <p *ngIf="errorMessages['AssnDateFrom']">
          {{ errorMessages['AssnDateFrom'] }}
        </p>
        <p *ngIf="errorMessages['AssnDateTo']">
          {{ errorMessages['AssnDateTo'] }}
        </p>
        <p *ngIf="errorMessages['dateOfBirth']">
          {{ errorMessages['dateOfBirth'] }}
        </p>
        <p *ngIf="errorMessages['isPEP']">
          {{ errorMessages['isPEP'] }}
        </p>
      </div>
      <div class="inputs-row">
        <div class="input-field">
          <label for="controllerType">
            Controller Type <span style="color: red">*</span>
          </label>
          <select name="controllerType" id="controllerType" [(ngModel)]="CreatecontrollerDetails.EntityTypeID"
            (change)="changeControlType()">
            <option value="0">Select</option>
            <option *ngFor="let controllerType of controllerTypeOption" [ngValue]="controllerType.EntityTypeID">
              {{ controllerType.EntityTypeDesc }}
            </option>
          </select>
        </div>
        <ng-container *ngIf="!hideForms">
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.ParentEntity ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.CorporateController ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.Head_Office">
            <label for="entityName">
              Full Name of Entity <span style="color: red">*</span>
            </label>
            <input name="entityName" id="entityName" [(ngModel)]="CreatecontrollerDetails.OtherEntityName"
              type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="individualTitle"> Title </label>
            <select [(ngModel)]="CreatecontrollerDetails.Title" name="legalStatus">
              <option *ngFor="let title of Titles" [value]="title.TitleDesc">
                {{ title.TitleDesc }}
              </option>
            </select>
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="firstName">
              First Name <span style="color: red">*</span>
            </label>
            <input [(ngModel)]="CreatecontrollerDetails.FirstName" name="firstName" id="firstName" type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="secondName">
              Second Name <span style="color: red">*</span>
            </label>
            <input [(ngModel)]="CreatecontrollerDetails.SecondName" name="secondName" id="secondName" type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="familyName">
              Family Name <span style="color: red">*</span>
            </label>
            <input [(ngModel)]="CreatecontrollerDetails.FamilyName" name="familyName" id="familyName" type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="placeOfBirth">
              Place Of Birth
            </label>
            <input [(ngModel)]="CreatecontrollerDetails.PlaceOfBirth" name="placeOfBirth" id="placeOfBirth"
              type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="dateOfBirth">
              Date of birth <span style="color: red">*</span>
            </label>
            <input [(ngModel)]="CreatecontrollerDetails.DateOfBirth" #dateInputs placeholder name="dateOfBirth"
              id="dateOfBirth" type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="passportNum"> Passport Number </label>
            <input [(ngModel)]="CreatecontrollerDetails.PassportNum" name="passportNum" id="passportNum" type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="jurisdictionIssue"> Jurisdiction of Issue </label>
            <select name="jurisdictionIssue" id="jurisdictionIssue"
              [(ngModel)]="CreatecontrollerDetails.jurisdictionOfIssue">
              <option value="0">Select</option>
              <option *ngFor="let place of allCountries" [value]="place.CountryID">
                {{ place.CountryName }}
              </option>
            </select>
          </div>
          <!---->
          <div class="input-field" style="width: 100%" *ngIf="
          CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Individual ||
          CreatecontrollerDetails.EntityTypeID === ControllerType.IndividualController">
            <label for="isPEP">
              Is Politically Exposed Person (PEP)?
              <span style="color: red">*</span>
            </label>
            <div class="radio-wrapper">
              <input name="isPEP" id="yes" type="radio" [value]="true" [(ngModel)]="CreatecontrollerDetails.isPEP" />
              Yes
              <input name="isPEP" id="no" type="radio" [value]="false" [(ngModel)]="CreatecontrollerDetails.isPEP" />
              No
            </div>
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.ParentEntity ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.CorporateController ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.Head_Office
          ">
            <label for="legalStatus"> Legal Status </label>
            <select [(ngModel)]="CreatecontrollerDetails.LegalStatusTypeID" name="legalStatus">
              <option value="0">Select</option>
              <option *ngFor="let status of legalStatusOptionsEdit" [value]="status.LegalStatusTypeID">
                {{ status.LegalStatusTypeDesc }}
              </option>
            </select>
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.ParentEntity ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.CorporateController ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.Head_Office
          ">
            <label for="registeredNumber"> Registered Number </label>
            <input [(ngModel)]="CreatecontrollerDetails.RegisteredNum" name="registeredNumber" id="registeredNumber"
              type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.ParentEntity ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.CorporateController ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.Head_Office
          ">
            <label for="establishmentPlace">
              Place of Establishment <span style="color: red">*</span>
            </label>
            <select [(ngModel)]="CreatecontrollerDetails.CountryOfIncorporation" name="placeOfEstablishment"
              (change)="onCountryChange(CreatecontrollerDetails.CountryOfIncorporation,regulatorList, false)">
              <option value="0">Select</option>
              <option *ngFor="let place of allCountries" [value]="place.CountryID">
                {{ place.CountryName }}
              </option>
            </select>
          </div>
          <!---->
          <!-- Display the % of Holding field only if the control type is "Percentage" -->

          <div class="input-field">
            <label for="controlType">
              Type of Control <span style="color: red">*</span>
            </label>
            <select [(ngModel)]="CreatecontrollerDetails.ControllerControlTypeID" name="typeOfControl"
              id="typeOfControl">
              <option value="0">Select</option>
              <option *ngFor="let ControlType of controlTypeOptionsCreate"
                [value]="ControlType.ControllerControlTypeID">
                {{ ControlType.ControllerControlTypeDesc }}
              </option>
            </select>
          </div>

          <!-- Conditionally show the 'Percentage' input if the type is 'Percentage' -->
          <ng-container *ngIf="CreatecontrollerDetails.ControllerControlTypeID == 1">
            <div class="input-field">
              <label for="holdingsPercentage"> % of Holding </label>
              <input [(ngModel)]="CreatecontrollerDetails.PctOfShares" name="holdingsPercentage" id="holdingsPercentage"
                type="text" />
            </div>
          </ng-container>

          <!---->
          <div class="input-field">
            <label for="effectiveDate"> Effective Date </label>
            <input [(ngModel)]="CreatecontrollerDetails.AssnDateFrom" name="effectiveDate" id="effectiveDate"
              #dateInputs placeholder type="text" />
          </div>
          <!---->
          <div class="input-field">
            <label for="cessationDate"> Cessation Date </label>
            <input [(ngModel)]="CreatecontrollerDetails.AssnDateTo" name="cessationDate" id="cessationDate" #dateInputs
              placeholder type="text" />
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.ParentEntity ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.CorporateController ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate ||
              CreatecontrollerDetails.EntityTypeID === ControllerType.Head_Office
          ">
            <label for="isRegulated"> Is the company regulated : </label>
            <div class="radio-wrapper">
              <input name="isRegulated" id="yes" type="radio" (change)="onRegulationChange(regulatorList, false)"
                [(ngModel)]="CreatecontrollerDetails.IsCompanyRegulated" [value]="true" />
              Yes
              <input name="isRegulated" id="no" type="radio" (change)="onRegulationChange(regulatorList, false)"
                [(ngModel)]="CreatecontrollerDetails.IsCompanyRegulated" [value]="false" />
              No
            </div>
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeDesc === 'UBO – Corporate'
            ">
            <label for="isParent">
              Is it also Parent / Corporate Controller? :
            </label>
            <div class="radio-wrapper">
              <input name="isParent" id="yes" type="radio" [value]="true"
                [(ngModel)]="CreatecontrollerDetails.IsParentController" />
              Yes
              <input name="isParent" id="no" type="radio" [value]="false"
                [(ngModel)]="CreatecontrollerDetails.IsParentController" />
              No
            </div>
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate
            ">
            <label for="isCompanyTraded">
              Is the company publicly traded :
            </label>
            <div class="radio-wrapper">
              <input name="isCompanyTraded" id="yes" type="radio"
                [(ngModel)]="CreatecontrollerDetails.IsPublicallyTraded" [value]="true" />
              Yes
              <input name="isCompanyTraded" id="no" type="radio"
                [(ngModel)]="CreatecontrollerDetails.IsPublicallyTraded" [value]="false" />
              No
            </div>
          </div>
          <!---->
          <div class="input-field" *ngIf="
              CreatecontrollerDetails.IsPublicallyTraded === false &&
              CreatecontrollerDetails.EntityTypeID === ControllerType.UBO_Corporate
            ">
            <label for="more10UBOs">
              Are there any UBOs that own more than 10% of this entity? :
            </label>
            <div class="radio-wrapper">
              <input name="more10UBOs" id="yes" type="radio" [(ngModel)]="CreatecontrollerDetails.More10UBOs"
                [value]="true" />
              Yes
              <input name="more10UBOs" id="no" type="radio" [(ngModel)]="CreatecontrollerDetails.More10UBOs"
                [value]="false" />
              No
            </div>
          </div>

          <div class="input-field additional-details fullwidth">
            <label for="additionalDetails"> Additional Details </label>
            <textarea [(ngModel)]="CreatecontrollerDetails.AdditionalDetails" name="additionalDetails"
              id="additionalDetails"></textarea>
          </div>
          <!---->
        </ng-container>
      </div>
      <div *ngIf="!hideForms" class="addresses create-inputs-field-set">
        <div class="popup-header">
          <h3>Addresses</h3>
          <div class="error-messages">
            <p *ngIf="errorMessages['AddressTypeID']">
              {{ errorMessages['AddressTypeID'] }}
            </p>
          </div>
          <div class="add-address-btn-container">
            <button class="addAddressBtn" [disabled]="!canAddNewAddressOnCreate" *ngIf="!isAllAddressesAddedOnCreate"
              (click)="addNewAddressOnCreateMode()">
              Add Address
            </button>
          </div>
        </div>
        <ng-container *ngFor="let address of addedAddresses; let i = index">
          <div class="inputs-row">
            <div class="del-address-container">
              <button *ngIf="addedAddresses.length > 1" (click)="removeAddressOnCreateMode(i)"
                class="RmvAddressBtn bi-trash"></button>
            </div>
            <div class="input-field">
              <label for="addressType">
                Address Type
              </label>
              <select [(ngModel)]="address.AddressTypeID" [ngClass]="{
                        'error-border': address === invalidAddress}" [disabled]="address.isAddressTypeSelected"
                (change)="onAddressTypeChangeOnCreateMode($event,i)">
                <option value="0">Select</option>
                <option *ngFor="let option of currentAddressTypes" [value]="option.AddressTypeID">
                  {{option.AddressTypeDesc}}</option>
              </select>
            </div>
            <div class="input-field" *ngIf="this.addedAddresses.length > 1">
              <label for="sameAsType">
                Same As Type
              </label>
              <select [(ngModel)]="address.SameAsTypeID" name="sameAsType" id="sameAsType"
                (ngModelChange)="onSameAsTypeChangeOnCreateMode($event,i)">
                <option value="0">Select</option>
                <option *ngFor="let type of getAvailableSameAsTypeOptionsOnCreateMode(i)" [value]="type.AddressTypeID">
                  {{type.AddressTypeDesc}}</option>
              </select>
            </div>
            <div class="input-field">
              <label for="addressLine1"> Address Line 1 </label>
              <input type="text" name="addressLine1" id="addressLine1" [(ngModel)]="address.AddressLine1"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="addressLine2"> Address Line 2 </label>
              <input name="addressLine2" id="addressLine2" type="text" [(ngModel)]="address.AddressLine2"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="addressLine3"> Address Line 3 </label>
              <input name="addressLine3" id="addressLine3" type="text" [(ngModel)]="address.AddressLine3"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="addressLine4"> Address Line 4 </label>
              <input name="addressLine4" id="addressLine4" type="text" [(ngModel)]="address.AddressLine4"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="city"> City </label>
              <input name="city" id="city" type="text" [(ngModel)]="address.City"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="state"> state/province </label>
              <input name="state" id="state" type="text" [(ngModel)]="address.Province"
                [disabled]="address.isFieldsDisabled" />
            </div>
            <div class="input-field">
              <label for="country"> Country </label>
              <select [(ngModel)]="address.CountryID" [disabled]="address.isFieldsDisabled">
                <option value="0">Select</option>
                <option *ngFor="let option of allCountries" [value]="option.CountryID">
                  {{ option?.CountryName }}
                </option>
              </select>
            </div>
            <div class="input-field">
              <label for="zip"> Zip/Postal Code </label>
              <input name="zip" id="zip" type="text" [(ngModel)]="address.PostalCode"
                [disabled]="address.isFieldsDisabled" />
            </div>
          </div>
          <hr *ngIf="i < addedAddresses.length - 1">
        </ng-container>
      </div>

      <div class="create--inputs-field-set" *ngIf="CreatecontrollerDetails.IsCompanyRegulated === true">
        <div class="create-controller-actions">
          <h2 class="create-controller-header">Home State Regulators</h2>
        </div>

        <!-- Add regulator button -->

        <div>
          <button (click)="addRegulator(regulatorList)" style="
            background-color: green;
            color: white;
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            float: right;
            margin: 5px 0px;
          ">
            <i style="size: 7px" class="bi bi-plus-lg"></i>
          </button>
        </div>

        <div class="error-messages">
          <p *ngIf="errorMessages['RegulatorID']">
            {{ errorMessages['RegulatorID'] }}
          </p>
        </div>
        <!-- Dynamically generate form inputs for each regulator in regulatorList -->
        <div *ngFor="let regulator of regulatorList; let i = index" class="create-controller-inputs">
          <hr />
          <div style="width: 100%">
            <button (click)="removeRegulator(regulatorList,i,false)" style="
                float: right;
                background-color: red;
                color: white;
                border: none;
                padding: 5px;
                cursor: pointer;
                border-radius: 5px;
              ">
              <i style="size: 5px" class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="inputs-row">
            <div class="input-field home-state-regulators-container">
              <!-- Regulator Name input -->
              <label for="regulators">Regulator <span style="color: red">*</span></label>
              <select [(ngModel)]="regulator.RegulatorID" name="regulators" id="regulators">
                <option value="0">Select</option>
                <option *ngFor="let option of AllRegulater" [value]="option.RegulatorID">
                  {{ option.RegulatorName }}
                </option>
              </select>
              <!-- Remove button for each regulator -->
            </div>

            <!-- Regulator Contact input (disabled as per your code) -->
            <div class="input-field regulator-contact-container">
              <label for="regulatorContact-{{ i }}">Regulator Contact</label>
              <input disabled type="text" [(ngModel)]="regulator.RegulatorContact" name="regulatorContact-{{ i }}"
                id="regulatorContact-{{ i }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="btn justify-content-end">
        <button class="save-btn" (click)="createControllerPopupChanges()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!--Address Type History-->
<div *ngIf="callAddressType" class="overlay show"></div>
<div *ngIf="callAddressType" class="addressHistoryPopup popupcontainer">
  <i class="bi bi-x-circle close-icon" (click)="closeAddressTypeHistory()"></i>
  <div class="popup-info-place">
    <div class="popup-header">
      <h3>Address History</h3>
    </div>
    <br />
    <div class="address-type-info">
      <span style="text-decoration: underline">{{
        controllerFirmAddressesTypeHistory[0]?.AddressTypeDesc
        }}</span>
      &nbsp; (<span style="color: red">history includes the deleted record for this address type.</span>)
    </div>
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th class="text-center">Created Date</th>
          <th class="text-center">Modified Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let addressHistory of controllerFirmAddressesTypeHistory">
          <td>{{ addressHistory?.ShortAddress }}</td>
          <td class="text-center">{{ addressHistory?.CreatedDate }}</td>
          <td class="text-center">
            {{ addressHistory?.LastModifiedDate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="popup-operations-place">
    <button class="subbutton" (click)="closeAddressTypeHistory()">Close</button>
  </div>
</div>