<div class="page">
    <div class="individualList-wrapper">
        <div class="table">
            <div class="tableTitle">
                <h3>Individual List</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th></th> <!--leave it empty-->
                        <th>AI Number</th>
                        <th>Flags</th>
                        <th>Name</th>
                        <th>Approved Functions</th>
                        <th></th> <!--leave it empty-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="radio-table">
                            <label class="radioBtn">
                                <input type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td>123</td>
                        <td>test</td>
                        <td>Test</td>
                        <td>SMF</td>
                        <td><a href="#">More</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>