<div class="overlay">
    <div class="popupcontainer Rptpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
        <!-- <div class="error-messages">
        <p *ngIf="errorMessages['OtherEntityName']">
          {{ errorMessages['OtherEntityName'] }}
        </p>
      </div> -->
        <!-- Title -->
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Reporting Schedule For {{ firmDetails?.FirmName }}
                </h3>
            </div>
            <button class="close-button  close-icon" (click)="onClose()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>


        <div class="reporting-schedule-form">
            <div class="inputs-row" *ngIf="financialReportingPeriod">
                <div class="input-field">
                    <label for="financialYearEnd">Financial year end selected to generate this reporting
                        schedule</label>
                    <input type="text" id="financialYearEnd" name="financialYearEnd"
                        [(ngModel)]="financialReportingPeriod.FirmFinYearEndTypeDesc" [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="reportingScheduleFrom">Reporting Schedule From</label>
                    <input type="text" id="reportingScheduleFrom" name="reportingScheduleFrom"
                        [(ngModel)]="financialReportingPeriod.FirmRptFrom" [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="reportingScheduleTo">Reporting Schedule To</label>
                    <input type="text" id="reportingScheduleTo" name="reportingScheduleTo"
                        [(ngModel)]="financialReportingPeriod.FirmRptTo" [disabled]="!isEditable" />
                </div>
                <div class="input-field">
                    <label for="reportType">Report Type</label>
                    <select id="reportType" [(ngModel)]="reportType" (change)="filterReports($event)">
                        <option value="1" selected>
                            All
                        </option>
                        <option value="2" selected>
                            Non - AML Reports
                        </option>
                        <option value="3" selected>
                            AML Reports
                        </option>
                    </select>
                </div>
            </div>
            <div class="rpt-list margin-top-10 table">
                <div class="popup-header">
                    <h3>Reports List</h3>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Report Type</th>
                            <th>Publish</th>
                            <th>Submission Type</th>
                            <th>Reporting Period Start</th>
                            <th>Reporting Period End</th>
                            <th>Report Name</th>
                            <th>Due Date</th>
                            <th>Required</th>
                            <th>Link to Report</th>
                            <th>Report Given By</th>
                            <th>Received Date</th>
                            <th>Submission Status</th>
                            <th>Return Review Status</th>
                            <th>Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rpt of paginatedItems">
                            <td>{{ rpt.DocTypeDesc }}</td>
                            <td>{{ rpt.WPublished ? 'Yes' : 'No' }}</td>
                            <td>{{ rpt.FirmRptSubmissionTypeDesc }}</td>
                            <td>{{ rpt.RptPeriodFromDate }}</td>
                            <td>{{ rpt.RptPeriodToDate }}</td>
                            <td>{{ rpt.ReportName }}</td>
                            <td>{{ rpt.FirmRptDueDate }}</td>
                            <td>{{ rpt.FirmRptReqdBit ? 'Yes' : 'No' }}</td>
                            <td>
                                <a *ngIf="rpt.DocFileLocation" [href]="rpt.DocFileLocation" target="_blank">
                                    {{ rpt.documentDetails?.FileName || 'Link' }}
                                </a>
                            </td>
                            <td>{{ rpt.WPublishedByUserName }}</td>
                            <td>{{ rpt.DocReceivedDate }}</td>
                            <td>{{ rpt.ObjectStatusTypeDesc }}</td>
                            <td>{{ rpt.ReviewStatusDesc }}</td>
                            <td>{{ rpt.FirmRptNotes }}</td>
                            <td class="btn">
                                <button (click)="editReport(rpt)">Edit</button>
                                <button (click)="deleteReport(rpt)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td [attr.colspan]="15" style="text-align: center;">
                                <app-pagination [items]="filteredFirmRptDetails" [pageSize]="pageSize"
                                    (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- <ng-container *ngFor="let rpt of firmRptDetails ; let i = index">
                    <div class="inputs-row report-entry" [ngClass]="{ 'border-style': i !== 0 }">
                        <div class="input-field">
                            <label for="reportTypeEntry">Report Type</label>
                            <input type="text" id="reportTypeEntry" name="reportTypeEntry" [(ngModel)]="rpt.DocTypeDesc"
                                [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="publish">Publish</label>
                            <input type="checkbox" id="publish" name="publish"
                                [(ngModel)]="rpt.WPublished" [disabled]="!isEditable" />
                        </div>
                        
                        <div class="input-field">
                            <label for="submissionType">Submission Type</label>
                            <input type="text" id="submissionType" name="submissionType"
                                [(ngModel)]="rpt.FirmRptSubmissionTypeDesc" [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="reportingPeriodType">Reporting Period Type</label>
                            <select id="reportingPeriodType" [disabled]="!isEditable" [(ngModel)]="rpt.RptPeriodTypeID">
                                <option *ngFor="let option of reportPeriodTypes" [value]="option.RptPeriodTypeID">
                                    {{ option?.RptPeriodShortDesc }}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="reportingPeriodStartDate">Reporting Period Start Date</label>
                            <input type="text" id="reportingPeriodStartDate" name="reportingPeriodStartDate"
                                [(ngModel)]="rpt.RptPeriodFromDate" [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="reportingPeriodEndDate">Reporting Period End Date</label>
                            <input type="text" id="reportingPeriodEndDate" name="reportingPeriodEndDate"
                                [(ngModel)]="rpt.RptPeriodToDate" [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="reportName">Report Name</label>
                            <input type="text" id="reportName" name="reportName" [(ngModel)]="rpt.ReportName"
                                [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="dueDate">Due Date</label>
                            <input type="text" id="dueDate" name="dueDate" [(ngModel)]="rpt.FirmRptDueDate"
                                [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="required">Required</label>
                            <ng-container *ngIf="isEditable; else FirmRptReqdBitValue">
                                <div style="display: flex; align-items: center">
                                    <input type="radio" id="isRequiredYes" [(ngModel)]="rpt.FirmRptReqdBit"
                                        name="IsRequired" [value]="true" style="margin-right: 10px; cursor: pointer" />
                                    <label for="isRequiredYes" style="margin-left: 5px; color: #413b3c">Yes</label>

                                    <input type="radio" id="isRequiredNo" [(ngModel)]="rpt.FirmRptReqdBit"
                                        name="IsRequired" [value]="false" style="
                                        margin-left: 20px;
                                        margin-right: 10px;
                                        cursor: pointer;
                                      " />
                                    <label for="isRequiredNo" style="margin-left: 5px; color: #413b3c">No</label>
                                </div>
                            </ng-container>
                            <ng-template #FirmRptReqdBitValue>
                                <span style="margin-left: 10px; color: #413b3c">
                                    {{ rpt.FirmRptReqdBit ? 'Yes' : 'No' }}
                                </span>
                            </ng-template>
                        </div>
                        <div class="input-field">
                            <label for="reportLink">Link to Report</label>
                            <input *ngIf="isEditable" type="text" value="" [(ngModel)]="rpt.DocFileLocation"
                                id="reportLink" />
                            <span *ngIf="!isEditable && rpt.DocFileLocation">{{rpt.DocTypeDesc}} : </span>
                            <a id="websiteLink" *ngIf="!isEditable" [href]="rpt.DocFileLocation" target="_blank"
                                rel="noopener noreferrer">
                                {{rpt.documentDetails?.FileName}}
                            </a>

                        </div>

                        <div class="input-field">
                            <label for="reportGivenBy">Report Given By</label>
                            <input type="text" id="reportGivenBy" name="reportGivenBy"
                                [(ngModel)]="rpt.WPublishedByUserName" [disabled]="!isEditable" />
                        </div>

                        <div class="input-field">
                            <label for="receivedDate">Received Date</label>
                            <input type="text" id="receivedDate" name="receivedDate" [(ngModel)]="rpt.DocReceivedDate"
                                [disabled]="!isEditable" />
                        </div>
                        <div class="input-field">
                            <label for="submissionStatus">Submission Status</label>
                            <input type="text" id="submissionStatus" name="submissionStatus"
                                [(ngModel)]="rpt.ObjectStatusTypeDesc" [disabled]="!isEditable" />
                        </div>

                        <div class="input-field">
                            <label for="linkToReview">Link to Review</label>
                            <a *ngIf="!isEditable" [routerLink]="['/supervision/view/return-review', firmId]" [queryParams]="{ firmRptSchID: rpt.firmRptSchID }"  target="_blank">
                                Link to Review
                            </a>
                        </div>


                        <div class="input-field">
                            <label for="returnReviewStatus">Return Review Status</label>
                            <input type="text" id="returnReviewStatus" name="returnReviewStatus"
                                [(ngModel)]="rpt.ReviewStatusDesc" [disabled]="!isEditable" />
                        </div>

                        <div class="input-field fullwidth">
                            <label for="notes">Notes</label>
                            <textarea [(ngModel)]="rpt.FirmRptNotes" name="notes" id="notes"
                                [disabled]="!isEditable"></textarea>
                        </div>
                    </div>
                </ng-container> -->
            </div>

            <!-- Action Buttons -->
            <!-- <div class="btn justify-content-end">
                <button *ngIf="!isEditable" (click)="editRpt()">
                    <i class="bi bi-pen"></i> Edit
                </button>
                <button *ngIf="isEditable" (click)="saveRptPopupChanges()">
                    <i></i> Save
                </button>
                <button (click)="confirmDeleteRptDetials()">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div> -->
        </div>
    </div>
</div>

<div class="overlay" *ngIf="selectedReport">
    <div class="form-container popupcontainer editFormPopup" style="display: block;">
        <div class="popup-title-btn-row">
            <div class="popup-header">
                <h3>
                    Edit Report
                </h3>
            </div>
            <button class="close-button  close-icon" (click)="onCloseReport()">
                <i class="bi bi-x-circle"></i>
            </button>
        </div>
        <form (ngSubmit)="saveReport()">
            <div class="inputs-row report-entry">
                <div class="input-field">
                    <label for="reportTypeEntry">Report Type</label>
                    <input type="text" id="reportTypeEntry" name="reportTypeEntry"
                        [(ngModel)]="selectedReport.DocTypeDesc" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="publish">Publish</label>
                    <input type="checkbox" id="publish" name="publish" [(ngModel)]="selectedReport.WPublished"
                        class="form-control" />
                </div>
                <div class="input-field">
                    <label for="submissionType">Submission Type</label>
                    <input type="text" id="submissionType" name="submissionType"
                        [(ngModel)]="selectedReport.FirmRptSubmissionTypeDesc" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="reportingPeriodStartDate">Reporting Period Start Date</label>
                    <input type="text" id="reportingPeriodStartDate" name="reportingPeriodStartDate"
                        [(ngModel)]="selectedReport.RptPeriodFromDate" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="reportingPeriodEndDate">Reporting Period End Date</label>
                    <input type="text" id="reportingPeriodEndDate" name="reportingPeriodEndDate"
                        [(ngModel)]="selectedReport.RptPeriodToDate" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="reportName">Report Name</label>
                    <input type="text" id="reportName" name="reportName" [(ngModel)]="selectedReport.ReportName"
                        class="form-control" />
                </div>
                <div class="input-field">
                    <label for="dueDate">Due Date</label>
                    <input type="text" id="dueDate" name="dueDate" [(ngModel)]="selectedReport.FirmRptDueDate"
                        class="form-control" />
                </div>
                <div class="input-field">
                    <label for="required">
                        Required
                    </label>
                    <div class="radio-wrapper">
                        <input [(ngModel)]="selectedReport.FirmRptReqdBit" name="isRequired" [value]="true"  type="radio"> Yes
                        <input id="isRequiredNo" [(ngModel)]="selectedReport.FirmRptReqdBit" name="isRequired" type="radio" [value]="false"> No
                    </div>
                </div>
                <div class="input-field">
                    <label for="reportLink">Link to Report</label>
                    <input type="text" id="reportLink" name="reportLink" [(ngModel)]="selectedReport.DocFileLocation"
                        class="form-control" />
                </div>
                <div class="input-field">
                    <label for="reportGivenBy">Report Given By</label>
                    <input type="text" id="reportGivenBy" name="reportGivenBy"
                        [(ngModel)]="selectedReport.WPublishedByUserName" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="receivedDate">Received Date</label>
                    <input type="text" id="receivedDate" name="receivedDate"
                        [(ngModel)]="selectedReport.DocReceivedDate" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="submissionStatus">Submission Status</label>
                    <input type="text" id="submissionStatus" name="submissionStatus"
                        [(ngModel)]="selectedReport.ObjectStatusTypeDesc" class="form-control" />
                </div>
                <div class="input-field">
                    <label for="returnReviewStatus">Return Review Status</label>
                    <input type="text" id="returnReviewStatus" name="returnReviewStatus"
                        [(ngModel)]="selectedReport.ReviewStatusDesc" class="form-control" />
                </div>
                <div class="input-field fullwidth">
                    <label for="notes">Notes</label>
                    <textarea id="notes" name="notes" [(ngModel)]="selectedReport.FirmRptNotes"
                        class="form-control"></textarea>
                </div>
            </div>
            <div class="btn justify-content-end">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>