<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Breaches> <span>Al Rayyan </span>
                </h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Breach Number</th>
                        <th>Version</th>
                        <th>Breach Type</th>
                        <th>Breach Category</th>
                        <th>Breach Level</th>
                        <th>Date Of Breach</th>
                        <th>Breach Status</th>
                        <th>Last Updated By</th>
                        <th>Last Updated Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Breach Number</td>
                        <td>Version</td>
                        <td>Breach Type</td>
                        <td>Breach Category</td>
                        <td>Breach Level</td>
                        <td>Date Of Breach</td>
                        <td>Breach Status</td>
                        <td>Last Updated By</td>
                        <td>Last Updated Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>