<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title space-between">
                <h2 class="edit-firm-header">
                    Breaches> <span>{{ firmDetails?.FirmName }}</span>
                </h2>
                <div class="buttons-section">
                    <button (click)="togglePopup()" class="button-style">
                        <i style="font-size: 1.2rem;" class="bi bi-funnel-fill"></i>
                        <span class="button-text">Filter</span>
                    </button>
                    <button type="button" (click)="resetFilters()" class="button-style">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        <span class="button-text">Reset Filter</span>
                    </button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Breach Number</th>
                        <th>Version</th>
                        <th>Breach Type</th>
                        <th>Breach Category</th>
                        <th>Breach Level</th>
                        <th>Date Of Breach</th>
                        <th>Breach Status</th>
                        <th>Last Updated By</th>
                        <th>Last Updated Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let breach of paginatedItems">
                        <td>{{breach.Column1}}</td>
                        <td>{{breach.BreachRevNum}}</td>
                        <td>{{breach.BreachType}}</td>
                        <td>{{breach.BreachCategory}}</td>
                        <td>{{breach.BreachLevel}}</td>
                        <td>{{breach.BreachDate}}</td>
                        <td>{{breach.BreachStatus}}</td>
                        <td>{{breach.LastUpdateDate}}</td>
                        <td>{{breach.LastUpdatedBy}}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="filteredBreaches.length > 0">
                    <tr>
                        <td  [attr.colspan]="12">
                            <app-pagination [items]="filteredBreaches" [pageSize]="pageSize" (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>   
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<!-- Search Popup -->
<div class="popup-overlay" *ngIf="showPopup" (click)="togglePopup()">
    <div class="popup-container" (click)="$event.stopPropagation()">
        <div class="popup-header">
            <h2>Notices Search</h2>
            <button class="close-button" (click)="togglePopup()"><i class="bi bi-x-circle close-icon"></i></button>
        </div>

        <div class="popup-content">
            <div class="search-firms-inputs" style="display: flex; justify-content: space-between;">
                <div class="dropdown-column">
                    <div class="input-field">
                        <label for="breachNumber">Breach Number</label>
                        <input name="breachNumber" id="breachNumber" type="text"
                            [(ngModel)]="breachNumber" />
                    </div>  

                    <div class="input-field">
                        <label for="breachType">Breach Type</label>
                        <div class="select-wrapper">
                            <select name="breachType" id="breachType" [(ngModel)]="breachType">
                                <option value="">Select</option>
                                <option *ngFor="let type of breachesTypes" [value]="type.BreachTypeDesc">
                                    {{ type.BreachTypeDesc }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="input-field">
                        <label for="breachCategories">Breach Categories</label>
                        <div class="select-wrapper">
                            <select name="breachCategories" id="breachCategories" [(ngModel)]="breachCategory">
                                <option value="">Select</option>
                                <option *ngFor="let category of breachCategories" [value]="category.BreachCategoryID">{{ category.BreachCategoryDesc }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-field">
                        <label for="breachLevel">Breach Level</label>
                        <div class="select-wrapper">
                            <select name="breachLevel" id="breachLevel" [(ngModel)]="breachLevel">
                                <option value="">Select</option>
                                <option *ngFor="let level of breachLevels" [value]="level.BreachLevelTypeDesc">{{ level.BreachLevelTypeDesc }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-field">
                        <label for="breachStatus">Breach Status</label>
                        <div class="select-wrapper">
                            <select name="breachStatus" id="breachStatus" [(ngModel)]="breachStatus">
                                <option value="">Select</option>
                                <option *ngFor="let status of breachAllStatus" [value]="status.BreachStatusTypeDesc">{{ status.BreachStatusTypeDesc }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buttons for Reset and Search -->
            <div class="input-search-buttons">
                <button type="button" (click)="resetFilters()" class="reset">Reset</button>
                <button type="button" (click)="searchBreaches()" class="search">Search</button>
            </div>
        </div>
    </div>
</div>