<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    RMPs > <span>{{ firmDetails?.FirmName }}</span>
                </h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>RMP ID</th>
                        <th>Date Created</th>
                        <th>Type</th>
                        <th>Date Firm Agreed</th>
                        <th>Agreed By</th>
                        <th>RMP Status</th>
                        <th>Review Status</th>
                        <th>Review Status Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rmp of paginatedItems">
                        <td>{{ rmp?.FirmRMPID }}</td>
                        <td>{{ rmp?.RMPCreatedDate }}</td>
                        <td>{{ rmp?.FirmRMPTypeDesc }}</td>
                        <td>{{ rmp?.DateFirmAgreedOn }}</td>
                        <td>{{ rmp?.AgreedBy }}</td>
                        <td>{{ rmp?.RMPStatus }}</td>
                        <td>{{ rmp?.SignOffStatus }}</td>
                        <td>{{ rmp?.SignOffDate }}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="FIRMRMP.length > 0">
                    <tr>
                        <td  [attr.colspan]="12">
                            <app-pagination [items]="FIRMRMP" [pageSize]="pageSize" (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>   
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>