<div class="review-container">
  <div class="review-header">Review</div>

  <ng-container *ngFor="let item of userObjTasks; let last = last">
    <table class="review-table">
      <thead>
        <tr>
          <th>Task</th>
          <th style="width: 20%;">Role Assigned To</th>
          <th style="width: 20%;">User Assigned To</th>
          <th>
            <div class="icon-container">
              <span>Email (CC)</span>
              <button *ngIf="item.isEditableTask" class="add-recipients-btn bi bi-plus" title="Add Recipients"
                (click)="addRecipients(item)"></button>
            </div>
          </th>
          <th *ngIf="isEdit" style="width: 5%;">Start</th>
          <th *ngIf="isEdit" style="width: 5%;">Allow Edits</th>
          <th>Assigned Date</th>
          <th>
            <div class="icon-container">
              <span>Due Date</span>
              <button *ngIf="isEdit" class="edit-wf-btn bi bi-pen" title="Edit workflow task"
                (click)="editWFTask(item)"></button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{item.objectWFTaskTypeDescription}}</td>
          <td *ngIf="isEdit; else roleAssignedToView">
            <select [disabled]="!item.isEditableTask" name="roleAssignedTo" id="roleAssignedTo"
              [(ngModel)]="item.wfTaskAssignedToRole">
              <option *ngFor="let role of item.taskRoles" [value]="role.AppRoleID">{{role.AppRoleDesc}}</option>
            </select>
          </td>
          <ng-template #roleAssignedToView>
            <td>{{item.wfTaskAssignedToRoleDescription}}</td>
          </ng-template>
          <td *ngIf="isEdit; else userAssignedTo">
            <select [disabled]="!item.isEditableTask" name="userAssignedTo" id="userAssignedTo"
              [(ngModel)]="item.wfTaskAssignedToUser" (change)="userAssignedToOnChange(item)">
              <option [value]="0">Select</option>
              <option *ngFor="let user of item.taskUsers" [value]="user.UserId">{{user.UserName}}</option>
            </select>
          </td>
          <ng-template #userAssignedTo>
            <td>{{item.userName}}</td>
          </ng-template>
          <td>
            <ul class="email-cc-users-list">
              <li *ngFor="let user of item.userDetails">{{user.UserName}}</li>
            </ul>
          </td>
          <td class="text-center" *ngIf="isEdit"><input type="checkbox" [disabled]="item.objectWFTaskMandatory"
              [checked]="item.objectWFTaskStart"></td>
          <td class="text-center" *ngIf="isEdit">No</td>
          <td>{{item.wfTaskAssignedDate}}</td>
          <td *ngIf="isEdit; else dueDateView" class="text-center" style="width: 15%;">
            <input class="due-date-input" type="text" [(ngModel)]="item.wfTaskDueDate" #dateInputs>
          </td>
          <ng-template #dueDateView>
            <td>{{item.wfTaskDueDate}}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>

    <div class="tasks-section">
      <div>Tasks Initiated By: <span>{{item.taskInitiatedByName}}</span></div>
      <div>Task Initiated Date: <span>{{item.taskInitiatedDate}}</span></div>
    </div>

    <div class="status-section">
      <div>Status: <span>{{item.objectWFStatusTypeDesc}}</span></div>
      <div>Status Set By: <span>{{item.statusSetBy}}</span></div>
      <div>Status Set Date: <span>{{item.commentsDate}}</span></div>
    </div>

    <div class="comments-section">
      <label for="comments">Comments</label>
      <p class="comment">{{item.userComments}}</p>
    </div>

    <hr *ngIf="!last">
  </ng-container>
  <button class="show-previous-wf-comments-btn" (click)="openPreviousWFComments()">Show Previous Workflow
    Comments</button>
</div>

<!-- Popup for Showing WF Comments -->
<div *ngIf="showPreviousCommentsPopup" class="overlay show"></div>
<div *ngIf="showPreviousCommentsPopup" class="previousCommentsPopup popupcontainer">
  <i class="bi bi-x-circle close-icon close-icon-prev-revisions" (click)="closePreviousCommentsPopup()"></i>

  <div class="popup-header">
    <h3>Previous Workflow Comments</h3>
  </div>

  <table>
    <thead>
      <tr>
        <th class="text-center" style="width: 5%;">Version No.</th>
        <th>Comments</th>
        <th style="width: 10%;">Status</th>
        <th>Status Set By</th>
        <th>Status Set Date</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let comment of RevisionCommentsList">
        <td class="text-center">{{comment.ObjectInstanceRevNum}}</td>
        <td>{{comment.WaiverComments}}</td>
        <td>{{comment.ObjectWFStatusTypeDesc}}</td>
        <td>{{comment.CommentorName}}</td>
        <td>{{comment.CommentDate}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btns-container">
    <button class="subbutton" (click)="closePreviousCommentsPopup()">Close</button>
  </div>
</div>

<div *ngIf="showEmailRecipients" class="overlay show"></div>
<div *ngIf="showEmailRecipients" class="emailRecipientsPopup popupcontainer">
  <i class="bi bi-x-circle close-icon close-icon-prev-revisions" (click)="closeEmailRecipientsPopup()"></i>

  <div class="popup-header">
    <h3>Select Users</h3>
  </div>

  <div class="emailCC-body-container">
    <div *ngIf="errorMessage" class="error-messages">
      <p>{{errorMessage}}</p>
    </div>
    <div class="row1">
      <label for="select-user">Select User</label>
      <div class="select-user-container">
        <select id="select-user" [(ngModel)]="selectedUser">
          <option *ngFor="let option of allUsers" [value]="option.UserID">{{option.UserName}}</option>
        </select>
        <button (click)="addUserToSelectedTask()" class="add-user">
          <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>

    <div class="row2">
      <label for="selected-users">Selected Users</label>
      <ul id="selected-users" class="selected-users-list">
        <li *ngFor="let user of recipientsTempUsersList">
          <input 
            type="checkbox" 
            [checked]="true" 
            [id]="'user-' + user.UserID"
            [(ngModel)]="user.isChecked">
          <label [for]="'user-' + user.UserID">{{ user.UserName }}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="btns-container">
    <button class="subbutton" (click)="okClickedSelectedTask()">Ok</button>
    <button class="subbutton" (click)="clearSelectedTaskUsers()">Clear</button>
    <button class="subbutton" (click)="closeEmailRecipientsPopup()">Cancel</button>
  </div>
</div>