<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
  <div class="inputs-field-set">
    <div class="section table">
      <div class="form-section-title space-between">
        <h2 class="edit-firm-header">
          Waivers > <span>{{ firmDetails?.FirmName }}</span>
        </h2>
        <div class="btn">
          <button (click)="createWaiver()"
          *ngIf="!hideCreateBtn">
            <i class="bi bi-plus"></i>
            Create
          </button>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Waiver Number</th>
            <th>Version</th>
            <th>Waiver Type</th>
            <th>Subject</th>
            <th>Waiver Status</th>
            <th>Status Date</th>
            <th>Review Date</th>
            <th>Review Decision</th>
            <th>Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let waiver of paginatedItems">
            <td>{{ waiver?.WaiverNumber }}</td>
            <td (click)="loadRevisions(waiver?.WaiverRevNum)">{{ waiver?.WaiverRevNum }}</td>
            <td>{{ waiver?.WaiverTypeDesc }}</td>
            <td>{{ waiver?.WaiverSubject }}</td>
            <td>{{ waiver?.WaiverStatusTypeDesc }}</td>
            <td>{{ waiver?.WaiverStatusDate }}</td>
            <td>{{ waiver?.ReviewMeetingDate }}</td>
            <td>{{ waiver?.WaiverDecisionTypeDesc }}</td>
            <td>{{ waiver?.WaiverExpirationDate }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="FirmWaivers.length > 0">
          <tr>
            <td [attr.colspan]="12" *ngIf="FirmWaivers?.length > 0">
              <app-pagination [items]="FirmWaivers" [pageSize]="pageSize"
                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
            </td>
            <td *ngIf="FirmWaivers?.length === 0" [attr.colspan]="12" class="no-data-message">
              No Data Available
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div *ngIf="callPrev" class="overlay show"></div>
<div *ngIf="callPrev" class="PreviousVersionsPopup popupcontainer" style="display:flex">
  <i class="bi bi-x-circle close-icon close-icon-prev-revisions" (click)="closePreviousVersions()"></i>

  <div class="popup-header">
    <h3>Revisions for Waiver No.</h3>
  </div>

  <div style="width: 80%" class="popup-info-place">
    <ul class="revision-list">
      <li *ngFor="let rev of waiversRevisions">
        {{ rev.WaiverRevNum }}
      </li>
    </ul>
  </div>
</div>