<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
  <div class="inputs-field-set">
    <div class="section table">
      <div class="form-section-title">
        <h2 class="edit-firm-header">
          Waivers > <span>{{ firmDetails?.FirmName }}</span>
        </h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Waiver Number</th>
            <th>Version</th>
            <th>Waiver Type</th>
            <th>Subject</th>
            <th>Waiver Status</th>
            <th>Status Date</th>
            <th>Review Date</th>
            <th>Review Decision</th>
            <th>Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let waiver of paginatedItems">
            <td>{{ waiver?.WaiverNumber }}</td>
            <td>{{ waiver?.WaiverRevNum }}</td>
            <td>{{ waiver?.WaiverTypeDesc }}</td>
            <td>{{ waiver?.WaiverSubject }}</td>
            <td>{{ waiver?.WaiverStatusTypeDesc }}</td>
            <td>{{ waiver?.WaiverStatusDate }}</td>
            <td>{{ waiver?.ReviewMeetingDate }}</td>
            <td>{{ waiver?.WaiverDecisionTypeDesc }}</td>
            <td>{{ waiver?.WaiverExpirationDate }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="12" *ngIf="FirmWaivers?.length > 0">
              <app-pagination [items]="FirmWaivers" [pageSize]="pageSize"
                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
            </td>
            <td *ngIf="FirmWaivers?.length === 0" [attr.colspan]="12" class="no-data-message">
              No Data Available
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>