<section class="individual-section">
    <!--Status Change Request Information-->
    <div class="inputs-field-set">
        <div class="individual-actions">
            <h2 class="title">Status Change Request Information</h2>
        </div>
        <div class="individual-inputs">
            <div class="input-field">
                <label for="IndivName">
                    Individual Name
                </label>
                <input name="IndivName" id="IndivName" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="aiNumber">
                    AI Number
                </label>
                <input name="aiNumber" id="aiNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="firstName">
                    Status Change Initiation Date
                </label>
                <input name="statusChangeInitDate" id="statusChangeInitDate" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="firmName">
                    Firm Name
                </label>
                <input name="firmName" id="firmName" type="text" disabled>
            </div>
        </div>
    </div>

    <!--Controlled function(s) for which status change is being requested-->
    <div class="inputs-field-set">
        <div class="section">
            <h2>Controlled function(s) for which status change is being requested :</h2>
            <table>
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Activity</th>
                        <th>Product(s)</th>
                        <th>Prior Status</th>
                        <th>Prior Status Effective Date</th>
                        <th>Current Status</th>
                        <th>Current Status Set Date</th>
                    </tr>
                    <tr class="firm-name">
                        <td colspan="7">Investcorp Investments LLC</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Functions</td>
                        <td>Request For Approval</td>
                        <td>Approval Details</td>
                        <td>Witddrawal Details</td>
                        <td>Most Recent Status</td>
                        <td>Approved - inctive firm</td>
                        <td>7/Oct/2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
