<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Reporting Schedule > <span>Al Rayyan </span>
                </h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Reporting Schedule From</th>
                        <th>Reporting Schedule To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rpt of rptSchedule" (click)="openReportSchedulePopup(rpt)">
                        <td>{{rpt.FirmRptFrom}}</td>
                        <td>{{rpt.FirmRptTo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-reporting-schedule-view
  *ngIf="showPopup"
  [report]="selectedReport" [firmId]="firmId"
  (closeRptPopup)="closePopup()">
</app-reporting-schedule-view>