<!-- <div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
  </div> -->

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Reporting Schedule > <span>Al Rayyan </span>
                </h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Reporting Schedule From</th>
                        <th>Reporting Schedule To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/Jan/2023</td>
                        <td>05/Jan/2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>