<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Reporting Schedule > <span>{{firmDetails?.FirmName}} </span>
                </h2>
            </div>
            <table class="report-schedule-list">
                <thead>
                    <tr>
                        <th>Reporting Schedule From</th>
                        <th>Reporting Schedule To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rpt of paginatedItems" (click)="openReportSchedulePopup(rpt,firmDetails)">
                        <td>{{rpt.FirmRptFrom}}</td>
                        <td>{{rpt.FirmRptTo}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td  [attr.colspan]="12">
                            <app-pagination [items]="rptSchedule" [pageSize]="pageSize" (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>   
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<app-reporting-schedule-view
  *ngIf="showPopup"
  [report]="selectedReport" [firmId]="firmId" [firmDetails]="firmDetails"
  (closeRptPopup)="closePopup()">
</app-reporting-schedule-view>