<div class="file-container">
  <div class="input-field">
    <label for="documentType"> Document Type </label>
    <select [disabled]="!isEditModeCore" class="document-type-select" name="documentType" id="documentType">
      <option value="263">Press Releases</option>
    </select>
  </div>
  <div class="input-field">
    <label id="uploaded-documents"></label>
  </div>
  <div class="input-field">
    <div class="btns-container">
      <div class="upload-container">
        <button class="choose-document-btn" (click)="selectDocument()">
          Choose Document
        </button>
      </div>
      <button class="upload-document-btn" (click)="uploadDocument()">
        Upload the Document
      </button>
    </div>
  </div>
</div>
<div class="file-table-container">
  <table>
    <thead>
      <tr>
        <th>Document Type</th>
        <th>File Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Attachment</td>
        <td></td>
        <td>
          <button style="display: none" class="delete-file">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Select Document PopUp-->
<div *ngIf="callUploadDoc" class="overlay show"></div>
<div *ngIf="callUploadDoc" class="selectDocumentPopUp">
  <button type="button" class="closeBtn" (click)="closeSelectDocument()">
    <i class="bi bi-x-circle close-icon"></i>
  </button>
  <div class="popup-info-place upload-container">
    <div class="popup-header">
      <h3>Upload Document</h3>
    </div>
    <div class="upload-document-body">
      <p>Please browse and upload/attach document:</p>
      <input type="file" accept=".pdf" #fileInput (change)="onFileSelected($event)" />
    </div>
    <small style="color: red" *ngIf="fileError">{{ fileError }}</small>
  </div>
  <div class="popup-operations-place">
    <button style="margin-right: 5px" class="subbutton" (click)="confirmOkUpload()">
      Ok
    </button>
    <button class="subbutton" (click)="closeSelectDocument()">Close</button>
  </div>
</div>