.file-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns-container button {
    padding: 7px 20px;
    background-color: #a51e36;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 1em;
}

.upload-container {
    position: relative;
    display: inline-block;
}

.btns-container {
    display: flex;
    gap: 1%;
    width: 100%;
}


.selectDocumentPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78vw;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    background: white;
    /* align-items: center; */
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    display: none;
    z-index: 100;
    border-radius: 10px;




    table {
        tbody {
            tr {
                td {
                    cursor: default;
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Dark transparent background */
    z-index: 99;
    /* Ensure it stays behind the popup */
}

.close-icon {
    font-size: 26px;
    cursor: pointer;
    color: #a51e36;
}

.upload-document-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.subbutton {
    padding: 0.1rem 1rem;
    color: white;
    background: #a51e36;
    border: none;
    border-radius: 5px;
}

.popup-operations-place .subbutton {
    padding: 10px;
}

.popup-operations-place {
    width: 100%;
    text-align: end;
}
.closeBtn{
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    z-index: 9999;
}

table {
    border-radius: 0;
}