<section class="create-individual-section">
    <div class="inputs-field-set">
        <div class="create-individual-actions">
            <h2 class="create-title">Personal Details</h2>
            <div class="create-btn">
                <button class="save-btn">Save</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </div>
        <div class="create-individual-inputs">
            <div class="input-field">
                <label for="aiID">
                    AI ID 
                </label>
                <input name="aiID" id="aiID" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="aiNumber">
                    AI Number
                </label>
                <input name="aiNumber" id="aiNumber" type="text">
            </div>
            <div class="input-field">
                <label for="firstName">
                    First Name <span style="color: red;">*</span>
                </label>
                <input name="firstName" id="firstName" type="text">
            </div>
            <div class="input-field">
                <label for="lastName">
                    Last Name <span style="color: red;">*</span>
                </label>
                <input name="lastName" id="lastName" type="text">
            </div>
            <div class="input-field">
                <label for="dateOfBirth">
                    Date of Birth
                </label>
                <input name="dateOfBirth" id="dateOfBirth" type="date">
            </div>
        </div>

    </div>
</section>