<div class="inputs-field-set">
    <div class="section">
        <h2>Notices And Responses -</h2>
        <table>
            <thead>
                <tr>
                    <th></th> <!--leave it empty-->
                    <th>Notice Type</th>
                    <th>Notice Name</th>
                    <th>Internal Reference Number</th>
                    <th>Notice Issuer</th>
                    <th>Notice Issued Date</th>
                    <th>Issuer's Reference Number</th>
                    <th>Subject</th>
                    <th>Notice Finalized Date</th>
                    <th>Date Published on Website</th>
                    <th>Notice Sent Date</th>
                    <th>Response Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="radio-table">
                        <label class="radioBtn">
                            <input type="radio">
                            <span></span>
                        </label>      
                    </td>
                    <td>Notice Type</td>
                    <td>Notice Name</td>
                    <td>Internal Reference Number</td>
                    <td>Notice Issuer</td>
                    <td>Notice Issued Date</td>
                    <td>Issuer's Reference Number</td>
                    <td>Subject</td>
                    <td>Notice Finalized Date</td>
                    <td>Date Published on Website</td>
                    <td>Notice Sent Date</td>
                    <td>Response Due Date</td>
                    <td>Response Provided Date</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>