
    <app-statistics-header></app-statistics-header>
    <div class="stastics-grid">
        <div class="stastics-grid-upper">
            <div class="ai-byFunction">
                <app-ai-by-function></app-ai-by-function>
            </div>
            <div class="reoprtsSubmittions">
                <app-reports-submissions [listCount]="5"></app-reports-submissions>
            </div>
            <div class="firms-bySelector">
                <app-firms-by-selector></app-firms-by-selector>
            </div>
        </div>
        <div class="stastics-grid-lower">
            <div class="taskList">
                <app-task-list [listCount] = "5"></app-task-list>
            </div>
            <div class="firmsList">
                <app-firm-list [isMainView]="true" [listCount] = "5"></app-firm-list>
            </div>
        </div>
    </div>
