<div class="brid-crump">
    <div class="btn-group">
        <div class="btns">
            <button>
                <i class="bi bi-plus"></i>
                Create
            </button>
        </div>
        <div class="btns">
            <button>
                <i class="bi bi-pen"></i>
                Edit
            </button>
        </div>
        <div class="btns">
            <button>
                <i class="bi bi-trash"></i>
                Delete
            </button>
        </div>
    </div>
</div>
<div class="page">
    <div class="ind-registration-status-wrapper">
        <div class="table">
            <div class="tableTitle">
                <h3>List Of Registration Status Changes</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th></th> <!--Leave it empty-->
                        <th>Individual Name</th>
                        <th>Firm(s)</th>
                        <th>Status</th>
                        <th>Status Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="radio-table">
                            <label class="radioBtn">
                                <input type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td (click)="viewIndividualStatusChange()">test</td>
                        <td (click)="viewIndividualStatusChange()">asdsadsa</td>
                        <td (click)="viewIndividualStatusChange()">qwdasdasd</td>
                        <td (click)="viewIndividualStatusChange()">ASD</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>