<div class="brid-crump">
    <div class="btns">
        <button>
            <i class="bi bi-file"></i>
            Export to Excel
        </button>
    </div>
</div>
<div class="page">
    <div class="ind-pending-ai-wrapper">
        <div class="table">
            <div class="tableTitle">
                <h3>Pending AI Applications</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Firm Name</th>
                        <th>Firm Supervisor Name</th>
                        <th>Applicant Name</th>
                        <th>Form Type</th>
                        <th>(CF)s Applied For</th> 
                        <th>Application Status</th> 
                        <th>Application Submitted Date</th> 
                        <th>Application Accepted Date</th> 
                        <th>RSG Review Compeleted Date</th>
                        <th>Supervisor Review Completed Date</th>
                        <th>Director Review Completed Date</th>
                        <th>Ready For CEO's Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Firm Name</td>
                        <td>Firm Supervisor Name</td>
                        <td>Applicant Name</td>
                        <td>Form Type</td>
                        <td>(CF)s Applied For</td> 
                        <td>Application Status</td> 
                        <td>Application Submitted Date</td> 
                        <td>Application Accepted Date</td> 
                        <td>RSG Review Compeleted Date</td>
                        <td>Supervisor Review Completed Date</td>
                        <td>Director Review Completed Date</td>
                        <td>Ready For CEO's Review</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>