<div class="brid-crump">
    <div class="btns">
        <button>
            <i class="bi bi-file-earmark-text"></i>
            Export to Excel
        </button>
    </div>
</div>
<div class="page">
    <div class="ind-pending-ai-wrapper">
        <div class="table">
            <div class="tableTitle">
                <h3>Pending AI Applications</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Firm Name</th>
                        <th>Firm Supervisor Name</th>
                        <th>Applicant Name</th>
                        <th>Form Type</th>
                        <th>(CF)s Applied For</th>
                        <th>Application Status</th>
                        <th>Application Submitted Date</th>
                        <th>Application Accepted Date</th>
                        <th>RSG Review Compeleted Date</th>
                        <th>Supervisor Review Completed Date</th>
                        <th>Director Review Completed Date</th>
                        <th>Ready For CEO's Review <i class="bi-exclamation-circle" (click)="showModal()"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Firm Name</td>
                        <td>Firm Supervisor Name</td>
                        <td>Applicant Name</td>
                        <td>Form Type</td>
                        <td>(CF)s Applied For</td>
                        <td>Application Status</td>
                        <td>Application Submitted Date</td>
                        <td>Application Accepted Date</td>
                        <td>RSG Review Compeleted Date</td>
                        <td>Supervisor Review Completed Date</td>
                        <td>Director Review Completed Date</td>
                        <td>Ready For CEO's Review</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalVisible">
    <div class="modal-content">
        <div class="CEOReview-modal-wrapper">
            <ul class="ceo-review-list">
                <li>
                    Q03 applications are considered ready for the CEO's Review when:
                    <ul class="ready-ceo-review-list">
                        <li>The Supervision Director's review has been completed.</li>
                        <li>AND no Overseas Regulator Letter a.k.a ORL has been sent out (or) A response has already
                            been received for the most recent ORL sent (or) 10 business days have elapsed from the date
                            the most recent ORL was sent
                            AND 5 business days have elapsed from the date the Internal Weekly Notification was sent.
                        </li>
                        <li>AND 5 business days have elapsed from the date the Internal Weekly Notification was sent.
                            <strong>Note</strong>: If no value has been specified for the Internal Weekly Notification Sent date, then a
                            decision will not be displayed.</li>
                    </ul>
                </li>
                <li>Q12 applications are considered ready for the CEO's Review once the Supervision Director's review has been completed.</li>
            </ul>
        </div>
        <div class="close-modal">
            <button (click)="hideModal()">Close</button>
        </div>
    </div>
</div>