<form [formGroup]="userAccessForm" (ngSubmit)="save()">
  <div class="useraccess-actions">
    <div class="btns">
      <button type="submit" class="save-btn">Save</button>
      <button type="button" class="cancel-btn" (click)="cancel()">Cancel</button>
    </div>
  </div>
  <section class="useraccess-section">
    <div class="inputs-field-set">
      <div class="section">
        <h2>User Access Assigned</h2>
        <div class="system-access-container">
          <label>
            System Access Request For:
            <select id="userSelect" class="system-access-select">
              <option value="">Select</option>
              <option *ngFor="let user of userData" [value]="user?.UserID">{{ user?.UserName }}</option>
            </select>
          </label>
          <a class="view-access-history" href="#">View User Access History</a>
        </div>

        <div *ngIf="noDataFound" class="no-data-found">
          <p style="color: red;">No data found</p>
        </div>

        <table>
          <thead>
            <tr>
              <th>Role</th>
              <th>Firm Level</th>
              <th>Effective Date <br> [DD/MON/YYYY]</th>
              <th>Expiration Date <br> [DD/MON/YYYY]</th>
              <th>Justification</th>
              <th>
                <button class="addRowBtn">+</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select formControlName="userRole">
                  <option value="">Select Role</option>
                  <option *ngFor="let role of appRoles" [value]="role?.AppRoleID">{{ role?.AppRoleDesc }}</option>
                </select>
              </td>
              <td>
                <select formControlName="firmLevel">
                  <option value="">Select Level</option>
                  <option *ngFor="let levels of firmLevels" [value]="levels.UserRoleFirmTypeID">
                    {{levels.UserRoleFirmTypeDesc}}</option>
                </select>
              </td>
              <td>
                <input type="text" formControlName="effectiveDate" #dateInputs placeholder>
              </td>
              <td>
                <input type="text" formControlName="expirationDate" #dateInputs placeholder>
              </td>
              <td>
                <textarea formControlName="justification"></textarea>
              </td>
              <td>
                <button type="button" class="removeRowBtn">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</form>