.useraccess-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

.btns {
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.btns button {
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
}

.cancel-btn {
    background: transparent !important;
    color: #A51E36 !important;
    border: 1px solid #A51E36 !important;
}

.section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.section h2 {
    color: #A51E36;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word
}

.section p {
    margin: 0 0 10px;
}

.view-access-history {
    color: red;
    text-decoration: none;
    font-weight: 500;
}

.system-access-container {
    display: flex;
    justify-content: space-between;
}

select {
    padding: 0.5rem 2%;
    border-radius: 7.2px;
    border: 0.72px #B1B1B1 solid;
    background: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

.brid-crump {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

.useraccess-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem;
    gap: 2rem;
}

.inputs-field-set {
    width: 100%;
    background: #F1EBEC;
    border-radius: 15px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.addRowBtn {
    width: 25px;
    height: 25px;
    background: green;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 15%;
}

.removeRowBtn {
    width: 25px;
    height: 25px;
    background: red;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 15%;
}

.system-access-select {
    min-width: 400px;
}

.section table select {
    width: 100%;
}

input {
    width: 70%;
    padding: 0.5rem 2%;
    border-radius: 7.20px;
    border: 0.72px #B1B1B1 solid;
}

textarea {
    width: 100%;
    border-radius: 7.2px;
    border: 0.72px #B1B1B1 solid;
    resize: vertical;
    max-height: 150px;
    padding: 5px;
    min-height: 20px;
}

.error-message {
    color: red;
    font-size: 0.8em;
}
