<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title space-between">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Registered Funds > <span>Al Rayyan </span>
                </h2>
                <div class="btn">
                    <button>
                        <i class="bi bi-pen"></i>
                        Create
                    </button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Fund Number</th>
                        <th>Fund Name</th>
                        <th>Type of Fund</th>
                        <th>Status</th>
                        <th>Status Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reg of paginatedItems">
                        <td>{{ reg?.RegisteredFundNumber }}</td>
                        <td>{{ reg?.FundName }}</td>
                        <td>{{ reg?.RegisteredFundTypeDesc }}</td>
                        <td>{{ reg?.RegisteredFundStatusTypeDesc }}</td>
                        <td>{{ reg?.RegisteredFundStatusDate }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td [attr.colspan]="12">
                            <app-pagination [items]="regFunds" [pageSize]="pageSize"
                                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>