<!-- <div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
</div> -->

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Registered Funds > <span>Al Rayyan </span>
                </h2>
                <div class="btn">
                    <button>
                        <i class="bi bi-pen"></i>
                        Create
                    </button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Fund Number</th>
                        <th>Fund Name</th>
                        <th>Type of Fund</th>
                        <th>Status</th>
                        <th>Status Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let enf of enfActions">
                        <td>{{ rmp?.FirmRMPID }}</td>
                        <td>{{ rmp?.RMPCreatedDate }}</td>
                        <td>{{ rmp?.FirmRMPTypeDesc }}</td>
                        <td>{{ rmp?.DateFirmAgreedOn }}</td>
                        <td>{{ rmp?.AgreedBy }}</td>
                        <td>{{ rmp?.RMPStatus }}</td>
                        <td>{{ rmp?.SignOffStatus }}</td>
                    </tr> -->
                    <tr>
                        <td>Fund Number</td>
                        <td>Fund Name</td>
                        <td>Type of Fund</td>
                        <td>Status</td>
                        <td>Status Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>