<div class="brid-crump">
    <div class="btn-group">
        <div class="btns">
            <button>
                <i class="bi bi-trash"></i>
                Delete
            </button>
        </div>
    </div>
</div>
<section class="view-individual-section">
    <div class="inputs-field-set">
        <div class="view-individual-actions">
            <h2 class="view-title">Personal Details of Name</h2>
        </div>
        <div class="view-individual-inputs">
            <div class="input-field">
                <label for="aiID">
                    AI ID 
                </label>
                <input name="aiID" id="aiID" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="aiNumber">
                    AI Number
                </label>
                <input name="aiNumber" id="aiNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="firstName">
                    First Name 
                </label>
                <input name="firstName" id="firstName" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="lastName">
                    Last Name
                </label>
                <input name="lastName" id="lastName" type="text" disabled>
            </div>
            <div class="input-field flags-input">
                <label for="lastName">
                    Flags
                </label>
                <input name="flags" id="flags" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="dateOfBirth">
                    Date of Birth
                </label>
                <input name="dateOfBirth" id="dateOfBirth" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="placeOfBirth">
                    Place of Birth
                </label>
                <input name="placeOfBirth" id="placeOfBirth" type="text" disabled> 
            </div>
            <div class="input-field">
                <label for="passport">
                    Passport Number
                </label>
                <input name="passport" id="passport" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="JurisdictionofIssue">
                    Jurisdiction of Issue
                </label>
                <input name="JurisdictionofIssue" id="JurisdictionofIssue" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="workTelephoneNumber">
                    Work Telephone Number
                </label>
                <input name="workTelephoneNumber" id="workTelephoneNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="workTelephoneNumber">
                    Mobile Phone Number
                </label>
                <input name="workTelephoneNumber" id="workTelephoneNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="residentialTelephoneNumber">
                    Residential Telephone Number
                </label>
                <input name="residentialTelephoneNumber" id="residentialTelephoneNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="faxNumber">
                    Fax Number
                </label>
                <input name="faxNumber" id="faxNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="emailAddress">
                    Email Address
                </label>
                <input name="emailAddress" id="emailAddress" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="otherEmailAddress">
                    Other Email Address
                </label>
                <input name="otherEmailAddress" id="otherEmailAddress" type="text" disabled>
            </div>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <h2>Applied Functions</h2>
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>Request For Approval</th>
                        <th>Approval Details</th>
                        <th>Withdrawal Details</th>
                        <th>Most Recent Status</th>
                        <th>Most Recent Status Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Functions</td>
                        <td>Request For Approval</td>
                        <td>Approval Details</td>
                        <td>Witddrawal Details</td>
                        <td>Most Recent Status</td>
                        <td>Most Recent Status Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <h2>Approved Functions</h2>
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>Request For Approval</th>
                        <th>Approval Details</th>
                        <th>Withdrawal Details</th>
                        <th>Most Recent Status</th>
                        <th>Most Recent Status Date</th>
                    </tr>
                    <tr class="firm-name">
                        <td colspan="6">Bank of China Limited Qatar Financial Centre Branch</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Functions</td>
                        <td>Request For Approval</td>
                        <td>Approval Details</td>
                        <td>Witddrawal Details</td>
                        <td>Most Recent Status</td>
                        <td>Most Recent Status Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="section">
            <h2>Withdrawn Functions (History)</h2>
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>Request For Approval</th>
                        <th>Approval Details</th>
                        <th>Withdrawal Details</th>
                        <th>Most Recent Status</th>
                        <th>Most Recent Status Date</th>
                        <th>Status Change Reasons</th>
                    </tr>
                    <tr class="firm-name">
                        <td colspan="7">Bank of China Limited Qatar Financial Centre Branch</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Functions</td>
                        <td>Request For Approval</td>
                        <td>Approval Details</td>
                        <td>Witdrawal Details</td>
                        <td>Most Recent Status</td>
                        <td>Most Recent Status Date</td>
                        <td>Status Change Reasons</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>