.brid-crump{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}
.btn-group {
    display: flex;
    gap: 0 1%;
}

.btns button{
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;;
}
.btns button i{
    margin: 0 2px;
}

/* */

.view-controller-section{
    margin: 1rem 0px 2rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
}


.inputs-field-set{
    width: 100%;
    background: #F1EBEC;
    border-radius: 15px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.view-controller-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

.view-controller-header{
    color: #A51E36;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word 
}

.view-controller-inputs{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
    width: 49%;
    padding: 0.5rem 0;
}

.input-field input{
    width: 96%;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
}