<header>
    <div class="logo" (click)="goHome()">
        <img src="../../../assets/images/logo.jpg">
    </div>
    <div class="nav">
        <div class="my-invention" (click)="openMenu(0)"
            *ngIf="firms == true || admin == true || individuals == true || reports == true"></div>
        <ul class="navigation-ul">
            <li>
                <a (click)="goHome()">
                    Home
                </a>
            </li>
            <li>
                <a (click)="openMenu(1)">
                    Firms
                </a>
                <div class="menuOfTop" *ngIf="firms == true">
                    <ul>
                        <li (click)="goto(1)">Open</li>
                        <li (click)="goto(0)">New</li>
                        <li>CO/Supervisors</li>
                        <li (click)="goto(3)">Notices and Responses</li>
                        <li>Enforcement & Disciplinary Actions</li>
                    </ul>
                </div>
            </li>
            <li>
                <a (click)="openMenu(2)">
                    Individuals
                </a>
                <div class="menuOfTop" *ngIf="individuals == true">
                    <ul>
                        <li (click)="goto(6)">Open</li>
                        <li (click)="goto(7)">Change registration Status</li>
                        <li (click)="goto(8)">Pending Ai Application</li>
                    </ul>
                </div>
            </li>
            <li>
                <a (click)="openMenu(3)">
                    Reports
                </a>
                <div class="menuOfTop" *ngIf="reports == true">
                    <ul>
                        <li (click)="goto(9)">Firms Report</li>
                        <li>Contacts Report</li>
                        <li>AI Application Reports</li>
                        <li>Approved individuals Report </li>
                        <li>Returns Submission Reports</li>
                        <li>Notices and Responses Reports</li>
                        <li>Waiver Reports </li>
                        <li>RMP Reports</li>
                        <li>Breach Reports</li>
                        <li>AML Reports</li>
                        <li>Document Reports</li>
                        <li>Statistics Reports</li>
                        <li>System Reports</li>
                    </ul>
                </div>
            </li>
            <li>
                <a (click)="openMenu(4)">
                    Admin
                </a>
                <div class="menuOfTop" *ngIf="admin == true">
                    <ul>
                        <li (click)="goto(22)">User Access</li>
                        <li (click)="goto(23)">Re-assign Tasks</li>
                        <li>Credit Ratings Upload</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="change-font">
        <button class="font-btn decrease-font-size" (click)="decreaseFontSize()">A-</button>
        <button class="font-btn reset-font-btn" (click)="resetFontSize()">A</button>
        <button class="font-btn increase-font-btn" (click)="increaseFontSize()">A+</button>
    </div>
    <div class="profile-access">
        <div class="notifications">
            <i class="bi bi-bell"></i>
        </div>
        <div class="profile-details">
            <div class="pd-img">
                <img src="../../../assets/images/emp-img.png" alt="profile img">
            </div>
            <div class="pd-details">
                <h4 class="pd-details-name">
                    Mustafa Habayeb
                </h4>
                <p class="pd-details-email">
                    mhabayeb&#64;email.com
                </p>
            </div>
        </div>
    </div>
</header>