
.brid-crump{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}
.btn-group {
    display: flex;
    gap: 0 1%;
}

.btns button{
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;;
}
.btns button i{
    margin: 0 2px;
}

.page {
    margin: 1% 0;
}

/* */


.ind-registration-status-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.table{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1% 5px;
    height: 95%;
    background: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 8px 8px 43px rgba(8, 50, 79, 0.10);
}
.tableTitle{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.tableTitle h3{
    cursor: pointer;
    color: #222529;
    font-size: 1em;
    font-weight: 500; 
    margin: 5px;
}
.tableTitle h3:hover{
    color: #A51E36;
}
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgba(243.31, 243.31, 243.31, 0.24)
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: #333333;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 18.97px;
    letter-spacing: 0.09px;
    word-wrap: break-word;
    max-width: 80px;
}

td {
    height: 40px;
    color: #333333;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 18.97px;
    letter-spacing: 0.09px;
    word-wrap: break-word ;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80px;
    text-wrap: nowrap;
}
.taskDesc{
    width: 40px;
}
tr:nth-child(even) {
    background-color: #F2F2F2;
  }
td{
    cursor: pointer;
}

.radio-table {
    width: 20px;
    height: 20px;
    text-align: center;
}

.radioBtn {
    cursor: pointer;
}

.radioBtn input[type="radio"]{
    display: none;
}

.radioBtn span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #A51E36;
    display: block;
    position: relative;
}

.radioBtn input[type="radio"]:checked + span::after {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #A51E36;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    border-radius: 50%;
}
