.filter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.filter-container .error-messages {
    margin: 0;
}

.date-filters label,
.team-filters label {
    display: block;
    font-size: 1rem;
    color: #555;
}

.date-filters input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
}

.team-members,
.child-checkbox-group {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    row-gap: 5px; /* Space between items */
}

/* Hide the child checkboxes by default */
.child-checkbox-group {
    margin-top: 5px; /* Space between the parent and child groups */
    padding-left: 15px; /* Small indentation for child items */
}

.team-filters > label {
    margin-bottom: 10px;
}

.checkbox {
    display: inline-flex; /* Keep items in a row */
    align-items: center;
    flex-wrap: wrap;
}

.child-checkbox-items {
    width: 100%;
    display: flex;
}

.manager-checkbox {
    display: flex; /* Keep items in a row */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 5px; /* Space between each manager and member */
}

.checkbox-group {
    padding-left: 15px; /* Small indentation for child items */
}

.toggle-icon {
    margin-right: 8px; /* Space between the toggle icon and checkbox */
    cursor: pointer;
}

.checkbox label {
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
}

.checkbox input {
    margin-right: 8px; /* Space between checkbox and label */
}

.get-tasks-btn-container {
    display: flex;
    justify-content: center;
}

.get-tasks-btn {
    background-color: #A51E36;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.get-tasks-btn:hover {
    background-color: #A51E36; /* Maintain hover color */
}

.date-filters {
    display: inline-flex;
    width: 100%;
    gap: 40px;
    align-items: center;
}

.date-filters label {
    width: 100%;
}

.date-filters > label,
.team-filters > label {
    font-weight: bold; /* Make labels bold */
}

.team-filters {
    margin-top: 10px; /* Space above the team filters */
}

/* Animation for expansion */
.child-checkbox-group.ng-trigger.ng-trigger-expand {
    max-height: 300px; /* Set max height for expansion */
    transition: max-height 0.5s ease; /* Smooth transition for height */
    margin-bottom: 5px; /* Space below expanded groups */
}

@import '/src/assets/styles/tasks-popup.scss';
