<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">

    <div class="inputs-field-set">
        <div class="form-section-title">
            <h2 class="edit-firm-header">
                <p>Firm Details</p>
            </h2>
        </div>
        <div class="inputs-row">
            <div class="input-field">
                <label for="firmName"> Firm Name </label>
                <input disabled name="firmName" id="firmName" type="text" value="{{ firmDetails?.FirmName }}" />
            </div>
            <div class="input-field">
                <label for="QFCNumber"> QFC Number </label>
                <input disabled name="QFCNumber" id="QFCNumber" type="text" value="{{ firmDetails?.QFCNum }}" />
            </div>
            <div class="input-field">
                <label for="code"> Code </label>
                <input disabled name="code" id="code" type="text" value="{{ firmDetails?.FirmCode }}" />
            </div>
            <div class="input-field">
                <label for="lagalStatus"> Legal Status </label>
                <input disabled name="lagalStatus" id="lagalStatus" type="text"
                    value="{{ firmDetails?.LegalStatusTypeDesc }}" />
            </div>
            <div class="input-field">
                <label for="PrudentialCategory"> Prudential Category </label>
                <input disabled name="PrudentialCategory" id="PrudentialCategory" type="text"
                    value="{{ firmDetails?.PrudentialCategoryTypeDesc }}" />
            </div>
            <div class="input-field">
                <label for="FinancialYearEnd"> Financial Year End </label>
                <input disabled name="financialYearEnd" id="financialYearEnd" type="text"
                    value="{{ firmDetails?.FinYearEndTypeDesc }}" />
            </div>
        </div>
    </div>

    <!---->
    <div class="inputs-field-set">
        <div class="form-section-title">
            <h2 class="edit-firm-header">Application Details</h2>
            <div class="edit-btn"></div>
        </div>
        <div class="inputs-row">
            <div class="input-field">
                <label for="dateOfApplication"> Date of Application </label>
                <input disabled name="dateOfApplication" id="dateOfApplication" type="text" value="{{
            firmDetails?.AuthorisationStatusTypeID == 0
              ? (firmDetails?.FirmLicApplDate | date: 'dd/MMM/y')
              : (firmDetails?.FirmAuthApplDate | date: 'dd/MMM/y')
          }}" />
            </div>

            <div class="input-field">
                <label for="firmApplicationType"> Firm Application Type </label>
                <input type="text" disabled name="firmApplicationType" id="firmApplicationType"
                    value="{{ appDetails.FirmApplTypeDesc }}" />
            </div>

            <div class="input-field">
                <label for="qfcLicenseStatus"> QFC License Status </label>
                <input disabled type="text" name="qfcLicenseStatus" id="qfcLicenseStatus"
                    value="{{ firmDetails?.LicenseStatusTypeDesc }}" />
            </div>

            <div class="input-field">
                <label for="DateLicensed">
                    {{ LicenseStatusTypeLabelDescFormatted }}
                </label>
                <input disabled name="DateLicensed" id="DateLicensed" type="text"
                    value="{{ firmDetails?.LicenseApplStatusDate | date: 'dd/MMM/y' }}" />
            </div>

            <div class="input-field" *ngIf="firmDetails?.AuthorisationStatusTypeID > 0">
                <label for="authorisationStatus"> Authorisation Status </label>
                <input type="text" disabled name="authorisationStatus" id="authorisationStatus"
                    value="{{ firmDetails?.AuthorisationStatusTypeDesc }}" />
            </div>
            <div class="input-field" *ngIf="firmDetails?.AuthorisationStatusTypeID > 0">
                <label for="dateApplication">
                    {{ AuthorisationStatusTypeLabelDescFormatted }}
                </label>
                <input disabled name="dateApplication" id="dateApplication" type="text"
                    value="{{ firmDetails?.AuthApplStatusDate | date: 'dd/MMM/y' }}" />
            </div>
        </div>
    </div>
    <!---->
    <div class="inputs-field-set">
        <div class="form-section-title">
            <h2 class="edit-firm-header">Operational Information</h2>
            <div class="edit-btn"></div>
        </div>
        <div class="inputs-row">
            <div class="input-field">
                <label for="noOfStaffInQatar"> No. Of Staff In Qatar </label>
                <input disabled name="noOfStaffInQatar" id="noOfStaffInQatar" type="text"
                    value="{{ firmOPDetails?.NumOfLocalStaff }}" />
            </div>

            <div class="input-field">
                <label for="staffTotal"> Staff total </label>
                <input disabled name="staffTotal" id="staffTotal" type="text"
                    value="{{ firmOPDetails?.NumOfTotalStaff }}" />
            </div>

            <div class="input-field notes">
                <label for="notes"> Notes </label>
                <div contenteditable="false" [innerHTML]="getSanitizedNotes(firmOPDetails?.Notes)"
                    class="resizable-textarea">
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="inputs-field-set">
        <div class="section">
            <h2 class="history-row">
                RA Personal Assigned
                <button [disabled]="FIRMRA.length === 0" class="subbutton-open-history" (click)="getInactiveUsers()">
                    <i class="bi bi-clock-history"></i>
                    <span> Open History</span>
                </button>
            </h2>
            <table *ngIf="FIRMRA?.length > 0; else noSupervisors">
                <thead>
                    <tr>
                        <th>Function / Role</th>
                        <th>Name</th>
                        <th class="text-center">Date From</th>
                        <th class="text-center">Date To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let RA of FIRMRA">
                        <td style="text-align: left">{{ RA.firmUserAssnTypeDesc }}</td>
                        <td style="text-align: left">{{ RA.name }}</td>
                        <td class="text-center">
                            {{ RA.firmUserAssnDateFrom | date: 'dd/MMM/yyyy' }}
                        </td>
                        <td class="text-center">
                            {{ RA.firmUserAssnDateTo | date: 'dd/MMM/yyyy' }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Display this message when there are no supervisors assigned -->
            <ng-template #noSupervisors>
                <p style="color: red">No supervisors assigned</p>
            </ng-template>
        </div>
    </div>
</div>

<!--Inactive Users popup -->
<div *ngIf="callInactiveUsers" class="overlay show"></div>
<div *ngIf="callInactiveUsers" class="InactiveUsersPopUp popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeInactiveUsers()"></i>
    <div class="popup-info-place">
        <div class="popup-header">
            <h3>Inactive Users</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Function / Role</th>
                    <th>Name</th>
                    <th class="text-center">Date From</th>
                    <th class="text-center">Date To</th>
                    <th>Reason For Change</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let FYE of firmInactiveUsers">
                    <td style="text-align: left">{{ FYE.FirmUserAssnTypeDesc }}</td>
                    <td style="text-align: left">{{ FYE.Name }}</td>
                    <td class="text-center">
                        {{ FYE.FirmUserAssnDateFrom | date: 'dd/MMM/yyyy' }}
                    </td>
                    <td class="text-center">
                        {{ FYE.FirmUserAssnDateTo | date: 'dd/MMM/yyyy' }}
                    </td>
                    <td>{{ FYE.FirmUserAssnReasonTypeDesc }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="popup-operations-place">
        <button class="subbutton" (click)="closeInactiveUsers()">Close</button>
    </div>
</div>