<section class="individual-section">
    <!--Status Change Request Information-->
    <div class="inputs-field-set">
        <div class="individual-actions">
            <h2 class="title">Status Change Request Information</h2>
        </div>
        <div class="individual-inputs">
            <div class="input-field">
                <label for="IndivName">
                    Individual Name
                </label>
                <input name="IndivName" id="IndivName" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="aiNumber">
                    AI Number
                </label>
                <input name="aiNumber" id="aiNumber" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="firstName">
                    Status Change Initiation Date
                </label>
                <input name="statusChangeInitDate" id="statusChangeInitDate" type="date" disabled>
            </div>
            <div class="input-field">
                <label for="firmName">
                    Firm Name
                </label>
                <input name="firmName" id="firmName" type="text" disabled>
            </div>
        </div>
    </div>

    <!--Relevant Circumstances-->
    <div class="inputs-field-set circumstances-container">
        <div class="circumstances-title-container">
            <h2 class="title">Relevant Circumstances</h2>
        </div>
        <div class="individual-inputs">
            <div class="circumstances-body">
                <p>Investcorp – Doha Representative Office was authorised on 9 July 2023. As requested by MD on 10 July
                    2023, Investcorp Investment LLC’s status will be changed to ‘Authorised – Inactive’ and the status
                    of the firm’s Approved Individuals to ‘Approved - Inactive Firm’</p>
            </div>
        </div>
    </div>

    <!--Supporting Documentation-->
    <div class="inputs-field-set">
        <div class="individual-actions">
            <h2 class="title">Supporting Documentation</h2>
        </div>
        <div class="individual-inputs">
            <div class="input-field">
                <label for="recommendationSupported">
                    Recommendation supported by documentation
                </label>
                <input name="recommendationSupported" id="recommendationSupported" type="text" disabled>
            </div>
        </div>
        <div class="comments-container">
            <div class="comments-title">
                <p>Comments on supporting documentation: </p>
            </div>
            <div class="comments">
                <p>The QFC Branch’s Senior Executive Function, Mr. Calleja, was terminated, effective 24 December 2015,
                    following an internal investigation by the firm. Mr Calleja was working on a buy-side advisory and
                    possible financing mandate for a Dubai based client, and attended meetings with a middle- eastern
                    target company in circumstances where one of the seller’s advisors may have misled the target’s
                    management team as to the purpose and attendees of the meetings. Mr Calleja was terminated for his
                    failure to recognise the risk inherent in this approach and his failure to seek any input or
                    guidance from any control function or senior managers, which according to the firm, demonstrated
                    poor judgement. This transaction was unrelated to the Qatar Branch, both on the buy-side and the
                    target, and by extension to the performance of his specific duties as Senior Executive Function of
                    the Branch.</p>
            </div>
        </div>
    </div>

    <!--Fitness and Propriety-->
    <div class="inputs-field-set">
        <div class="individual-actions">
            <h2 class="title">Fitness and Propriety</h2>
        </div>
        <div class="individual-inputs">
            <div class="input-field">
                <label for="fandpCheck">
                    F&P
                </label>
                <input name="fandpCheck" id="fandpCheck" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="issues">
                    Issues Identified
                </label>
                <input name="issues" id="issues" type="text" disabled>
            </div>
        </div>
        <div class="comments-container">
            <div class="comments-title">
                <p>Comments on fitness and propriety: </p>
            </div>
            <div class="comments">
                <p>test</p>
            </div>
        </div>
    </div>

    <!--Recommended Status and/or Flag Change-->
    <div class="inputs-field-set">
        <div class="individual-actions">
            <h2 class="title">Recommended Status and/or Flag Change</h2>
        </div>
        <div class="individual-inputs">
            <div class="input-field">
                <label for="decisionEffectiveDate">
                    Decision Effective From Date :
                </label>
                <input name="decisionEffectiveDate" id="decisionEffectiveDate" type="date" disabled>
            </div>
            <div class="input-field">
                <label for="proposedStatus">
                    Proposed Status
                </label>
                <input name="proposedStatus" id="proposedStatus" type="text" disabled>
            </div>
            <div class="input-field">
                <label for="proposedStatus">
                    Proposed Flag
                </label>
                <div class="input-wrapper">
                    <input name="ProposedFlag" id="ProposedFlag" type="text" disabled>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Reviews-->
    <div class="inputs-field-set">
        <div class="individual-actions">
            <h2 class="title">Reviews</h2>
        </div>
        <div class="individual-inputs">
          
        </div>
    </div>

</section>