.individual-section{
    margin: 1rem 0px 2rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
}

.individual-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.inputs-field-set{
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.individual-inputs{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.title {
    color: #A51E36;
    font-size: 1.25em;
    font-weight: 500;
    margin: 10px;
}

.circumstances-container {
    min-height: 100px!important;
}

.comments-title {
    background-color:#F2B6C0;
    padding: 8px 15px;
}

.comments {
    padding: 8px 30px;
}

.input-wrapper {
    position: relative; 
    display: inline-block; 
    width: 100%;
}

.circle {
    position: absolute; 
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    width: 12px; 
    height: 12px; 
    background-color: red; 
    border-radius: 50%; 
}