.input-field{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
    width: 42vw;
    padding: 0.5rem 0;
}
.input-field select{
    width: 100%;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
    background: white;
}

