<div class="enforcement-wrapper">
    <div class="table">
        <div class="enforcement-header">
            <h2>List of Enforcement & Disciplinary Actions</h2>
            <span>
                <input id="InactiveEnforcement" type="checkbox">
                <label>Display Inactive Auditors</label>
            </span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Action On</th>
                    <th>Type Of Action</th>
                    <th>Date of Action</th>
                    <th>Firm Name</th>
                    <th>Approved Individual</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>QFC Number</td>
                    <td>QFC Number</td>
                    <td>QFC Number</td>
                    <td>QFC Number</td>
                    <td>QFC Number</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>