<app-loader *ngIf="isLoading"></app-loader>
<!-- view & Edit popup  -->
<div class="overlay">
  <div class="popupcontainer Rptpopupcontainer NoAnimationPopup" style="display:block"
    (click)="$event.stopPropagation()">

    <!-- Title -->
    <div class="popup-title-btn-row">
      <div class="popup-header">
        <h3>
          Submission Details
        </h3>
      </div>
      <button class="close-button  close-icon" (click)="onClose()">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>

    <div class="reporting-schedule-form" *ngIf="AdminFeeDetials?.length > 0">
      <div class="inputs-row">
        <div class="input-field">
          <label for="FirmName">Firm Name</label>
          <input type="text" id="FirmName" name="FirmName" [(ngModel)]="AdminFeeDetials[0].FirmName" disabled />
        </div>
        <div class="input-field">
          <label for="QFCNumber">QFC Number </label>

          <input type="text" id="QFCNumber" name="QFCNumber" [(ngModel)]="AdminFeeDetials[0].QFCNum" disabled />
        </div>
        <div class="input-field">
          <label for="ReportName">Report Name</label>
          <input type="text" id="ReportName" name="ReportName" [(ngModel)]="AdminFeeDetials[0].RptName" disabled />
        </div>
        <div class="input-field">
          <label for="ReportDueDate">Report Due Date</label>
          <input type="text" id="ReportDueDate" name="ReportDueDate" [(ngModel)]="AdminFeeDetials[0].FirmRptDueDate"
            disabled />
        </div>
        <div class="input-field">
          <label for="ReportingPeriodStartDate">Reporting Period Start Date</label>
          <input type="text" id="ReportingPeriodStartDate" name="ReportingPeriodStartDate"
            [(ngModel)]="AdminFeeDetials[0].RptPeriodFromDate" disabled />
        </div>
        <div class="input-field">
          <label for="ReportingPeriodEndDate">Reporting Period End Date</label>
          <input type="text" id="ReportingPeriodEndDate" name="ReportingPeriodEndDate"
            [(ngModel)]="AdminFeeDetials[0].RptPeriodToDate" disabled />
        </div>
        <div class="input-field">
          <label for="MateriallyCompleteReportReceivedDate">Materially Complete Report Received Date</label>
          <input type="text" id="MateriallyCompleteReportReceivedDate" name="MateriallyCompleteReportReceivedDate"
            [(ngModel)]="AdminFeeDetials[0].FirstMateriallyCompleteRptReceivedDate" disabled />
        </div>


        <!-- <div class="input-field">
          <label for="LinkToReturnReview"> Link To Return Review </label>
          <input *ngIf="isEditable" name="LinkToReturnReview" id="LinkToReturnReview" type="text"
            [(ngModel)]="AdminFeeDetials.LinkToReview" />
          <a id="websiteLink" [href]="AdminFeeDetials[0].LinkToReview" target="_blank" rel="noopener noreferrer">
            {{ AdminFeeDetials[0].LinkToReview }}
          </a>
        </div> -->
        <div class="input-field">
          <label for="LinkToReturnReview">Link To Return Review</label>
          <span>
            <a [routerLink]="['/supervision/view/return-review', firmId]"
              [queryParams]="{ firmRptSchItemID: AdminFeeDetials[0].FirmRptSchItemID }" target="_blank">
              Link to Review
            </a>
          </span>
        </div>
      </div>
      <div class="rpt-list margin-top-10" *ngIf="ResubmissionHistoryList?.length">
        <div class="popup-header">
          <h3>Submission History</h3>
        </div>
        <table class="fund-status-table">
          <thead>
            <tr>
              <th>Submission / Re-submission Due Date</th>
              <th>Submission / Re-submission Received Date</th>
              <th>Materially Complete</th>
              <th>Re-submission Requested Date</th>
              <th>Re-submission Requested By</th>
              <th>Comments</th>
              <th>Days Overdue</th>
              <th>Link to Submission</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ResubmissionHistory of ResubmissionHistoryList">
              <td>{{ ResubmissionHistory.resubmissionDueDate }}</td>
              <td>{{ ResubmissionHistory.reportRecivedDate }}</td>
              <td>{{ ResubmissionHistory.materiallyCompleteDesc }}</td>
              <td>{{ ResubmissionHistory.resubmissionRequestedDate }}</td>
              <td>{{ ResubmissionHistory.resubmissionRequestBy }}</td>
              <td>{{ ResubmissionHistory.wPublishedComments }}</td>
              <td>{{ ResubmissionHistory.noLateDaysForDisplay }}</td>
              <td><a id="websiteLink" [href]="ResubmissionHistory.linkToSubmission" target="_blank"
                  rel="noopener noreferrer">
                  <i style="color: rgb(156, 48, 48); font-size: 27px;" class="bi bi-paperclip"></i>
                </a></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="bold-text">Total Days Overdue</td>
              <td class="bold-text">{{totalLateDays}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Administrative Fee</h3>
        </div>
        <ng-container>
          <div class="inputs-row report-entry">
            <div class="input-field">
              <label class="bold-text" for="required">
                Impose an administrative fee on the firm for late or materially incomplete submission?
              </label>
              <ng-container *ngIf="isEditModeAdminFee; else required">
                <div class="required-container">
                  <input type="radio" [(ngModel)]="AdminFeeDetials[0].feeImposed" id="feeImposedYes"
                    [disabled]="!isEditModeAdminFee" name="feeImposed" [value]="true" (change)="imposeAnAdministrativeonChange()"/>
                  <label for="feeImposed">Yes</label>

                  <input type="radio" [(ngModel)]="AdminFeeDetials[0].feeImposed" id="feeImposedNo"
                    [disabled]="!isEditModeAdminFee" name="feeImposed" [value]="false" (change)="imposeAnAdministrativeonChange()"/>
                  <label for="feeImposed">No</label>
                </div>
              </ng-container>

              <ng-template #required>
                <p>{{AdminFeeDetials[0].feeImposed ? 'Yes' : 'No'}}</p>
              </ng-template>
            </div>

            <div class="input-field">
              <label for="imposedRules">Rules under which fee is being imposed</label>
              <select *ngIf="isEditModeAdminFee; else rules" name="rules" id="rules">
                <option [value]="0"></option>
                <option [value]="option.AdminFeeRateID" *ngFor="let option of allAdminFeeRates">{{option.RuleDesc}}
                </option>
              </select>

              <ng-template #rules>
                <input disabled type="text" id="imposedRules" name="imposedRules"
                  [value]="AdminFeeDetials[0].ruleDesc" />
              </ng-template>
            </div>

            <div class="input-field">
              <label class="bold-text" for="CalculatedFee">Calculated Fee</label>
              <span>{{AdminFeeDetials[0].CalculatedAmountCurrencyTypeDesc +' ' +
                AdminFeeDetials[0].CalculatedAmount}}&nbsp;&nbsp;<a class="infocircle" (click)="getCalculatedFee()"><i
                    class="bi bi-info-circle" style="font-size: 1.5rem; color: #0d6efd;"></i></a></span>
            </div>
            <div class="input-field notes">
              <label class="bold-text" for="notes">Recommendation</label>
              <div>
                <ckeditor *ngIf="isEditModeAdminFee; else recommendation"
                  [(ngModel)]="AdminFeeDetials[0].Recommendation" [editor]="Editor" style="height: 200px;"
                  [config]="config"></ckeditor>
              </div>
              <ng-template #recommendation>
                <p [innerHTML]="sanitizeHtml(AdminFeeDetials[0].Recommendation)">
                </p>
              </ng-template>
            </div>
            <div class="input-field">
              <label class="bold-text" for="CalculatedFee">Fee to be imposed</label>
              <ng-container *ngIf="isEditModeAdminFee; else imposedFee">
                <span>
                  <select [disabled]="!selectedImposedRadio" name="currency" id="currency" [(ngModel)]="AdminFeeDetials[0].ImposedAmountCurrencyTypeID">
                    <option *ngFor="let option of allCurrencyTypes" [value]="option.CurrencyTypeID">{{option.CurrencyCode}}</option>
                  </select>
                  <input [disabled]="!selectedImposedRadio" class="amount" type="text" [(ngModel)]="AdminFeeDetials[0].ImposedAmount">
                </span>
              </ng-container>

              <ng-template #imposedFee>
                <p>{{AdminFeeDetials[0].ImposedAmountCurrencyTypeDesc + ' ' + AdminFeeDetials[0].ImposedAmount}}</p>
              </ng-template>
            </div>
            <div class="input-field notes">
              <label class="bold-text" for="Justification">Justification for fee to be imposed (if different from
                calculated fee)</label>
              <div>
                <ckeditor *ngIf="isEditModeAdminFee; else justification" [(ngModel)]="AdminFeeDetials[0].Justification"
                  [editor]="Editor" style="height: 200px;" [config]="config"></ckeditor>
              </div>
              <ng-template #justification>
                <p [innerHTML]="sanitizeHtml(AdminFeeDetials[0].Justification)"></p>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>

      <app-review [fee]="fee" [firmId]="firmId" [firmDetails]="firmDetails" [isEditable]="isEditModeAdminFee"
        [pageName]="Page.LateAdminFee" [Review]="UserObjectWfTasks">
      </app-review>



      <!-- <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Review</h3>
        </div>
        <div *ngFor="let WfTask of UserObjectWfTasks ; let i = index">
          <div *ngIf="i != 0" class="popup-header">
            <h3></h3>
          </div>
          <table class="fund-status-table">
            <thead>
              <tr>
                <th>Task</th>
                <th>Role Assigned To</th>
                <th>User Assigned To</th>
                <th>Email(CC)</th>
                <th>Assigned Date</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ WfTask.ObjectOpTypeName }}</td>
                <td>{{ WfTask.AppRoleDesc }}</td>
                <td>{{ WfTask.AssignedToUserName }}</td>
                <td>{{ WfTask.CompletionEmailCC }}</td>
                <td>{{ WfTask.WFTaskAssignedDate }}</td>
                <td>{{ WfTask.DueDate }}</td>
              </tr>
            </tbody>
          </table>
          <div class="inputs-row report-entry">
            <div class="input-field">
              <label for="TaskInitiatedBy">Task Initiated By</label>
              <input type="text" id="TaskInitiatedBy" [(ngModel)]="WfTask.CreatedByUserName" name="TaskInitiatedBy" [disabled]="!isEditable">
            </div>

            <div class="input-field">
              <label for="TaskInitiatedDate">Task Initiated Date</label>
              <input type="text" id="TaskInitiatedDate" name="TaskInitiatedDate" [(ngModel)]="WfTask.TaskInitiatedDate" [disabled]="!isEditable" />
            </div>
            <div class="input-field notes">
              <label for="notes">Comments</label>
              <div>
                <ckeditor *ngIf="isEditable; else notes" [(ngModel)]="WfTask.ObjectWFComments"
                  [editor]="Editor" style="height: 200px;" [config]="config"></ckeditor>
              </div>
              <ng-template #notes>
                <p [innerHTML]="sanitizeHtml(WfTask.ObjectWFComments)">
                </p>
              </ng-template>
            </div>

            <div class="input-field">
              <label for="Status">Status</label>
              <input type="text" id="Status" name="Status" [disabled]="!isEditable" 
              [(ngModel)]="WfTask.ObjectWFStatusTypeDesc"/>
            </div>
            <div class="input-field">
              <label for="StatusSetBy">Status Set By</label>
              <input type="text" id="StatusSetBy" name="StatusSetBy" [disabled]="!isEditable" 
              [(ngModel)]="WfTask.StatusSetBy" />
            </div>
            <div class="input-field">
              <label for="StatusSetDate">Status Set Date</label>
              <input type="text" #dateInputs placeholder id="StatusSetDate" name="StatusSetDate"
                [disabled]="!isEditable" [(ngModel)]="WfTask.CommentsDateTime"/>
            </div>
          </div>
          <div *ngIf="i === UserObjectWfTasks.length - 1" class="popup-header">
            <h3></h3>
          </div>
        </div>
      </div>  -->
      <div class="rpt-list margin-top-10">
        <div class="inputs-row report-entry">
          <div class="input-field">
            <span>
              <a (click)="getRevisionCommentsByWaiver()" style="color:blue;">Show Previous Workflow Comments</a>
            </span>
          </div>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="btn justify-content-end">
        <button *ngIf="!hideExportBtn">
          <i class="bi bi-file-earmark-text"></i> Export to word
        </button>

        <button (click)="editFee()" *ngIf="!hideEditBtn && getControlVisibility('imgBtnEdit')"
          [disabled]="!getControlEnablement('imgBtnEdit')">
          <i class="bi bi-pen"></i> Edit
        </button>

        <button *ngIf="!hideDeleteBtn">
          Delete
        </button>

        <button (click)="saveFee()" *ngIf="!hideSaveBtn && getControlVisibility('imgBtnSave')"
          [disabled]="!getControlEnablement('imgBtnSave')">
          Save
        </button>

        <button (click)="cancelFee()" class="cancel-btn" *ngIf="!hideCancelBtn && getControlVisibility('imgBtnCancel')"
          [disabled]="!getControlEnablement('imgBtnCancel')">
          Cancel
        </button>

        <button class="bi bi-arrow-clockwise" *ngIf="!hideStartWfBtn && getControlVisibility('imgBtnStartWF')"
          [disabled]="!getControlEnablement('imgBtnStartWF')">
          Start Workflow
        </button>

        <button *ngIf="!hideCancelWfBtn && getControlVisibility('imgBtnCancelWF')"
          [disabled]="!getControlEnablement('imgBtnCancelWF')">
          Cancel Workflow
        </button>

      </div>
    </div>
  </div>

  <div *ngIf="showCalculatedFeePopup" class="overlay show"></div>
  <div *ngIf="showCalculatedFeePopup" class="calculatedFeePopup popupcontainer">
    <i class="bi bi-x-circle close-icon" (click)="closeCalculatedFeePopup()"></i>
    <div class="popup-content">
      <h3>{{ CalculatedFee.CalculatedFeeFormula }}</h3>
    </div>
    <div class="popup-operations-place">
      <button class="subbutton" (click)="closeCalculatedFeePopup()">Close</button>
    </div>
  </div>

  <!-- Modal Popup for Showing Search Results -->
  <div *ngIf="showPreviousCommentsModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Previous Workflow Comments</h3>
      </div>
      <div class="modal-body">
        <table class="contact-table">
          <thead>
            <tr>
              <th>Version No.</th>
              <th>Comments</th>
              <th>Status</th>
              <th>Status Set By</th>
              <th>Status Set Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let RevisionComment of RevisionCommentsList">
              <td>
                {{ RevisionComment.ObjectInstanceRevNum }}
              </td>
              <td>{{ RevisionComment.WaiverComments }}</td>
              <td>{{ RevisionComment.ObjectWFStatusTypeDesc }}</td>
              <td>{{ RevisionComment.CommentorName }}</td>
              <td>{{ RevisionComment.CommentDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn">
        <button class="close-button" (click)="closePreviousCommentsModal()">Cancel</button>
      </div>
    </div>
  </div>