<app-loader *ngIf="isLoading"></app-loader>
<!-- view & Edit popup  -->
<div class="overlay">
  <div class="popupcontainer Rptpopupcontainer" style="display:block" (click)="$event.stopPropagation()">
    <!-- Title -->
    <div class="popup-title-btn-row">
      <div class="popup-header">
        <h3>
          Submission Details
        </h3>
      </div>
      <!-- Save and Cancel Buttons -->
      <button class="close-button  close-icon" (click)="onClose()">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
    <div class="reporting-schedule-form">
      <div class="inputs-row">
        <div class="input-field">
          <label for="FirmName">Firm Name</label>
          <input type="text" id="FirmName" name="FirmName" [(ngModel)]="AdminFeeDetials[0].FirmName"
            [disabled]="!isEditable" />
        </div>
        <div class="input-field">
          <label for="QFCNumber">QFC Number </label>

          <input type="text" id="QFCNumber" name="QFCNumber" [(ngModel)]="AdminFeeDetials[0].QFCNum"
            [disabled]="!isEditable" />


        </div>
        <div class="input-field">
          <label for="ReportName">Report Name</label>
          <input type="text" id="ReportName" name="ReportName" [(ngModel)]="AdminFeeDetials[0].RptName"
            [disabled]="!isEditable" />
        </div>
        <div class="input-field">
          <label for="ReportDueDate">Report Due Date</label>
          <input type="text" id="ReportDueDate" name="ReportDueDate" [(ngModel)]="AdminFeeDetials[0].FirmRptDueDate"
            [disabled]="!isEditable" />
        </div>
        <div class="input-field">
          <label for="ReportingPeriodStartDate">Reporting Period Start Date</label>
          <input type="text" id="ReportingPeriodStartDate" name="ReportingPeriodStartDate"
            [(ngModel)]="AdminFeeDetials[0].RptPeriodFromDate" [disabled]="!isEditable" />
        </div>
        <div class="input-field">
          <label for="ReportingPeriodEndDate">Reporting Period End Date</label>
          <input type="text" id="ReportingPeriodEndDate" name="ReportingPeriodEndDate"
            [(ngModel)]="AdminFeeDetials[0].RptPeriodToDate" [disabled]="!isEditable" />
        </div>
        <div class="input-field">
          <label for="MateriallyCompleteReportReceivedDate">Materially Complete Report Received Date</label>
          <input type="text" id="MateriallyCompleteReportReceivedDate" name="MateriallyCompleteReportReceivedDate"
            [(ngModel)]="AdminFeeDetials[0].FirstMateriallyCompleteRptReceivedDate" [disabled]="!isEditable" />
        </div>


        <!-- <div class="input-field">
          <label for="LinkToReturnReview"> Link To Return Review </label>
          <input *ngIf="isEditable" name="LinkToReturnReview" id="LinkToReturnReview" type="text"
            [(ngModel)]="AdminFeeDetials.LinkToReview" />
          <a id="websiteLink" [href]="AdminFeeDetials[0].LinkToReview" target="_blank" rel="noopener noreferrer">
            {{ AdminFeeDetials[0].LinkToReview }}
          </a>
        </div> -->
        <div class="input-field">
          <label for="LinkToReturnReview">Link To Return Review</label>
          <input *ngIf="isEditable" name="LinkToReturnReview" id="LinkToReturnReview" type="text"
                 [(ngModel)]="AdminFeeDetials.LinkToReview" />
          <a id="websiteLink" [href]="constructLink()" target="_blank" rel="noopener noreferrer">
            {{ constructLink() }}
          </a>
        </div>
      </div>
      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Submission History</h3>
        </div>
        <table class="fund-status-table">
          <thead>
            <tr>
              <th>Submission / Re-submission Due Date</th>
              <th>Submission / Re-submission Received Date</th>
              <th>Materially Complete</th>
              <th>Re-submission Requested Date</th>
              <th>Re-submission Requested By</th>
              <th>Comments</th>
              <th>Days Overdue</th>
              <th>Link to Submission</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ResubmissionHistory of ResubmissionHistoryList">
              <td>{{ ResubmissionHistory.resubmissionDueDate }}</td>
              <td>{{ ResubmissionHistory.reportRecivedDate }}</td>
              <td>{{ ResubmissionHistory.materiallyCompleteDesc }}</td>
              <td>{{ ResubmissionHistory.resubmissionRequestedDate }}</td>
              <td>{{ ResubmissionHistory.resubmissionRequestBy }}</td>
              <td>{{ ResubmissionHistory.wPublishedComments }}</td>
              <td>{{ ResubmissionHistory.noLateDaysForDisplay }}</td>
              <td><a id="websiteLink" [href]="ResubmissionHistory.linkToSubmission" target="_blank"
                  rel="noopener noreferrer">
                  <i style="color: rgb(156, 48, 48); font-size: 27px;" class="bi bi-paperclip"></i>
                </a></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Total Days Overdue</td>
              <td>{{ResubmissionHistoryList.noLateDaysForDisplay}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Administrative Fee</h3>
        </div>
        <ng-container>
          <div class="inputs-row report-entry">
            <div class="input-field">
              <label for="required">
                Impose an administrative fee on the firm for late or materially incomplete submission?
              </label>
              <ng-container>
                <div style="display: flex; align-items: center">
                  <input type="radio" [(ngModel)]="AdminFeeDetials[0].feeImposed" id="isRequiredYes"
                    [disabled]="!isEditable" name="IsRequired" [value]="true"
                    style="margin-right: 10px; cursor: pointer" />
                  <label for="isRequiredYes" style="margin-left: 5px; color: #413b3c">Yes</label>

                  <input type="radio" [(ngModel)]="AdminFeeDetials[0].feeImposed" id="isRequiredNo"
                    [disabled]="!isEditable" name="IsRequired" [value]="false" style="
                        margin-left: 20px;
                        margin-right: 10px;
                        cursor: pointer;
                      " />
                  <label for="isRequiredNo" style="margin-left: 5px; color: #413b3c">No</label>
                </div>
              </ng-container>
            </div>

            <div class="input-field">
              <label for="Rulesunderwhichfeeisbeingimposed">Rulesunderwhichfeeisbeingimposed</label>
              <input type="text" [disabled]="!isEditable" id="Rulesunderwhichfeeisbeingimposed"
                name="Rulesunderwhichfeeisbeingimposed" [(ngModel)]="AdminFeeDetials[0].ruleDesc" />
            </div>

            <div class="input-field">
              <label for="CalculatedFee">Calculated Fee</label>
              <input type="text" [disabled]="!isEditable" name="CalculatedFee"
                [value]="AdminFeeDetials[0].CalculatedAmountCurrencyTypeDesc +' ' + AdminFeeDetials[0].CalculatedAmount" />
            </div>

            <div class="input-field">
            </div>
            <div class="input-field notes">
              <label for="notes">Recommendation :</label>
              <div>
                <ckeditor *ngIf="isEditable; else notes" [(ngModel)]="AdminFeeDetials[0].Recommendation"
                  [editor]="Editor" style="height: 200px;" [config]="config"></ckeditor>
              </div>
              <ng-template #notes>
                <p [innerHTML]="sanitizeHtml(AdminFeeDetials[0].Recommendation)">
                </p>
              </ng-template>
            </div>
            <div class="input-field">
              <label for="CalculatedFee">Fee to be imposed</label>
              <input type="text" [disabled]="!isEditable" name="CalculatedFee"
                [value]="AdminFeeDetials[0].ImposedAmountCurrencyTypeDesc +' ' + AdminFeeDetials[0].ImposedAmount" />
            </div>
            <div class="input-field notes">
              <label for="Justification">Justification for fee to be imposed (if different from calculated fee)
                :</label>
              <p [innerHTML]="sanitizeHtml(AdminFeeDetials[0].Justification)">
              </p>
            </div>
          </div>
        </ng-container>
      </div>


      <div class="rpt-list margin-top-10">
        <div class="popup-header">
          <h3>Review</h3>
        </div>
        <div *ngFor="let WfTask of UserObjectWfTasks ; let i = index">
          <div *ngIf="i != 0" class="popup-header">
            <h3></h3>
          </div>
          <table class="fund-status-table">
            <thead>
              <tr>
                <th>Task</th>
                <th>Role Assigned To</th>
                <th>User Assigned To</th>
                <th>Email(CC)</th>
                <th>Assigned Date</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ WfTask.ObjectOpTypeName }}</td>
                <td>{{ WfTask.AppRoleDesc }}</td>
                <td>{{ WfTask.AssignedToUserName }}</td>
                <td>{{ WfTask.CompletionEmailCC }}</td>
                <td>{{ WfTask.WFTaskAssignedDate }}</td>
                <td>{{ WfTask.DueDate }}</td>
              </tr>
            </tbody>
          </table>
          <div class="inputs-row report-entry">
            <div class="input-field">
              <label for="TaskInitiatedBy">Task Initiated By</label>
              <input type="text" id="TaskInitiatedBy" [(ngModel)]="WfTask.CreatedByUserName" name="TaskInitiatedBy" [disabled]="!isEditable">
            </div>

            <div class="input-field">
              <label for="TaskInitiatedDate">Task Initiated Date</label>
              <input type="text" id="TaskInitiatedDate" name="TaskInitiatedDate" [(ngModel)]="WfTask.TaskInitiatedDate" [disabled]="!isEditable" />
            </div>
            <div class="input-field notes">
              <label for="notes">Comments</label>
              <div>
                <ckeditor *ngIf="isEditable; else notes" [(ngModel)]="WfTask.ObjectWFComments"
                  [editor]="Editor" style="height: 200px;" [config]="config"></ckeditor>
              </div>
              <ng-template #notes>
                <p [innerHTML]="sanitizeHtml(WfTask.ObjectWFComments)">
                </p>
              </ng-template>
            </div>

            <div class="input-field">
              <label for="Status">Status</label>
              <input type="text" id="Status" name="Status" [disabled]="!isEditable" 
              [(ngModel)]="WfTask.ObjectWFStatusTypeDesc"/>
            </div>
            <div class="input-field">
              <label for="StatusSetBy">Status Set By</label>
              <input type="text" id="StatusSetBy" name="StatusSetBy" [disabled]="!isEditable" 
              [(ngModel)]="WfTask.StatusSetBy" />
            </div>
            <div class="input-field">
              <label for="StatusSetDate">Status Set Date</label>
              <input type="text" #dateInputs placeholder id="StatusSetDate" name="StatusSetDate"
                [disabled]="!isEditable" [(ngModel)]="WfTask.CommentsDateTime"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>