<div class="brid-crump">
    <div class="btn-group">
        <div class="btns">
            <button (click)="editController()">
                <i class="bi bi-pen"></i>
                Edit
            </button>
        </div>
        <div class="btns">
            <button>
                <i class="bi bi-trash"></i>
                Delete
            </button>
        </div>
    </div>
</div>

<section class="view-controller-section">
<div class="inputs-field-set">
    <div class="view-controller-actions">
        <h2 class="view-controller-header">
            Corporate Controller Details for "firm name"
        </h2>
    </div>
    <div class="view-controller-inputs">
        <div class="input-field">
            <label for="entityName">
                Full Name of Entity
            </label>
            <input disabled name="entityName" id="entityName" type="text" value="">
        </div>
        <div class="input-field">
            <label for="legalStatus">
                Legal Status
            </label>
            <input disabled name="legalStatus" id="legalStatus" type="text" value="">
        </div>
        <div class="input-field">
            <label for="registeredNumber">
                Registered Number
            </label>
            <input disabled name="registeredNumber" id="registeredNumber" type="text" value="">
        </div>
        <div class="input-field">
            <label for="placeofEstablishment">
                Place of Establishment
            </label>
            <input disabled name="placeofEstablishment" id="placeofEstablishment" type="text" value="">
        </div>
        <div class="input-field">
            <label for="typeofControl">
                Type of Control
            </label>
            <input disabled name="typeofControl" id="typeofControl" type="text" value="">
        </div>
        <div class="input-field">
            <label for="holdingsPercentage">
                % of Holding
            </label>
            <input disabled name="holdingsPercentage" id="holdingsPercentage" type="text" value="">
        </div>
        <div class="input-field">
            <label for="effectiveDate">
                Effective Date
            </label>
            <input disabled name="effectiveDate" id="effectiveDate" type="text" value="">
        </div>
        <div class="input-field">
            <label for="cessationDate">
                Cessation Date
            </label>
            <input disabled name="cessationDate" id="cessationDate" type="text" value="">
        </div>
        <div class="input-field">
            <label for="isRegulated">
                Is the company regulated
            </label>
            <input disabled name="isRegulated" id="isRegulated" type="text" value="">
        </div>
        <div class="input-field">
            <label for="additionalDetails">
                Additional Details
            </label>
            <input disabled name="additionalDetails" id="additionalDetails" type="text" value="">
        </div>
    </div>

</div>

<div class="inputs-field-set">
    <div class="view-controller-actions">
        <h2 class="view-controller-header">
            Addresses
        </h2>
    </div>
    <div class="view-controller-inputs">
        <div class="input-field">
            <label for="addressType">
                Address Type
            </label>
            <input disabled name="addressType" id="addressType" type="text" value="">
        </div>
        <div class="input-field">
            <label for="address1">
                Address - Line 1
            </label>
            <input disabled name="address1" id="address1" type="text" value="">
        </div>
        <div class="input-field">
            <label for="address2">
                Address - Line 2
            </label>
            <input disabled name="address2" id="address2" type="text" value="">
        </div>
        <div class="input-field">
            <label for="address3">
                Address - Line 3
            </label>
            <input disabled name="address3" id="address3" type="text" value="">
        </div>
        <div class="input-field">
            <label for="address4">
                Address - Line 4
            </label>
            <input disabled name="address4" id="address4" type="text" value="">
        </div>
        <div class="input-field">
            <label for="city">
                City
            </label>
            <input disabled name="city" id="city" type="text" value="">
        </div>
        <div class="input-field">
            <label for="state">
                State/Province
            </label>
            <input disabled name="state" id="state" type="text" value="">
        </div>
        <div class="input-field">
            <label for="country">
                Country
            </label>
            <input disabled name="country" id="country" type="text" value="">
        </div>
        <div class="input-field">
            <label for="zipCode">
                Zip/Postal Code
            </label>
            <input disabled name="zipCode" id="zipCode" type="text" value="">
        </div>
    </div>
</div>

<div class="inputs-field-set">
    <div class="view-controller-actions">
        <h2 class="view-controller-header">
            Home State Regulators
        </h2>
    </div>
    <div class="view-controller-inputs">
        <div class="input-field">
            <label for="regulator">
                Regulator
            </label>
            <input disabled name="regulator" id="regulator" type="text" value="">
        </div>
        <div class="input-field">
            <label for="regulatorContact">
                Regulator Contact
            </label>
            <input disabled name="regulatorContact" id="regulatorContact" type="text" value="">
        </div>
    </div>
</div>
</section>