<!-- <section class="edit-firm-section">
  <div class="inputs-field-set">
    <div class="edit-firm-actions">
      <h2 class="edit-firm-header">Firms Data</h2>
    </div>
    <div class="edit-firms-inputs">
      <div class="input-field">
        <label for="firmName">Firm Name</label>
        <select name="firmName" id="firmName">
          <option>All</option>
        </select>
      </div>
  
      <div class="input-field">
        <label for="functionRole">Function Role</label>
        <select name="functionRole" id="functionRole">
          <option>All</option>
        </select>
      </div>
  
      <div class="input-field">
        <label for="userName">User Name</label>
        <select name="userName" id="userName">
          <option>All</option>
        </select>
      </div>
  
      <div class="input-field">
        <div class="input-checkboxes-title">Display History: </div>
        <div class="checkbox-grid">
          <label><input type="checkbox" value="displayHistory"></label>
        </div>
      </div>
    </div>
  
    <div class="search-button-section">
      <div class="edit-btn">
        <button class="save-btn" (click)="showPersonnelSection()">Search</button>
      </div>
    </div>
  </div>
  
  
  <div class="inputs-field-set" *ngIf="isPersonnelSectionVisible"> 
    <div class="section">
      <h2>RA Personnel Assigned</h2>
      <table>
        <thead>
          <tr>
            <th>
              <div class="edit-btn">
                <button class="save-btn">Select</button>
              </div>
            </th>
            <th>First Name</th>
            <th>Function/Role</th>
            <th>Name</th>
            <th>Date From</th>
            <th>Date To</th>
            <th>Reason for Change</th>
            <th class="edit-end">
              <div class="edit-btn me">
                <button class="save-btn">Edit Selected</button>
              </div>
              <div class="edit-btn">
                <button class="save-btn">End Selected</button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Al Rayan Investment LLC</td>
            <td>Secondary Supervisor - Supervision</td>
            <td>Ahmad Abdulla A A Albinali</td>
            <td>05/Sep/2022</td>
            <td></td>
            <td>First time assignment</td>
            <td class="edit-end">
              <div class="edit-end-selected">
                <button class="small-btn" (click)="toggleInputsFieldSet()">Edit</button>
              </div>
              <div class="edit-end-selected">
                <button class="small-btn" (click)="showModal()">End</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="inputs-field-set" *ngIf="isInputsFieldSetVisible">
    <div class="edit-firm-actions">
      <h2 class="edit-firm-header">Edit Individually</h2>
    </div>
    <div class="edit-individually">
      <div class="edit-individually1">
        <p>
          Replace <span>Ahmad Abdulla A A Albinali </span> (as <span>Secondary Supervisor - Supervision</span>) with   
          <select class="replace" name="firmName" id="firmName">
            <option>Select</option>
          </select>
          for <span>Al Rayan Investment LLC</span> from 
          <input class="date-from" name="noticeIssuedDate" id="noticeIssuedDate" type="date"> onwards.
        </p>
      </div>
      <div class="edit-individually2">
        <p>
          Reason for change: 
          <select class="reason-for-change" name="firmName" id="firmName">
            <option>Select</option>
          </select>
        </p>
      </div>
    </div>
  
    <div class="update-cancel-button-section">
      <div class="edit-btn me-1">
        <button class="Update-btn">Update</button>
      </div>
      <div class="edit-btn">
        <button class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>

</section>

<div class="modal" [class.show]="isModalVisible">
  <div class="modal-content" id="draggableModal">
      <p class="modal-header" id="modalHeader">End Assignment</p>
      <div class="individualList-modal-wrapper1">
          <div class="table">
            <div class="inputs-field-set">
              <div class="edit-firm-actions">
                <h2 class="edit-firm-header">Firms Data</h2>
              </div>
              <div class="edit-firms-inputs">
                <div class="input-field">
                  <label for="firmName">Firm Name</label>
                  <input name="firmName" id="firmName" type="text">
                </div>  
            
                <div class="input-field">
                  <label for="functionRole">Function Role :</label>
                  <input name="functionRole" id="functionRole" type="text">
                </div>  
            
                <div class="input-field">
                  <label for="supervisorName">Supervisor Name : </label>
                  <input name="supervisorName" id="supervisorName" type="text">
                </div>  
            
                <div class="input-field">
                  <label for="dateFrom">Date From : </label>
                  <input name="dateFrom" id="dateFrom" type="date">
                </div>  

                <div class="input-field">
                  <label for="dateTo">Date To : </label>
                  <input name="dateTo" id="dateTo" type="date">
                </div>  


              </div>
              <div class="save-close-modal-btn">
                <div class="close-modal">
                  <button>Save</button>
                  </div>
                  <div class="close-modal">
                    <button (click)="hideModal()">Close</button>
                    </div>
              </div>
              
             
            </div>
          </div>
      </div>
     
  </div>
</div> -->
<app-loader *ngIf="isLoading"></app-loader>
<section class="edit-firm-section">
  <div class="inputs-field-set">
    <div class="edit-firm-actions">
      <h2 class="edit-firm-header">
        Firms Data
      </h2>
    </div>
    <div class="edit-firms-inputs">
      <div class="input-field">
        <label for="firmName">
          Firm Name
        </label>
        <select name="firmName" id="firmName" [(ngModel)]="firmID">
          <option [value]="0">All</option>
          <option [value]="firm.FirmID" *ngFor="let firm of allfirms">
            {{firm.FirmName}}
          </option>
        </select>
      </div>

      <div class="input-field">
        <label for="role">
          Function/Role
        </label>
        <select name="role" id="role" [(ngModel)]="roleID">
          <option [value]="0">All</option>
          <option [value]="role.FirmUserAssnTypeID" *ngFor="let role of allFunctionRoles">
            {{role.FirmUserAssnTypeDesc}}
          </option>
        </select>
      </div>

      <div class="input-field">
        <label for="user">
          User Name
        </label>
        <select name="user" id="user" [(ngModel)]="UserID">
          <option [value]="0">All</option>
          <option [value]="cosuper.UserID" *ngFor="let cosuper of allCoSupervisors">
            {{cosuper.UserName}}
          </option>
        </select>
      </div>

      <div class="input-field">
        <label for="history">
          Display History
        </label>
        <input type="checkbox" [(ngModel)]="history">
      </div>
    </div>

    <div class="search-btn-container">
      <button (click)="searchFirmUsers()" class="search-btn">Search</button>
    </div>

  </div>

  <div *ngIf="showRAPersonalAssigned" class="inputs-field-set">
    <div class="section">

      <div class="title-container">
        <h2 class="ra-personal-title">
          RA Personal Assigned
        </h2>
        <button (click)="addUserAssign()" *ngIf="firmIdFlag !== '0' && isSearchClicked" class="add-btn">Add</button>
      </div>

      <div class="scrollable-table-container">
        <table *ngIf="firmUserSearchResults?.length > 0; else nosupervisors">
          <thead>
            <tr>
              <th>Firm Name</th>
              <th>Function / Role</th>
              <th>Name</th>
              <th style="width: 10%;">Date From</th>
              <th style="width: 10%;">Date To</th>
              <th>Reason for Change</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of firmUserSearchResults">
              <td>{{data.FirmName}}</td>
              <td>{{data.FirmUserAssnTypeDesc}}</td>
              <td>{{data.Name}}</td>
              <td>{{data.FirmUserAssnDateFrom}}</td>
              <td>{{data.FirmUserAssnDateTo}}</td>
              <td>{{data.FirmUserAssnReasonTypeDesc}}</td>
              <td class="buttons">
                <button (click)="onEditRecord(data)" class="edit-btn">Edit</button>
                <button (click)="getEndAssignment(data)" class="end-btn">End</button>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #nosupervisors>
          <div class="error-messages">
            <p *ngIf="errorMessages['NoSupervisors']">
              {{errorMessages['NoSupervisors']}}
            </p>
            <p *ngIf="errorMessages['NoActiveAssignments']">
              {{errorMessages['NoActiveAssignments']}}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="inputs-field-set" *ngIf="isEditSectionVisible">
    <div class="edit-firm-actions">
      <h2 class="edit-firm-header">Edit Individually</h2>
    </div>
    <div class="error-messages">
      <p *ngIf="errorMessages['replaceUser']">
        {{errorMessages['replaceUser']}}
      </p>
      <p *ngIf="errorMessages['DateFrom']">
        {{errorMessages['DateFrom']}}
      </p>
    </div>
    <div class="edit-individually">
      <div class="edit-individually1">
        <p>
          Replace <span class="burgundy-color">{{ selectedRecord.Name }}</span>
          (as <span class="burgundy-color">{{ selectedRecord.FirmUserAssnTypeDesc }}</span>) with <span
            style="color: red;">* </span>
          <select class="replace" name="firmName" id="firmName" [(ngModel)]="replaceUserID"
            [ngClass]="{'error-border': errorMessages['replaceUser']}">
            <option [value]="0">Select</option>
            <option *ngFor="let user of filteredAssignedLevelUsers" [value]="user.UserID">
              {{ user.UserName }}
            </option>
          </select>
          for <span class="burgundy-color">{{ selectedRecord.FirmName }}</span> from <span style="color: red;">* </span>
          <input class="date-from" name="noticeIssuedDate" id="noticeIssuedDate" type="date"
            [(ngModel)]="selectedRecord.FirmUserAssnDateFrom" #dateInputs
            [ngClass]="{'error-border': errorMessages['DateFrom']}" />
          onwards.
        </p>
      </div>
      <div class="edit-individually2">
        <p>
          Reason for change:
          <select class="reason-for-change" name="reason" id="reason" [(ngModel)]="reasonID">
            <option [value]="0">Select</option>
            <option *ngFor="let reason of allReasons" [value]="reason.FirmUserAssnReasonTypeID">
              {{ reason.FirmUserAssnReasonTypeDesc }}
            </option>
          </select>
        </p>
      </div>
    </div>
    <div class="btns-container">
      <button class="update-btn" (click)="updateRecord()">Update</button>
      <button class="cancel-btn" (click)="isEditSectionVisible = false">Cancel</button>
    </div>
  </div>

  <div *ngIf="addNewSectionVisibility" class="inputs-field-set">
    <div class="section">

      <div class="title-container">
        <h2 class="add-new-title">
          Add New
        </h2>
      </div>

      <div class="error-messages">
        <p *ngIf="errorMessages['newDateFrom']">
          {{errorMessages['newDateFrom']}}
        </p>
        <p *ngIf="errorMessages['newUserID']">
          {{errorMessages['newUserID']}}
        </p>
        <p *ngIf="errorMessages['newRoleID']">
          {{errorMessages['newRoleID']}}
        </p>
        <p *ngIf="errorMessages['roleExist']">
          {{errorMessages['roleExist']}}
        </p>
      </div>

      <div class="edit-firms-inputs add-new-section">

        <div class="input-field">
          <label for="role">
            Function/Role <span style="color: red;">*</span>
          </label>
          <select name="role" id="role" [(ngModel)]="newRoleID" (change)="filterUsersByFunctionRole()"
          [ngClass]="{'error-border': errorMessages['newRoleID']}">
            <option [value]="0">Select</option>
            <option [value]="role.FirmUserAssnTypeID" *ngFor="let role of allFunctionRoles">
              {{role.FirmUserAssnTypeDesc}}
            </option>
          </select>
        </div>

        <div class="input-field">
          <label for="user">
            Name <span style="color: red;">*</span>
          </label>
          <select name="user" id="user" [(ngModel)]="newUserID"
          [ngClass]="{'error-border': errorMessages['newUserID']}">
            <option [value]="0">Select</option>
            <option [value]="assignedlvlUser.UserID" *ngFor="let assignedlvlUser of filteredRoleNames">
              {{assignedlvlUser.UserName}}
            </option>
          </select>
        </div>

        <div class="input-field">
          <label for="dateFrom">
            Date From <span style="color: red;">*</span>
          </label>
          <input type="text" [(ngModel)]="newDateFrom" #dateInputs
          [ngClass]="{'error-border': errorMessages['newDateFrom']}">
        </div>

        <div class="input-field">
          <label for="reason">
            Reason
          </label>
          <select class="reason-for-change" name="reason" id="reason" [(ngModel)]="newReasonID">
            <option [value]="0">Select</option>
            <option *ngFor="let reason of allReasons" [value]="reason.FirmUserAssnReasonTypeID">
              {{ reason.FirmUserAssnReasonTypeDesc }}
            </option>
          </select>
        </div>
      </div>

      <div class="btns-container">
        <button (click)="insertNewUser()" class="add-btn">Add</button>
        <button (click)="cancelNewRecord()" class="cancel-btn">Cancel</button>
      </div>

    </div>
  </div>

  <div *ngIf="history && firmUserSearchResultsHistory.length > 0" class="inputs-field-set">
    <div class="section">

      <div class="title-container">
        <h2 class="personal-title">
          Personnel Assignment History
        </h2>
      </div>

      <div class="scrollable-table-container">
        <table>
          <thead>
            <tr>
              <th>Firm Name</th>
              <th>Function / Role</th>
              <th>Name</th>
              <th style="width: 10%;">Date From</th>
              <th style="width: 10%;">Date To</th>
              <th>Reason for Change</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of firmUserSearchResultsHistory">
              <td>{{data.FirmName}}</td>
              <td>{{data.FirmUserAssnTypeDesc}}</td>
              <td>{{data.Name}}</td>
              <td>{{data.FirmUserAssnDateFrom}}</td>
              <td>{{data.FirmUserAssnDateTo}}</td>
              <td>{{data.FirmUserAssnReasonTypeDesc}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>

<!--End Assignment Popup-->
<div *ngIf="callEndAssignment" class="overlay show"></div>
<div *ngIf="callEndAssignment" class="endAssignmentPopup popupcontainer">
  <i class="bi bi-x-circle close-icon close-icon-prev-revisions" (click)="closeEndAssignmentPopup()"></i>

  <div class="popup-header">
    <h3>End Assignment</h3>
  </div>

  <div class="error-msgs">
    <p *ngIf="errorMessages['dateTo']">
      {{errorMessages['dateTo']}}
    </p>
    <p *ngIf="errorMessages['dateFromGreaterThanDateTo']">
      {{errorMessages['dateFromGreaterThanDateTo']}}
    </p>
  </div>

  <div class="popup-info-place">
    <table>
      <tr>
        <td>Firm Name: </td>
        <td>{{selectedRecord.FirmName}}</td>
      </tr>

      <tr>
        <td>Function/Role: </td>
        <td>{{selectedRecord.FirmUserAssnTypeDesc}}</td>
      </tr>

      <tr>
        <td>Supervisor Name: </td>
        <td>{{selectedRecord.Name}}</td>
      </tr>

      <tr>
        <td>Date From: </td>
        <td>{{selectedRecord.FirmUserAssnDateFrom}}</td>
      </tr>

      <tr>
        <td>Date To: </td>
        <td><input [ngClass]="{'error-border': errorMessages['dateTo']}" class="date-to" type="text"
            [(ngModel)]="selectedRecord.FirmUserAssnDateTo" #dateInputs></td>
      </tr>
    </table>

    <div class="btns-container">
      <button (click)="saveRecord()" class="update-btn">Save</button>
      <button class="cancel-btn" (click)="callEndAssignment = false">Cancel</button>
    </div>
  </div>
</div>