.edit-firm-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
}
.brid-crump{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}
.text span{
    color: rgb(153, 152, 152);
}
.inputs-field-set{
    width: 100%;
    background: #F1EBEC;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.edit-firm-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}
.edit-btn{
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.edit-end-selected{
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.edit-btn button{
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
}
.small-btn{
    background: #A51E36;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
}
.edit-btn button i{
    margin: 0 2px;
}

.edit-firm-header{
    color: #121212;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    word-wrap: break-word;
}
.edit-firm-header span{
    color: #A51E36;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word 
}
.edit-firms-inputs{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
    width: 46%;
    padding: 0.5rem 0;
}
.input-field select{
    width: 100%;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
    background: white;
}
.input-field input{
    width: 96%;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
}
.input-field textarea{
    width: 96%;
    height: 150px;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
    resize: vertical;
}
.radio-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.input-checkboxes {
    margin-bottom: 20px;
}

.input-checkboxes-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px 20px;
    align-items: center;
}

.checkbox-grid input {
    margin-right: 5px;
}

.input-checkboxes-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-checkboxes-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #86192D;
    color: white;
    cursor: pointer;
}

.input-checkboxes-buttons button:hover {
    background-color: darkorange;
}
.search-button-section{
    text-align: center;
    padding: 5px;
}



.page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem;
    gap: 1%;
}
.menu{
    width: 20%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem; 
    position: relative;
    width: 100%;
    cursor: pointer;
}
.menu-item i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem; 
    cursor: pointer;
    padding-left: 1rem;
}
.menu-item h3{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word;
    width: 98%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.menu-item a{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}
.sub-menu a:hover{
    color: #bababa;
}

.menu-item {
    h3 {
      &.active {
         background: #A51E36;
         color: white;
      }
    }
}
.container {
    width: 79%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.secData{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.secData p{
    margin: 0 1rem;
}
.section h2 {
    color: #A51E36;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word 
}

.section p {
    margin: 0 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

th, td {
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #F2F2F2;
}
.brid-crump{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

.btns button{
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
}
.btns button i{
    margin: 0 2px;
}
.btn-group {
    display: flex;
    gap: 0 1%;
}
/*Added*/


.text span{
    color: rgb(153, 152, 152);
}
.inputs-field-set{
    width: 100%;
    background: #F1EBEC;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.edit-firm-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}
.edit-btn button i{
    margin: 0 2px;
}

.edit-firm-header{
    color: #A51E36;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word 
}
.edit-firm-header span{
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word 
}
.edit-firms-inputs{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
    width: 49%;
    padding: 0.5rem 0;
}
.input-field select{
    width: 100%;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
    background: white;
}
.input-field input{
    width: 96%;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
}
.input-field textarea{
    width: 96%;
    height: 150px;
    padding: 0.5rem 2%;
    border-radius: 7.20px; 
    border: 0.72px #B1B1B1 solid;
    resize: vertical;
}
.radio-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.menu-icons{
    color: #A51E36 !important;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-icons-ce{
    color: white !important;
}
.menu-item-btn-ce{
    background: white;
    border: 1px solid #A51E36;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.subTitle-firmDetails{
    width: 100%;
}

.inputs-field-set .section table tr th,.inputs-field-set .section table tr td{
    text-align: center;
}

.auditor-header, .contacts-header,.return-review-header,.ENFAction-header,.Journal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auditor-header label, .contacts-header label, .ENFAction-header label,.Journal-header label{
    color: red;
    font-weight: 600;
}



.return-review-header span {
    display: flex;
    gap: 10px;
}

.SPReview-dropdown {
    width: 150px;
}



.edit-end{
    display: flex;
    gap: 1%;
    justify-content: center;
}

.edit-individually{
    text-align: center;

}
.edit-individually2{
    margin-top: 1%;
    font-size: 14px;
}
.edit-individually1{
    font-size: 14px;
}
.replace{
    width: 17%;
}
.reason-for-change{
    width: 13%;
}
.update-cancel-button-section{
    text-align: center;
    padding: 5px;
    margin-top: 1%;
}
.me-1{
    margin-right: 1%;
}

p span{
    color: #A51E36;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
 
  .modal.show {
    display: block;
  }
 
  .modal-header {
    padding: 10px;
    cursor: move;
    background: #A51E36;
    color: white;
    border-bottom: 1px solid #888;
  }
 
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
  }
 
  .modaltableTitle {
    width: 100%;
  }
 
  .modaltableTitle h3 {
    color: #222529;
    font-size: 0.875em;
    font-weight: 500;
    margin: 5px;
  }
 
  .individualList-modal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .individualList-modal-wrapper1 {
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
 
  .individualList-modal-wrapper table td {
    cursor: default;
  }
  .save-close-modal-btn{
    display: flex;
    justify-content: center;
    gap: 1%;
  }
 
  .close-modal {
    text-align: center;
    margin-bottom: 20px;
  }
 
  .close-modal button {
    padding: 5px 10px;
  }