.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
    width: 49%;
    padding: 0.5rem 0;

    input {
        width: 96%;
        padding: 0.5rem 2%;
        border-radius: 7.20px;
        border: 0.72px #B1B1B1 solid;
    }

    textarea {
        width: 96%;
        height: 100px;
        padding: 0.5rem 2%;
        border-radius: 7.2px;
        border: 0.72px #b1b1b1 solid;
        resize: vertical;
        min-height: 20px;
        max-height: 100px;
    }
}

.inputs-field-set {
    width: 100%;
    background: #f1ebec;
    border-radius: 15px;
    min-height: 200px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs-row {
    padding:0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2rem;
}

.form-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 0rem;
    gap: 1%;
  }