.edit-firm-header>span {
    color: #a51e36;
    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
    width: 49%;
    padding: 0.5rem 0;

    &.fullwidth {
        width: 100%;
    }

    textarea {
        padding: 0.5rem!important;
    }

    input,
    select,
    textarea {
        width: 100%;
        padding: 0.5rem 2%;
        border-radius: 7.20px;
        border: 0.72px #B1B1B1 solid;
        box-sizing: border-box;

        &:disabled {
            background-color: #47424224;
        }
    }

    textarea,
    .resizable-textarea {
        width: 100%;
        height: 100px;
        padding: 0.5rem 2%;
        border-radius: 7.2px;
        border: 0.72px #b1b1b1 solid;
        resize: vertical;
        min-height: 20px;
    }
}

.resizable-textarea {
    background-color: #47424224;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    color: #767676;
    padding: 8px;
    min-height: 100px;
    resize: both;
    overflow: auto;
    white-space: pre-wrap;
    /* Preserve whitespace similar to textarea */
}

.inputs-field-set {
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    min-height: 200px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs-row {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2rem;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 0rem;
    gap: 1%;
}

button.swal2-confirm.swal2-styled {
    background-color: #a51e36;
}

.select-wrapper {
    width: 100%;
}

.swal2-show div:where(.swal2-icon).swal2-warning {
    border-color: #a51e36;
    color: #a51e36;
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    background-color: #a51e36 !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
    border: .25em solid rgb(165 30 54 / 30%) !important;
}

.display-flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}





.edit-firm-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.edit-btn {
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.edit-btn button {
    background: #A51E36;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 6rem;
    min-height: 40px;
    ;
}

.edit-btn button i {
    margin: 0 2px;
}

.cancel-btn {
    background: transparent !important;
    color: #A51E36 !important;
    border: 1px solid #A51E36 !important;
}

.edit-firm-header {

    font-size: 1.25em;
    font-weight: bold;
    line-height: 36px;
    word-wrap: break-word;
}

.edit-firm-header span {

    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}


/*.popup-content input:disabled,
.popup-content select:disabled {
    background-color: #fffafa;
}*/

.task-section-title {
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;

    .edit-firm-actions {
        padding-top: 0px;

        .edit-firm-header {
            color: #080808;
            font-size: 1em;
            font-weight: bold;
        }
    }
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox style */
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Style the custom checkmark */
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 4px;
}

/* Change the background when the checkbox is checked */
.custom-checkbox input:checked+.checkmark {
    background-color: #8e172e;
}

/* Create the checkmark/indicator */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked+.checkmark:after {
    display: block;
}

/* Style the checkmark (the tick) */
.custom-checkbox .checkmark:after {
    left: 4px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.text-center {
    text-align: center;
}


/* custom textarea to render html code */
/*
.editable-textarea {
    border: 1px solid #ccc;        
    padding: 10px;              
    min-height: 50px;             
    max-height: 400px;          
    overflow-y: hidden;               
    white-space: pre-wrap;          
    outline: none;                 
    width: 100%;                    
    border-radius: 7.2px;         
    border: 0.72px #b1b1b1 solid;  
    resize: vertical;                          
    font-size: 0.875rem;         
}

/* When the div is not editable 
.editable-textarea[contenteditable="false"] {
    background-color: #47424224;
    color: #616161;    
    cursor: default;                
}

/* Focus state 
.editable-textarea:focus {
    border-color: black;         
}

/* Hide scrollbar in WebKit browsers 
.editable-textarea::-webkit-scrollbar {
    display: none;                  
} */

input[type="radio"] {
    accent-color: #a51e36;
    cursor: pointer;
}

.justify-content-end {
    justify-content: flex-end;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:checked {
    accent-color: #a51e36;
}

.toggle-icon i {
    color: #a51e36;
    margin-inline-start: 10px;
}

.radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.input-field[hidden] {
    display: none !important;
}

app-attachment {
    width: 100%;
}

/* custom date picker */
::ng-deep .flatpickr-calendar .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    font-size: 13px !important;
    background-color: white !important;
}

.error-messages p {
    margin-bottom: 10px;
    color: red;
}

.error-border {
    border-color: red !important;
    outline: 0;
}