<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title">
                <h2 class="edit-firm-header">
                    <!-- Reporting Schedule > <span>{{ firmDetails?.FirmName }}</span> -->
                    Admin Fee > <span>{{ firmDetails?.FirmName }} </span>
                </h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th> Report Name</th>
                        <th>Report Due Date</th>
                        <th>Materially Complete Report Received Date</th>
                        <th>Fee Calculated</th>
                        <th>Fee Imposed</th>
                        <th>Review Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fee of paginatedItems" (click)="openAdminFeePopup(fee,firmDetails)">
                        <td>{{ fee?.RptName }}</td>
                        <td>{{ dateUtilService.formatDateToCustomFormat(fee?.FirmRptDueDate) }}</td>
                        <td>{{ fee?.FirstMateriallyCompleteRptReceivedDate }}</td>
                        <td>{{ fee?.CalculatedAmountCurrencyTypeDesc }} {{ fee?.CalculatedAmount }}</td>
                        <td>{{ fee?.ImposedAmountCurrencyTypeDesc }} {{ fee?.ImposedAmount }}</td>
                        <td>{{ fee?.ObjectWFStatusTypeDesc }}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="FirmAdminFees?.length > 0">
                    <tr>
                        <td  [attr.colspan]="12">
                            <app-pagination [items]="FirmAdminFees" [pageSize]="pageSize" (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>   
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<app-admin-fee-popup
*ngIf="showPopup"
  [fee]="selectedAdminFee"
  [firmDetails]="firmDetails"
  (closeRegPopup)="closePopup()"
  (fundDeleted)="loadRegFunds()">
</app-admin-fee-popup>