.clickable-cell {
  color: red;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.revisions-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.btn {
  justify-content: center;
}

.revision-item {
  cursor: pointer;
  color: rgb(184, 57, 57);
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;

  &:hover {
    color: darkred;
  }
}

.close-button {
  background-color: #a43030;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto 0 auto;
  /* Center horizontally */
  display: block;
  text-align: center;
  width: fit-content;
  /* Adjust width to fit content */
}

#reportFilter {
  padding: 5px;
  border-radius: 7.20px;
  border: 0.72px #B1B1B1 solid;
  box-sizing: border-box;
}

.admin-fee-list tbody td {
  cursor: pointer;
}