<div class="statistics-header-wrapper">
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-file-earmark-check"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                Authorised 
            </h3>
            <p class="ssd-count">
                30
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>active Authorized.
            </p>
        </div>
    </div>
    <!--Duplicate Start-->
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-shield-check"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                DNFBPs 
            </h3>
            <p class="ssd-count">
                30
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>active DNFBPs.
            </p>
        </div>
    </div>
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-cash"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                Fund
            </h3>
            <p class="ssd-count">
                5
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>active funds.
            </p>
        </div>
    </div>
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-people"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                Individuals 
            </h3>
            <p class="ssd-count">
                365 
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>App.. individuals
            </p>
        </div>
    </div>
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-hdd-stack"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                Breaches 
            </h3>
            <p class="ssd-count">
                20
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>Open branches
            </p>
        </div>
    </div>
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-exclamation-triangle"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                Risks 
            </h3>
            <p class="ssd-count">
                5
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>Open risks
            </p>
        </div>
    </div>
    <div class="statistics-square">
        <div class="statistics-square-icon">
            <i class="bi bi-file-earmark-text"></i>
        </div>
        <div class="statistics-square-details">
            <h3 class="ssd-title">
                Wivers  
            </h3>
            <p class="ssd-count">
                8
            </p>
            <p class="ssd-discreption">
                <span>NO.</span>Active Wivers 
            </p>
        </div>
    </div>
    <!--Duplicate End-->
</div>