<div class="create-controller-section">
    <div class="inputs-field-set">
        <div class="create-controller-actions">
            <h2 class="create-controller-header">
                Controller For "Firm Name"
            </h2>
            <div class="btns">
                <button class="save-btn">Save</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </div>
        <div class="create-controller-inputs">
            <div class="input-field controller-type-container">
                <label for="controllerType">
                    Contact Form <span style="color: red;">*</span>
                </label>
                <select name="controllerType" id="controllerType" 
                    (change)="changeControlType()">
                    <option value="select" selected>Select</option>
                    <option value="parentEntity">Parent Entity</option>
                    <option value="corporateController">Corporate Controller</option>
                    <option value="uboCorporate">UBO - Corporate</option>
                    <option value="uboIndividual">UBO - Individual</option>
                    <option value="headOfficeBranch">Head Office of a Branch</option>
                    <option value="individualController">Individual Controller</option>
                </select>
            </div>
            <ng-container >
                <div class="input-field">
                    <label for="entityName">
                        Contact Type <span style="color: red;">*</span>
                    </label>
                    <select name="contactType" id="contactType">
                      <option value="select" selected>Select</option>
                    </select>
                </div>
                <!---->
                <div class="input-field">                   
                    <label for="Politically">
                        Is Politically Exposed Person (PEP)? <span style="color: red;">*</span>
                    </label>
                    <div class="radio-wrapper">
                        <input name="isParent" id="yes" type="radio"> Yes
                        <input name="isParent" id="no" type="radio"> No
                    </div>
                </div>
                <!---->
                <div class="input-field">
                    <label for="jobTitle">
                        Position/Job Title : 
                    </label>
                    <input name="jobTitle" id="jobTitle" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="title">
                        Title : 
                    </label>
                    <input name="title" id="title" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="firstName">
                        First Name : <span style="color: red;">*</span>
                    </label>
                    <input name="firstName" id="firstName" type="text">
                </div>
                <div class="input-field">
                    <label for="secondName">
                        Second Name : 
                    </label>
                    <input name="secondName" id="secondName" type="text">
                </div>
                <div class="input-field">
                    <label for="familyName">
                        Family Name :
                    </label>
                    <input name="familyName" id="familyName" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="mobilePhone">
                        Mobile Phone :
                    </label>
                    <input name="mobilePhone" id="mobilePhone" type="number">
                </div>
                <!---->
                <div class="input-field">
                    <label for="businessEmail">
                        Business Email :
                    </label>
                    <input name="businessEmail" id="businessEmail" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="businessPhone">
                        Business Phone :
                    </label>
                    <input name="businessPhone" id="businessPhone" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="fax">
                        Fax :
                    </label>
                    <input name="fax" id="fax" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="otherEmail">
                        Other Email :
                    </label>
                    <input name="otherEmail" id="otherEmail" type="text">
                </div>
                <!---->
                <div class="input-field">
                    <label for="preferred">
                        Preferred Method of Contact :
                    </label>
                    <select name="preferred" id="preferred">
                        <option value="">Select</option>
                    </select>
                </div>
                <!---->
            </ng-container>
        </div>
    </div>
    <div class="inputs-field-set">
        <div class="create-controller-actions">
            <h2 class="create-controller-header">
                Addresses
            </h2>
        </div>
        <div class="create-controller-inputs">
            <div class="input-field">
                <label for="addressType">
                    Address Type
                </label>
                <select name="addressType" id="addressType">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="input-field">
                <label for="address1">
                    Address - Line 1
                </label>
                <input name="address1" id="address1" type="text" value="">
            </div>
            <div class="input-field">
                <label for="address2">
                    Address - Line 2
                </label>
                <input name="address2" id="address2" type="text" value="">
            </div>
            <div class="input-field">
                <label for="address3">
                    Address - Line 3
                </label>
                <input name="address3" id="address3" type="text" value="">
            </div>
            <div class="input-field">
                <label for="address4">
                    Address - Line 4
                </label>
                <input name="address4" id="address4" type="text" value="">
            </div>
            <div class="input-field">
                <label for="city">
                    City
                </label>
                <input name="city" id="city" type="text" value="">
            </div>
            <div class="input-field">
                <label for="state">
                    State/Province
                </label>
                <input name="state" id="state" type="text" value="">
            </div>
            <div class="input-field">
                <label for="country">
                    Country
                </label>
                <select name="country" id="country">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="input-field">
                <label for="zipCode">
                    Zip/Postal Code
                </label>
                <input name="zipCode" id="zipCode" type="text" value="">
            </div>
        </div>
    </div>

    <div class="inputs-field-set">
        <div class="create-controller-actions">
            <h2 class="create-controller-header">
                Additional Informations
            </h2>
        </div>
        <div class="create-controller-inputs">
            <div class="radio-wrapper">
                <input name="vIP" id="vIP" type="radio">VIP 
                <input name="annualReport" id="annualReport" type="radio"> Annual Report
                <input name="christmas" id="christmas" type="radio"> Christmas/New Year
                <input name="eidCards" id="eidCards" type="radio"> Eid Cards
                <input name="publications" id="publications" type="radio"> Publications	

            </div>
        </div>
    </div>
</div>