<div class="brid-crump">
    <div class="text">
        <span> Home > Firm Details ></span> Edit Firm
    </div>
    <div class="edit-btn">

    </div>
</div>
<section class="edit-firm-section">
    <div class="inputs-field-set">
        <div class="edit-firm-actions">
            <h2 class="edit-firm-header">
                FIRM Details > <span>Firm name</span>
            </h2>
            <div class="edit-btn">
                <button class="save-btn">Save</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </div>
        <div class="edit-firms-inputs">
           <div class="input-field">
                <label for="firmName">
                    Firm Name
                </label>
                <input name="firmName" id="firmName" type="text">
           </div>
           <div class="input-field">
                <label for="QFCNumber">
                    QFC Number
                </label>
                <input name="QFCNumber" id="QFCNumber" type="text">
            </div>
            <div class="input-field">
                <label for="code">
                    Code
                </label>
                <input name="code" id="code" type="text">
            </div>
            <div class="input-field">
                <label for="qfcTradingName">
                    QFC Trading Name
                </label>
                <input name="qfcTradingName" id="qfcTradingName" type="text">
            </div>
            <div class="input-field">
                <label for="placeOfIncorporation">
                    Place of Incorporation
                </label>
                <input name="placeOfIncorporation" id="placeOfIncorporation" type="text">
            </div>
            <div class="input-field">
                <label for="dateOfIncorporationDiff">
                    Is Date of Incorporation different from Date of Licensing Authorization?
                </label>
                <div class="radio-wrapper">
                    <input name="dateOfIncorporationDiff" id="dateOfIncorporationDiff" type="radio" value="yes"> Yes
                    <input name="dateOfIncorporationDiff" id="dateOfIncorporationDiff" type="radio" value="no"> No
                </div>
            </div>
            <div class="input-field">
                <label for="financialYearEnd">
                    Financial Year End
                </label>
                <input name="financialYearEnd" id="financialYearEnd" type="text">
            </div>
            <div class="input-field">
                <label for="accountingStandards">
                    Accounting Standards
                </label>
                <input name="accountingStandards" id="accountingStandards" type="text">
            </div>
            <div class="input-field">
                <label for="websiteLink">
                    Website Link
                </label>
                <input name="websiteLink" id="websiteLink" type="text">
            </div>
            <div class="input-field">
                <label for="legalStatus">
                    Legal Status
                </label>
                <select name="legalStatus" id="legalStatus">
                    <!-- options here -->
                </select>
            </div>
            <div class="input-field">
                <label for="preTradingName">
                    Pre. Trading Name (S)
                </label>
                <select name="preTradingName" id="preTradingName">
                    <!-- options here -->
                </select>
            </div>
            <div class="input-field">
                <label for="homeCountry">
                    Home Country
                </label>
                <select name="homeCountry" id="homeCountry">
                    <!-- options here -->
                </select>
            </div>
            <div class="input-field">
                <label for="financialYearEndEffectiveForm">
                    Financial Year End Effective Form
                </label>
                <select name="financialYearEndEffectiveForm" id="financialYearEndEffectiveForm">
                    <!-- options here -->
                </select>
            </div>
            <div class="input-field">
                <label for="accountingStandardsEffectiveForm">
                    Accounting Standards Effective Form
                </label>
                <select name="accountingStandardsEffectiveForm" id="accountingStandardsEffectiveForm">
                    <option>Select Account Standards</option>
                </select>
            </div>
        </div>

    </div>
    <!---->
    <div class="inputs-field-set">
        <div class="edit-firm-actions">
            <h2 class="edit-firm-header">
                Application Details <span>Display History</span>
            </h2>
            <div class="edit-btn">
            </div>
        </div>
        <div class="edit-firms-inputs">
            <div class="input-field">
                <label for="qfcLicenseStatus">
                    QFC License Status
                </label>
                <select name="qfcLicenseStatus" id="qfcLicenseStatus">
                    <!-- options here -->
                </select>
            </div>
            <div class="input-field">
                <label for="dateOfApplication">
                    Date of Application
                </label>
                <input name="dateOfApplication" id="dateOfApplication" type="date">
            </div>
            <div class="input-field">
                <label for="firmApplicationType">
                    Firm Application Type
                </label>
                <select name="firmApplicationType" id="firmApplicationType">
                    <!-- options here -->
                </select>
            </div>
            <div class="input-field">
                <label for="dateApplication">
                    Date Application
                </label>
                <input name="dateApplication" id="dateApplication" type="date">
            </div>
        </div>
    </div>
    <!---->
    <div class="inputs-field-set">
        <div class="edit-firm-actions">
            <h2 class="edit-firm-header">
                Comments
            </h2>
            <div class="edit-btn">
            </div>
        </div>
        <div class="edit-firms-inputs">
            <div class="input-field">
                <label for="generalComments">
                    General Comments
                </label>
                <textarea name="generalComments" id="generalComments"></textarea>
            </div>
            <div class="input-field">
                <label for="publicRegisterComments">
                    Public Register Comments
                </label>
                <textarea name="publicRegisterComments" id="publicRegisterComments"></textarea>
            </div>
        </div>
    </div>
</section>
