<div class="brid-crump">
    <div class="text">
        <span> Home > Firm Details ></span> Edit Firm
    </div>
    <div class="edit-btn">

    </div>
</div>
<section class="edit-firm-section">
    <form [formGroup]="editFIRM" (ngSubmit)="onSubmitEditFirm()">
        <div class="inputs-field-set">
            <div class="edit-firm-actions">
                <h2 class="edit-firm-header">
                    <!-- FIRM Details > <span>Firm name</span> -->
                </h2>
                <div class="edit-btn">
                    <button type="submit" class="save-btn">Save</button>
                    <button class="cancel-btn">Cancel</button>
                </div>
            </div>
            <div class="edit-firms-inputs">
            <div class="input-field">
                    <label for="firmName">
                        Firm Name
                    </label>
                    <input name="firmName" id="firmName" formControlName="firmName" type="text">
            </div>
            <div class="input-field">
                    <label for="QFCNumber">
                        QFC Number
                    </label>
                    <input name="QFCNumber" id="QFCNumber" formControlName="qfcNum" type="text">
                </div>
                <div class="input-field">
                    <label for="code">
                        Code
                    </label>
                    <input name="code" id="code" type="text" formControlName="firmCode">
                </div>
                <div class="input-field">
                    <label for="qfcTradingName">
                        QFC Trading Name
                    </label>
                    <input name="qfcTradingName" id="qfcTradingName" type="text" formControlName="qfcTradingName">
                </div>
                <div class="input-field">
                    <label for="placeOfIncorporation">
                        Place of Incorporation
                    </label>
                    <input name="placeOfIncorporation" id="placeOfIncorporation" formControlName="placeOfIncorporation" type="text">
                </div>
                <!-- <div class="input-field">
                    <label for="financialYearEnd">
                        Financial Year End
                    </label>
                    <input name="financialYearEnd" id="financialYearEnd" type="text">
                </div>
                <div class="input-field">
                    <label for="accountingStandards">
                        Accounting Standards
                    </label>
                    <input name="accountingStandards" id="accountingStandards" type="text">
                </div> -->
                <div class="input-field">
                    <label for="websiteLink">
                        Website Link
                    </label>
                    <input name="websiteLink" id="websiteLink" type="text" formControlName="websiteAddress">
                </div>
                <div class="input-field">
                    <label for="legalStatus">
                        Legal Status
                    </label>
                    <select id="legalStatus" formControlName="legalStatusTypeID" class="form-control">
                        <option [value]="1">Type 1</option>
                        <option [value]="2">Type 2</option>
                        <option [value]="3">Type 3</option>
                      </select>
                </div>
                <div class="input-field">
                    <label for="preTradingName">
                        Pre. Trading Name (S)
                    </label>
                    <input name="preTradingName" id="preTradingName" type="text" formControlName="prevTradingName">
                </div>
            </div>
        </div>
        <!---->
        <div class="inputs-field-set">
            <div class="edit-firm-actions">
                <h2 class="edit-firm-header">
                    Application Details <span>Display History</span>
                </h2>
                <div class="edit-btn">
                </div>
            </div>
            <div class="edit-firms-inputs">
                <div class="input-field">
                    <label for="qfcLicenseStatus">
                        QFC License Status
                    </label>
                    <select name="qfcLicenseStatus" id="qfcLicenseStatus" formControlName="licenseStatusTypeID" class="form-control">
                            <option [value]="1">Type 1</option>
                            <option [value]="2">Type 2</option>
                            <option [value]="3">Type 3</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="dateOfApplication">
                        Date of Application
                    </label>
                    <input name="dateOfApplication" id="dateOfApplication" type="date" formControlName="firmAppDate">
                </div>
                <div class="input-field">
                    <label for="firmApplicationType">
                        Firm Application Type
                    </label>
                    <select name="firmApplicationType" id="firmApplicationType" formControlName="firmAppTypeID" class="form-control">
                        <option [value]="1">Type 1</option>
                        <option [value]="2">Type 2</option>
                        <option [value]="3">Type 3</option>
                    </select>
                </div>
            </div>
        </div>
        <!---->
        <div class="inputs-field-set">
            <div class="edit-firm-actions">
                <h2 class="edit-firm-header">
                    Comments
                </h2>
                <div class="edit-btn">
                </div>
            </div>
            <div class="edit-firms-inputs">
                <div class="input-field">
                    <label for="generalComments">
                        General Comments
                    </label>
                    <textarea name="generalComments" id="generalComments"></textarea>
                </div>
                <div class="input-field">
                    <label for="publicRegisterComments">
                        Public Register Comments
                    </label>
                    <textarea name="publicRegisterComments" id="publicRegisterComments"></textarea>
                </div>
            </div>
        </div>
    </form> 
</section>

