<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title space-between">
                <h2 class="edit-firm-header">
                    Journal Entries for > <span>{{ firmDetails?.FirmName }}</span>
                </h2>
                <div class="btn">
                    <button *ngIf="getControlVisibility('imgBtnCreate') && !hideCreateBtn"
                        [disabled]="!getControlEnablement('imgBtnCreate')" (click)="openJournalPopup(null,firmDetails,true)">
                        <i class="bi bi-plus"></i>
                        Create
                    </button>
                </div>
            </div>
            <span class="enhanced-checkbox">
                <input id="deletedRecords" type="checkbox" (change)="onDeletedJournalToggle($event)">
                <label for="deletedRecords">Display Deleted Entities</label>
            </span>

            <table class="journal-list">
                <thead>
                    <tr>
                        <th>Entry Type</th>
                        <th>Title</th>
                        <th>Entry Date</th>
                        <th>Last Modified By</th>
                    </tr>
                </thead>
                <tbody *ngIf="paginatedItems?.length > 0; else noJournal">
                    <tr *ngFor="let journal of paginatedItems" (click)="openJournalPopup(journal,firmDetails,false)">
                        <td>{{ journal?.JournalEntryTypeDesc }}</td>
                        <td>
                            <span *ngIf="journal.IsDeleted" style="color: red;">(Deleted)</span>
                            {{ journal?.EntryTitle }}
                        </td>
                        <td>{{ journal?.EntryDate }}</td>
                        <td>{{ journal?.LastModifiedBy }}</td>
                    </tr>
                </tbody>
                <ng-template #noJournal>
                    <tbody>
                        <tr>
                            <td colspan="4" class="norecords" style="color: red">No Records Found</td>
                        </tr>
                    </tbody>
                </ng-template>
                <tfoot>
                    <tr>
                        <td [attr.colspan]="12">
                            <app-pagination [items]="journaldata" [pageSize]="pageSize"
                                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <app-journal-view-details (reloadJournal)="loadJournal()" *ngIf="showPopup" [journal]="selectedJournal" [firmId]="firmId" [isCreate]="isCreate"
        [firmDetails]="firmDetails" (closeJournalPopup)="closePopup()">
    </app-journal-view-details>