<app-loader *ngIf="isLoading"></app-loader>

<div class="form-section">
    <div class="inputs-field-set">
        <div class="section table">
            <div class="form-section-title space-between">
                <h2 class="edit-firm-header">
                    Journal Entries for > <span>{{ firmDetails?.FirmName }}</span>
                </h2>
                <div class="btn">
                    <button>
                        <i class="bi bi-pen"></i>
                        Create
                    </button>
                </div>
            </div>
            <span class="enhanced-checkbox">
                <input id="deletedRecords" type="checkbox" (change)="onDeletedJournalToggle($event)">
                <label for="deletedRecords">Display Deleted Entities</label>
            </span>

            <table>
                <thead>
                    <tr>
                        <th>Entry Type</th>
                        <th>Title</th>
                        <th>Entry Date</th>
                        <th>Last Modified By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let journal of paginatedItems">
                        <td>{{ journal?.JournalEntryTypeDesc }}</td>
                        <td>{{ journal?.EntryTitle }}</td>
                        <td>{{ journal?.EntryDate }}</td>
                        <td>{{ journal?.LastModifiedBy }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td [attr.colspan]="12">
                            <app-pagination [items]="journaldata" [pageSize]="pageSize"
                                (paginatedItemsChange)="updatePaginatedItems($event)"></app-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        // this is for text editor 
        <div class="control-section">
            <ejs-richtexteditor #toolsRTE id="alltoolRTE" [toolbarSettings]="tools" [showCharCount]="true" [enableXhtml]="true"
                 [quickToolbarSettings]="quickToolbarSettings" [enableTabKey]="true"
                [placeholder]="placeholder">
                <ng-template #valueTemplate>
                </ng-template>
            </ejs-richtexteditor>

        </div>

    </div>