.firmList-wrapper {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
};

.tableTitle {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(255 255 255);
  padding: 5px;
}
tr .pagination{
  width: 100%;
}
.tableTitle h3 {
  cursor: pointer;
  color: #222529;
  font-size: 1em;
  font-weight: 500;
  margin: 5px;
  font-weight: bold;
}

.tableTitle h3:hover {
  color: #a51e36;
}

.home-firm-table {
  table-layout: fixed;
}
.firm-table{
  table-layout: auto !important;
  border-radius: 15px;
}

.home-firm-table th {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}


.bold-text {
  font-weight: bold;
}

/* Style for the expandable cell */
.expandable-text-container {
  position: relative;
  display: inline-block;
  max-width: 125px; /* Adjust based on your layout */
}

.expandable-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
  max-width: 300px; /* Show only up to 30 characters initially */
  cursor: pointer;
}

.expandable-text:hover {
  max-width: none; /* Expand to full width on hover */
  white-space: normal; /* Allow text to wrap */
  text-overflow: clip; /* Remove ellipsis when expanded */
}

/* Adding an ellipsis before expanding */
.expandable-text::after {
  content: '. . .';
  position: absolute;
  right: 0;
  padding-left: 5px;
  // background: white;
}

.expandable-text:hover::after {
  content: ''; /* Remove the ellipsis when the text is expanded */
}
table thead tr th {
  cursor: pointer;
}
table tbody tr td {
  cursor: pointer;
}