<div class="firmList-wrapper">
    <div class="table">
        <div class="tableTitle">
            <h3>Task List</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>QFC Number</th>
                    <th>Firm Name</th>
                    <th>Legal Status</th>
                    <th>License Status</th>
                    <th>Authorization Status</th>
                    <th>Sector</th>
                    <th>Authorization Category</th>
                    <th>Supervision Category</th>
                    <th>Prudential Category</th>
                    <th>Home Country</th>
                    <th>Supervisor</th>
                    <th>Supervisor (Legal)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00065</td>
                    <td>ABN AMRO Bank NV</td>
                    <td>Branch</td>
                    <td>Application withdrawn</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 4</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>00075</td>
                    <td>Abu Dhabi Commercial Bank</td>
                    <td>Branch</td>
                    <td>Licensed</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 1</td>
                    <td>-</td>
                    <td>United Arab Emirates</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>00143</td>
                    <td>ACE Insurance Brokers LLC</td>
                    <td>QFC LLC</td>
                    <td>Application withdrawn</td>
                    <td>Authorized</td>
                    <td>Bank (Islamic)</td>
                    <td>IBANK</td>
                    <td>Corporate Bank</td>
                    <td>PIIB 5</td>
                    <td>United Arab Emirates</td>
                    <td>Salman Mohammed</td>
                    <td>Ahmad Al-Nuaimi</td>
                </tr>
                <tr>
                    <td>00174</td>
                    <td>Abu Dhabi Islamic Bank - Qatar Financial Centre</td>
                    <td>QFC LLC</td>
                    <td>Licensed</td>
                    <td>Application withdrawn</td>
                    <td>Insurance Intermediary</td>
                    <td>IMEB</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>00035</td>
                    <td>Addleshaw Goddard(CCC) Ltd.</td>
                    <td>Branch</td>
                    <td>Licensed</td>
                    <td>-</td>
                    <td>Legal Services</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Qatar</td>
                    <td>Christiane Chidiac</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>00035</td>
                    <td>AIG MEA Limited</td>
                    <td>Branch</td>
                    <td>Licensed</td>
                    <td>Authorised - Various</td>
                    <td>Bank (Islamic)</td>
                    <td>PINS</td>
                    <td>Direct Insurer</td>
                    <td>Direct Insurer</td>
                    <td>United Arab Emirates</td>
                    <td>Renji Kourath</td>
                    <td>Ali Mohammed</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
