<div class="firmList-wrapper">
    <div class="table">
        <div class="tableTitle">
            <h3>Firm List</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>QFC Number</th>
                    <th>Firm Name</th>
                    <th>Legal Status</th>
                    <th>License Status</th>
                    <th>Authorization Status</th>
                    <th>Sector</th>
                    <th>Authorization Category</th>
                    <th>Supervision Category</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="viewFirm()">
                    <td>00065</td>
                    <td>ABN AMRO Bank NV</td>
                    <td>Branch</td>
                    <td>Application withdrawn</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 4</td>
                </tr>
                <tr (click)="viewFirm()">
                    <td>00065</td>
                    <td>ABN AMRO Bank NV</td>
                    <td>Branch</td>
                    <td>Application withdrawn</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 4</td>
                </tr>
                <tr (click)="viewFirm()">
                    <td>00065</td>
                    <td>ABN AMRO Bank NV</td>
                    <td>Branch</td>
                    <td>Application withdrawn</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 4</td>
                </tr>
                <tr (click)="viewFirm()">
                    <td>00065</td>
                    <td>ABN AMRO Bank NV</td>
                    <td>Branch</td>
                    <td>Application withdrawn</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 4</td>
                </tr>
                <tr (click)="viewFirm()">
                    <td>00065</td>
                    <td>ABN AMRO Bank NV</td>
                    <td>Branch</td>
                    <td>Application withdrawn</td>
                    <td>No longer authorized</td>
                    <td>Bank</td>
                    <td>-</td>
                    <td>PIIB 4</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
