<div class="brid-crump">
    <div class="btns">
        <button (click)="toggleSearch()">
            <i class="bi bi-search"></i>
            Search
        </button>
    </div>
</div>
<section *ngIf="showSearchSection" class="search-firm-section">
    <div class="inputs-field-set">
        <div class="search-firms-inputs">
            <div class="input-field">
                <label for="firstName">
                    First Name
                </label>
                <input name="firstName" id="firstName" type="text">
            </div>
            <div class="input-field">
                <label for="lastName">
                    Last Name
                </label>
                <input name="lastName" id="lastName" type="text">
            </div>
            <div class="input-field">
                <label for="dateOfBirth">
                    Date of Birth
                </label>
                <input name="dateOfBirth" id="dateOfBirth" type="date">
            </div>
            <div class="input-field">
                <label for="qfcTradingName">
                    AI Number (AI)
                </label>
                <input name="qfcTradingName" id="qfcTradingName" type="text">
            </div>
            <div class="input-field">
                <label for="firm">
                    Firm
                </label>
                <input name="firm" id="firm" type="text">
            </div>
            <div class="input-checkboxes">
                <div class="input-checkboxes-title">Controlled functions :</div>
                <div class="checkbox-grid">
                    <label><input type="checkbox" value="nonExecutiveGovernance"> Non-Executive Governance Function</label>
                    <label><input type="checkbox" value="executiveGovernance"> Executive Governance Function</label>
                    <label><input type="checkbox" value="seniorExecutive"> Senior Executive Function</label>
                    <label><input type="checkbox" value="seniorManagment"> Senior Management Function</label>
                    <label><input type="checkbox" value="finance"> Finance Function</label>
                    <label><input type="checkbox" value="riskManagment"> Risk Management Function</label>
                    <label><input type="checkbox" value="complianceOversight"> Compliance Oversight Function</label>
                    <label><input type="checkbox" value="mlro"> MLRO Function</label>
                    <label><input type="checkbox" value="internalAudit"> Internal Audit Function</label>
                    <label><input type="checkbox" value="actuarial"> Actuarial Function</label>
                    <label><input type="checkbox" value="customerFacing"> Customer Facing Function</label>
                </div>
            </div>
            
            <div class="input-checkboxes">
                <div class="input-checkboxes-title">Current Function Status :</div>
                <div class="checkbox-grid">
                    <label><input type="checkbox" value="applied"> Applied</label>
                    <label><input type="checkbox" value="appliedForWithdrawal"> Applied For Withdrawal</label>
                    <label><input type="checkbox" value="approved"> Approved</label>
                    <label><input type="checkbox" value="withdrawn"> Withdrawn</label>
                    <label><input type="checkbox" value="withdrawnInvoluntary"> Withdrawn (Involuntary)</label>
                    <label><input type="checkbox" value="conditionallyApproved"> Conditionally Approved</label>
                    <label><input type="checkbox" value="nocSubmitted"> NOC Submitted</label>
                    <label><input type="checkbox" value="conditionalApprovalCeased"> Conditional Approval Ceased</label>
                    <label><input type="checkbox" value="appliedForChangeOfApprovalStatus"> Applied for change of approval status</label>
                    <label><input type="checkbox" value="appliedForChangeOfWithdrawalStatus"> Applied for change of withdrawal status</label>
                    <label><input type="checkbox" value="withdrawnTerminated"> Withdrawn (Terminated by firm)</label>
                    <label><input type="checkbox" value="withdrawnInactive"> Withdrawn (Inactive)</label>
                    <label><input type="checkbox" value="withdrawnNoLongerControlled"> Withdrawn (No longer a controlled function)</label>
                    <label><input type="checkbox" value="approvedInactiveFirm"> Approved – Inactive Firm</label>
                    <label><input type="checkbox" value="suspended"> Suspended</label>
                    <label><input type="checkbox" value="approvedFirmInLiquidation"> Approved – Firm in Liquidation</label>
                </div>
            </div>
            
            <div class="input-checkboxes-buttons">
                <button type="button">Reset</button>
                <button type="button">Search</button>
            </div>
        </div>
            
    </div>
</section>
<app-individual-list></app-individual-list>