<div class="re-assign-actions">
    <div class="btns">
        <button class="save-btn">Save</button>
        <button class="cancel-btn">Cancel</button>
    </div>
</div>

<section class="re-assign-section">
    <div class="inputs-field-set">
        <div class="section">
            <h2>Task Re-Assignment</h2>
            <div class="re-assign-selectors-container">
                <label>
                    Tasks Assigned with:
                    <select name="" id="" class="re-assign-select">
                        <option value="">Select</option>
                        <option value="">name 1</option>
                        <option value="">name 2</option>
                    </select>
                </label>

                <label>
                    Firm Name:
                    <select name="" id="" class="re-assign-select">
                        <option value="">Select</option>
                        <option value="">name 1</option>
                        <option value="">name 2</option>
                    </select>
                </label>

                <label>
                    Role Assigned:
                    <select name="" id="" class="re-assign-select">
                        <option value="">Select</option>
                        <option value="">name 1</option>
                        <option value="">name 2</option>
                    </select>
                </label>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Re-Assign To</th>
                        <th>Page Link</th>
                        <th>WorkFlow Name</th>
                        <th>Task Name</th>
                        <th>Role Desc</th>
                        <th>Assigned Date</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>

                        <td>
                            <select name="" id="">
                                <option value="">Select</option>
                            </select>
                        </td>

                        <td>tst</td>
                        <td>tst</td>
                        <td>tst</td>
                        <td>tst</td>
                        <td>tst</td>
                        <td>tst</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label class="justification-container">
            Justification: 
            <textarea name="" id=""></textarea>
        </label>

    </div>
</section>